@page
@model CPL20Archive.Pages.Sessions._1720.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Architecture">Architecture</a><br /><a asp-page="/Sessions/AWS">AWS</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">The Journey to Cell Based Architecture</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/-hqn2-MZD6M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          In this session Dorrin will be diving into what Cell based Architecture, a term coined by Amazon Web Services is and how you can utilize it to prepare your infrastructure and applications for ultimate global scale.  Dorrin will also go through lessons learned from transforming the monolith architecture to a Cell based one at auth0, where lack of Cell based Architecture caused many incidents and reliability issues. 
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/9804D179-E493-4291-AA77-8217CB3336F8">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Dorrin_Poorkay.png" alt="Dorrin Poorkay" title="Dorrin Poorkay" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/9804D179-E493-4291-AA77-8217CB3336F8">Dorrin Poorkay</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
