@page
@model CPL20Archive.Pages.Sessions._1770.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a href="/SessionsByTopic/5">Soft Skills</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/67">Work Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Programmer burnout: how to recognize and avoid it</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1770/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Burnout among software professionals is far more widespread than we would like to admit. It sneaks up on us. At first we dread going in to work each day. We can barely focus enough to get through the day and struggle with otherwise simple-for-us tasks. It starts there and gets much worse. So what are some of the things that cause us to burn out? We will draw from personal experiences and have a frank and productive discussions on some of the well-known, and not so well-known causes of burn out, how to recognize the symptoms, how to avoid getting burned out and some tricks on coping.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/CD418EC6-3B50-4641-9142-83C42B8AF7DE">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Santosh_Hari.png" alt="Santosh Hari" title="Santosh Hari" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/CD418EC6-3B50-4641-9142-83C42B8AF7DE">Santosh Hari</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
