@page
@model CPL20Archive.Pages.Sessions._2141.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">From Developer to Cloud Architect - Strategies for Success</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          You're a developer, and now an architect. Not only an architect but a cloud architect. You're happy for the job but overwhelmed with everything that goes with the job. From networking skills to handling audits, a cloud architect has much to handle in the day-to-day challenges. What do you need to really succeed at your job?

In this talk, I'll go over strategies considered crucial to being a good cloud architect such as a security mindset and preparing for the future. I'll present some tips on overcoming the seemingly insurmountable challenges. And you'll learn how your experience as a developer strengthens your cloud architect skills. Let the strategies in this talk help you stop feeling overwhelmed and instead empower you as a cloud architect.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/C03E395E-808A-4D1A-B0E3-0A2BB2851261">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Sean_Whitesell.png" alt="Sean Whitesell" title="Sean Whitesell" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/C03E395E-808A-4D1A-B0E3-0A2BB2851261">Sean Whitesell</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
