@page
@model CPL20Archive.Pages.Sessions._1728.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">The Struggles of Open Source Leadership</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/lld7BIeMs_M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          We live in a world that embraces Open Source software, however, the reality of managing an Open Source product isn't nearly as trouble free and joyful as expected.  In this session, I will investigate some of the key soft skills, and lessons learned since taking over leadership fo the DNN Platform open-source project.

Over the last 18 months since assuming a leadership role I have been working to modernize and stabilize a product that has always been "open-source" and transitioned to a true Open Source platform.   During this transition, the struggles and winds have been nothing I've ever read about.  Keeping the project on track, and supporting the installation base of more than 500,000 installations requires a number of soft skills that we often take for granted.

Attendees from this session will leave with a better understanding of the trials & tribulations that one might expect when working with a large open source project and how they can more readily benefit the projects they support.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/DA1726C1-9F5E-43C1-8185-1B507C51D6A4">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Mitchel_Sellers.png" alt="Mitchel Sellers" title="Mitchel Sellers" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/DA1726C1-9F5E-43C1-8185-1B507C51D6A4">Mitchel Sellers</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
