@page
@model CPL20Archive.Pages.Sessions._1748.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Testing">Testing</a><br /><a asp-page="/Sessions/Tools">Tools</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Testing your APIs with Postman and Newman</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1748/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Testing is an essential part of a quality API strategy. And API testing means taking an "outside-in" approach to writing and executing those tests. This talk w/ show you how to create simple request tests (SRTs) to probe your API endpoints as well as apply Dan North's Behavior-Driven Approach (BDD) to writing powerful tests. You'll also learn to apply a common model for writing API tests using the Protocol-Structure-Value pattern to create stable reliable tests that continue to work as expected even as your API changes over time.

If you want to improve your testing strategies and increase the success of your API program, this talk is for you. 

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/62cdc0bb-6e57-4102-a9f4-14f1212bd4e0">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Mike_Amundsen.png" alt="Mike Amundsen" title="Mike Amundsen" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/62cdc0bb-6e57-4102-a9f4-14f1212bd4e0">Mike Amundsen</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
