@page
@model CPL20Archive.Pages.Sessions._2013.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="Sessions/Topic_Testing" > Software Testing</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">The Rise and Benefits of Robotic Process Automation</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/Ggovd-mq8gA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Robotic Process Automation (RPA) is a term given to technology that allows developers to programmatically emulate the actions of a human to execute a business process. RPA often operates on the user interface (UI) layer to capture data or interact with an application or across multiple applications to perform tasks that are considered repetitive or time-consuming. Originally focused on business processes, many RPA solutions now integrate with SDLC tools. While the promises of easy adoption and scaling are made by almost every vendor, the reality is long-term commitment to an RPA program is the same as any new application. In this presentation, the audience will learn about the benefits of RPA, multiple RPA use cases, and how RPA can be assimilated into a enterprise.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/4aaa3193-369b-4292-930b-b2273be787cf">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Thomas_Haver.png" alt="Thomas Haver" title="Thomas Haver" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/4aaa3193-369b-4292-930b-b2273be787cf">Thomas Haver</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
