@page
@model CPL20Archive.Pages.Sessions._1747.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a href="/SessionsByTopic/1">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/1">.NET</a><br /><a href="/SessionsByTag/15">JavaScript</a><br /><a href="/SessionsByTag/65">UI</a><br /><a href="/SessionsByTag/71">Web Assembly</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Writing JavaScript for C#'s Blazor</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1747/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Running C# in the browser with the Blazor framework needs JavaScript libraries to be successful. In this session well explore the JavaScript Interop for Blazor to see where great libraries can accelerate the platform. We'll learn how you can play a critical role in building a rich ecosystem and extend your skills as a JavaScript developer to share in the success of your .NET team mates.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/D31853B0-F75E-429F-B268-14D0BE0593EB">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Ed_Charbeneau.png" alt="Ed Charbeneau" title="Ed Charbeneau" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/D31853B0-F75E-429F-B268-14D0BE0593EB">Ed Charbeneau</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
