@page
@model CPL20Archive.Pages.Sessions._1983.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Wowee it's Zowe - how the mainframe got its groove again</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/A0IiA_8JtU8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          The mainframe is often viewed as a legacy 65 year old computing platform operated by grey (or zero) haired developers typing 8 letter commands into green screens.  This talk myth busts that stereotype and discusses the growth of the mainframe in today's hybrid computing world, especially around the Linux Foundation's Zowe project.  This provides a command line interface, a VS Code extension, academic initiative training courses, and is a bridge to modern tech stacks around Jenkins, Node.js, Swift, Golang and more.  
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/30BB0CC4-F3B7-487C-868E-7AB1C4025557">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Joe_Winchester.png" alt="Joe Winchester" title="Joe Winchester" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/30BB0CC4-F3B7-487C-868E-7AB1C4025557">Joe Winchester</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
