@page
@model CPL20Archive.Pages.Sessions._2033.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Taming Snakes in the Microsoft Cloud: Using Python with Azure</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/Wr65KrsJyEI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          In the field of software engineering, it's almost impossible to avoid Python. It's one of the most popular and in demand languages. Therefore, you should be able to use it with Azure. This session will cover the SDKs and APIs to consume and manage Azure services with Python. It will also show how to use Python to script and automate Azure tasks.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/A3C6CFDD-D3C5-4CEE-B653-8C4F853C7921">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Douglas_Starnes.png" alt="Douglas Starnes" title="Douglas Starnes" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/A3C6CFDD-D3C5-4CEE-B653-8C4F853C7921">Douglas Starnes</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
