@page
@model CPL20Archive.Pages.Sessions._1708.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Cloud">Cloud</a><br /><a asp-page="/Sessions/Database">Database</a><br /><a asp-page="/Sessions/SQL">SQL</a><br /><a asp-page="/Sessions/Azure">Azure</a><br /><a asp-page="/Sessions/Microsoft">Microsoft</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Determining the Cost to Move to Azure</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/sdKA5yZqKTY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          You have read all about moving to the cloud, spoken to colleagues who are on it and even attended events where they told you about how great it is, and YOU ARE SOLD! You recognize the benefits of storing your workloads in the cloud and ready for things to happen. Everyone agrees its the right answer, however, there is one problem. Your organization need to understand the expected costs before moving forward. Understanding the cost to move to Azure and its run rate are questions several companies struggle with and has led to several choosing to stay in their current state. It is not because the cost is too high as some may expect, but oftentimes because simply no one has any idea what to expect. In this session, I will walk you through steps that show you how to estimate the cost of your move to Azure and provide several unique considerations along the way that can have an impact on this. Next time someone asks how much, you will be ready!
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/767D46F5-8409-4F12-AB80-AF55CEACDABF">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Dustin_Dorsey.png" alt="Dustin Dorsey" title="Dustin Dorsey" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/767D46F5-8409-4F12-AB80-AF55CEACDABF">Dustin Dorsey</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
