@page
@model CPL20Archive.Pages.Sessions._1733.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a href="/SessionsByTopic/5">Soft Skills</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/67">Work Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Government regulation in the age of AI & Digital Transformation</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1733/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Recently in government legislatures lengthy debates & discussion have been held regarding robots & AI and how they will impact the new economy in years to come & what regulations or laws should be passed to manage them.

However, in government & legislatures at all levels, (local, state & federal) what is lacking is that there are no, (or all too few), true technologists, computer scientists or technology innovators in government holding office.  Instead it is legislators who have not been trained, educated and experienced in technology trying to craft such laws & regulation.

This session then is an introduction as to why more technology professionals either in mid to late careers need to seriously consider running for political office.

If we want good legislation, based on sound technology knowledge and backed by critical thinking that comes from extensive and intimate technical knowledge; we need to look to elect into office more technologists, computer scientists and data analysts.  If we do not, then what will end up being crafted into legislation and subsequently into law could have serious and detrimental impacts to technology and research development.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="/SpeakerDetails/82f23755-815c-42b7-81c2-cb131b6ea645">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jeff_Grammer.png" alt="Jeff Grammer" title="Jeff Grammer" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="/SpeakerDetails/82f23755-815c-42b7-81c2-cb131b6ea645">Jeff Grammer</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
