@page
@model CPL20Archive.Pages.Sessions._2075.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_UX">User Experience</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Moving Beyond Pretty: Making deliberate design choices</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Have you ever heard the phrases “beauty is in the eye of the beholder” or “I like what I like” when someone is discussing your design?  Or maybe design is your arch nemesis and you dread it. Too often design is only looked at for aesthetic and visual appeal, while purpose, goal, and usability are ignored.
Many features of good design are objective, not subjective, and can be either qualified or quantified with predictable results.
Together we will delve into the psychology, physiology, and mathematics of design principles for three key purposes:
- Making conscious design choices
- Improving our user experience
- Accessibility dos and don’ts
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/CB2C23BD-8EA7-42DE-82C1-289FC09D83CF">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Martine_Dowden.png" alt="Martine Dowden" title="Martine Dowden" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/CB2C23BD-8EA7-42DE-82C1-289FC09D83CF">Martine Dowden</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
