@page
@model CPL20Archive.Pages.Sessions._2045.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Intro to Dataverse inside of Power Automate</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/LxD8Iz2tOsQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Microsoft Dataverse (formerly known as the Common Data Service) lets you securely store and manage data that's used by business applications. Data within Dataverse is stored within a set of tables (fka entities). A table is a set of records used to store data, just like data is stored within a database. 

Learn how Microsoft Dataverse ties into Power Automate. Create a Flow, see what triggers and actions are available and how you can use this all to move data back and forth between environments such as Microsoft Dynamics and SharePoint!

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/303379AE-824E-4B81-BBFE-0FA93F8149FA">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/David_Patrick.png" alt="David Patrick" title="David Patrick" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/303379AE-824E-4B81-BBFE-0FA93F8149FA">David Patrick</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
