@page
@model CPL20Archive.Pages.Sessions._1769.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/SoftSkills">Soft Skills</a><br /><a asp-page="/Sessions/Other">Other</a><br /><a asp-page="/Sessions/People">People</a><br /><a asp-page="/Sessions/WorkSkills">Work Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Knowing Your Limitations: The key to improving your software design decisions</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/gsgZYWt0Yhw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Two of the hardest challenges in software development are building the right thing and building the thing right. The first problem comes from a lack of understanding of what users want. The second comes from the fact that the complexities of software make it challenging to build high-quality applications. 

It might not surprise you that humility increases empathy for users, which helps us make sure we're building the right thing. However, did you know that Dijkstra once said humility was also a key to producing high-quality software?

We will look at practical ways intellectual humility can help you be a better software developer. I'll show you how humility drives you to use abstraction to manage complexity. I'll show you have it enables you to find alternative solutions to problems. And I'll show you how it helps you focus on the needs of the user.

In the modern software landscape, humility is a tool that can level you up as a developer. It deserves a place in your toolbox.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/2DFB77A5-629A-467C-BF7D-FA52F8D43D1B">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Eric_Potter.png" alt="Eric Potter" title="Eric Potter" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/2DFB77A5-629A-467C-BF7D-FA52F8D43D1B">Eric Potter</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
