@page
@model CPL20Archive.Pages.Sessions._2076.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Impactful mentorship - 2 sides of a story</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          When starting to engage with the community, it can be hard to find your own way. There is a lot of information around conferences, giving presentations, setting up blogs, and much more. However, initially we might not know where to start, and where to find the right places to convey our story. This is where those who have been around in the community can really help by providing mentorship.

In this session Olena will tell about her experiences as a new speaker, and how having a mentor has helped her on this journey. Additionally, Eldert will share which insights he has gained by being a mentor. 

Come join this session if you want to know more about starting on your own path, whether you are new in the community, or want to find out how you can give back more.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/36A79657-82AD-4AAC-826A-A71EA53F596A">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Olena_Borzenko.png" alt="Olena Borzenko" title="Olena Borzenko" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/36A79657-82AD-4AAC-826A-A71EA53F596A">Olena Borzenko</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/53D946FB-8042-4FC0-A0A3-0843723AE033">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Eldert_Grootenboer.png" alt="Eldert Grootenboer" title="Eldert Grootenboer" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/53D946FB-8042-4FC0-A0A3-0843723AE033">Eldert Grootenboer</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
