@page
@model CPL20Archive.Pages.Sessions._2099.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Understanding How Your CPU Thinks</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          You know all those algorithms you take for granted? I'm not talking about those boring algorithms you learned in school. I mean things like adding two numbers or converting a number to to text. Have you ever wondered how the computer really does that?

I recently embarked on a journey to create a math library that would efficiently handle large numbers. Along the way, I had to figure out how some of these algorithms really worked, and was completely surprised by their ingenuity. The end result was a better appreciation for all those library methods that are "just there" and a new approach for solving problems in my own code.

I this session, I will share all these findings with you. From the surprisingly mundane to the completely insane, I invite you join me beyond the operators and into the algorithms. You will leave this session with a better understanding of low level code that will help you write better code.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/E4A8178B-791D-4442-A1FE-E54F53BE7152">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Chris_Gardner.png" alt="Chris Gardner" title="Chris Gardner" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/E4A8178B-791D-4442-A1FE-E54F53BE7152">Chris Gardner</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
