@page
@model CPL20Archive.Pages.Sessions._2091.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Why a Diverse Team is Crucial to Startup Success</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Team diversity refers to differences between members of startup team. Those differences can include demographic differences (like age, race, sex, ethnicity), personality (extrovert, introvert, and differing Myers-Briggs types) and functional (as in skill sets, like engineering, design, copywriting, and marketing).

How does team diversity impact your customers' experience from the moment they learn about you through their journey with you?
You will attract and relate to customers how look like you.  They will understand your messaging and you will understand their needs.  If you don't represent the right dimensions of diversity, you are leaving an amazing experience behind.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/5CA3D86F-1648-4B56-8E3A-38BB5EFEB861">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Melissa_Jurkoic.png" alt="Melissa Jurkoic" title="Melissa Jurkoic" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/5CA3D86F-1648-4B56-8E3A-38BB5EFEB861">Melissa Jurkoic</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
