@page
@model CPL20Archive.Pages.Sessions._1758.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Mobile">Mobile</a><br /><a asp-page="/Sessions/Testing">Testing</a><br /><a asp-page="/Sessions/Android">Android</a><br /><a asp-page="/Sessions/QualityAssurance">Quality Assurance</a><br /><a asp-page="/Sessions/ContinuousDelivery">Continuous Delivery</a><br /><a asp-page="/Sessions/iOS">iOS</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">React Native CI Rehab Starting with Detox</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          React Native allows you a low barrier into Mobile Development across platforms for iOS & Android. However, it might leave you feeling a little intoxicated and unsteady. Things are a little fuzzy and unclear when it comes to writing fully automated end-to-end testing. We will start a little rehab with Detox!

Detox is an end-to-end testing framework for mobile apps. It allows you to write one set of tests, which check for the Android and iOS apps. Although other frameworks exist, many require redundant coding with platform specific languages such as Swift, Java, etc. This means you could be writing a test to validate your Login Screen in Swift for iOS, then again writing the same test in Java for Android. Let’s start by breaking down the walls and finding some clarity in the path to continuous delivery with confidence.

At Echobind, we have developed a React Native template that allows developers to rapidly get up and running with minimal setup. In this presentation, we will review using the template, how to ensure we have testable screens and components and the learnings we have around local testing. In addition, we will review how Detox can be run on a CI/CD service such as CircleCI or Bitrise.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/89291745-B06D-4E82-8575-1D8409DF9543">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jenn_Robison.png" alt="Jenn Robison" title="Jenn Robison" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/89291745-B06D-4E82-8575-1D8409DF9543">Jenn Robison</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
