@page
@model CPL20Archive.Pages.Sessions._2074.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Desktop Apps Your Way!</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Most modern-day developers love to work with bleeding-edge technologies. Unsurprisingly, .NET developers are invested in Blazor or Xamarin/MAUI. JavaScript developers swear by their beloved JS frameworks. But customers or enterprise business workflows often demand Windows or MacOS Desktop apps. What gives?

Turns out, there are a lot of ways to reach desktop audiences and modern technologies can easily cross over boundaries in non-traditional ways. WPF & WinForms run on the most modern .NET technology stacks. WinUI is ushering a new native user experience framework for both Windows Desktop and UWP apps. Xamarin and Xamarin.Forms can stretch to Windows/MacOS through renderer magic. .NET MAUI promises to formalize native Windows/MacOS support with universal handlers. Xamarin.Forms iOS apps have the potential of running as MacOS apps through Mac Catalyst. Blazor apps aren’t just for the web; they can be wrapped as hybrid apps inside an Electron or lighter WebView shell to power desktop solutions.  

Desktop is here to stay, and modern technologies provide lots of ways of bridging the gap. Come see the possibilities!

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/817D090F-5B46-472B-B8FD-7AA209D57883">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Sam_Basu.png" alt="Sam Basu" title="Sam Basu" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/817D090F-5B46-472B-B8FD-7AA209D57883">Sam Basu</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
