@page
@model CPL20Archive.Pages.Sessions._2040.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Empower your Azure IaC with Bicep!</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/UnLFKRcTvWw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          We all love to use Infrastructure as Code to roll out our Azure environments, however setting this up using ARM templates can sometimes be cumbersome. Wouldn't it be great if we could write our IaC templates in a more programming-like language instead? This is where Bicep comes in; a new Domain Specific Language created especially for this. Using this new language makes setting up our templates even more straightforward and powerful. 

In this session, you will learn all about Bicep, and its various capabilities. Find out how to write your scripts, which constructs are available, the tooling to use, and how to re-use your templates. After this session, you will have a good understanding of the Bicep language and its advantages to your work. And of course, this is all explained using interesting real-life samples with appealing demo's.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/53D946FB-8042-4FC0-A0A3-0843723AE033">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Eldert_Grootenboer.png" alt="Eldert Grootenboer" title="Eldert Grootenboer" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/53D946FB-8042-4FC0-A0A3-0843723AE033">Eldert Grootenboer</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
