@page
@model CPL20Archive.Pages.Sessions._2050.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="Sessions/Topic_Testing" > Software Testing</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">The Evolution of Software Testing: What is next?</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/BzADhbHHlwI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          In this talk, I provide some insights about the growth of software testing. Starting from the early times of software testing, finally we discuss what we can face in the future. Key take-away’s are to be ready for the next generation testing activities (AI-supported testing and others).

We all observe that software testing continues to grow, proving that it is a living organism. Software testing processes are started to be adapted into Software Development Life Cycle (SDLC) in waterfall approaches. At the end of the development activities, verification and validation are performed to check the product before shipment to customers. What was the problem with Waterfall methodology? Testing activities were scheduled at the end of timeline and testers were out of time since previous activities are shifted.

Then, in agile methodologies, we see testing activities in all phases of the Software Development Life Cycle (SDLC). It starts from the first sprint. In this point, challenges are bigger since it is a very dynamic environment with lots of changes in a short duration.

To cope with complex scope to be verified in a limited time, automated testing started to appear in our life. Nowadays we meet lots of “Continuous X” terms, such as Continuous Integration, Deployment and Testing. Can we go home and get some rest when we automate all cases? Of course not. We have to continue to track test results, maintain flaky results and keep quality in high standard. Still we have many manual tasks on healing, maintenance and analysis.

Nowadays, researches are looking for adaptation of Machine Learning algorithms and other hot topics to testing processes to reduce the manual effort and improve quality. To sum up, improvement of software testing never ends, but sometimes the growth confuses people. What is the deal of Scrum? Why are people crazy about continuous integration and continuous delivery (CI/CD)? What is the difference between Agile and Devops? We will go over lots of this kind of questions.

Objective of the talk is: To provide some insights about the growth of software testing. Starting from the early times of software testing, we will try to overview the big picture and finally we will discuss what we can face in the future.

Outline:
* Introduction
* Growth of software Testing
    + Replacement of manual activities to Automation
    + Transition to Agile Methodologies
    + Adaptation of Devops
    + Machine Learning in Software Testing

* Wrap-Up & Questions

Take-aways: Key take-away’s will be awareness on the software testing lifecycle and be ready for the next generation activities (AI-supported testing and others).
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/0DFBBE37-806A-497E-8F90-444A0783EE81">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Mesut_Durukal.png" alt="Mesut Durukal" title="Mesut Durukal" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/0DFBBE37-806A-497E-8F90-444A0783EE81">Mesut Durukal</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
