@page
@model CPL20Archive.Pages.Sessions._2027.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Video Magic - JS, Open Source Players, Smart TVs & You</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/cUu_u48GF44" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Have you ever wondered how the video player on your favorites apps/sites works? Have you thought to yourself, that's a web browser, there has to be some JavaScript in there somewhere, but been unsure of the magic behind the scenes? Did it not occur to you that your Smart TV was using a web browser until reading this? Have you been curious about what's really going on behind the scenes with your YouTube/Vimeo/VLC/Kodi players? Then this talk is for you! 
Join Kris and Shannon as they deep dive into, the magic behind video players, what part JavaScript plays, what HLS.js is, and how It all comes together on your Smart TV. Discover the differences between HLS.js, video.js and dash.js. Learn about their epic adventures in video development, and get a sneak peak at Kris's Ultimate TV Home Buyer's Guide. 
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/0FE6B9B5-1A30-41C8-BBF3-287147F3A3BC">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Kris_Walker.png" alt="Kris Walker" title="Kris Walker" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/0FE6B9B5-1A30-41C8-BBF3-287147F3A3BC">Kris Walker</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/F672AB42-6DA9-450E-8444-8E34380D1985">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Shannon_Beach.png" alt="Shannon Beach" title="Shannon Beach" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/F672AB42-6DA9-450E-8444-8E34380D1985">Shannon Beach</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
