@page
@model CPL20Archive.Pages.Sessions._2004.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Computer, make it so!</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/2GVck7Oj_iY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Electronic personal assistants are conquering the world right now. Currently, the biggest tech companies are focusing their attention on artificial intelligence. This opens a wide variety of opportunities for developers and benefits customers. A virtual assistant can access different devices, complete tasks, provide all kinds of information or just tell a bedtime story to your kids. You can create custom skills based on your needs and implement them for Alexa, Cortana, and Siri.
In this session, you'll learn about artificial intelligence and how it works in digital assistant applications. You'll see how to start developing a custom skill from your Visual Studio. This session will bring enough inspiration to start developing your own skill.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/FA5F7E1F-35BA-4E0C-9CAF-5DAC7E56AF8E">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Veronika_Kolesnikova.png" alt="Veronika Kolesnikova" title="Veronika Kolesnikova" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/FA5F7E1F-35BA-4E0C-9CAF-5DAC7E56AF8E">Veronika Kolesnikova</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
