@page
@model CPL20Archive.Pages.Sessions._2021.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">What the Soviet Space Program Taught Me About Digital Product Development</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/FDZzoW1KKbQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          The space race between the USA and USSR was one of the great dramatic stories of the 20th century. Our very industry was born as Washington and Moscow relentlessly competed to master the stars.

For space nuts like me, this fascinating time is utterly compelling. It’s also highly instructive for digital product developers. After all, engineers drove the innovation that pushed us beyond earth. The lessons they learned and processes they created can help us today as we make software, apps, and advanced functionality online.

Of course, the Soviet side of the story tends to be less understood. And that’s exactly what we’ll explore. It’s unbelievable stuff, and a cautionary tale for development teams.

WHAT YOU’LL LEARN
- How differing philosophies of development lead to different processes and results.
- What Soviet imperatives parallel modern development approaches.
- Why the USSR led the space race early, but ultimately failed to reach the moon first.
- What we can learn, adapt, and avoid today from the 20th century Soviet model.

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/0BEDF3C0-A09D-4BAC-AE64-364E7177ED9F">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Dean_Schuster.png" alt="Dean Schuster" title="Dean Schuster" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/0BEDF3C0-A09D-4BAC-AE64-364E7177ED9F">Dean Schuster</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
