@page
@model CPL20Archive.Pages.Sessions._1787.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Cloud">Cloud</a><br /><a asp-page="/Sessions/AWS">AWS</a><br /><a asp-page="/Sessions/Serverless">Serverless</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Maximum Overkill: Using Terraform to set up an AWS-hosted personal website</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/ZCBNlKbKacc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Terraform is an exciting Infrastructure-as-Code (IaC) tool that lets you provision and deploy services to multiple clouds and providers. It’s an extremely popular tool with DevOps teams. I wanted to learn how to use it, and decided the best way was to do a small, “real” project – writing automation for building out the AWS infrastructure required to host a small static website out of an S3 bucket. This talk will walk you through the basics of how to use Terraform and explain how my website deployment solution works. After this talk, you should be ready to start using Terraform for your own infrastructure automation needs!
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/C1480C47-AE30-40A3-AAC3-E037E31323EC">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/John SJ_Anderson.png" alt="John SJ Anderson" title="John SJ Anderson" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/C1480C47-AE30-40A3-AAC3-E037E31323EC">John SJ Anderson</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
