@page
@model CPL20Archive.Pages.Sessions._2053.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Building your personal online brand using Static Blazor Apps, one step at a time.</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          We're told that by using services such as Medium, dev.to etc that we are diluting our personal brand. That we should be posting to our own site and building ourselves up. But making that move can seem huge! Rather than eating the elephant - which can seem impossible - how about slowly moving to your own space?

Build your brand whilst still using those great features that attracted you to your chosen platform in the first place.

With the joint power of client-side Blazor and static web apps in Azure you no longer need to run web servers or App Services in order to host your site online. You can get set up in minutes!

In this session we'll set up a new Blazor Wasm Application and Azure Function, deploy to Azure and then fetch blog posts from dev.to to link to them in our page.

We'll also talk about next steps - and how to eat the elephant one bite at a time - to create your personal brand!
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/4E6D388E-AAB9-4B82-9364-A5052B378EBC">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Stacy_Cashmore.png" alt="Stacy Cashmore" title="Stacy Cashmore" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/4E6D388E-AAB9-4B82-9364-A5052B378EBC">Stacy Cashmore</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
