@page
@model CPL20Archive.Pages.Sessions._2059.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Data Science for Humanitarian Good</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          With the rise of data science, data analytics, and machine learning, there are an unprecedented amount of opportunities. In this talk, we particularly discuss the opportunities of "big" data analysis for humanitarian good. These applications range from informing recovery and relief plans from natural disasters, to detecting and prosecuting human trafficking, as well as aiding refugees. We will first briefly introduce different approaches, such as analysis of tabular data, and imagery data, and then dive into the different humanitarian applications. There are no prerequisites that are really needed for this talk, but a basic understanding of data science techniques, from linear regression to artificial neural networks, would be helpful. The talk is not highly technical; it mostly focuses on the applications of data science, not the specifications of different approaches.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/5DB051B1-AA4E-4453-82ED-D3D3442C2A8B">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Thomas_Y._Chen.png" alt="Thomas Y. Chen" title="Thomas Y. Chen" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/5DB051B1-AA4E-4453-82ED-D3D3442C2A8B">Thomas Y. Chen</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
