@page
@model CPL20Archive.Pages.Sessions._1715.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/JavaScript">JavaScript</a><br /><a asp-page="/Sessions/Web">Web</a><br /><a asp-page="/Sessions/Architecture">Architecture</a><br /><a asp-page="/Sessions/UI">UI</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Contextual Data Management in React.</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1715/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Managing data is hard, and opinions vary wildly. Should things be localized? Should data be passed up to a global Redux store? During this presentation I will go through the different types of data and provide recommendations on how to manage each.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/61864358-E82B-4768-8C4D-A98AD052694A">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Russell_Skaggs.png" alt="Russell Skaggs" title="Russell Skaggs" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/61864358-E82B-4768-8C4D-A98AD052694A">Russell Skaggs</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
