@page
@model CPL20Archive.Pages.Sessions._1744.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/DotNet">.NET</a><br /><a asp-page="/Sessions/JavaScript">JavaScript</a><br /><a asp-page="/Sessions/Web">Web</a><br /><a asp-page="/Sessions/Tools">Tools</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Single Page Architectures with VueJS and ASP.NET Core</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1744/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          If you have been an ASP.NET developer for any period of time, you have probably made the jump from Web Forms to Razor and now you're eyeing the jump to supporting Single Page Applications within ASP.NET.  This is not for the faint of heart, because the process is radically different from anything you are used to.  Client-side frameworks like Vue, React, or Angular have their own processes and tools which do not easily align with tools in the ASP.NET stack.

But these tools CAN co-exist peacefully! In this presentation, we will walk through a File, New approach of creating a Single Page Application architecture that uses Vue.JS on the front end and ASP.NET Core on the backend.  We'll discuss libraries, tools, and techniques that allow you to use these frameworks to their strengths while minimizing any potential issues.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/39252BD8-784B-4DAD-8897-0E23895E7EB3">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Kevin_Griffin.png" alt="Kevin Griffin" title="Kevin Griffin" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/39252BD8-784B-4DAD-8897-0E23895E7EB3">Kevin Griffin</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
