@page
@model CPL20Archive.Pages.Sessions._2049.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">COBOL Coding in the Cloud</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/cyxW2pdHANw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          How do you imagine coding in COBOL?
Join this session as we give you a glimpse of our day as COBOL developers working with Eclipse Che4z, a mainframe development tool that blurs the lines between mainframe and distributed environments.
Come and hear about the tips and tricks we learned first-hand; the technologies involved; and the challenges we experienced, switching from traditional green screen development to Cloud IDEs. We will discuss the benefits of using a cloud managed mainframe stack and how quickly we can provision our development environment and get started with team collaboration.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/1047B03E-D5DD-47FE-A785-2E6522710A16">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jessielaine_Punongbayan.png" alt="Jessielaine Punongbayan" title="Jessielaine Punongbayan" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/1047B03E-D5DD-47FE-A785-2E6522710A16">Jessielaine Punongbayan</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/881ED5D9-8A1B-4E67-82F2-58053D3781D0">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Richelle_Anne_Craw.png" alt="Richelle Anne Craw" title="Richelle Anne Craw" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/881ED5D9-8A1B-4E67-82F2-58053D3781D0">Richelle Anne Craw</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
