@page
@model CPL20Archive.Pages.Sessions._1782.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/IoT">IoT</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Micro:bit: the Perfect Programming Device for Kids (and Adults)?</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          It is half the size of a credit card.

It is the easiest device to program. All you need is a browser!
What is really cool, is the web programming interface, which emulates to device so well, you actually don't need the device to start programming.  In the browser, you can interact with the web "device", and shake it, press buttons, set the temperature, and even move a servo motor.

Come and see how easy and fun it is to play with this $15 device.

You get all this:

- Processor: 32-bit ARM Cortex M0 CPU
- Bluetooth Low Energy
- Digital Compass
- Accelerometer
- Micro-USB controller
- 5x5 LED matrix with 25 red LEDs
- 2 programmable buttons

Want to start coding now?  Check this out:  https://makecode.microbit.org/

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/052A2622-51E9-43D5-9127-C0BF25B388B5">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Aydin_Akcasu.png" alt="Aydin Akcasu" title="Aydin Akcasu" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/052A2622-51E9-43D5-9127-C0BF25B388B5">Aydin Akcasu</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
