@page
@model CPL20Archive.Pages.Sessions._2030.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Cassandra Made Easy: Interact with your Data using Stargate HTTP APIs</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Cassandra is an incredibly powerful, scalable and distributed open source database system. Companies with extremely high traffic use it to provide their users with consistent uptime, blazing speed, and a solid framework. However, many developers find Cassandra to be challenging because the configuration can be complex and learning a new query language (CQL) is something they just don't have time to do.

Stargate is an Open Source project which sits on top of Cassandra and provides HTTP interfaces to your data - it provides a REST API, a GraphQL API, and a Document API (schema less, similar to MongoDB). You can install it on top of your own Cassandra instance and participate in the community.

Don't just take my word for it though, you can get a Cassandra instance in the cloud from DataStax which gives you $25 credit per month (so, free for up to a smaller sized business). The Astra databases do all the configuration for you up front - they're serverless so they scale as your database needs, and you only pay for the traffic you actually use.

With Astra, you can set up proof of concepts and create applications to explore whether Cassandra/Stargate is a system that will work for you. I'll demonstrate a TikTok clone which uses React and Netlify to provide a completely serverless application in the cloud.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/DA85318C-DC54-4D5D-AB17-98A7C4E4F8F7">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Kirsten_Hunter.png" alt="Kirsten Hunter" title="Kirsten Hunter" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/DA85318C-DC54-4D5D-AB17-98A7C4E4F8F7">Kirsten Hunter</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
