@page
@model CPL20Archive.Pages.Sessions._1754.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_Requirements">Requirements</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Agile">Agile</a><br /><a asp-page="/Sessions/DevelopmentPractices">Development Practices</a><br /><a asp-page="/Sessions/Requirements">Requirements</a><br /><a asp-page="/Sessions/ProjectManagement">Project Management</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">The Smallest Thing that's Helpful</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          The Requirements ask for the world.  But you can't go out and build the world all at once.

You have to build small things, one at a time.

In this talk we'll discuss how to identify and document what the 'small things' are?  We'll show the benefits of getting something built and in front of the decision makers, one small piece at a time.

Sometimes is obvious.  Sometimes it's not.  But it's always beneficial to identify and build the SMALLEST thing that's helpful.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/A31F8BB7-ACF1-4B3D-857A-F948E1270276">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jason_Crist.png" alt="Jason Crist" title="Jason Crist" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/A31F8BB7-ACF1-4B3D-857A-F948E1270276">Jason Crist</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
