@page
@model CPL20Archive.Pages.Sessions._2065.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Engineering Change: How to Revolutionize Your Projects from the Inside Out</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          We've all had those projects: the technical debt is rampant, the stakeholders won't listen to reason, and you (the engineer) know there's a better way. But what if you're exactly the right person to make things better? In this session we'll discuss how to implement engineering-driven change into your projects and your organization. Learn how to use the ADKAR method to identify problems, formulate a plan, and evangelize them into fruition.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/92190dcf-038b-4162-9588-3d197f660be1">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Aaron_Ladage.png" alt="Aaron Ladage" title="Aaron Ladage" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/92190dcf-038b-4162-9588-3d197f660be1">Aaron Ladage</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
