@page
@model CPL20Archive.Pages.Sessions._1964.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Workshop: Building Single Page Applications with VueJS and ASP.NET Core</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Full-Day Workshop</h5>
          <br />
          The landscape of building web applications has changed a bit of the past five to ten years.  The tools have matured so drastically that it can be a challenge to figure out the best way to incorporate your existing knowledge with new tools.

In this full-day workshop, you will explore building a Single Page Application (SPA) with VueJS and using an API built with ASP.NET Core.

Students will work directly on a Single Page Application that they can use later for review!

We will cover the following topics:
- Project Setup and Integration
- Vue overview using Single File Components
- Vue Router: for managing client-side routes
- Vuex: for global state management
- Axios: for making cross-platform
- ASP.NET Core 3.0 overview - including controllers and identity
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/39252BD8-784B-4DAD-8897-0E23895E7EB3">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Kevin_Griffin.png" alt="Kevin Griffin" title="Kevin Griffin" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/39252BD8-784B-4DAD-8897-0E23895E7EB3">Kevin Griffin</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
