@page
@model CPL20Archive.Pages.Sessions._1691.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Testing">Testing</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Word Smatter: Exploring Semantics, Testers, and Problems</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/Q_4PUk7COTc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Testers [do|don’t] (help) [prevent|detect] problems.” 
 
Throughout my career, I’ve encountered many variations of this phrase and discussed the underlying ideas many times. The phrase uses just a few, small words to express many, big ideas. And so, it can be valuable and critical to understand what each word means individually in order to better understand the ideas they convey collectively.
​
Semantics is the study of meaning in words. The session begins with a brief and broad overview of semantics, and related ideas, which sets the stage for deep analysis of each individual word and its potential meaning. We collaboratively consider:
Testers – What might this word mean to different people and in different contexts?
Do/Don’t – What do normative and descriptive statements have to do with it?
Help – How does the inclusion/exclusion of this word effect the meaning of the phrase?
Prevent/Detect – What does causality and perspective have to do with which word we choose?
Problems – What exactly is the thing that is being prevented or detected?

This session demystifies and promotes semantics, and goes beyond wordplay to introduce critical concepts that have practical impacts on testers, their roles, and their responsibilities. 
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/E86DA0BF-0A25-4A26-96BE-BD6B1CAD5272">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/damian_synadinos.png" alt="damian synadinos" title="damian synadinos" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/E86DA0BF-0A25-4A26-96BE-BD6B1CAD5272">damian synadinos</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
