@page
@model CPL20Archive.Pages.Sessions._1697.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">IaC 2 Ways: Terraform v Pulumi</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Reliably creating infrastructure is difficult.  Choosing the right tool for the job is even more difficult.  During this session we will take a look at two Infrastructure as Code (IaC) tools: Terraform and Pulumi.  During the first half we will look at creating an application hosting stack in AWS using HashiCorp's Terraform.  In the second half we will look at how to convert this to a Pulumi project and re-deploy.  During this session expect to get an overview of two premier IaC tools, as well as comparisons between the tools and some insight into when to choose one tool over the other.   
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/9D16FB76-0279-466C-A4B2-838973114352">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Kevin_Tinn.png" alt="Kevin Tinn" title="Kevin Tinn" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/9D16FB76-0279-466C-A4B2-838973114352">Kevin Tinn</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
