@page
@model CPL20Archive.Pages.Sessions._1998.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_UX">User Experience</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Users Don't Have to Suffer in the Cloud</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          The cloud has a lot to offer organizations - this is unquestionable.  
It is clear - the cloud has extraordinary potential to disrupt how IT manages applications and how IT delivers services to end users.
The strategies to move to the cloud for enterprises usually steer towards either migrating their data centers to IaaS and PaaS (think Azure or AWS) or fully replacing on-premises applications with SaaS alternatives (Salesforce, ServiceNow, Office365 for example).
These strategies can introduce serious challenges for end-users.  The impact to the end-user experience is often not considered in these plans.
What if there was a third option?  Where the user experience was centralized and the data integrity was preserved.  
There is.  A hub and spoke architecture doesn't sacrifice user experience or data integrity and frees the enterprise to make the right technology decisions without impacting user adoption.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/5CA3D86F-1648-4B56-8E3A-38BB5EFEB861">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Melissa_Jurkoic.png" alt="Melissa Jurkoic" title="Melissa Jurkoic" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/5CA3D86F-1648-4B56-8E3A-38BB5EFEB861">Melissa Jurkoic</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
