@page
@model CPL20Archive.Pages.Sessions._1694.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Hardware">Hardware</a><br /><a asp-page="/Sessions/IoT">IoT</a><br /><a asp-page="/Sessions/Fun">Fun</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">A Crash Course on 3D Printing [Half-Day Workshop]</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Half-Day Workshop</h5>
          <br />
          3D printing has been around for years, but it's easier than ever to get started, and surprisingly affordable.

If you've been thinking about buying a 3D printer, but weren't sure how to get started, this session is for you! We'll cover how to choose your first 3D printer, whether your budget is big or small, the different types of 3D printers you can choose from, places to find models to print (and software you can use to make your own), as well as the software you'll need to turn a model into a file your printer can print from.

Come learn from a confessed 3D printing addict why this addition...I mean hobby, is both fun and practical, and leave prepared to join the ranks of 3D printing fans.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/AD81A441-2F8B-4CF9-B881-EA30C36FD691">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/G. Andrew_Duthie.png" alt="G. Andrew Duthie" title="G. Andrew Duthie" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/AD81A441-2F8B-4CF9-B881-EA30C36FD691">G. Andrew Duthie</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
