@page
@model CPL20Archive.Pages.Sessions._2019.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Junior, no more</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">30-Minute Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/leD_I7plBWo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          How to position yourself out of being the newbie.

You did it! You landed your first tech job. They said this would be the hardest part but now that you’re in the role and are starting to feel comfortable, how do you keep going?

This talk will cover tips and tricks on how to position yourself for that next move into a mid or senior role; including self-advocacy, resume refactors and the power of feedback. 

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/7B98E926-485A-4C63-BCD6-32D3F40AD67A">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Maire_Chew.png" alt="Maire Chew" title="Maire Chew" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/7B98E926-485A-4C63-BCD6-32D3F40AD67A">Maire Chew</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
