@page
@model CPL20Archive.Pages.Sessions._2112.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Python: What's in it for You</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Over the last 5 years, Python has consistently been in the top 5 languages on Github. Its clean, simple, easy to remember syntax makes is why Python is one of the most in demand skills for software engineers. If you are a web developer, data scientist, game developer, or IT admin, Python can scratch an itch you have. This survey session will go through the Python language, its uses and how you can get started with it immediately.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/A3C6CFDD-D3C5-4CEE-B653-8C4F853C7921">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Douglas_Starnes.png" alt="Douglas Starnes" title="Douglas Starnes" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/A3C6CFDD-D3C5-4CEE-B653-8C4F853C7921">Douglas Starnes</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
