@page
@model CPL20Archive.Pages.Sessions._1800.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/DotNet">.NET</a><br /><a asp-page="/Sessions/MachineLearning">Machine Learning</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Machine Learning for .NET Folks Without (or With!) a Ph.D.</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/aEILRjFifAg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          The modern world has already been impacted by machine learning and will continue to be impacted even more.  It is critical that more software developers have access to this skill.  With ML.NET, .NET developers are not left out!  ML.NET is an open-source and cross platform framework to train custom machine learning models, utilize pre-trained models, including those from TensorFlow in .NET applications for screens of all shapes and sizes.  Built on the successful experience of products such as Power BI and Outlook, ML.NET can be applied to a variety of predictive analytics scenarios with just a few lines of C# or F# code.  This session will explore the fundamentals of ML.NET and several common machine learning tasks.  It will also cover integrating pre-trained models from ML.NET and TensorFlow.  And it will show how to leverage ML.NET from web and mobile projects.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/A3C6CFDD-D3C5-4CEE-B653-8C4F853C7921">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Douglas_Starnes.png" alt="Douglas Starnes" title="Douglas Starnes" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/A3C6CFDD-D3C5-4CEE-B653-8C4F853C7921">Douglas Starnes</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
