@page
@model CPL20Archive.Pages.Sessions._1670.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/1">.NET</a><br /><a href="/SessionsByTag/10">DevOps</a><br /><a href="/SessionsByTag/64">Tools</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">From Developed to Published - My Story Launching an Open Source Library</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1670/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Open Source is hard, sharing code isn't enough these days, you need to make it easy for others to consume. I had an idea and was excited to give back after years of standing on other's shoulders. I wrote the code and shared it on GitHub, now what? I realized I needed to get it packaged and pushed to NuGet if I wanted anyone to actually use it. I also needed to automate the build and deployment processes so it wasn't dependent on my mouse clicks or my machine, or I would never update it. When I started making some big upgrades to dependencies I also realized I should have a nighty/developer build so I could try out any work in progress. We'll look at how I got my library, Ease, from compiled code to published package and show you that it doesn't have to be hard to be an open source developer.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="/SpeakerDetails/77125927-3508-465A-BC33-27598FE6839A">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Duane_Newman.png" alt="Duane Newman" title="Duane Newman" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="/SpeakerDetails/77125927-3508-465A-BC33-27598FE6839A">Duane Newman</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
