@page
@model CPL20Archive.Pages.Sessions._1759.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/DotNet">.NET</a><br /><a asp-page="/Sessions/Cloud">Cloud</a><br /><a asp-page="/Sessions/Azure">Azure</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Optimize Your .Net Azure App Services</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/6d45gAfklUY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Azure App Services are basically the de facto standard as the best possible way to deploy and host a .Net Framework or .Net Core application, period. You can argue with me until you are blue in the face about other hosting methods or platforms, but you would still be wrong. 

However, utilizing an Azure App Service as your hosting method is not the same as utilizing standard IIS, especially when it comes to optimization. During the session we will deploy a .Net Core MVC application to Azure, determine an initial baseline for performance, and then walk through how to configure various properties and server-side configurations that make that site blazing fast.   

Expect to leave my session having learned a few tips and tricks on how to spot performance issues, understand the nuances of the properties and settings available to you, and ultimately optimize your Azure App Service for speed in the real world.

Oh, and if you think you have something better, bring your suggestion or argument to the session, and challenge me on it. I love a good debate.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/28966C43-3BE1-4781-B49A-088AAA4CFB72">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Brian_McKeiver.png" alt="Brian McKeiver" title="Brian McKeiver" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/28966C43-3BE1-4781-B49A-088AAA4CFB72">Brian McKeiver</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
