@page
@model CPL20Archive.Pages.Sessions._1730.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a href="/SessionsByTopic/1">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/6">Cross-Platform</a><br /><a href="/SessionsByTag/14">Java</a><br /><a href="/SessionsByTag/15">JavaScript</a><br /><a href="/SessionsByTag/23">Other</a><br /><a href="/SessionsByTag/34">Python</a><br /><a href="/SessionsByTag/50">Database</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Intro to Blockchain with Algorand</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1730/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Algorand is a new blockchain built on a Permissionless, pure proof of stake, decentralized agreement protocol, where anyone can participate and requires minimal computational power. This protocol finalizes transactions very quickly and offers true decentralization.
Algorand 2.0 is an exciting release with many new features including:

•	Algorand Standard Asset (ASA)
•	Atomic Transfers
•	Algorand Smart Contract Layer 1 (ASC1)

This session will demonstrate how to: 
•	Quickly get and up and running on Algorand
•	Use the new Algorand features - ASA, Atomic Transfers and ASC1.
 
Algorand provides JavaScript, Java, Python and Go SDKs. Learn how to integrate Algorand using the SDKs to build blockchain applications. Community SDKs are available for C# .NET and Rust. 

Algorand Standard Asset (ASA) - ASA provides a standardized, Layer-1 mechanism to represent any type of asset on the Algorand blockchain. ASAs can include fungible assets (such as currencies, stablecoins, utility tokens, etc), non-fungible assets (unique assets such as tickets, etc.), restricted fungible assets (such as securities), and restricted non-fungible assets (such as licenses, certifications). Asset issuers, or specified delegates, can optionally have the ability to freeze an account’s ability to transact with their asset and clawback their asset when required. 
 
Atomic Transfers - Atomic Transfers offer a Layer-1 secure way to simultaneously transfer a number of assets among a number of parties. Specifically, many transactions are grouped together and either all transactions are executed or none of them are. This feature can be used for use cases such as matching funding, debt settlement, decentralized exchanges, and complex trades.

Algorand Smart Contract (ASC1) - ASC1s are Layer-1 smart contracts that automatically enforce custom rules and logic, typically around how assets (ASAs or Algos) can be transferred. They are complex economic relationships made up of basic transaction primitives written in a new language called Transaction Execution Approval Language (TEAL). Examples of ASC1s that can be written are escrow accounts, loan payments, limit and stop orders, subscription payments, and collateralized obligations. 
Join Russ Fustino, Algorand Technical Evangelist, in this informative session on Algorand 2.0.

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/001FBD79-BC5B-4D93-90E0-8BBCBBF77F18">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Russell_Fustino.png" alt="Russell Fustino" title="Russell Fustino" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/001FBD79-BC5B-4D93-90E0-8BBCBBF77F18">Russell Fustino</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
