@page
@model CPL20Archive.Pages.Sessions._1662.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/JavaScript">JavaScript</a><br /><a asp-page="/Sessions/Web">Web</a><br /><a asp-page="/Sessions/Fun">Fun</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">My Browser Does What?</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/1zBymr8iohw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          The Web evolves quickly. We are far away from the days of Marquees and Blink. But learning the latest features of the latest ECMAScript implementation or the newest PHP framework isn’t everything. New Web APIs are constantly added to the browser. Did you know that your browser can process audio feeds, that it can connect to Bluetooth devices, or that it can send you notifications? Vendors are extending the capabilities of browsers more and more, especially for mobile devices. In this talk, attendees will learn some of the latest features available in their browsers right now and some that will be available in the very near future.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/14c41c84-7bb2-4740-9d7b-b189987410e2">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Joel_Lord.png" alt="Joel Lord" title="Joel Lord" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/14c41c84-7bb2-4740-9d7b-b189987410e2">Joel Lord</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
