@page
@model CPL20Archive.Pages.Sessions._2083.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">The Murphy's Laws of Observabillity</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          We’re all familiar with Murphy’s Law. “Anything that can go wrong, will go wrong.” And over time, Murphy’s Law has been extended, abstracted and applied to numerous disciplines. 
Within Observability, the extension of data and monitoring focused on deep insights in our complex apps and environments, Murphy’s Law also reigns supreme. But what laws apply and how do we mitigate impact of points like:
- Anything that can go wrong, will go wrong, at the worst possible time.
- Computers always side with the hidden flaw
- You can never run out of things that can go wrong
- Availability is a function of time

We’ll look into examples of the laws in practice and highlight practices that might just give you the one-up on Murphy.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/39DE1FB2-EB9D-43DA-92C9-C3F4EDDC1698">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Dave_McAllister.png" alt="Dave McAllister" title="Dave McAllister" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/39DE1FB2-EB9D-43DA-92C9-C3F4EDDC1698">Dave McAllister</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
