@page
@model CPL20Archive.Pages.Sessions._1678.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">A Dev's Guide to Demoing</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/un_IGHPEp7c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          No matter where you are, at some point your work is going to have to be demonstrated to other people. Instead of having your BA or QA or even PO demo it, wouldn't it be easier to just demo it yourself? But, having to present in front of people is a little scary. Indeed it is but there are some tips and tricks that you could learn to very easily put into practice to help you be able to eliminate that fear and be a demoing machine.

In this session, we are going to go over the basics on how to run a good demo. Tips and tricks on what to show and how to show off what you've done, and even some hints as to how to run a demo in different ways depending on your audience. 

It's never going to be easy to give a demo but with a few tips and tricks, we can work on making any demo more successful

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/DBEB610A-2716-4A93-9831-D4FA500EE681">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Amanda_Perkins.png" alt="Amanda Perkins" title="Amanda Perkins" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/DBEB610A-2716-4A93-9831-D4FA500EE681">Amanda Perkins</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
