@page
@model CPL20Archive.Pages.Sessions._2102.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_ProjMgnt">Project Management</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Oh! The *Humanity*</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          “Agile” is a bit lost. 

Like a couch potato resolving to go to the gym in January, we threw off the chains of Scientific Management and declared a manifesto of people-centered values. 

And here we are in our February, right back on the couch. We prescribe process and certification. We try to do *literally* Twice The Work In Half The Time™. And we wonder why middle management doesn’t want to pay for our membership anymore.

Agile was always about humanity. Messy, “unprofessional” humanity. But when it got tough, we ran right back into the arms of mechanics. 

In this talk, I want to expose the relics of industrial thinking. I want to shine a light on the madness of trying to build the perfect machine out of people. And I want to get into some strategies for embracing our humanity at the organizational, team, and individual levels, so we can meet the work of the 21st century like only humans can.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/AAC27990-9ADF-4562-93BD-33DB076C4D02">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jon_Fazzaro.png" alt="Jon Fazzaro" title="Jon Fazzaro" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/AAC27990-9ADF-4562-93BD-33DB076C4D02">Jon Fazzaro</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
