@page
@model CPL20Archive.Pages.Sessions._1734.IndexModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Session Details</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="row">
    <div class="span3">
      <aside class="sidebar-left">
        <br />
        <h5 class="SessionDetails">Topic(s)</h5>

        <br />
        <h5 class="SessionDetails">Tags</h5>
        <a asp-page="/Sessions/DevelopmentPractices">Development Practices</a><br /><a asp-page="/Sessions/Testing">Testing</a><br />
        <br />
      </aside>
    </div>
    <div class="span9">
      <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">TDD Is My Shame</h2>
      <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
      <br />
      @*<div class="smart-player-embed-container">
          <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1734/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>*@
      <iframe width="560" height="315" src="https://www.youtube.com/embed/kviAy6Hvwfw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      "I don't do as much Test-Driven Development as I should; it's my shame."

      The more time I spend at recent development conferences, the more I see this sentiment echoed. Developers get the impression that they *should* do TDD, but they don't.

      Sometimes they don't know how to do it effectively, so it ends up a mess.
      Sometimes they don't know when they should do it, so it ends up being overapplied.
      Sometimes they don't really know what it is, so they end up treating it in odd ways.

      In this talk, you'll get answers for all of the above and more. You'll understand TDD better, you'll understand how to be more effective, and you'll learn to let go of that little voice that says you should do more.
      <hr />
      <div class="row row-wrap">
        <div class="span3">
          <div class="thumb center">
            <div class="thumb-header">
              <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/4CF6D24C-72EA-450F-AA60-A171EBBCC52F">
                <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Gary_Fleming.png" alt="Gary Fleming" title="Gary Fleming" />
              </a>
            </div>
            <div class="thumb-caption">
              <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/4CF6D24C-72EA-450F-AA60-A171EBBCC52F">Gary Fleming</a></h5>
              <p class="thumb-meta"><br /></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gap"></div>
</div>
