@page
@model CPL20Archive.Pages.Sessions._2006.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Making Apps Listen and React with LUIS (Language Understanding Intelligent Service)</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/BeEkwA4w_yA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Language Understanding Intelligence Service (LUIS) is part of Azure's Cognitive Services.  It's built on the interactive machine learning and language understanding research from Microsoft Research.  Luis provides the capability to understand a person’s natural language and respond with actions specified by application code.  In this session we'll examine how this powerful feature can be integrated into applications, offering a more natural interaction with a device.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/159C6B82-1AFB-49B2-86EC-B53A56D83C4F">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Sam_Nasr.png" alt="Sam Nasr" title="Sam Nasr" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/159C6B82-1AFB-49B2-86EC-B53A56D83C4F">Sam Nasr</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
