@page
@model CPL20Archive.Pages.Sessions._1695.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Cloud">Cloud</a><br /><a asp-page="/Sessions/DevelopmentPractices">Development Practices</a><br /><a asp-page="/Sessions/Kubernetes">Kubernetes</a><br /><a asp-page="/Sessions/Microservices">Microservices</a><br /><a asp-page="/Sessions/Architecture">Architecture</a><br /><a asp-page="/Sessions/Serverless">Serverless</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Event Driven Architecture with Quarkus, Kafka, and Kubernetes</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/vg6jQ9jnWGg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Event Driven Architectures are distributed, asynchronous, and scalable.  The rise of real time decision making, the on-demand economy, explosion of data, and the adoption of microservices have all driven the adoption of event driven architectures.

Event Driven code is reactive by nature and significantly different from imperative programming.   In this workshop we build an event driven application using Red Hat’s Quarkus and AMQ Streams (Apache Kafka.)  We will cover the basic building blocks of event driven architecture including
* Domain Driven Design
* REST or Kafka (or something else)
* How and where to maintain state
* Testing event driven systems
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/7AC9EEAB-F339-4E2E-AFA0-6F438C4ECD63">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jeremy_Davis.png" alt="Jeremy Davis" title="Jeremy Davis" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/7AC9EEAB-F339-4E2E-AFA0-6F438C4ECD63">Jeremy Davis</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/8BE89415-4AD6-4606-B105-FD24C8231D84">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Deven_Phillips.png" alt="Deven Phillips" title="Deven Phillips" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/8BE89415-4AD6-4606-B105-FD24C8231D84">Deven Phillips</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
