@page
@model CPL20Archive.Pages.Sessions.ArchitectureModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="DotNet" class="btn">.NET</a>
    <a asp-page="Accessibility" class="btn">Accessibility</a>
    <a asp-page="Agile" class="btn">Agile</a>
    <a asp-page="Android" class="btn">Android</a>
    <a asp-page="Architecture" class="btn btn-info">Architecture</a>
    <a asp-page="ArtificialIntelligence" class="btn">Artificial Intelligence</a>
    <a asp-page="ASPNET" class="btn">ASP.NET</a>
    <a asp-page="AWS" class="btn">AWS</a>
    <a asp-page="Azure" class="btn">Azure</a>
    <a asp-page="BigData" class="btn">Big Data</a>
    <a asp-page="Cloud" class="btn">Cloud</a>
    <a asp-page="Container" class="btn">Container</a>
    <a asp-page="ContinuousDelivery" class="btn">Continuous Delivery</a>
    <a asp-page="CrossPlatform" class="btn">Cross-Platform</a>
    <a asp-page="Data" class="btn">Data</a>
    <a asp-page="Database" class="btn">Database</a>
    <a asp-page="DeepLearning" class="btn">Deep Learning</a>
    <a asp-page="Design" class="btn">Design (UI/UX/CSS)</a>
    <a asp-page="DevelopmentPractices" class="btn">Development Practices</a>
    <a asp-page="DevOps" class="btn">DevOps</a>
    <a asp-page="Docker" class="btn">Docker</a>
    <a asp-page="Fun" class="btn">Fun</a>
    <a asp-page="FunctionalProgramming" class="btn">Functional Programming</a>
    <a asp-page="Google" class="btn">Google</a>
    <a asp-page="GoogleCloud" class="btn">Google Cloud</a>
    <a asp-page="Hardware" class="btn">Hardware</a>
    <a asp-page="iOS" class="btn">iOS</a>
    <a asp-page="IoT" class="btn">IoT</a>
    <a asp-page="Java" class="btn">Java</a>
    <a asp-page="JavaScript" class="btn">JavaScript</a>
    <a asp-page="Kotlin" class="btn">Kotlin</a>
    <a asp-page="Kubernetes" class="btn">Kubernetes</a>
    <a asp-page="MachineLearning" class="btn">Machine Learning</a>
    <a asp-page="Microservices" class="btn">Microservices</a>
    <a asp-page="Microsoft" class="btn">Microsoft</a>
    <a asp-page="Mobile" class="btn">Mobile</a>
    <a asp-page="NoSQL" class="btn">NoSQL</a>
    <a asp-page="Other" class="btn">Other</a>
    <a asp-page="People" class="btn">People</a>
    <a asp-page="Performance" class="btn">Performance</a>
    <a asp-page="ProjectManagement" class="btn">Project Management</a>
    <a asp-page="Python" class="btn">Python</a>
    <a asp-page="QualityAssurance" class="btn">Quality Assurance</a>
    <a asp-page="Requirements" class="btn">Requirements</a>
    <a asp-page="Security" class="btn">Security</a>
    <a asp-page="Serverless" class="btn">Serverless</a>
    <a asp-page="SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="SQL" class="btn">SQL</a>
    <a asp-page="Testing" class="btn">Testing</a>
    <a asp-page="Tools" class="btn">Tools</a>
    <a asp-page="UI" class="btn">UI</a>
    <a asp-page="UX" class="btn">UX</a>
    <a asp-page="VR" class="btn">VR</a>
    <a asp-page="Web" class="btn">Web</a>
    <a asp-page="WebAssembly" class="btn">Web Assembly</a>
    <a asp-page="WebServices" class="btn">Web Services</a>
    <a asp-page="Windows" class="btn">Windows</a>
    <a asp-page="WorkSkills" class="btn">Work Skills</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1654/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1654.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1654/Index">
      <h3>Event-driven Architecture, Micro-services and the Cloud</h3>
       </a>
      <p>Event-driven architectures are a versatile approach to designing and integrating complex software systems.  Event-driven architecture is not a new concept, but as more organizations evolve and are open to move more features to the cloud, this approach to system design has become appropriate in more ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1657/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1657.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1657/Index">
      <h3>Developing and deploying your first ASP.NET Core Microservice to Kubernetes</h3>
       </a>
      <p>Are you frustrated with your monolith or exploring a microservices architecture pattern for your next application? Kubernetes offers orchestration and tooling to make it easier to build and deploy an elastic, self-healing microservice system. In this session, we’ll build a single microservice with A...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1660/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1660.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1660/Index">
      <h3>Migrating from REST to GraphQL</h3>
       </a>
      <p>Learn how to migrate from REST APIs to GraphQL. Convert your REST API operations into GraphQL mutations and queries....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1681/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1681.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1681/Index">
      <h3>Secure your API! The OWASP API Security Top 10 and you</h3>
       </a>
      <p>The things you've done to secure your previous web apps might not be enough for your APIs. We'll review the OWASP API Security Top 10, reviewing the biggest risks and ways to mitigate them....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1684/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1684.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1684/Index">
      <h3>From Monolith to Serverless: Rethinking your Architecture</h3>
       </a>
      <p>It’s easy to understand the benefits of Serverless but it’s not always easy to understand how this will impact our software architecture.

In this talk we will deconstruct a set of requirements and walk through the architecture of both a traditional service-oriented architecture and a modern serverl...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1685/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1685.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1685/Index">
      <h3>ZAP! API Integrations with Zapier</h3>
       </a>
      <p>Integrations between 3rd party applications and APIs has long been one of the most challenging and time-consuming parts of any application development effort.

But with the magic of cloud automation we can connect applications in just minutes instead of days. In this talk you’ll learn about:

* Resp...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1689/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1689.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1689/Index">
      <h3>Modular Monoliths Are The New Microservices</h3>
       </a>
      <p>We've finally reached the trough of disillusionment on Microservices, and people have realized that they are not Magic, nor are they easy. Most of the supposed "benefits" of Microservices can achieved without that added complexity though. Let's discuss some strategies for how you can design your app...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1692/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1692.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1692/Index">
      <h3>The Ugly Side of Serverless Apps (and How to Succeed Anyway)</h3>
       </a>
      <p>AWS has Lambda, GCP has Cloud Functions, and Azure has Functions. Although they differ in implementation, they all share a basic philosophy: only pay for what you use. With this benefit, however, comes some downsides. This talk explores both the shared and platform specific considerations that devel...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1695/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1695.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1695/Index">
      <h3>Event Driven Architecture with Quarkus, Kafka, and Kubernetes</h3>
       </a>
      <p>Event Driven Architectures are distributed, asynchronous, and scalable.  The rise of real time decision making, the on-demand economy, explosion of data, and the adoption of microservices have all driven the adoption of event driven architectures.

Event Driven code is reactive by nature and signifi...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1701/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1701.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1701/Index">
      <h3>Architecting for Accessibility</h3>
       </a>
      <p>Accessibility has been a part of development since the very beginning of the web. And although we have been talking about it since Tim Berners-Lee was working for CERN, to this day the struggles seem to remain the same. Not just how do we make our applications accessible, but also how do we integrat...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1715/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1715.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1715/Index">
      <h3>Contextual Data Management in React.</h3>
       </a>
      <p>Managing data is hard, and opinions vary wildly. Should things be localized? Should data be passed up to a global Redux store? During this presentation I will go through the different types of data and provide recommendations on how to manage each....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1720/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1720.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1720/Index">
      <h3>The Journey to Cell Based Architecture</h3>
       </a>
      <p>In this session Dorrin will be diving into what Cell based Architecture, a term coined by Amazon Web Services is and how you can utilize it to prepare your infrastructure and applications for ultimate global scale.  Dorrin will also go through lessons learned from transforming the monolith architect...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1722/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1722.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1722/Index">
      <h3>Kubernetes Operators, When and How?</h3>
       </a>
      <p>Kubernetes is the hot new topic in the industry. Kubernetes Operators are the newest part of the Kubernetes ecosystem which allow for even more automation and less human intervention. However, there are not many companies developing Kubernetes Operators. In this talk, Dorrin will dig deep into what ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1727/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1727.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1727/Index">
      <h3>Spot the Bug</h3>
       </a>
      <p>Spot the Bug is a fun approach to learning some basic design techniques and guidelines. Quite often developers grow in their craft by repeating code patterns that exist in a code base, without fully understanding why those patterns exist. Other times, language constructs have been created to solve s...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1752/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1752.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1752/Index">
      <h3>Build a Data Pipeline in the cloud for Bird Recognition</h3>
       </a>
      <p>Build a cloud data pipeline to enable bird recognition from streaming video and provide descriptive information about the birds. The architecture will take live streaming video and use lambda functions to initiate image recognition, data mapping, and display the information on a webpage. This projec...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1762/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1762.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1762/Index">
      <h3>New role of EA - Building evolutionary architectures</h3>
       </a>
      <p>Agile delivery has challenged EA into building evolutionary architectures to address incremental change and system-wide fitness functions....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1767/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1767.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1767/Index">
      <h3>Migrate it!</h3>
       </a>
      <p>Do you have an "old" .NET Framework App?  Let's see how we can port it, migrate it, and/or upgrade it to us a combination of .NET Core and .NET Standard to modernize it....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1771/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1771.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1771/Index">
      <h3>Feature flags: the toggle, the A/B test and the canary</h3>
       </a>
      <p>The beauty of a feature flag is simplicity - it's a conditional block of code that chooses between different execution paths at runtime. In this talk, we will combine this simple concept with DevOps principles to perform powerful operations like separating code deployments from feature releases, can...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1772/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1772.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1772/Index">
      <h3>Effective Microservice Communication and Conversation Patterns</h3>
       </a>
      <p>Orchestration or choreography? Sagas or process manager? REST, RPC, or events? Are we just making this all up as we go along?

Microservices introduce major complexities the moment we move away from a single service and process to multiple ones. Immediately, the problem hits: services have to commun...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1773/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1773.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1773/Index">
      <h3>Six Little Lines of Fail</h3>
       </a>
      <p>It seemed like an easy feature to implement, a checkout page to place an order. But this payment gateway has a simple API, so we added that. And this email service provider makes it possible to send an email with one line of code! Finally we can notify downstream systems via a message queue. The cod...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1788/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1788.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1788/Index">
      <h3>AWS: IoT Core + Lambda + DynamoDB = Webscale</h3>
       </a>
      <p>Modernizing an application is easy. Modernizing an application to work globally and at scale, well it sounds hard but it might be easier than you think. In eight months our small team of seven (design, dev, & QA) went from a blank AWS account to a working product. The application needed to ingest Io...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1795/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1795.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1795/Index">
      <h3>Kick-Start into Azure Networking</h3>
       </a>
      <p>With the use of cloud computing on the rise, developers are encouraged to learn more about networking and how it works in the cloud. This session is for anyone that needs to understand networking in Azure. We will cover the basics of a virtual network, network security groups, and some basic network...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1796/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1796.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1796/Index">
      <h3>Wrangling Data: Using Azure DataFactory to Keep Your Data in Line</h3>
       </a>
      <p>Sometimes herding your enterprise data is a lot like herding cats. Enterprises have evolved their data environment over time often leaving a disjointed and convoluted data mess that is almost impossible to get anything really actionable that crosses application boundaries. 
In this talk, you will le...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1797/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1797.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1797/Index">
      <h3>Application Orchestration in Azure</h3>
       </a>
      <p>Most businesses leverage multiple applications and services to achieve their goals. Making sure those applications coordinate tasks appropriately is a critical component of their success. Automating those processes is even better. Making sure you have the right technology to automate your business p...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
