@page
@model CPL20Archive.Pages.Sessions.ArtificialIntelligenceModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="DotNet" class="btn">.NET</a>
    <a asp-page="Accessibility" class="btn">Accessibility</a>
    <a asp-page="Agile" class="btn">Agile</a>
    <a asp-page="Android" class="btn">Android</a>
    <a asp-page="Architecture" class="btn">Architecture</a>
    <a asp-page="ArtificialIntelligence" class="btn btn-info">Artificial Intelligence</a>
    <a asp-page="ASPNET" class="btn">ASP.NET</a>
    <a asp-page="AWS" class="btn">AWS</a>
    <a asp-page="Azure" class="btn">Azure</a>
    <a asp-page="BigData" class="btn">Big Data</a>
    <a asp-page="Cloud" class="btn">Cloud</a>
    <a asp-page="Container" class="btn">Container</a>
    <a asp-page="ContinuousDelivery" class="btn">Continuous Delivery</a>
    <a asp-page="CrossPlatform" class="btn">Cross-Platform</a>
    <a asp-page="Data" class="btn">Data</a>
    <a asp-page="Database" class="btn">Database</a>
    <a asp-page="DeepLearning" class="btn">Deep Learning</a>
    <a asp-page="Design" class="btn">Design (UI/UX/CSS)</a>
    <a asp-page="DevelopmentPractices" class="btn">Development Practices</a>
    <a asp-page="DevOps" class="btn">DevOps</a>
    <a asp-page="Docker" class="btn">Docker</a>
    <a asp-page="Fun" class="btn">Fun</a>
    <a asp-page="FunctionalProgramming" class="btn">Functional Programming</a>
    <a asp-page="Google" class="btn">Google</a>
    <a asp-page="GoogleCloud" class="btn">Google Cloud</a>
    <a asp-page="Hardware" class="btn">Hardware</a>
    <a asp-page="iOS" class="btn">iOS</a>
    <a asp-page="IoT" class="btn">IoT</a>
    <a asp-page="Java" class="btn">Java</a>
    <a asp-page="JavaScript" class="btn">JavaScript</a>
    <a asp-page="Kotlin" class="btn">Kotlin</a>
    <a asp-page="Kubernetes" class="btn">Kubernetes</a>
    <a asp-page="MachineLearning" class="btn">Machine Learning</a>
    <a asp-page="Microservices" class="btn">Microservices</a>
    <a asp-page="Microsoft" class="btn">Microsoft</a>
    <a asp-page="Mobile" class="btn">Mobile</a>
    <a asp-page="NoSQL" class="btn">NoSQL</a>
    <a asp-page="Other" class="btn">Other</a>
    <a asp-page="People" class="btn">People</a>
    <a asp-page="Performance" class="btn">Performance</a>
    <a asp-page="ProjectManagement" class="btn">Project Management</a>
    <a asp-page="Python" class="btn">Python</a>
    <a asp-page="QualityAssurance" class="btn">Quality Assurance</a>
    <a asp-page="Requirements" class="btn">Requirements</a>
    <a asp-page="Security" class="btn">Security</a>
    <a asp-page="Serverless" class="btn">Serverless</a>
    <a asp-page="SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="SQL" class="btn">SQL</a>
    <a asp-page="Testing" class="btn">Testing</a>
    <a asp-page="Tools" class="btn">Tools</a>
    <a asp-page="UI" class="btn">UI</a>
    <a asp-page="UX" class="btn">UX</a>
    <a asp-page="VR" class="btn">VR</a>
    <a asp-page="Web" class="btn">Web</a>
    <a asp-page="WebAssembly" class="btn">Web Assembly</a>
    <a asp-page="WebServices" class="btn">Web Services</a>
    <a asp-page="Windows" class="btn">Windows</a>
    <a asp-page="WorkSkills" class="btn">Work Skills</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1799/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1799.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1799/Index">
      <h3>Hands On Deep Learning for JavaScript Folks without (or with!) a Ph.D. [Half-Day Workshop]</h3>
       </a>
      <p>One of the hottest trends in the industry is artificial intelligence. And web developers are not going to be left out! This workshop introduces attendees to TensorFlow.js. Inspired by the high level Keras library included with Google's popular TensorFlow machine learning platform, TensorFlow.js make...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
