@page
@model CPL20Archive.Pages.Sessions.AzureModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="DotNet" class="btn">.NET</a>
    <a asp-page="Accessibility" class="btn">Accessibility</a>
    <a asp-page="Agile" class="btn">Agile</a>
    <a asp-page="Android" class="btn">Android</a>
    <a asp-page="Architecture" class="btn">Architecture</a>
    <a asp-page="ArtificialIntelligence" class="btn">Artificial Intelligence</a>
    <a asp-page="ASPNET" class="btn">ASP.NET</a>
    <a asp-page="AWS" class="btn">AWS</a>
    <a asp-page="Azure" class="btn btn-info">Azure</a>
    <a asp-page="BigData" class="btn">Big Data</a>
    <a asp-page="Cloud" class="btn">Cloud</a>
    <a asp-page="Container" class="btn">Container</a>
    <a asp-page="ContinuousDelivery" class="btn">Continuous Delivery</a>
    <a asp-page="CrossPlatform" class="btn">Cross-Platform</a>
    <a asp-page="Data" class="btn">Data</a>
    <a asp-page="Database" class="btn">Database</a>
    <a asp-page="DeepLearning" class="btn">Deep Learning</a>
    <a asp-page="Design" class="btn">Design (UI/UX/CSS)</a>
    <a asp-page="DevelopmentPractices" class="btn">Development Practices</a>
    <a asp-page="DevOps" class="btn">DevOps</a>
    <a asp-page="Docker" class="btn">Docker</a>
    <a asp-page="Fun" class="btn">Fun</a>
    <a asp-page="FunctionalProgramming" class="btn">Functional Programming</a>
    <a asp-page="Google" class="btn">Google</a>
    <a asp-page="GoogleCloud" class="btn">Google Cloud</a>
    <a asp-page="Hardware" class="btn">Hardware</a>
    <a asp-page="iOS" class="btn">iOS</a>
    <a asp-page="IoT" class="btn">IoT</a>
    <a asp-page="Java" class="btn">Java</a>
    <a asp-page="JavaScript" class="btn">JavaScript</a>
    <a asp-page="Kotlin" class="btn">Kotlin</a>
    <a asp-page="Kubernetes" class="btn">Kubernetes</a>
    <a asp-page="MachineLearning" class="btn">Machine Learning</a>
    <a asp-page="Microservices" class="btn">Microservices</a>
    <a asp-page="Microsoft" class="btn">Microsoft</a>
    <a asp-page="Mobile" class="btn">Mobile</a>
    <a asp-page="NoSQL" class="btn">NoSQL</a>
    <a asp-page="Other" class="btn">Other</a>
    <a asp-page="People" class="btn">People</a>
    <a asp-page="Performance" class="btn">Performance</a>
    <a asp-page="ProjectManagement" class="btn">Project Management</a>
    <a asp-page="Python" class="btn">Python</a>
    <a asp-page="QualityAssurance" class="btn">Quality Assurance</a>
    <a asp-page="Requirements" class="btn">Requirements</a>
    <a asp-page="Security" class="btn">Security</a>
    <a asp-page="Serverless" class="btn">Serverless</a>
    <a asp-page="SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="SQL" class="btn">SQL</a>
    <a asp-page="Testing" class="btn">Testing</a>
    <a asp-page="Tools" class="btn">Tools</a>
    <a asp-page="UI" class="btn">UI</a>
    <a asp-page="UX" class="btn">UX</a>
    <a asp-page="VR" class="btn">VR</a>
    <a asp-page="Web" class="btn">Web</a>
    <a asp-page="WebAssembly" class="btn">Web Assembly</a>
    <a asp-page="WebServices" class="btn">Web Services</a>
    <a asp-page="Windows" class="btn">Windows</a>
    <a asp-page="WorkSkills" class="btn">Work Skills</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1657/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1657.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1657/Index">
      <h3>Developing and deploying your first ASP.NET Core Microservice to Kubernetes</h3>
       </a>
      <p>Are you frustrated with your monolith or exploring a microservices architecture pattern for your next application? Kubernetes offers orchestration and tooling to make it easier to build and deploy an elastic, self-healing microservice system. In this session, we’ll build a single microservice with A...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1692/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1692.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1692/Index">
      <h3>The Ugly Side of Serverless Apps (and How to Succeed Anyway)</h3>
       </a>
      <p>AWS has Lambda, GCP has Cloud Functions, and Azure has Functions. Although they differ in implementation, they all share a basic philosophy: only pay for what you use. With this benefit, however, comes some downsides. This talk explores both the shared and platform specific considerations that devel...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1699/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1699.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1699/Index">
      <h3>Developing Spidey Senses : Anomaly Detection for apps</h3>
       </a>
      <p>Anomaly detection is the process of identifying unexpected items or events in data sets. It’s about detecting the deviation from expected pattern of a dataset. It’s like having “spidey senses” for your apps that can detect when there’s danger or something is not right. Attend this session and learn ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1708/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1708.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1708/Index">
      <h3>Determining the Cost to Move to Azure</h3>
       </a>
      <p>You have read all about moving to the cloud, spoken to colleagues who are on it and even attended events where they told you about how great it is, and YOU ARE SOLD! You recognize the benefits of storing your workloads in the cloud and ready for things to happen. Everyone agrees its the right answer...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1752/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1752.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1752/Index">
      <h3>Build a Data Pipeline in the cloud for Bird Recognition</h3>
       </a>
      <p>Build a cloud data pipeline to enable bird recognition from streaming video and provide descriptive information about the birds. The architecture will take live streaming video and use lambda functions to initiate image recognition, data mapping, and display the information on a webpage. This projec...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1755/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1755.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1755/Index">
      <h3>Going Container-less with Service Fabric and .NET</h3>
       </a>
      <p>In this session, you'll learn how Service Fabric can facilitate the migration of an existing on-premise, monolithic, Windows/.NET codebase to a micro-service architecture, without the need to adopt Linux or containers in the process. 

Let .NET developers do what they do best, and let Service Fabric...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1759/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1759.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1759/Index">
      <h3>Optimize Your .Net Azure App Services</h3>
       </a>
      <p>Azure App Services are basically the de facto standard as the best possible way to deploy and host a .Net Framework or .Net Core application, period. You can argue with me until you are blue in the face about other hosting methods or platforms, but you would still be wrong. 

However, utilizing an A...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1764/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1764.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1764/Index">
      <h3>Developers Guide to Azure AI [4-Hour Workshop]</h3>
       </a>
      <p>After a tremendous age of innovation and research in the AI field, we are moving towards the age of appliance. But how and where do you get started as a developer?
In this workshop we dive into the AI platform on Microsoft Azure and find out how you as a developer you can use the power of AI in your...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1774/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1774.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1774/Index">
      <h3>Big Data for the Small Fry - Bootstrapping from onsite to Cloud by scaling down Netflix's ideas</h3>
       </a>
      <p>There’s been a loud drum-beat about how Big Data is changing the world - but if you come from the traditional company, the kind where your main product is something other then data, odds are you've been mostly on the sidelines, trying to figure out if this is real-or-hype, and if its real, how to do...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1775/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1775.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1775/Index">
      <h3>Data Migration to the Azure SQL Platform Made Easy</h3>
       </a>
      <p>When you decided to move to any cloud provider, the thought about how to migrate all your data can seem like a daunting task. Thankfully, it isn't as daunting as you might think thanks to some native tools as well as tools offered by Microsoft. In this session we'll examine these methods and tools t...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1776/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1776.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1776/Index">
      <h3>Indexes: The Voodoo of SQL Server</h3>
       </a>
      <p>Microsoft SQL Server is a large data ecosystem with many facets that can affect how your queries perform. Facets like what kind of hardware are you using, how much memory, CPUs. Many of these facets cost money and there are many things about them that can be turned on, tweaked, or implemented to hel...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1789/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1789.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1789/Index">
      <h3>The Art of Data DevOps with SSDT</h3>
       </a>
      <p>As software development cycles get shorter, database development is being forced adapt the same pace, so it’s increasingly important to be able to combine Agile practices with SQL Server database development. Learn how to take advantage of SQL Server Data Tools and Azure DevOps to enable rapid, iter...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1791/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1791.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1791/Index">
      <h3>Make your applications interactive with Speech Services</h3>
       </a>
      <p>Everyone knows we can’t deny benefits of artificial intelligence both for business and for consumers. Developers are trying to integrate it to all kinds of applications and all major tech companies are working on making it as accessible as possible. Whether you are working with machine learning mode...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1795/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1795.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1795/Index">
      <h3>Kick-Start into Azure Networking</h3>
       </a>
      <p>With the use of cloud computing on the rise, developers are encouraged to learn more about networking and how it works in the cloud. This session is for anyone that needs to understand networking in Azure. We will cover the basics of a virtual network, network security groups, and some basic network...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1796/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1796.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1796/Index">
      <h3>Wrangling Data: Using Azure DataFactory to Keep Your Data in Line</h3>
       </a>
      <p>Sometimes herding your enterprise data is a lot like herding cats. Enterprises have evolved their data environment over time often leaving a disjointed and convoluted data mess that is almost impossible to get anything really actionable that crosses application boundaries. 
In this talk, you will le...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1797/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1797.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1797/Index">
      <h3>Application Orchestration in Azure</h3>
       </a>
      <p>Most businesses leverage multiple applications and services to achieve their goals. Making sure those applications coordinate tasks appropriately is a critical component of their success. Automating those processes is even better. Making sure you have the right technology to automate your business p...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
