@page
@model CPL20Archive.Pages.Sessions.DevelopmentPracticesModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="DotNet" class="btn">.NET</a>
    <a asp-page="Accessibility" class="btn">Accessibility</a>
    <a asp-page="Agile" class="btn">Agile</a>
    <a asp-page="Android" class="btn">Android</a>
    <a asp-page="Architecture" class="btn">Architecture</a>
    <a asp-page="ArtificialIntelligence" class="btn">Artificial Intelligence</a>
    <a asp-page="ASPNET" class="btn">ASP.NET</a>
    <a asp-page="AWS" class="btn">AWS</a>
    <a asp-page="Azure" class="btn">Azure</a>
    <a asp-page="BigData" class="btn">Big Data</a>
    <a asp-page="Cloud" class="btn">Cloud</a>
    <a asp-page="Container" class="btn">Container</a>
    <a asp-page="ContinuousDelivery" class="btn">Continuous Delivery</a>
    <a asp-page="CrossPlatform" class="btn">Cross-Platform</a>
    <a asp-page="Data" class="btn">Data</a>
    <a asp-page="Database" class="btn">Database</a>
    <a asp-page="DeepLearning" class="btn">Deep Learning</a>
    <a asp-page="Design" class="btn">Design (UI/UX/CSS)</a>
    <a asp-page="DevelopmentPractices" class="btn btn-info">Development Practices</a>
    <a asp-page="DevOps" class="btn">DevOps</a>
    <a asp-page="Docker" class="btn">Docker</a>
    <a asp-page="Fun" class="btn">Fun</a>
    <a asp-page="FunctionalProgramming" class="btn">Functional Programming</a>
    <a asp-page="Google" class="btn">Google</a>
    <a asp-page="GoogleCloud" class="btn">Google Cloud</a>
    <a asp-page="Hardware" class="btn">Hardware</a>
    <a asp-page="iOS" class="btn">iOS</a>
    <a asp-page="IoT" class="btn">IoT</a>
    <a asp-page="Java" class="btn">Java</a>
    <a asp-page="JavaScript" class="btn">JavaScript</a>
    <a asp-page="Kotlin" class="btn">Kotlin</a>
    <a asp-page="Kubernetes" class="btn">Kubernetes</a>
    <a asp-page="MachineLearning" class="btn">Machine Learning</a>
    <a asp-page="Microservices" class="btn">Microservices</a>
    <a asp-page="Microsoft" class="btn">Microsoft</a>
    <a asp-page="Mobile" class="btn">Mobile</a>
    <a asp-page="NoSQL" class="btn">NoSQL</a>
    <a asp-page="Other" class="btn">Other</a>
    <a asp-page="People" class="btn">People</a>
    <a asp-page="Performance" class="btn">Performance</a>
    <a asp-page="ProjectManagement" class="btn">Project Management</a>
    <a asp-page="Python" class="btn">Python</a>
    <a asp-page="QualityAssurance" class="btn">Quality Assurance</a>
    <a asp-page="Requirements" class="btn">Requirements</a>
    <a asp-page="Security" class="btn">Security</a>
    <a asp-page="Serverless" class="btn">Serverless</a>
    <a asp-page="SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="SQL" class="btn">SQL</a>
    <a asp-page="Testing" class="btn">Testing</a>
    <a asp-page="Tools" class="btn">Tools</a>
    <a asp-page="UI" class="btn">UI</a>
    <a asp-page="UX" class="btn">UX</a>
    <a asp-page="VR" class="btn">VR</a>
    <a asp-page="Web" class="btn">Web</a>
    <a asp-page="WebAssembly" class="btn">Web Assembly</a>
    <a asp-page="WebServices" class="btn">Web Services</a>
    <a asp-page="Windows" class="btn">Windows</a>
    <a asp-page="WorkSkills" class="btn">Work Skills</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1656/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1656.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1656/Index">
      <h3>Building a secure user authentication story</h3>
       </a>
      <p>Data breaches are inevitable.  We should build our applications under the assumption that it's only a matter of time before our data is breached.  In this session, we'll cover some techniques and best practices for handling user authentication in a secure manner, along with covering proper user flow...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1661/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1661.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1661/Index">
      <h3>Containerization For Software Developers</h3>
       </a>
      <p>The end is nigh. Your application is almost ready and you will need to deploy it. And with the deployment, the endless tweaking to actually get everything running in a production environment. If only there was a way to test everything in that environment first… This is where containers will come in ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1689/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1689.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1689/Index">
      <h3>Modular Monoliths Are The New Microservices</h3>
       </a>
      <p>We've finally reached the trough of disillusionment on Microservices, and people have realized that they are not Magic, nor are they easy. Most of the supposed "benefits" of Microservices can achieved without that added complexity though. Let's discuss some strategies for how you can design your app...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1695/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1695.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1695/Index">
      <h3>Event Driven Architecture with Quarkus, Kafka, and Kubernetes</h3>
       </a>
      <p>Event Driven Architectures are distributed, asynchronous, and scalable.  The rise of real time decision making, the on-demand economy, explosion of data, and the adoption of microservices have all driven the adoption of event driven architectures.

Event Driven code is reactive by nature and signifi...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1714/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1714.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1714/Index">
      <h3>A11y with React Components.</h3>
       </a>
      <p>React is a tool. Used improperly it can be an inaccessible nightmare. Leveraged wisely it can give you the confidence that components are being implemented in an accessible way. During this talk, I will go through techniques and strategies to make your React Components more accessible....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1718/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1718.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1718/Index">
      <h3>Example Mapping: The New Three Amigos [Half-Day Workshop]</h3>
       </a>
      <p>Example Mapping is a collaborative technique to help refine requirements using business rules and examples as executable specifications....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1727/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1727.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1727/Index">
      <h3>Spot the Bug</h3>
       </a>
      <p>Spot the Bug is a fun approach to learning some basic design techniques and guidelines. Quite often developers grow in their craft by repeating code patterns that exist in a code base, without fully understanding why those patterns exist. Other times, language constructs have been created to solve s...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1734/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1734.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1734/Index">
      <h3>TDD Is My Shame</h3>
       </a>
      <p>"I don't do as much Test-Driven Development as I should; it's my shame."

The more time I spend at recent development conferences, the more I see this sentiment echoed. Developers get the impression that they *should* do TDD, but they don't.

Sometimes they don't know how to do it effectively, so it...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1751/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1751.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1751/Index">
      <h3>Soft Skills +Group Dynamics + Communication Skills = Productive Team Projects [Half-Day Workshop]</h3>
       </a>
      <p>Attendees will discover the influence of communications places into action while using your everyday people skills, added with a unique style of active listening.

This is ideal for individuals who have Teams working in the areas of Software Engineering, Programming and DevOps.

•The approach derive...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1754/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1754.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1754/Index">
      <h3>The Smallest Thing that's Helpful</h3>
       </a>
      <p>The Requirements ask for the world.  But you can't go out and build the world all at once.

You have to build small things, one at a time.

In this talk we'll discuss how to identify and document what the 'small things' are?  We'll show the benefits of getting something built and in front of the dec...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1766/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1766.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1766/Index">
      <h3>Leveling Up: Dependency Injection in .NET [Full-Day Workshop]</h3>
       </a>
      <p>Loosely coupled code is easier to maintain, extend, and test. Dependency Injection (DI) help us get there. In this workshop, we'll see how interfaces can add "seams" to our code that makes it more flexible and maintainable. From there, we'll dig into loose coupling with Dependency Injection. DI does...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
