@page
@model CPL20Archive.Pages.Sessions.DotNetModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="DotNet" class="btn btn-info">.NET</a>
    <a asp-page="Accessibility" class="btn">Accessibility</a>
    <a asp-page="Agile" class="btn">Agile</a>
    <a asp-page="Android" class="btn">Android</a>
    <a asp-page="Architecture" class="btn">Architecture</a>
    <a asp-page="ArtificialIntelligence" class="btn">Artificial Intelligence</a>
    <a asp-page="ASPNET" class="btn">ASP.NET</a>
    <a asp-page="AWS" class="btn">AWS</a>
    <a asp-page="Azure" class="btn">Azure</a>
    <a asp-page="BigData" class="btn">Big Data</a>
    <a asp-page="Cloud" class="btn">Cloud</a>
    <a asp-page="Container" class="btn">Container</a>
    <a asp-page="ContinuousDelivery" class="btn">Continuous Delivery</a>
    <a asp-page="CrossPlatform" class="btn">Cross-Platform</a>
    <a asp-page="Data" class="btn">Data</a>
    <a asp-page="Database" class="btn">Database</a>
    <a asp-page="DeepLearning" class="btn">Deep Learning</a>
    <a asp-page="Design" class="btn">Design (UI/UX/CSS)</a>
    <a asp-page="DevelopmentPractices" class="btn">Development Practices</a>
    <a asp-page="DevOps" class="btn">DevOps</a>
    <a asp-page="Docker" class="btn">Docker</a>
    <a asp-page="Fun" class="btn">Fun</a>
    <a asp-page="FunctionalProgramming" class="btn">Functional Programming</a>
    <a asp-page="Google" class="btn">Google</a>
    <a asp-page="GoogleCloud" class="btn">Google Cloud</a>
    <a asp-page="Hardware" class="btn">Hardware</a>
    <a asp-page="iOS" class="btn">iOS</a>
    <a asp-page="IoT" class="btn">IoT</a>
    <a asp-page="Java" class="btn">Java</a>
    <a asp-page="JavaScript" class="btn">JavaScript</a>
    <a asp-page="Kotlin" class="btn">Kotlin</a>
    <a asp-page="Kubernetes" class="btn">Kubernetes</a>
    <a asp-page="MachineLearning" class="btn">Machine Learning</a>
    <a asp-page="Microservices" class="btn">Microservices</a>
    <a asp-page="Microsoft" class="btn">Microsoft</a>
    <a asp-page="Mobile" class="btn">Mobile</a>
    <a asp-page="NoSQL" class="btn">NoSQL</a>
    <a asp-page="Other" class="btn">Other</a>
    <a asp-page="People" class="btn">People</a>
    <a asp-page="Performance" class="btn">Performance</a>
    <a asp-page="ProjectManagement" class="btn">Project Management</a>
    <a asp-page="Python" class="btn">Python</a>
    <a asp-page="QualityAssurance" class="btn">Quality Assurance</a>
    <a asp-page="Requirements" class="btn">Requirements</a>
    <a asp-page="Security" class="btn">Security</a>
    <a asp-page="Serverless" class="btn">Serverless</a>
    <a asp-page="SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="SQL" class="btn">SQL</a>
    <a asp-page="Testing" class="btn">Testing</a>
    <a asp-page="Tools" class="btn">Tools</a>
    <a asp-page="UI" class="btn">UI</a>
    <a asp-page="UX" class="btn">UX</a>
    <a asp-page="VR" class="btn">VR</a>
    <a asp-page="Web" class="btn">Web</a>
    <a asp-page="WebAssembly" class="btn">Web Assembly</a>
    <a asp-page="WebServices" class="btn">Web Services</a>
    <a asp-page="Windows" class="btn">Windows</a>
    <a asp-page="WorkSkills" class="btn">Work Skills</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1657/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1657.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1657/Index">
      <h3>Developing and deploying your first ASP.NET Core Microservice to Kubernetes</h3>
       </a>
      <p>Are you frustrated with your monolith or exploring a microservices architecture pattern for your next application? Kubernetes offers orchestration and tooling to make it easier to build and deploy an elastic, self-healing microservice system. In this session, we’ll build a single microservice with A...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1669/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1669.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1669/Index">
      <h3>Unit-Testing With Ease</h3>
       </a>
      <p>Do you want to skip all the setup ceremony and get straight to the actual testing when writing unit tests? Leveraging dependency injection and IoC makes it a breeze to build solutions that are modular and testable, but building out those dependency chains in our unit tests can leave them cluttered a...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1670/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1670.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1670/Index">
      <h3>From Developed to Published - My Story Launching an Open Source Library</h3>
       </a>
      <p>Open Source is hard, sharing code isn't enough these days, you need to make it easy for others to consume. I had an idea and was excited to give back after years of standing on other's shoulders. I wrote the code and shared it on GitHub, now what? I realized I needed to get it packaged and pushed to...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1698/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1698.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1698/Index">
      <h3>Men from Mars, Women from Venus: both can code .NET in Jupyter</h3>
       </a>
      <p>Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. Attend this session and learn how you can write .NET code in Jupyter Notebooks and fall in love with .NET all over again...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1699/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1699.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1699/Index">
      <h3>Developing Spidey Senses : Anomaly Detection for apps</h3>
       </a>
      <p>Anomaly detection is the process of identifying unexpected items or events in data sets. It’s about detecting the deviation from expected pattern of a dataset. It’s like having “spidey senses” for your apps that can detect when there’s danger or something is not right. Attend this session and learn ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1712/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1712.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1712/Index">
      <h3>Let’s code a drone to follow faces! Using AI, Python, containers and more.</h3>
       </a>
      <p>You can control a drone using 20 lines of code. That’s the easy part. However, adding extra features like face or object detection and program the drone to follow and object or a face requires … another 20 lines of code!
During this workshop we will review how to connect to a drone, how to send and ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1724/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1724.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1724/Index">
      <h3>What’s new in Xamarin.Forms!</h3>
       </a>
      <p>Xamarin.Forms has come a long way, enabling developers to build truly native & truly cross-platform apps across various platforms. The latest Xamarin.Forms 4.x release is here – ready with increased productivity for developers, matured tooling and easy code sharing across platforms. Let’s do a whirl...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1726/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1726.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1726/Index">
      <h3>Functional Programming Techniques in C#</h3>
       </a>
      <p>Over the years C# has adopted language features that allow developers to solve problems using functional programming techniques. Functional programming can seem complex and confusing to object oriented developers, making it difficult to take advantage of the functional features of C#.  It's also not...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1727/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1727.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1727/Index">
      <h3>Spot the Bug</h3>
       </a>
      <p>Spot the Bug is a fun approach to learning some basic design techniques and guidelines. Quite often developers grow in their craft by repeating code patterns that exist in a code base, without fully understanding why those patterns exist. Other times, language constructs have been created to solve s...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1744/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1744.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1744/Index">
      <h3>Single Page Architectures with VueJS and ASP.NET Core</h3>
       </a>
      <p>If you have been an ASP.NET developer for any period of time, you have probably made the jump from Web Forms to Razor and now you're eyeing the jump to supporting Single Page Applications within ASP.NET.  This is not for the faint of heart, because the process is radically different from anything yo...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1745/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1745.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1745/Index">
      <h3>Better Object Mapping in .NET with Dapper</h3>
       </a>
      <p>When people talk about using ORMs (Object Relational Mappers) like Entity Framework or nHibernate in their projects, they common are only looking for one fundamental feature: the ability to map SQL output to C# object. Large ORM-based solutions add additional complexity, and black-box much of what i...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1746/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1746.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1746/Index">
      <h3>Secrets of a Blazor Component Artisan</h3>
       </a>
      <p>In this session we'll jump past hello world and focus on Blazor's Razor Component architecture. We'll learn component design concepts and best practices including: event handling, attribute splatting, state management, and component libraries. Through example we'll understand the tools and technique...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1747/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1747.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1747/Index">
      <h3>Writing JavaScript for C#'s Blazor</h3>
       </a>
      <p>Running C# in the browser with the Blazor framework needs JavaScript libraries to be successful. In this session well explore the JavaScript Interop for Blazor to see where great libraries can accelerate the platform. We'll learn how you can play a critical role in building a rich ecosystem and exte...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1752/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1752.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1752/Index">
      <h3>Build a Data Pipeline in the cloud for Bird Recognition</h3>
       </a>
      <p>Build a cloud data pipeline to enable bird recognition from streaming video and provide descriptive information about the birds. The architecture will take live streaming video and use lambda functions to initiate image recognition, data mapping, and display the information on a webpage. This projec...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1755/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1755.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1755/Index">
      <h3>Going Container-less with Service Fabric and .NET</h3>
       </a>
      <p>In this session, you'll learn how Service Fabric can facilitate the migration of an existing on-premise, monolithic, Windows/.NET codebase to a micro-service architecture, without the need to adopt Linux or containers in the process. 

Let .NET developers do what they do best, and let Service Fabric...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1757/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1757.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1757/Index">
      <h3>Demystifying the .NET Runtime</h3>
       </a>
      <p>While most .NET developers know that .NET is an interpreted language, have you ever thought about what that really means? If the language is compiled to an intermediate language (literally called "Microsoft Intermediate Language" or MSIL) and run on a VM, how have they added more features to the lan...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1759/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1759.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1759/Index">
      <h3>Optimize Your .Net Azure App Services</h3>
       </a>
      <p>Azure App Services are basically the de facto standard as the best possible way to deploy and host a .Net Framework or .Net Core application, period. You can argue with me until you are blue in the face about other hosting methods or platforms, but you would still be wrong. 

However, utilizing an A...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1765/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1765.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1765/Index">
      <h3>I'll Get Back to You: Task, Await, and Asynchronous Methods in C#</h3>
       </a>
      <p>There's a lot of confusion about async/await, Task/TPL, and asynchronous and parallel programming in general. So let's start with the basics and look at how we can consume asynchronous methods using Task and then see how the "await" operator can makes things easier for us. Along the way, we’ll look ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1766/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1766.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1766/Index">
      <h3>Leveling Up: Dependency Injection in .NET [Full-Day Workshop]</h3>
       </a>
      <p>Loosely coupled code is easier to maintain, extend, and test. Dependency Injection (DI) help us get there. In this workshop, we'll see how interfaces can add "seams" to our code that makes it more flexible and maintainable. From there, we'll dig into loose coupling with Dependency Injection. DI does...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1767/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1767.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1767/Index">
      <h3>Migrate it!</h3>
       </a>
      <p>Do you have an "old" .NET Framework App?  Let's see how we can port it, migrate it, and/or upgrade it to us a combination of .NET Core and .NET Standard to modernize it....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1779/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1779.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1779/Index">
      <h3>Develop an ASP.NET Core 3 App with EF Core in a Day HOL [Full-Day Workshop]</h3>
       </a>
      <p>Interested in ASP.NET Core 3.x and Entity Framework Core 3.x, but not sure where to start? Start here with an all day Hands on Lab where you will build a complete solution using the latest development technology from Microsoft. You will build a data access library using Entity Framework Core, comple...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1792/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1792.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1792/Index">
      <h3>Augmented reality and mobile: Now, the two worlds collided</h3>
       </a>
      <p>Augmented and virtual realities are getting increasingly more popular not only among developers, but also consumers. Now we can add those technologies to web and mobile applications.
Augmented reality mobile applications can be used in a wide variety of projects, no matter if it’s for healthcare, ga...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1800/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1800.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1800/Index">
      <h3>Machine Learning for .NET Folks Without (or With!) a Ph.D.</h3>
       </a>
      <p>The modern world has already been impacted by machine learning and will continue to be impacted even more.  It is critical that more software developers have access to this skill.  With ML.NET, .NET developers are not left out!  ML.NET is an open-source and cross platform framework to train custom m...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
