@page
@model CPL20Archive.Pages.Sessions.FunModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="DotNet" class="btn">.NET</a>
    <a asp-page="Accessibility" class="btn">Accessibility</a>
    <a asp-page="Agile" class="btn">Agile</a>
    <a asp-page="Android" class="btn">Android</a>
    <a asp-page="Architecture" class="btn">Architecture</a>
    <a asp-page="ArtificialIntelligence" class="btn">Artificial Intelligence</a>
    <a asp-page="ASPNET" class="btn">ASP.NET</a>
    <a asp-page="AWS" class="btn">AWS</a>
    <a asp-page="Azure" class="btn">Azure</a>
    <a asp-page="BigData" class="btn">Big Data</a>
    <a asp-page="Cloud" class="btn">Cloud</a>
    <a asp-page="Container" class="btn">Container</a>
    <a asp-page="ContinuousDelivery" class="btn">Continuous Delivery</a>
    <a asp-page="CrossPlatform" class="btn">Cross-Platform</a>
    <a asp-page="Data" class="btn">Data</a>
    <a asp-page="Database" class="btn">Database</a>
    <a asp-page="DeepLearning" class="btn">Deep Learning</a>
    <a asp-page="Design" class="btn">Design (UI/UX/CSS)</a>
    <a asp-page="DevelopmentPractices" class="btn">Development Practices</a>
    <a asp-page="DevOps" class="btn">DevOps</a>
    <a asp-page="Docker" class="btn">Docker</a>
    <a asp-page="Fun" class="btn btn-info">Fun</a>
    <a asp-page="FunctionalProgramming" class="btn">Functional Programming</a>
    <a asp-page="Google" class="btn">Google</a>
    <a asp-page="GoogleCloud" class="btn">Google Cloud</a>
    <a asp-page="Hardware" class="btn">Hardware</a>
    <a asp-page="iOS" class="btn">iOS</a>
    <a asp-page="IoT" class="btn">IoT</a>
    <a asp-page="Java" class="btn">Java</a>
    <a asp-page="JavaScript" class="btn">JavaScript</a>
    <a asp-page="Kotlin" class="btn">Kotlin</a>
    <a asp-page="Kubernetes" class="btn">Kubernetes</a>
    <a asp-page="MachineLearning" class="btn">Machine Learning</a>
    <a asp-page="Microservices" class="btn">Microservices</a>
    <a asp-page="Microsoft" class="btn">Microsoft</a>
    <a asp-page="Mobile" class="btn">Mobile</a>
    <a asp-page="NoSQL" class="btn">NoSQL</a>
    <a asp-page="Other" class="btn">Other</a>
    <a asp-page="People" class="btn">People</a>
    <a asp-page="Performance" class="btn">Performance</a>
    <a asp-page="ProjectManagement" class="btn">Project Management</a>
    <a asp-page="Python" class="btn">Python</a>
    <a asp-page="QualityAssurance" class="btn">Quality Assurance</a>
    <a asp-page="Requirements" class="btn">Requirements</a>
    <a asp-page="Security" class="btn">Security</a>
    <a asp-page="Serverless" class="btn">Serverless</a>
    <a asp-page="SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="SQL" class="btn">SQL</a>
    <a asp-page="Testing" class="btn">Testing</a>
    <a asp-page="Tools" class="btn">Tools</a>
    <a asp-page="UI" class="btn">UI</a>
    <a asp-page="UX" class="btn">UX</a>
    <a asp-page="VR" class="btn">VR</a>
    <a asp-page="Web" class="btn">Web</a>
    <a asp-page="WebAssembly" class="btn">Web Assembly</a>
    <a asp-page="WebServices" class="btn">Web Services</a>
    <a asp-page="Windows" class="btn">Windows</a>
    <a asp-page="WorkSkills" class="btn">Work Skills</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1662/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1662.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1662/Index">
      <h3>My Browser Does What?</h3>
       </a>
      <p>The Web evolves quickly. We are far away from the days of Marquees and Blink. But learning the latest features of the latest ECMAScript implementation or the newest PHP framework isn’t everything. New Web APIs are constantly added to the browser. Did you know that your browser can process audio feed...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1671/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1671.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1671/Index">
      <h3>Animation for the Web: Giving Life to your SVGs</h3>
       </a>
      <p>Have you ever seen an animated SVG on a site and thought, "That is so cool; how did they do that," or, "This is super distracting," this talk is for you. Learn the best times to use animation, as well as libraries and tools you can implement to make your animation the best it can be....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1694/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1694.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1694/Index">
      <h3>A Crash Course on 3D Printing [Half-Day Workshop]</h3>
       </a>
      <p>3D printing has been around for years, but it's easier than ever to get started, and surprisingly affordable.

If you've been thinking about buying a 3D printer, but weren't sure how to get started, this session is for you! We'll cover how to choose your first 3D printer, whether your budget is big ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1704/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1704.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1704/Index">
      <h3>Agile Improv</h3>
       </a>
      <p>Improv comedy is not at all different from the Agile methodology. It's all about learning to love the "yes", trusting your team, and building on what's already there. 
In this sessions. you'll:
• learn the rules of improv comedy
• apply them to agile development
• have fun...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1737/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1737.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1737/Index">
      <h3>Understanding Probabilistic Data Structures with 112,092 UFO Sightings</h3>
       </a>
      <p>There are three reactions to the title of this talk:

- What the heck’s a probabilistic data structure?
- UFO Sightings… wha?
- 112,092 is an oddly specific number.

This is a talk about the first bullet point with the second thrown in just for fun. I like weird stuff—UFOs, Bigfoot, peanut butter an...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1738/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1738.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1738/Index">
      <h3>Dungeons, Dragons, and Graph Databases</h3>
       </a>
      <p>Are you an adventurer? Do you want gold? Experience? Levels? Of course you do! And where do you get these things? The dungeon, where else? That wonderful container of all things adventurous! But, unfortunately, dungeons aren't setup for the convenience of adventurers who wish to extract these fine t...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1739/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1739.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1739/Index">
      <h3>Gotcha Where I Want 'Cha : Building a React Native App with a GraphQL API [Full-Day Workshop]</h3>
       </a>
      <p>The majority of mobile applications need to use a backend API to connect it's users to it's services.

Building these types of applications often involves seperate developers, one for the frontend mobile code and one for the backend server code. The hand-off point for the API needs to handled delica...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1740/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1740.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1740/Index">
      <h3>Let’s build a home security system with a Raspberry PI, existing ADT wiring and a splash of Azure</h3>
       </a>
      <p>My house came pre-wired with a full-blown ADT home security system that the prior owner was paying $50 a month to maintain. I ditched the contract but wanted to explore rolling my own system for funsies. In this talk I’ll take you step by step through exactly what I did to reverse engineer the syste...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1749/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1749.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1749/Index">
      <h3>Getting to the Heart of the Matter</h3>
       </a>
      <p>In this session, we will explore the 5 Whys technique. This is a simple but powerful tool for cutting quickly through the outward symptoms of a problem to reveal its underlying causes....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1751/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1751.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1751/Index">
      <h3>Soft Skills +Group Dynamics + Communication Skills = Productive Team Projects [Half-Day Workshop]</h3>
       </a>
      <p>Attendees will discover the influence of communications places into action while using your everyday people skills, added with a unique style of active listening.

This is ideal for individuals who have Teams working in the areas of Software Engineering, Programming and DevOps.

•The approach derive...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
