@page
@model CPL20Archive.Pages.Sessions.JavaScriptModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="DotNet" class="btn">.NET</a>
    <a asp-page="Accessibility" class="btn">Accessibility</a>
    <a asp-page="Agile" class="btn">Agile</a>
    <a asp-page="Android" class="btn">Android</a>
    <a asp-page="Architecture" class="btn">Architecture</a>
    <a asp-page="ArtificialIntelligence" class="btn">Artificial Intelligence</a>
    <a asp-page="ASPNET" class="btn">ASP.NET</a>
    <a asp-page="AWS" class="btn">AWS</a>
    <a asp-page="Azure" class="btn">Azure</a>
    <a asp-page="BigData" class="btn">Big Data</a>
    <a asp-page="Cloud" class="btn">Cloud</a>
    <a asp-page="Container" class="btn">Container</a>
    <a asp-page="ContinuousDelivery" class="btn">Continuous Delivery</a>
    <a asp-page="CrossPlatform" class="btn">Cross-Platform</a>
    <a asp-page="Data" class="btn">Data</a>
    <a asp-page="Database" class="btn">Database</a>
    <a asp-page="DeepLearning" class="btn">Deep Learning</a>
    <a asp-page="Design" class="btn">Design (UI/UX/CSS)</a>
    <a asp-page="DevelopmentPractices" class="btn">Development Practices</a>
    <a asp-page="DevOps" class="btn">DevOps</a>
    <a asp-page="Docker" class="btn">Docker</a>
    <a asp-page="Fun" class="btn">Fun</a>
    <a asp-page="FunctionalProgramming" class="btn">Functional Programming</a>
    <a asp-page="Google" class="btn">Google</a>
    <a asp-page="GoogleCloud" class="btn">Google Cloud</a>
    <a asp-page="Hardware" class="btn">Hardware</a>
    <a asp-page="iOS" class="btn">iOS</a>
    <a asp-page="IoT" class="btn">IoT</a>
    <a asp-page="Java" class="btn">Java</a>
    <a asp-page="JavaScript" class="btn btn-info">JavaScript</a>
    <a asp-page="Kotlin" class="btn">Kotlin</a>
    <a asp-page="Kubernetes" class="btn">Kubernetes</a>
    <a asp-page="MachineLearning" class="btn">Machine Learning</a>
    <a asp-page="Microservices" class="btn">Microservices</a>
    <a asp-page="Microsoft" class="btn">Microsoft</a>
    <a asp-page="Mobile" class="btn">Mobile</a>
    <a asp-page="NoSQL" class="btn">NoSQL</a>
    <a asp-page="Other" class="btn">Other</a>
    <a asp-page="People" class="btn">People</a>
    <a asp-page="Performance" class="btn">Performance</a>
    <a asp-page="ProjectManagement" class="btn">Project Management</a>
    <a asp-page="Python" class="btn">Python</a>
    <a asp-page="QualityAssurance" class="btn">Quality Assurance</a>
    <a asp-page="Requirements" class="btn">Requirements</a>
    <a asp-page="Security" class="btn">Security</a>
    <a asp-page="Serverless" class="btn">Serverless</a>
    <a asp-page="SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="SQL" class="btn">SQL</a>
    <a asp-page="Testing" class="btn">Testing</a>
    <a asp-page="Tools" class="btn">Tools</a>
    <a asp-page="UI" class="btn">UI</a>
    <a asp-page="UX" class="btn">UX</a>
    <a asp-page="VR" class="btn">VR</a>
    <a asp-page="Web" class="btn">Web</a>
    <a asp-page="WebAssembly" class="btn">Web Assembly</a>
    <a asp-page="WebServices" class="btn">Web Services</a>
    <a asp-page="Windows" class="btn">Windows</a>
    <a asp-page="WorkSkills" class="btn">Work Skills</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1655/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1655.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1655/Index">
      <h3>Kotlin All The Things!</h3>
       </a>
      <p>Kotlin is taking the development community by storm. Since Google announced they are officially partnering with JetBrains to support the language for Android development, mobile developers are flocking en masse. 

But what about everyone else? Good news - Kotlin is not just for mobile. In this talk,...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1659/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1659.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1659/Index">
      <h3>Yarn 2: a next generation package manager</h3>
       </a>
      <p>The recently released Yarn 2 brings a host of great new features for JavaScript developers. The slick new CLI, more readable output, clear errors, and significant enhancements to workspaces make Yarn 2 a solid upgrade from the already impressive Yarn 1. But with an incredible feature called Plug-n-P...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1662/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1662.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1662/Index">
      <h3>My Browser Does What?</h3>
       </a>
      <p>The Web evolves quickly. We are far away from the days of Marquees and Blink. But learning the latest features of the latest ECMAScript implementation or the newest PHP framework isn’t everything. New Web APIs are constantly added to the browser. Did you know that your browser can process audio feed...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1671/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1671.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1671/Index">
      <h3>Animation for the Web: Giving Life to your SVGs</h3>
       </a>
      <p>Have you ever seen an animated SVG on a site and thought, "That is so cool; how did they do that," or, "This is super distracting," this talk is for you. Learn the best times to use animation, as well as libraries and tools you can implement to make your animation the best it can be....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1683/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1683.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1683/Index">
      <h3>Building Your First Voice Experience with Alexa [Half-Day Workshop]</h3>
       </a>
      <p>This workshop will dive right in to getting you set up and started building a voice-based experience with Alexa.  You will leave this session with a working Alexa skill that you can customize and publish as your own.

We will cover topics around voice design best practices, voice interactions, persi...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1709/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1709.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1709/Index">
      <h3>Mock It 'til You Make It</h3>
       </a>
      <p>Let's automate the tedious task of building mocked query resolvers so that you never have to manually set up mocks for loading, error, no data, or default value states ever again! We'll learn how to use GraphQL and Apollo in a React application to build providers that will dynamically auto mock all ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1714/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1714.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1714/Index">
      <h3>A11y with React Components.</h3>
       </a>
      <p>React is a tool. Used improperly it can be an inaccessible nightmare. Leveraged wisely it can give you the confidence that components are being implemented in an accessible way. During this talk, I will go through techniques and strategies to make your React Components more accessible....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1715/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1715.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1715/Index">
      <h3>Contextual Data Management in React.</h3>
       </a>
      <p>Managing data is hard, and opinions vary wildly. Should things be localized? Should data be passed up to a global Redux store? During this presentation I will go through the different types of data and provide recommendations on how to manage each....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1721/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1721.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1721/Index">
      <h3>How to Render Twenty Thousand Rows without Crashing Chrome</h3>
       </a>
      <p>If you have say twenty thousand rows to render, you probably don’t want to fetch all that data at once and you especially don’t want to render all those rows on page load.   This talk is about how to render only the rows you need and how to just-in-time load data for those rows.

On the frontend,  t...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1730/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1730.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1730/Index">
      <h3>Intro to Blockchain with Algorand</h3>
       </a>
      <p>Algorand is a new blockchain built on a Permissionless, pure proof of stake, decentralized agreement protocol, where anyone can participate and requires minimal computational power. This protocol finalizes transactions very quickly and offers true decentralization.
Algorand 2.0 is an exciting releas...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1739/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1739.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1739/Index">
      <h3>Gotcha Where I Want 'Cha : Building a React Native App with a GraphQL API [Full-Day Workshop]</h3>
       </a>
      <p>The majority of mobile applications need to use a backend API to connect it's users to it's services.

Building these types of applications often involves seperate developers, one for the frontend mobile code and one for the backend server code. The hand-off point for the API needs to handled delica...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1744/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1744.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1744/Index">
      <h3>Single Page Architectures with VueJS and ASP.NET Core</h3>
       </a>
      <p>If you have been an ASP.NET developer for any period of time, you have probably made the jump from Web Forms to Razor and now you're eyeing the jump to supporting Single Page Applications within ASP.NET.  This is not for the faint of heart, because the process is radically different from anything yo...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1747/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1747.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1747/Index">
      <h3>Writing JavaScript for C#'s Blazor</h3>
       </a>
      <p>Running C# in the browser with the Blazor framework needs JavaScript libraries to be successful. In this session well explore the JavaScript Interop for Blazor to see where great libraries can accelerate the platform. We'll learn how you can play a critical role in building a rich ecosystem and exte...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1768/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1768.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1768/Index">
      <h3>TypeScript - Beyond the Basics</h3>
       </a>
      <p>TypeScript enables web developers to improve the clarity and reliability of their code. It also enables more powerful tools for writing code. This led to its rapid rise in popularity. But what can it do for you beyond just adding types to your variables and parameters? In this talk, we look at some ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1799/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1799.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1799/Index">
      <h3>Hands On Deep Learning for JavaScript Folks without (or with!) a Ph.D. [Half-Day Workshop]</h3>
       </a>
      <p>One of the hottest trends in the industry is artificial intelligence. And web developers are not going to be left out! This workshop introduces attendees to TensorFlow.js. Inspired by the high level Keras library included with Google's popular TensorFlow machine learning platform, TensorFlow.js make...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
