@page
@model CPL20Archive.Pages.Sessions.OtherModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="DotNet" class="btn">.NET</a>
    <a asp-page="Accessibility" class="btn">Accessibility</a>
    <a asp-page="Agile" class="btn">Agile</a>
    <a asp-page="Android" class="btn">Android</a>
    <a asp-page="Architecture" class="btn">Architecture</a>
    <a asp-page="ArtificialIntelligence" class="btn">Artificial Intelligence</a>
    <a asp-page="ASPNET" class="btn">ASP.NET</a>
    <a asp-page="AWS" class="btn">AWS</a>
    <a asp-page="Azure" class="btn">Azure</a>
    <a asp-page="BigData" class="btn">Big Data</a>
    <a asp-page="Cloud" class="btn">Cloud</a>
    <a asp-page="Container" class="btn">Container</a>
    <a asp-page="ContinuousDelivery" class="btn">Continuous Delivery</a>
    <a asp-page="CrossPlatform" class="btn">Cross-Platform</a>
    <a asp-page="Data" class="btn">Data</a>
    <a asp-page="Database" class="btn">Database</a>
    <a asp-page="DeepLearning" class="btn">Deep Learning</a>
    <a asp-page="Design" class="btn">Design (UI/UX/CSS)</a>
    <a asp-page="DevelopmentPractices" class="btn">Development Practices</a>
    <a asp-page="DevOps" class="btn">DevOps</a>
    <a asp-page="Docker" class="btn">Docker</a>
    <a asp-page="Fun" class="btn">Fun</a>
    <a asp-page="FunctionalProgramming" class="btn">Functional Programming</a>
    <a asp-page="Google" class="btn">Google</a>
    <a asp-page="GoogleCloud" class="btn">Google Cloud</a>
    <a asp-page="Hardware" class="btn">Hardware</a>
    <a asp-page="iOS" class="btn">iOS</a>
    <a asp-page="IoT" class="btn">IoT</a>
    <a asp-page="Java" class="btn">Java</a>
    <a asp-page="JavaScript" class="btn">JavaScript</a>
    <a asp-page="Kotlin" class="btn">Kotlin</a>
    <a asp-page="Kubernetes" class="btn">Kubernetes</a>
    <a asp-page="MachineLearning" class="btn">Machine Learning</a>
    <a asp-page="Microservices" class="btn">Microservices</a>
    <a asp-page="Microsoft" class="btn">Microsoft</a>
    <a asp-page="Mobile" class="btn">Mobile</a>
    <a asp-page="NoSQL" class="btn">NoSQL</a>
    <a asp-page="Other" class="btn btn-info">Other</a>
    <a asp-page="People" class="btn">People</a>
    <a asp-page="Performance" class="btn">Performance</a>
    <a asp-page="ProjectManagement" class="btn">Project Management</a>
    <a asp-page="Python" class="btn">Python</a>
    <a asp-page="QualityAssurance" class="btn">Quality Assurance</a>
    <a asp-page="Requirements" class="btn">Requirements</a>
    <a asp-page="Security" class="btn">Security</a>
    <a asp-page="Serverless" class="btn">Serverless</a>
    <a asp-page="SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="SQL" class="btn">SQL</a>
    <a asp-page="Testing" class="btn">Testing</a>
    <a asp-page="Tools" class="btn">Tools</a>
    <a asp-page="UI" class="btn">UI</a>
    <a asp-page="UX" class="btn">UX</a>
    <a asp-page="VR" class="btn">VR</a>
    <a asp-page="Web" class="btn">Web</a>
    <a asp-page="WebAssembly" class="btn">Web Assembly</a>
    <a asp-page="WebServices" class="btn">Web Services</a>
    <a asp-page="Windows" class="btn">Windows</a>
    <a asp-page="WorkSkills" class="btn">Work Skills</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1655/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1655.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1655/Index">
      <h3>Kotlin All The Things!</h3>
       </a>
      <p>Kotlin is taking the development community by storm. Since Google announced they are officially partnering with JetBrains to support the language for Android development, mobile developers are flocking en masse. 

But what about everyone else? Good news - Kotlin is not just for mobile. In this talk,...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1730/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1730.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1730/Index">
      <h3>Intro to Blockchain with Algorand</h3>
       </a>
      <p>Algorand is a new blockchain built on a Permissionless, pure proof of stake, decentralized agreement protocol, where anyone can participate and requires minimal computational power. This protocol finalizes transactions very quickly and offers true decentralization.
Algorand 2.0 is an exciting releas...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1737/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1737.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1737/Index">
      <h3>Understanding Probabilistic Data Structures with 112,092 UFO Sightings</h3>
       </a>
      <p>There are three reactions to the title of this talk:

- What the heck’s a probabilistic data structure?
- UFO Sightings… wha?
- 112,092 is an oddly specific number.

This is a talk about the first bullet point with the second thrown in just for fun. I like weird stuff—UFOs, Bigfoot, peanut butter an...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1751/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1751.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1751/Index">
      <h3>Soft Skills +Group Dynamics + Communication Skills = Productive Team Projects [Half-Day Workshop]</h3>
       </a>
      <p>Attendees will discover the influence of communications places into action while using your everyday people skills, added with a unique style of active listening.

This is ideal for individuals who have Teams working in the areas of Software Engineering, Programming and DevOps.

•The approach derive...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1769/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1769.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1769/Index">
      <h3>Knowing Your Limitations: The key to improving your software design decisions</h3>
       </a>
      <p>Two of the hardest challenges in software development are building the right thing and building the thing right. The first problem comes from a lack of understanding of what users want. The second comes from the fact that the complexities of software make it challenging to build high-quality applica...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1777/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1777.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1777/Index">
      <h3>What You Need to Know About Open Source—Trust Me, I'm a Lawyer</h3>
       </a>
      <p>Open source tools. We all use them. Whether an entire framework, a focused toolkit, or a simple custom component from GitHub, npm, or NuGet, the opportunity to improve our development speed while learning new things from open source projects is enticing.

But what does “open source” truly mean? What...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1794/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1794.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1794/Index">
      <h3>Business & Tech: A Communication Guide</h3>
       </a>
      <p>Development teams and business decision makers frequently conflict. Business people don’t always understand that without software, their companies wouldn’t make money. Developers don’t always realize that solving a problem requires more than the latest framework. Each group has different priorities....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
