@page
@model CPL20Archive.Pages.Sessions.Period2Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn btn-info">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1656/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1656.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1656/Index">
      <h3>Building a secure user authentication story</h3>
       </a>
      <p>Data breaches are inevitable.  We should build our applications under the assumption that it's only a matter of time before our data is breached.  In this session, we'll cover some techniques and best practices for handling user authentication in a secure manner, along with covering proper user flow...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1672/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1672.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1672/Index">
      <h3>From Tutus to Tech: Lessons Learned from Changing Careers</h3>
       </a>
      <p>What do ballet, music publicity and front end engineering have in common? More than you would think. Three years ago I didn’t know what a div was but I did know I needed a career change. I stumbled upon the tech world, enrolled in a bootcamp and haven’t looked back. 

Non-traditional paths are becom...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1681/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1681.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1681/Index">
      <h3>Secure your API! The OWASP API Security Top 10 and you</h3>
       </a>
      <p>The things you've done to secure your previous web apps might not be enough for your APIs. We'll review the OWASP API Security Top 10, reviewing the biggest risks and ways to mitigate them....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1684/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1684.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1684/Index">
      <h3>From Monolith to Serverless: Rethinking your Architecture</h3>
       </a>
      <p>It’s easy to understand the benefits of Serverless but it’s not always easy to understand how this will impact our software architecture.

In this talk we will deconstruct a set of requirements and walk through the architecture of both a traditional service-oriented architecture and a modern serverl...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1716/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1716.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1716/Index">
      <h3>Java, the non-Enterprise parts</h3>
       </a>
      <p>Java is a mature, Enterprise-ready language, right? Not when we're done with it! Buckle up and get ready for some things you should ONLY try at home. Up is down, left is right, comments are executable, identical things aren't equal, and "final" isn't as final as it seems. We'll explore these topics ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1719/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1719.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1719/Index">
      <h3>The Science of Testing</h3>
       </a>
      <p>Lessons learned from a career in research science can be applied to QA, with parallels to industry product quality models. ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1747/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1747.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1747/Index">
      <h3>Writing JavaScript for C#'s Blazor</h3>
       </a>
      <p>Running C# in the browser with the Blazor framework needs JavaScript libraries to be successful. In this session well explore the JavaScript Interop for Blazor to see where great libraries can accelerate the platform. We'll learn how you can play a critical role in building a rich ecosystem and exte...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1750/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1750.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1750/Index">
      <h3>This is the way; What the Mandalorian Taught Me About Agile Teams</h3>
       </a>
      <p>Is your team in a rut? Do you feel like the team  is spending too much time forming and storming instead of performing? High performing teams break out of traditional patterns that we can fall into.This session will show you core agility concepts exhibited in high-performing teams, based from the Ma...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1759/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1759.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1759/Index">
      <h3>Optimize Your .Net Azure App Services</h3>
       </a>
      <p>Azure App Services are basically the de facto standard as the best possible way to deploy and host a .Net Framework or .Net Core application, period. You can argue with me until you are blue in the face about other hosting methods or platforms, but you would still be wrong. 

However, utilizing an A...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1760/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1760.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1760/Index">
      <h3>Leadership for introverts</h3>
       </a>
      <p>Hello, my name is Alison and I'm an introvert. Groups of strangers make me nervous, parties exhaust me, and I'm scared of talking in public. Also, I run a team of over 40 people. This is how I do it and maintain my sanity. 

Being an introvert doesn't mean you're shy, anti-social, or awkward, but it...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1789/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1789.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1789/Index">
      <h3>The Art of Data DevOps with SSDT</h3>
       </a>
      <p>As software development cycles get shorter, database development is being forced adapt the same pace, so it’s increasingly important to be able to combine Agile practices with SQL Server database development. Learn how to take advantage of SQL Server Data Tools and Azure DevOps to enable rapid, iter...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1798/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1798.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1798/Index">
      <h3>Cross Platform Web App Development with ASP.NET Core</h3>
       </a>
      <p>Microsoft's ASP.NET web framework has been a powerful platform for building enterprise web applications. But ASP.NET is limited to Windows and Visual Studio. ASP.NET Core extended support beyond Windows, including macOS and Linux. In addition, a new cross-platform and open source development editor,...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
