@page
@model CPL20Archive.Pages.Sessions.Period1Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn btn-info">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1972/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1972.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1972/Index">
      <h3>Kloadgen: An empty Kafka is a sad Kafka</h3>
       </a>
      <p>In 2019 we found ourselves in a situation where we needed to produce a huge amount of data to be injected into a Kafka cluster so it can be consumed by an application and run a load testing. Data should follow a defined structure in AVRO format; and also should have certain values in order to follow...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1973/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1973.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1973/Index">
      <h3>Getting Started with Azure Command and Query</h3>
       </a>
      <p>So, you want to migrate to Azure? You’ve read the success stories, and you see the benefits yourself.

But just how do you get started? And how do you convince those who don’t see the benefits as you do?

In this talk, we will get started on the Azure development route. Using a site that communicate...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1974/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1974.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1974/Index">
      <h3>Silly baboons, stubborn elephants</h3>
       </a>
      <p>Have you ever found yourself stuck waiting 6 months for API to support a feature which needs to be ready in two weeks? Maybe spent weeks trying to figure out how to make a feature work while dealing with multiple versions of legacy code? 
As product engineers working with platform groups, conflicts ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1975/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1975.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1975/Index">
      <h3>Analytics in Power BI with R and Python with SQL Server 2019 ML Service & Polybase</h3>
       </a>
      <p>Power bi...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1976/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1976.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1976/Index">
      <h3>(An introduction to) Domain Storytelling</h3>
       </a>
      <p>Domain Storytelling is a collaborative modeling method. It brings together domain experts and development teams and helps them to understand the domain of a software system, find microservices boundaries, and to talk about requirements.  

Domain Storytelling means that we let domain experts tell us...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1977/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1977.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1977/Index">
      <h3>Web Components: an Introduction to the Future</h3>
       </a>
      <p>With Web Components having reached high enough browser support to be production ready, it is high time to take a look at what they are and what they can do for you. In this talk you will learn how to create a web component using the native browser api:s. You will learn about the advantages of the te...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1979/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1979.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1979/Index">
      <h3>Logic Apps: Anywhere, Everywhere</h3>
       </a>
      <p>A walk-thru session on how and where we can or should use Logic Apps and start building fantastic business processes. We will be addressing topics like: what tools should you use: Azure Portal, Visual Studio, or Visual Studio Code. What kind of solutions you can create, cloud integration, hybrid int...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1980/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1980.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1980/Index">
      <h3>Machine learning in the browser using TensorFlow.js</h3>
       </a>
      <p>In order to start out with machine learning you typically would need to learn Python, Tensorflow, Jupyter Notebook etc. But what if you could run your machine learning straight in the browser. This can be done through Tensorflow.js. In this session you will get an introduction so that you can use it...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1981/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1981.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1981/Index">
      <h3>A Change-Data-Capture use-case: designing an evergreen cache</h3>
       </a>
      <p>When one’s app is challenged with poor performances, it’s easy to set up a cache in front of one’s SQL database. It doesn’t fix the root cause (e.g. bad schema design, bad SQL query, etc.) but it gets the job done. If the app is the only component that writes to the underlying database, it’s a no-br...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1982/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1982.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1982/Index">
      <h3>10 Things They Didn't Tell You About TDD</h3>
       </a>
      <p>TDD (Test Driven Development) is a well-known practice, yet hardly implemented methodology of coding. 

In the wild, you will barely see it fully implemented in organizations. Why is that? Is it because it is hard? Does it work only in special cases? 

I'm here to tell you the things that so-called ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1983/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1983.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1983/Index">
      <h3>Wowee it's Zowe - how the mainframe got its groove again</h3>
       </a>
      <p>The mainframe is often viewed as a legacy 65 year old computing platform operated by grey (or zero) haired developers typing 8 letter commands into green screens.  This talk myth busts that stereotype and discusses the growth of the mainframe in today's hybrid computing world, especially around the ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1984/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1984.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1984/Index">
      <h3>New dev, old codebase: A series of mentorship stories</h3>
       </a>
      <p>Mentorship in software development carries a lot of responsibility, but plays an integral part in making tech communities as well as individuals thrive.

In this talk, we'll go over some of my mentorship experiences, adopting techniques and learning to teach, so we can teach to learn. Anyone can be ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1987/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1987.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1987/Index">
      <h3>4 Pillars of Successful Agile Test Automation.</h3>
       </a>
      <p>Motivation: 
-------------
I wrapped up my experiences including lots of challenges in both technical and social manners from the automation projects to test complicated systems such as cloud-based open IOT platforms. Finally, I listed a set of golden rules to develop solutions against those challen...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
