@page
@model CPL20Archive.Pages.Sessions.Period4Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn btn-info">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1990/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1990.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1990/Index">
      <h3>Building better security for your API platform using Azure API Management</h3>
       </a>
      <p>These days we use APIs to expose all our microservices , processes, and data, and all this while working in a PaaS or serverless environment. But how do we ensure this is done in a secure and governed way? 

This is where Azure API Management comes in, where we can create a repository of all our API...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2011/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2011.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2011/Index">
      <h3>But It was Logged!  Practical Logging & Monitoring with .NET Core</h3>
       </a>
      <p>.NET Core makes writing log entries a breeze within your applications, however, that is where the out-of-the-box simplicity ends.  So you have decorated your code with all of these pretty log messages that are designed to make your life easier, but then what?  Have you actually reviewed them?  Somet...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2012/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2012.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2012/Index">
      <h3>Content is King: How Contentful and CaaS are Changing the CMS Game</h3>
       </a>
      <p>Content as a Service (CaaS) has been making huge inroads in how content is managed and consumed in the digital world, thanks in large part to the huge growth of JAMstack-powered digital experiences.In this presentation, we'll discuss how Contentful, one of the biggest players in the CaaS space, make...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2013/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2013.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2013/Index">
      <h3>The Rise and Benefits of Robotic Process Automation</h3>
       </a>
      <p>Robotic Process Automation (RPA) is a term given to technology that allows developers to programmatically emulate the actions of a human to execute a business process. RPA often operates on the user interface (UI) layer to capture data or interact with an application or across multiple applications ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2015/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2015.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2015/Index">
      <h3>Blazor – Next Generation UI with .NET 6</h3>
       </a>
      <p>Tired of Angular, Vue, and React? Ready for the next generation of web user interface that runs everywhere and you can build with your favorite programming language? In this session, Jeff Fritz is going to introduce you to Blazor - the next generation UI  framework from the .NET team. We'll see how ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2016/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2016.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2016/Index">
      <h3>Don't Cross the Streams! Fast & Easy Data Pipelines with Stream Processing</h3>
       </a>
      <p>Ghostbusters better get ready, because it's time to cross (ok, join) some streams! This talk will include easy-to-follow steps to set up and maximize a powerful, streaming data pipeline with the newest features from Apache Flink. This talk is for anyone using (or interested in) stream processing who...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2017/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2017.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2017/Index">
      <h3>Orchestrate and build serverless solutions with Azure Logic Apps</h3>
       </a>
      <p>This presentation will cover how developers can and should be using Azure Logic Apps as a viable solution when building out serverless processes.  With over 200 connectors and the ability to orchestrate workflows, Logic Apps can get you up and running fairly quickly.  Logic Apps also allow for full ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2018/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2018.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2018/Index">
      <h3>Gaining Confidence with Cypress Tests</h3>
       </a>
      <p>Have you ever wanted to refactor mercilessly but didn't want to break the fragile tower? Or have you ever pushed to production only to spend the next few days cleaning up the regressions? You need integration tests, and Cypress is a great, fast way to build them. With a simple JavaScript or TypeScri...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2019/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2019.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2019/Index">
      <h3>Junior, no more</h3>
       </a>
      <p>How to position yourself out of being the newbie.

You did it! You landed your first tech job. They said this would be the hardest part but now that you’re in the role and are starting to feel comfortable, how do you keep going?

This talk will cover tips and tricks on how to position yourself for t...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2020/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2020.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2020/Index">
      <h3>ASP.NET MVC for Absolute Beginners: Your Secret Decoder Ring</h3>
       </a>
      <p>ASP.NET MVC is filled with hidden conventions: put a controller or view in a certain place and give it a special name, and it magically works. If you know the conventions, you can quickly get an application up and running. But if you don't know the secret codes, all is lost. In this session, you wil...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2021/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2021.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2021/Index">
      <h3>What the Soviet Space Program Taught Me About Digital Product Development</h3>
       </a>
      <p>The space race between the USA and USSR was one of the great dramatic stories of the 20th century. Our very industry was born as Washington and Moscow relentlessly competed to master the stars.

For space nuts like me, this fascinating time is utterly compelling. It’s also highly instructive for dig...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2022/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2022.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2022/Index">
      <h3>Cosmos DB For SQL Server Developers</h3>
       </a>
      <p>You’re a SQL Developer. It has a SQL API. Sounds like the perfect match … or is it? A globally available, low-latency, multi-model database offers a unique set of new features for creating flexible, scalable solutions. In this crash course, you’ll learn how to transition your SQL skills to Cosmos DB...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2023/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2023.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2023/Index">
      <h3>TinyML and SkySharks 🦈🦈🦈</h3>
       </a>
      <p>Sharks are amazing animals, so let’s start there. In this session we will also review Machine Learning concepts, and we will focus in TinyML: ML technologies and applications capable of performing on-device sensor at extremely low power. 
We will cover hardware, algorithms and software, and we will ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2106/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2106.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2106/Index">
      <h3>Mystery Machine Learning: Classifying Text with RNNs, Keras, and Scoob and the Gang</h3>
       </a>
      <p>Jinkies! Spoiler Alert! If you’ve seen Scooby-Doo, you know who the monster always is—Old Man Withers, the guy who runs the amusement park. Amusement park operators like Old Man Withers have caused Mystery, Inc. all sorts of problems over the years. Problems that could be avoided with a properly tra...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
