@page
@model CPL20Archive.Pages.Sessions.Period6Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn btn-info">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1968/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1968.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1968/Index">
      <h3>Two Midwesterners Politely Invite You To Explore Coding</h3>
       </a>
      <p>Wonder what it's like to do what programmers do? Maybe people have tried to explain it, but didn't put it in terms that computed for you. Or maybe you would like to become more technical, but the mere thought of trying to code has felt intimidating. Today is a new day!

Faye's a non-programmer from ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2037/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2037.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2037/Index">
      <h3>Grow into your role of Software Architect</h3>
       </a>
      <p>Learning the required skillset to become a great software architect can be a challenging process. Join Bart on the journey from fresh out of school to established software architect. We'll touch the multiple types of architects and common career paths. But the focus of the talk is on real life exper...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2038/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2038.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2038/Index">
      <h3>Nosql SQL Databases for Developer Security officers</h3>
       </a>
      <p>Learn basic term and how to Defense You Oracle ,  SQL Server , MongoDB,  Redis , Docker DB ,  Hadoop,  data lakes  in 50 Minutes  and SQL Injection .

This is the basic of basic for every security offices and summarize of years of experience  with simple basic tools which give you the power to disco...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2039/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2039.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2039/Index">
      <h3>Create Applications with WinUI – Everywhere!</h3>
       </a>
      <p>WinUI is the new modern native UI platform of Windows. In turn, the open-source Uno Platform aims to provide pixel-perfect WinUI experiences on all platforms where WinUI doesn’t natively run on – Web/WebAssembly, macOS, Linux, iOS, Android and even Windows 7! 

Developing multiplatform applications ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2040/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2040.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2040/Index">
      <h3>Empower your Azure IaC with Bicep!</h3>
       </a>
      <p>We all love to use Infrastructure as Code to roll out our Azure environments, however setting this up using ARM templates can sometimes be cumbersome. Wouldn't it be great if we could write our IaC templates in a more programming-like language instead? This is where Bicep comes in; a new Domain Spec...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2041/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2041.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2041/Index">
      <h3>The Joy of Multiple Models – Structuring Monoliths and Microservices with Domain-Driven Design</h3>
       </a>
      <p>Software development is model building. We rebuild a part of the world as a program in Java and improve it by doing so. A traditional approach is to reproduce the domain as accurate in every detail as possible. But is this the actual goal of models? If we look close enough, we will see that a model ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2043/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2043.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2043/Index">
      <h3>Entity Framework performance monitoring and tuning</h3>
       </a>
      <p>Object Relational Mapping technologies, including the Entity Framework can drastically simplify the programming model against databases, but when done carelessly, performance can suffer. In this session, we'll explore some real-life strategies that have solved performance issues in production applic...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2044/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2044.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2044/Index">
      <h3>What is new in .NET 6 and the future of .NET</h3>
       </a>
      <p>November 2021 marks the release of .NET 6. In this session, I will talk about what is new in the latest version of .NET and what the future will bring for the .NET platform in general. What is the difference between .NET Framework, .NET Core and .NET 6? Expect a number of new features and examples o...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2045/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2045.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2045/Index">
      <h3>Intro to Dataverse inside of Power Automate</h3>
       </a>
      <p>Microsoft Dataverse (formerly known as the Common Data Service) lets you securely store and manage data that's used by business applications. Data within Dataverse is stored within a set of tables (fka entities). A table is a set of records used to store data, just like data is stored within a datab...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2047/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2047.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2047/Index">
      <h3>The Quality Dashboard</h3>
       </a>
      <p>You’ve got thousands of automated tests running, multiple test and coverage reports and logs – but you can’t see the forest from the trees. The problem is you don’t know: Is it safe to release? With refined, specific metrics, you can define reports (or dashboard) that tell you the real quality of th...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2048/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2048.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2048/Index">
      <h3>Softly Speaking</h3>
       </a>
      <p>The value of having soft skills when in the workforce.  How to deal with different people and situations. Talk about the importance of reading body language, nonverbal communication, presentation skills, and other topics to help improve soft skills. soft skills are important at every level of an org...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2049/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2049.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2049/Index">
      <h3>COBOL Coding in the Cloud</h3>
       </a>
      <p>How do you imagine coding in COBOL?
Join this session as we give you a glimpse of our day as COBOL developers working with Eclipse Che4z, a mainframe development tool that blurs the lines between mainframe and distributed environments.
Come and hear about the tips and tricks we learned first-hand; t...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2115/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2115.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2115/Index">
      <h3>'What AI can't do. HI (human intelligence) Can"</h3>
       </a>
      <p>Teams, clients, colleagues, and you are sorting through the emotional impact of COVID-19.
HI human intelligence skills are going to be vital to collaboration and connection.

Do what AI can't do and master your ability to adapt and pivot.

It’s your HI, build your emotional awareness, ability to lis...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
