@page
@model CPL20Archive.Pages.Sessions.Period4Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn btn-info">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1666/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1666.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1666/Index">
      <h3>Hypothesis Driven Development</h3>
       </a>
      <p>Have you ever gotten a user story and wondered: "Why in the world should we build this?" More often than not, we often spend too much time building the wrong things for the wrong audience because there's little to no research done to figure out what is the right thing to build. Hypothesis Driven Dev...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1670/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1670.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1670/Index">
      <h3>From Developed to Published - My Story Launching an Open Source Library</h3>
       </a>
      <p>Open Source is hard, sharing code isn't enough these days, you need to make it easy for others to consume. I had an idea and was excited to give back after years of standing on other's shoulders. I wrote the code and shared it on GitHub, now what? I realized I needed to get it packaged and pushed to...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1692/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1692.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1692/Index">
      <h3>The Ugly Side of Serverless Apps (and How to Succeed Anyway)</h3>
       </a>
      <p>AWS has Lambda, GCP has Cloud Functions, and Azure has Functions. Although they differ in implementation, they all share a basic philosophy: only pay for what you use. With this benefit, however, comes some downsides. This talk explores both the shared and platform specific considerations that devel...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1701/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1701.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1701/Index">
      <h3>Architecting for Accessibility</h3>
       </a>
      <p>Accessibility has been a part of development since the very beginning of the web. And although we have been talking about it since Tim Berners-Lee was working for CERN, to this day the struggles seem to remain the same. Not just how do we make our applications accessible, but also how do we integrat...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1711/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1711.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1711/Index">
      <h3>Learning to Love the Lambda in the Stream</h3>
       </a>
      <p>Are you new to Java 8 and Lambdas?  Wondering what all the fuss is about?  In this session, we will introduce Java Lambdas, Functional Interfaces, and how to put it all together with Java 8 Streams....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1713/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1713.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1713/Index">
      <h3>Diversity is more, much more! Living in tech as a Latino who can’t dance</h3>
       </a>
      <p>I was born and raised in Argentina, then I lived +11 years in Spain and +3 years ago I moved to Canada. During the past 15 years I was an outsider, and this also impacted my professional life. I was lucky enough to travel for 5 years working in Europe, and I learned a lot on how my latino background...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1723/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1723.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1723/Index">
      <h3>What can Visual Studio do for Mobile Developers?</h3>
       </a>
      <p>So you are a Mobile developer. Looking for sanity amidst a plethora of platforms, frameworks and tooling options? Wondering if Visual Studio is the right IDE for you? Let me convince you why .. let’s talk:

•	Visual Studio for Windows & Mac
•	Visual Studio tooling for Mobile Web, PWAs, Hybrid & JS N...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1738/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1738.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1738/Index">
      <h3>Dungeons, Dragons, and Graph Databases</h3>
       </a>
      <p>Are you an adventurer? Do you want gold? Experience? Levels? Of course you do! And where do you get these things? The dungeon, where else? That wonderful container of all things adventurous! But, unfortunately, dungeons aren't setup for the convenience of adventurers who wish to extract these fine t...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1772/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1772.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1772/Index">
      <h3>Effective Microservice Communication and Conversation Patterns</h3>
       </a>
      <p>Orchestration or choreography? Sagas or process manager? REST, RPC, or events? Are we just making this all up as we go along?

Microservices introduce major complexities the moment we move away from a single service and process to multiple ones. Immediately, the problem hits: services have to commun...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1790/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1790.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1790/Index">
      <h3>Thinking of Events First</h3>
       </a>
      <p>Apache Kafka, created at LinkedIn and open sourced in 2011, is the powerful technology behind many of today's products. The paradigm shift for most is learning to think about your data in terms of events first. We will go over some Kafka basics, some tools in the ecosystem, and some example architec...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1802/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1802.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1802/Index">
      <h3>A Dev's Guide to Inclusion, Diversity, and Equity</h3>
       </a>
      <p>In this talk I will present what these 3 words mean and how to work toward bringing them to life in your organization or even just your daily life.  Work toward becoming better and more inclusive starts with each of us and in this talk I'll give you several things to think about and work towards so ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
