@page
@model CPL20Archive.Pages.Sessions.Period8Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn btn-info">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2000/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2000.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2000/Index">
      <h3>A Series of Unfortunate Events - What Happens When Your App is Hacked.</h3>
       </a>
      <p>Many of us know about the various security checklists and how we should write more secure code. In this session we will move beyond top 10 lists and dive into the world of how attackers compromise systems and how they use those compromises to exploit both individuals and companies. 
You will see dem...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2064/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2064.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2064/Index">
      <h3>Practical Unit Testing Patterns With .NET Core</h3>
       </a>
      <p>Reaching 100% Code Coverage is often a mythical number, however, when you dive deep into an application you might discover that patterns of the technology limit your ability to achieve good code coverage.  This sessions explores this topic and introduces attendees to tips and tricks that can be used...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2065/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2065.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2065/Index">
      <h3>Engineering Change: How to Revolutionize Your Projects from the Inside Out</h3>
       </a>
      <p>We've all had those projects: the technical debt is rampant, the stakeholders won't listen to reason, and you (the engineer) know there's a better way. But what if you're exactly the right person to make things better? In this session we'll discuss how to implement engineering-driven change into you...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2067/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2067.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2067/Index">
      <h3>Developers: Why Care About the User?</h3>
       </a>
      <p>As developers, we deal with technologies, frameworks, and data, making it very easy to forget that what we create is meant for real people to use. While designers and UI specialists should handle most decisions about how a product or service looks and feels, we should all be on the same page to make...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2068/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2068.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2068/Index">
      <h3>Great On Their Own, Even Better Together: Application Development with Python, Typer, and Poetry</h3>
       </a>
      <p>Have you ever tried to create a command-line application with an extensive command-line interface and then upload it to to the Python Package Index (PyPI)? If your experience is like mine, then you might have found the process confusing because there are so many different tools and configurations fr...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2069/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2069.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2069/Index">
      <h3>Knowledge Mining with Azure Cognitive Search</h3>
       </a>
      <p>We all know that providing a good search experience for website visitors is hard. Everyone expects it to “just” work like Google. Maybe there is a better way, maybe we fix this with a little help from AI robot friends.

Join the session to see how you can leverage Cognitive Services with Azure Searc...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2072/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2072.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2072/Index">
      <h3>Feature Flags - The Art of the IF and Deployment</h3>
       </a>
      <p>After this session you'll not only be able to start implementing feature flags, but you'll also want to separate your releases from your deployments. You will have an understanding of
- What feature flags are
- The types of feature flags
- Best practices around feature flags
-  Implementing feature ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2073/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2073.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2073/Index">
      <h3>You're Building It Wrong! The Top Azure Application Mistakes</h3>
       </a>
      <p>Developing applications for the cloud has never been faster or easier than it is today. The speed at which new applications can be created and deployed has enabled more innovation than ever before. Unfortunately, Azure is not always forgiving of mistakes. From serverless applications that suddenly s...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2074/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2074.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2074/Index">
      <h3>Desktop Apps Your Way!</h3>
       </a>
      <p>Most modern-day developers love to work with bleeding-edge technologies. Unsurprisingly, .NET developers are invested in Blazor or Xamarin/MAUI. JavaScript developers swear by their beloved JS frameworks. But customers or enterprise business workflows often demand Windows or MacOS Desktop apps. What...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2075/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2075.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2075/Index">
      <h3>Moving Beyond Pretty: Making deliberate design choices</h3>
       </a>
      <p>Have you ever heard the phrases “beauty is in the eye of the beholder” or “I like what I like” when someone is discussing your design?  Or maybe design is your arch nemesis and you dread it. Too often design is only looked at for aesthetic and visual appeal, while purpose, goal, and usability are ig...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2136/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2136.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2136/Index">
      <h3>Azure AD SAML and Azure AD Identity Management</h3>
       </a>
      <p>This session will discuss and demo on handling SAML Authentication in Azure AD...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
