@page
@model CPL20Archive.Pages.Sessions.Period5Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn btn-info">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2024/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2024.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2024/Index">
      <h3>Entity Framework debugging using SQL Server: A Detective Story</h3>
       </a>
      <p>What happens when the code for your Entity Framework Core LINQ queries looks good, but your app is very slow? Are you looking in the right place? Don’t be afraid to start looking at your database. Knowing how to investigate and debug what your LINQ queries are doing in SQL Server is as important as ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2025/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2025.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2025/Index">
      <h3>Esoteric Programming Languages</h3>
       </a>
      <p>Most of the time we program in modern languages like Ruby, Python or C#. However, there are a plethora of languages out there that are strange, odd, and/or just plain funny. In this talk, I'll go over a number of esoteric programming languages such as Whenever, Befunge, and LOLCODE. You'll learn abo...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2026/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2026.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2026/Index">
      <h3>The Web is for Everyone</h3>
       </a>
      <p>Tim Berners-Lee is noted as saying “the power of the web is in its universality." The web was meant to be a great equalizer for everyone - whether you are situationally, temporarily, or permanently disabled. After all, you never know when you might break your arm or have to order pizza while holding...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2027/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2027.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2027/Index">
      <h3>Video Magic - JS, Open Source Players, Smart TVs & You</h3>
       </a>
      <p>Have you ever wondered how the video player on your favorites apps/sites works? Have you thought to yourself, that's a web browser, there has to be some JavaScript in there somewhere, but been unsure of the magic behind the scenes? Did it not occur to you that your Smart TV was using a web browser u...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2028/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2028.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2028/Index">
      <h3>Winning as the Home Team</h3>
       </a>
      <p>The process of building Great Software can be broken down to a number of processes and attributes that center around communication. From requirements to code to documentation, standups to retrospectives, we build our software teams around specific interactions and communication channels. The typical...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2032/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2032.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2032/Index">
      <h3>Under Pressure: Decision Making as a Tech Lead</h3>
       </a>
      <p>Making decisions as a developer is tough. There are always multiple ways to write code, design a database table, architect a feature, and/or jam square pegs into round holes. This toughness gets amplified as a tech lead. Its no longer about just the code. Now, you get to think about architecting the...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2033/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2033.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2033/Index">
      <h3>Taming Snakes in the Microsoft Cloud: Using Python with Azure</h3>
       </a>
      <p>In the field of software engineering, it's almost impossible to avoid Python. It's one of the most popular and in demand languages. Therefore, you should be able to use it with Azure. This session will cover the SDKs and APIs to consume and manage Azure services with Python. It will also show how to...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2034/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2034.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2034/Index">
      <h3>If Microservices Are Not The Answer, Then What Is?</h3>
       </a>
      <p>Emphasis on architecture went from N-Tier monolithic designs to microservices so quickly. Why? Are you choosing the wrong architecture for what you need? Or are you just wasting time and money?

In this talk, you will learn about several other architecture options to help you choose the right one fo...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2035/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2035.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2035/Index">
      <h3>Zero to Hero in Power Virtual Agents in 60 Minutes</h3>
       </a>
      <p>Bots are Hot. Power Virtual Agents a SaaS offering from Microsoft empowers teams to easily create powerful bots using a guided, no-code graphical interface without the need for data scientists or developers. 

In this demo-driven session, we will cover the basics of the Power Virtual Agents. We will...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2036/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2036.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2036/Index">
      <h3>Real-Time Desktop Apps with Azure-powered SignalR</h3>
       </a>
      <p>SignalR is rather cool piece of ASP.NET technology stack that powers real-time communications across platforms. SignalR is open source and enables two-way client-server RPC calls – across .NET and JavaScript. This means seamless real-time communications across web, desktop and mobile platforms.

Mod...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2042/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2042.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2042/Index">
      <h3>What is new with Azure Machine Learning</h3>
       </a>
      <p>With machine learning becoming more and more an engineering problem the need to track, work together and easily deploy ML experiments with integrated CI/CD tooling is becoming more relevant then ever.

In this session we take a deep-dive into Azure Machine Learning service, a cloud service that you ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
