@page
@model CPL20Archive.Pages.Sessions.Period11Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn btn-info">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2102/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2102.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2102/Index">
      <h3>Oh! The *Humanity*</h3>
       </a>
      <p>“Agile” is a bit lost. 

Like a couch potato resolving to go to the gym in January, we threw off the chains of Scientific Management and declared a manifesto of people-centered values. 

And here we are in our February, right back on the couch. We prescribe process and certification. We try to do *l...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2103/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2103.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2103/Index">
      <h3>Don’t Drop ACID - Transactions in Distributed NoSQL</h3>
       </a>
      <p>NoSQL document databases provide unique capabilities of scaling, flexibility, and performance for a wide variety of use cases. However, many developers from relational backgrounds are understandably nervous (for a variety of reasons) about using NoSQL in their next project. This session will address...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2104/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2104.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2104/Index">
      <h3>Secure Application Design and Development With Threat Modeling</h3>
       </a>
      <p>Building a secure and stable application requires more than just memorizing a list of vulnerabilities. Modern applications contain a multitude of moving parts and security needs to be built in from the beginning. In this session we will review techniques to ensure that you are building the most secu...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2105/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2105.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2105/Index">
      <h3>Representing and Accessing Data That Changes Over Time</h3>
       </a>
      <p>This talk answers the question “What’s a clean way to represent data that changes over time?”

We can store the attributes that change over time (variable attributes) on a versioned table and stable attributes on a base table.   Storing variable attributes in a versioned table with an effective date...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2107/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2107.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2107/Index">
      <h3>"Attack of the killer Bots" an introduction to Bot framework composer</h3>
       </a>
      <p>Having bots handling the first user interaction is very common in many sites nowadays and their usage is only expected to increase in the next few years. From a development perspective, bot development presents a unique set of challenges that can result in a steep learning curve for new developers. ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2108/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2108.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2108/Index">
      <h3>TaDa it's Magic: Predicting the Performance of Functions through Automated Doubling Experiments</h3>
       </a>
      <p>When you deploy a program to a cloud-based execution environment, it is important that you understand its performance --- or you may end up with a expensive bill from your cloud provider! With that said, if you have tried to understand the performance of a function in your program you might have fou...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2109/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2109.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2109/Index">
      <h3>Level-up Your DevOps with GitHub Actions and Kubernetes</h3>
       </a>
      <p>Are you looking to rapidly deploy your content? Are Docker containers in your future? Come for this demo-only presentation where we start from scratch, build up a DevOps pipeline in GitHub Actions, and deploy to Kubernetes. Once setup, commit, and watch the magic flow into place. You too can automat...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2110/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2110.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2110/Index">
      <h3>Kubernetes. Now What? Data Management in a Distributed Cluster</h3>
       </a>
      <p>You have a cluster. You can scale up and down at a moment's notice. You can roll updates without taking down your services. So are all your problems solved?

Not quite. You still have the issue of keeping your microservices in sync.

You want each service to be able to make its own decisions autonom...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2111/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2111.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2111/Index">
      <h3>Is This [Joke] Appropriate?</h3>
       </a>
      <p>Don't poke the bear" is an old saying that usually means "Don't do things that are likely to cause trouble".

Can jokes cause trouble? Sometimes. But when, and how can you know?

The talk "Is This [Joke] Appropriate?" intends to address this topic and these questions...and make it all applicable to ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2112/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2112.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2112/Index">
      <h3>Python: What's in it for You</h3>
       </a>
      <p>Over the last 5 years, Python has consistently been in the top 5 languages on Github. Its clean, simple, easy to remember syntax makes is why Python is one of the most in demand skills for software engineers. If you are a web developer, data scientist, game developer, or IT admin, Python can scratch...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2114/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2114.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2114/Index">
      <h3>The Science, Psychology, and Secrets of Great UI</h3>
       </a>
      <p>Need to improve user experience, but don't know where to start? Worried that UI/UX can only be done by right-brained, artistic people? Take heart. Learn simple, yet powerful UX principles and UI tricks that will help you radically improve your digital products. These secrets are perfectly suited for...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
