@page
@model CPL20Archive.Pages.Sessions.Period10Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn btn-info">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2089/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2089.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2089/Index">
      <h3>Introduction to Accessibility</h3>
       </a>
      <p>Sometimes Accessibility can be tough to wrap your head around, but it is becoming clearer every day just how important it is and how much it can benefit everyone. In this session, we will explore some basics of Accessibility, information resources, and tools that can help you be an Accessibility all...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2090/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2090.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2090/Index">
      <h3>Taking a Gamble With Functional Domain Modeling</h3>
       </a>
      <p>Over the past few years, Functional Programming has entered the mainstream when it comes to libraries and frameworks for various kinds of technologies and there are plenty of tutorials and resources to learn the basics.

With that being said, when it comes to building something non-trivial, there's ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2092/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2092.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2092/Index">
      <h3>Learning F# - A Practical Approach</h3>
       </a>
      <p>During the pandemic, I used my extra time to learn F#, the functional programming language available in the .NET ecosystem. Learning new programming paradigms helps developers see new approaches to common problems and can help them better understand some of the solutions in their current programming...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2093/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2093.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2093/Index">
      <h3>Real-Time Revolution: SignalR in Action</h3>
       </a>
      <p>Does your application render a page and then just leave it?
Do you deal with issues of the local state being out of date?
Do you wish the server could just tell all the browsers that something has changed?

If you answered yes to any of those questions, it's time to join the real-time revolution!  S...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2094/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2094.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2094/Index">
      <h3>Learning to Love the Lambda in the Stream</h3>
       </a>
      <p>Are you new to Java 8 and Lambdas?  Wondering what all the fuss is about?  In this session, we will introduce Java Lambdas, Functional Interfaces, and how to put it all together with Java 8 Streams....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2096/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2096.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2096/Index">
      <h3>Management as Therapy: What Psychologists Can Teach Engineering Managers</h3>
       </a>
      <p>The hardest part of Engineering Management is managing personalities - difficult emotions, distorted thinking and interpersonal conflict. It turns out there's a field entirely dedicated to helping people with these problems - Psychotherapy.

In this talk, we'll explore insights from Cognitive Behavi...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2097/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2097.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2097/Index">
      <h3>Tune Up Your Stand Up</h3>
       </a>
      <p>Late attendance, status updates, lifeless answers, and zoning out are all too common in our Stand-Ups and Daily Scrum meetings. It doesn’t have to be that way.

This small meeting is the heartbeat of a team within a sprint. They take a brief moment to hear about the effort and challenges of their co...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2098/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2098.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2098/Index">
      <h3>Machine Learning for .NET developers</h3>
       </a>
      <p>Machine Learning is the future and it's already here. There’re so many opportunities for developers to include it in a wide variety of applications. If you heard a lot about data collection and processing, creating and training models and ready to try it all yourself with the help of .NET, I'll show...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2099/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2099.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2099/Index">
      <h3>Understanding How Your CPU Thinks</h3>
       </a>
      <p>You know all those algorithms you take for granted? I'm not talking about those boring algorithms you learned in school. I mean things like adding two numbers or converting a number to to text. Have you ever wondered how the computer really does that?

I recently embarked on a journey to create a ma...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2100/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2100.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2100/Index">
      <h3>It's NOT Magic! - SEO for Developers</h3>
       </a>
      <p>You built a great website. Now how do you help people find it?

Search engines like Google and Bing are an essential source of traffic for any public website. Search engine optimization (SEO) can make the difference between floating to the top and disappearing into the noise.

Contrary to popular be...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2101/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2101.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2101/Index">
      <h3>Responsive and Adaptive Tactics for Blazor Applications</h3>
       </a>
      <p>In this session you'll learn about CSS techniques like CSS Grid, Flexbox and media queries. We will also explore techniques for adaptive the user interface at runtime for maximum control. These tactics apply to Blazor WASM,  Server, and Blazor Hybrid....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
