@page
@model CPL20Archive.Pages.Sessions.Period7Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn btn-info">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2051/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2051.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2051/Index">
      <h3>Enterprise Observability with OpenTelemetry</h3>
       </a>
      <p>Enterprise applications are complex. A transaction starting in the browser will go through proxies, api gateways, security appliances, application performance monitoring tools, logs, microservices and more microservices. Historically there has been no standard way to get observability and traceabili...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2052/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2052.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2052/Index">
      <h3>What's New in C#10</h3>
       </a>
      <p>C# is an open-source, mature object oriented language, used by millions of .NET developers, yet its evolution is still underway. In this session, we'll cover the latest features that are being considered for C#10 and how they work in detail so you'll know when to use them effectively in your new .NE...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2053/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2053.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2053/Index">
      <h3>Building your personal online brand using Static Blazor Apps, one step at a time.</h3>
       </a>
      <p>We're told that by using services such as Medium, dev.to etc that we are diluting our personal brand. That we should be posting to our own site and building ourselves up. But making that move can seem huge! Rather than eating the elephant - which can seem impossible - how about slowly moving to your...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2054/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2054.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2054/Index">
      <h3>Scaling your data to the size of the Cosmos (DB)</h3>
       </a>
      <p>Many systems begin their lives with a relational model at their core - as their database.

But over time, as the needs of users change, the relational model can cause more problems than it solves when building web-scale systems.

In this session, I’ll take you on my journey transforming a traditiona...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2056/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2056.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2056/Index">
      <h3>Building Apps Across Platforms with Flutter</h3>
       </a>
      <p>There has not been a better time to learn Flutter. With the recent release of Flutter 2, the platform is now capable of building rich app experiences across Mobile, Web, Desktop and much more.

In this talk, speaker Brad Cypert provides a gentle introduction to Flutter. You'll learn how Flutter work...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2057/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2057.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2057/Index">
      <h3>Affective Computing – bringing humans and machines closer through emotions</h3>
       </a>
      <p>Research have shown that emotions play an integral role in decision making, cognition, perception, learning and more. If we want our computers to be intelligent and be able to interact with us we need to ensure that they are able to recognize, understand and express emotions. This is the basic assum...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2058/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2058.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2058/Index">
      <h3>A Guided Tour of Caching Patterns</h3>
       </a>
      <p>When your application starts slowing down, the reason is probably a bottleneck somewhere in the execution chain. Sometimes, this bottleneck is due to a bug. Sometimes, somebody didn’t set up the optimal configuration. And sometimes, the process of fetching the data is the bottleneck.

One option wou...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2060/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2060.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2060/Index">
      <h3>Cultivating a Climate for Paradigm Shift: Facilitating Innovation in a Post-COVID19 World</h3>
       </a>
      <p>Renaissance philosopher and writer Machiavelli has been quoted as saying, “I'm not interested in preserving the status quo; I want to overthrow it.” The importance of respecting personal space and practicing impeccable hygiene aren’t the only lessons learned from COVID-19. If anything, we’ve seen th...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2061/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2061.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2061/Index">
      <h3>Who said you can't teach an old dog new tricks</h3>
       </a>
      <p>The Mainframe computer is over 65 years old, and has a dual personality of either being viewed as a proprietary thing of the past or else a hidden closed locked down machine as espoused in Hollywood movie plots.  The truth is neither, and a huge amount of mainframe computing workload today comes fro...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2062/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2062.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2062/Index">
      <h3>Understanding Alexa</h3>
       </a>
      <p>This session will unpack how Amazon's Alexa works, how you think about building voice user interfaces, and which best practices you should consider as you build skills....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
