@page
@model CPL20Archive.Pages.Sessions.Period2Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn btn-info">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1986/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1986.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1986/Index">
      <h3>The age of applied AI</h3>
       </a>
      <p>After a tremendous age of innovation and research in the AI field, we are moving towards the age of appliance. But how and where do you get started as a developer and how do you apply machine learning ethically and use it for good.

In this talk we dive into the current state of everyday AI, debate ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1989/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1989.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1989/Index">
      <h3>Backlog Refinement: Success factor for SCRUM and engine for change management</h3>
       </a>
      <p>According to Jeff Sutherland, one of the co-founders of SCRUM, backlog refinement forms the backbone of a functioning Scrum Team. However, the Scrum Guide is largely silent on how this important event can be successfully established in the development process. The document only devotes a short and c...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1993/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1993.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1993/Index">
      <h3>Finding Bigfoot with Redis + RediSearch</h3>
       </a>
      <p>Bigfoot has been a staple of American folklore since the 19th century. Many are convinced that Bigfoot is real. Others suggest he’s merely a cultural phenomenon. And some just want to believe. There is even a group, the Bigfoot Field Researchers Organization, that tracks Bigfoot sightings and makes ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1995/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1995.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1995/Index">
      <h3>How To Impact Map and Never Struggle with User Stories Again</h3>
       </a>
      <p>Imagine if you were able to produce a backlog of stories that connected to real people, their needs, and actual results. Instead of trying to explain stories that don't seem to have any connection because they're requirements wrapped up in a template.

In this session, I want to introduce a techniqu...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1996/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1996.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1996/Index">
      <h3>What's going on in there? Know what's happening in your software with Application Insights.</h3>
       </a>
      <p>Monitoring production software can be a challenge, especially if it is hosted in the cloud. Application Insights can tell you what your software is doing. With this tool you will be able to:
   • Identify performance bottlenecks
   • Detect bugs before they are reported by users
   • Characterize in...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1997/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1997.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1997/Index">
      <h3>VS Code for Green Screen Developers</h3>
       </a>
      <p>Mainframe modernization is an unavoidable topic for every developer these days, whether your tool is the traditional green screen or another IDE. How does the coding experience differ between the two? In this session, we will showcase a side-by-side comparison on these development environments, base...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2135/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2135.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2135/Index">
      <h3>Microsoft Q# and Azure Quantum</h3>
       </a>
      <p>You've probably heard about quantum computing, but it still remains a mystery? In this deep-dive session, I will explain important concepts like qubits, superposition, and entanglement. Theoretical knowledge about quantum physics, quantum gates, and quantum algorithms will be combined with some exam...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2138/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2138.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2138/Index">
      <h3>Learning Functional Programming Through Construction: First Principles</h3>
       </a>
      <p>In the past five years, functional programming has increased dramatically in popularity which has lead to an explosion of resources in learning these concepts. But, between languages (Haskell, Elm, PureScript, F#), libraries (Ramda, fp-ts), and concepts (Monads, Monoids, Functors), it can be overwhe...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2140/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2140.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2140/Index">
      <h3>Migrate from .NET Framework to .NET 5</h3>
       </a>
      <p>Many legacy web applications exist that were written in a version of .NET Framework. In many cases, these codebases can be upgraded to .NET 5 without too much trouble, and unlock a lot of performance improvements, features, and scalability that don't exist in .NET Framework.

In this session, you wi...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
