@page
@model CPL20Archive.Pages.Sessions.Period7Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1682/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1682.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1682/Index">
      <h3>Ten Things Every Voice Application Should Do</h3>
       </a>
      <p>In my experience building dozens of skills for Alexa, and working with hundreds of developers on their own voice applications, I've identified ten specific patterns that are common to the most successful of the bunch. This presentation will cover these ten topics, giving you the insight an accelerat...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1700/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1700.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1700/Index">
      <h3>A Droid, a Sith, and a Wookiee walk into a retro</h3>
       </a>
      <p>Like these iconic characters from a galaxy far, far away, IT professionals can have very different personality types.  These differences can lead to negative conflict in a Retro.  Let's discuss how differing opinions can be healthy and discover techniques to make your retro positive and productive. ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1709/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1709.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1709/Index">
      <h3>Mock It 'til You Make It</h3>
       </a>
      <p>Let's automate the tedious task of building mocked query resolvers so that you never have to manually set up mocks for loading, error, no data, or default value states ever again! We'll learn how to use GraphQL and Apollo in a React application to build providers that will dynamically auto mock all ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1712/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1712.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1712/Index">
      <h3>Let’s code a drone to follow faces! Using AI, Python, containers and more.</h3>
       </a>
      <p>You can control a drone using 20 lines of code. That’s the easy part. However, adding extra features like face or object detection and program the drone to follow and object or a face requires … another 20 lines of code!
During this workshop we will review how to connect to a drone, how to send and ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1724/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1724.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1724/Index">
      <h3>What’s new in Xamarin.Forms!</h3>
       </a>
      <p>Xamarin.Forms has come a long way, enabling developers to build truly native & truly cross-platform apps across various platforms. The latest Xamarin.Forms 4.x release is here – ready with increased productivity for developers, matured tooling and easy code sharing across platforms. Let’s do a whirl...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1727/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1727.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1727/Index">
      <h3>Spot the Bug</h3>
       </a>
      <p>Spot the Bug is a fun approach to learning some basic design techniques and guidelines. Quite often developers grow in their craft by repeating code patterns that exist in a code base, without fully understanding why those patterns exist. Other times, language constructs have been created to solve s...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1731/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1731.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1731/Index">
      <h3>FasteR Workflow: Time - Saving Tips for Starting Data Science with R Programming</h3>
       </a>
      <p>R Programming has been a popular statistical analysis language for analysts at corporations, government agencies, and research organizations.  But as a single threaded language R programming capabilities have been limited to local usage on laptops.  With libraries and cloud platform options, analyst...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1753/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1753.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1753/Index">
      <h3>Non-traditional Pathways In Tech, a Panel Discussion</h3>
       </a>
      <p>A Q&A panel discussion with three people who have found success in, or adjacent to, software development. All have taken unique pathways the stray from the traditional education route. Hear their stories on what they did before they entered the tech world, how they picked up their tech skills, how t...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1762/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1762.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1762/Index">
      <h3>New role of EA - Building evolutionary architectures</h3>
       </a>
      <p>Agile delivery has challenged EA into building evolutionary architectures to address incremental change and system-wide fitness functions....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1771/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1771.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1771/Index">
      <h3>Feature flags: the toggle, the A/B test and the canary</h3>
       </a>
      <p>The beauty of a feature flag is simplicity - it's a conditional block of code that chooses between different execution paths at runtime. In this talk, we will combine this simple concept with DevOps principles to perform powerful operations like separating code deployments from feature releases, can...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1788/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1788.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1788/Index">
      <h3>AWS: IoT Core + Lambda + DynamoDB = Webscale</h3>
       </a>
      <p>Modernizing an application is easy. Modernizing an application to work globally and at scale, well it sounds hard but it might be easier than you think. In eight months our small team of seven (design, dev, & QA) went from a blank AWS account to a working product. The application needed to ingest Io...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
