@page
@model CPL20Archive.Pages.Sessions.Period6Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn btn-info">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1660/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1660.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1660/Index">
      <h3>Migrating from REST to GraphQL</h3>
       </a>
      <p>Learn how to migrate from REST APIs to GraphQL. Convert your REST API operations into GraphQL mutations and queries....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1663/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1663.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1663/Index">
      <h3>Mobile Wars: The Rise of Cross Platform Apps</h3>
       </a>
      <p>A long time ago in a galaxy far, far away...cross platform app frameworks started coming into existence. In this session we will compare popular cross platform frameworks for mobile and talk about which one you should use next!...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1667/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1667.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1667/Index">
      <h3>Don't screw up the SQL!</h3>
       </a>
      <p>A session for anyone who writes SQL and is not an experienced, siloed SQL expert ... we’ll examine basic features of Microsoft SQL Server that can cause headaches if not used as intended. We’ll explore several of the most basic SQL Server mistakes of my career so you can avoid them and write better ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1680/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1680.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1680/Index">
      <h3>Existential Flexibility: Short term sacrifices for long term success</h3>
       </a>
      <p>Business owners, job applicants, and even content employees tend to approach their existential debates all wrong.

What if I told you it’s not about being the best, but being YOUR best? This talk is how to schematically focus on long term success, sustainability, and growth ..all to skyrocket your c...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1685/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1685.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1685/Index">
      <h3>ZAP! API Integrations with Zapier</h3>
       </a>
      <p>Integrations between 3rd party applications and APIs has long been one of the most challenging and time-consuming parts of any application development effort.

But with the magic of cloud automation we can connect applications in just minutes instead of days. In this talk you’ll learn about:

* Resp...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1696/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1696.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1696/Index">
      <h3>Golden nuggets & secret sauce: the makings of delightful user experiences</h3>
       </a>
      <p>Ever ask anyone what came first, the chicken or the egg? Undoubtedly you will hear a compelling argument for either side. 
Regardless of what came first, both the chicken and the egg need to exist to support the entire poultry ecosystem. Does it matter which came first? Why do we have such a preoccu...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1736/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1736.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1736/Index">
      <h3>Future of Software Testing: Artificial Intelligence Assistance</h3>
       </a>
      <p>Nowadays, researches are looking for adaptation of Machine Learning algorithms to testing processes to reduce the manual effort and improve quality. In this talk, we will discuss in detail Machine Learning practices with a case study.

We start with a quick view of the machine learning types. Then, ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1755/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1755.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1755/Index">
      <h3>Going Container-less with Service Fabric and .NET</h3>
       </a>
      <p>In this session, you'll learn how Service Fabric can facilitate the migration of an existing on-premise, monolithic, Windows/.NET codebase to a micro-service architecture, without the need to adopt Linux or containers in the process. 

Let .NET developers do what they do best, and let Service Fabric...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1768/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1768.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1768/Index">
      <h3>TypeScript - Beyond the Basics</h3>
       </a>
      <p>TypeScript enables web developers to improve the clarity and reliability of their code. It also enables more powerful tools for writing code. This led to its rapid rise in popularity. But what can it do for you beyond just adding types to your variables and parameters? In this talk, we look at some ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1770/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1770.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1770/Index">
      <h3>Programmer burnout: how to recognize and avoid it</h3>
       </a>
      <p>Burnout among software professionals is far more widespread than we would like to admit. It sneaks up on us. At first we dread going in to work each day. We can barely focus enough to get through the day and struggle with otherwise simple-for-us tasks. It starts there and gets much worse. So what ar...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1794/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1794.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1794/Index">
      <h3>Business & Tech: A Communication Guide</h3>
       </a>
      <p>Development teams and business decision makers frequently conflict. Business people don’t always understand that without software, their companies wouldn’t make money. Developers don’t always realize that solving a problem requires more than the latest framework. Each group has different priorities....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
