@page
@model CPL20Archive.Pages.Sessions.Period5Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn btn-info">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1655/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1655.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1655/Index">
      <h3>Kotlin All The Things!</h3>
       </a>
      <p>Kotlin is taking the development community by storm. Since Google announced they are officially partnering with JetBrains to support the language for Android development, mobile developers are flocking en masse. 

But what about everyone else? Good news - Kotlin is not just for mobile. In this talk,...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1669/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1669.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1669/Index">
      <h3>Unit-Testing With Ease</h3>
       </a>
      <p>Do you want to skip all the setup ceremony and get straight to the actual testing when writing unit tests? Leveraging dependency injection and IoC makes it a breeze to build solutions that are modular and testable, but building out those dependency chains in our unit tests can leave them cluttered a...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1671/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1671.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1671/Index">
      <h3>Animation for the Web: Giving Life to your SVGs</h3>
       </a>
      <p>Have you ever seen an animated SVG on a site and thought, "That is so cool; how did they do that," or, "This is super distracting," this talk is for you. Learn the best times to use animation, as well as libraries and tools you can implement to make your animation the best it can be....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1688/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1688.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1688/Index">
      <h3>Learning The Language Of HTTP For A Better Data Experience In Your Mobile Apps</h3>
       </a>
      <p>You know you have to have a great experience when you develop your mobile applications, right? The greatest experience you can give your users centers around their data. There are ways to improve your mobile applications and Chris Woodruff will teach you how to learn and understand the language of H...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1704/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1704.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1704/Index">
      <h3>Agile Improv</h3>
       </a>
      <p>Improv comedy is not at all different from the Agile methodology. It's all about learning to love the "yes", trusting your team, and building on what's already there. 
In this sessions. you'll:
• learn the rules of improv comedy
• apply them to agile development
• have fun...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1710/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1710.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1710/Index">
      <h3>The Mentor Playbook</h3>
       </a>
      <p>We often find ourselves in situations where we have to knowledge share and mentor others, but we often don't take the time to learn "how" to be better mentors.

So are we doing it right?

Through my work as Mentor Director for a monthly coding class, I've been able to compile effective methods throu...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1726/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1726.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1726/Index">
      <h3>Functional Programming Techniques in C#</h3>
       </a>
      <p>Over the years C# has adopted language features that allow developers to solve problems using functional programming techniques. Functional programming can seem complex and confusing to object oriented developers, making it difficult to take advantage of the functional features of C#.  It's also not...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1730/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1730.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1730/Index">
      <h3>Intro to Blockchain with Algorand</h3>
       </a>
      <p>Algorand is a new blockchain built on a Permissionless, pure proof of stake, decentralized agreement protocol, where anyone can participate and requires minimal computational power. This protocol finalizes transactions very quickly and offers true decentralization.
Algorand 2.0 is an exciting releas...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1732/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1732.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1732/Index">
      <h3>Getting comfortable with Tensorflow for R Programming</h3>
       </a>
      <p>Developed by Google researchers and engineers for deep neural networks research, Tensorflow provides developers with a capacity for developing deep learning models. Long available for Python, Tensorflow became available for R programming in 2018, along with a version for JavaScript, Tensorflow.js. B...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1774/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1774.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1774/Index">
      <h3>Big Data for the Small Fry - Bootstrapping from onsite to Cloud by scaling down Netflix's ideas</h3>
       </a>
      <p>There’s been a loud drum-beat about how Big Data is changing the world - but if you come from the traditional company, the kind where your main product is something other then data, odds are you've been mostly on the sidelines, trying to figure out if this is real-or-hype, and if its real, how to do...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1780/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1780.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1780/Index">
      <h3>Databases in the Microservices world</h3>
       </a>
      <p>Web technologies have come leaps and bounds. But are you still using the tired old database from last generation? Let's look at the methodology of microservices, compare it to bounded contexts, and look at ops tasks for micro-databases. Let's tour all the flavors of databases, understand their pros ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1783/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1783.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1783/Index">
      <h3>Automating Hockey Team Management with Serverless</h3>
       </a>
      <p>You probably don't manage a beer league hockey team, maybe you do, I don't know your life but I'm sure you have a number of tasks that you do regularly that would benefit by being automated. 

Follow me on my journey of realizing I could make my life easier by automating the the process of managing ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
