@page
@model CPL20Archive.Pages.Sessions.Period3Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn btn-info">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1999/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1999.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1999/Index">
      <h3>Migrating from SQL to NoSQL with .NET and Dapper</h3>
       </a>
      <p>Databases are like languages: it's very useful to know more than one. NoSQL databases promise better performance, scaling, lower cost of ownership, and flexibility for many use cases. With recent advances in NoSQL including ACID transactions, SQL queries, scopes, collections, and more, making the ju...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2001/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2001.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2001/Index">
      <h3>Improving code quality with Static Analyzers</h3>
       </a>
      <p>How do you keep code consistent across a team or make sure your independent code follows accepted standards, use a Static Analyzer tool. See how to use some of these tools for your .Net, JavaScript, Style sheets, etc. to improve your code as an independent or large team lead.

Whether you're an inde...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2002/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2002.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2002/Index">
      <h3>Cognitive Biases and the User Experience</h3>
       </a>
      <p>According to Wikipedia, cognitive biases cause individuals to 'create their own "subjective social reality" from their perception of the input.' Some of these allow us to take shortcuts when processing information... with mixed results. Though not all confirmation biases can be neatly labeled "good"...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2003/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2003.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2003/Index">
      <h3>Jinaga: End-to-End State Management for Offline-First Web Applications</h3>
       </a>
      <p>State management libraries like Redux make it easier to coordinate changes in all parts of your web applications. But they stop at the browser. You are still responsible for developing the API and back-end data store.

Jinaga is an end-to-end state management solution. No custom API. No app-specific...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2004/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2004.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2004/Index">
      <h3>Computer, make it so!</h3>
       </a>
      <p>Electronic personal assistants are conquering the world right now. Currently, the biggest tech companies are focusing their attention on artificial intelligence. This opens a wide variety of opportunities for developers and benefits customers. A virtual assistant can access different devices, comple...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2005/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2005.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2005/Index">
      <h3>The Human Side to Testing</h3>
       </a>
      <p>We’re known for breaking things and testing the limits, and patience, of our team and our systems.  We advocate for quality in all things and we advocate for the end user.  But, none of us actually think about how our varied backgrounds influence what we do and how we test.  In this session we’ll ex...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2006/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2006.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2006/Index">
      <h3>Making Apps Listen and React with LUIS (Language Understanding Intelligent Service)</h3>
       </a>
      <p>Language Understanding Intelligence Service (LUIS) is part of Azure's Cognitive Services.  It's built on the interactive machine learning and language understanding research from Microsoft Research.  Luis provides the capability to understand a person’s natural language and respond with actions spec...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2007/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2007.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2007/Index">
      <h3>Demystifying the .NET Runtime</h3>
       </a>
      <p>While most .NET developers know that .NET is an interpreted language, have you ever thought about what that really means? If the language is compiled to an intermediate language (literally called "Microsoft Intermediate Language" or MSIL) and run on a VM, how have they added more features to the lan...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2008/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2008.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2008/Index">
      <h3>Git Good with Advanced Git</h3>
       </a>
      <p>Most of us use git everday, but how well do you know one of your most important tools besides cloning, commiting, and pull requests? Are you comfortable rebasing? Do you really know the difference between Resetting or Reverting?  Lets 'stash' some info and learn all the advanced features of one of o...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2009/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2009.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2009/Index">
      <h3>Blazor Stability Testing Tools for Bullet Proof Applications</h3>
       </a>
      <p>.NET in the browser may sound like Blazor's strength, however the story of Blazor testing may just be its biggest potential upside. In this session we'll discuss what makes Blazor an ideal candidate for: Unit Testing, Integration Testing, and Automated System Testing....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2010/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2010.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2010/Index">
      <h3>Everyday Accessibility</h3>
       </a>
      <p>You’ve heard it: accessibility is important. We must make our websites and applications conform to accessibility standards. But what about the rest of our communications and interactions? As tech professionals we send emails, write documentation, write code, vent our frustrations on Twitter, and muc...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2050/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2050.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2050/Index">
      <h3>The Evolution of Software Testing: What is next?</h3>
       </a>
      <p>In this talk, I provide some insights about the growth of software testing. Starting from the early times of software testing, finally we discuss what we can face in the future. Key take-away’s are to be ready for the next generation testing activities (AI-supported testing and others).

We all obse...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2113/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2113.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2113/Index">
      <h3>Exploring and Explaining C# Interactivly with .Net Notebooks</h3>
       </a>
      <p>We know how to build apps with C#, but what do we do when we need a few lines of it. You could create yet another Console Application. Or you could use the new .Net Interactive Notebooks. Notebooks allow you to write executable snippets of C#, visualize the results and add documentation in markdown,...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2137/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2137.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2137/Index">
      <h3>Office 365 Security with Azure MFA, PIM, and AIP</h3>
       </a>
      <p>This session will share the need for today's security for every organization.  The speaker will talk and demo on Multi-Factor Authentication, Privileged Identity Management, Azure information Protection....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
