@page
@model CPL20Archive.Pages.Sessions.Period9Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn btn-info">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2076/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2076.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2076/Index">
      <h3>Impactful mentorship - 2 sides of a story</h3>
       </a>
      <p>When starting to engage with the community, it can be hard to find your own way. There is a lot of information around conferences, giving presentations, setting up blogs, and much more. However, initially we might not know where to start, and where to find the right places to convey our story. This ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2077/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2077.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2077/Index">
      <h3>What a global pandemic can tell you about better DevOps practices</h3>
       </a>
      <p>In early 2020 a global pandemic set in motion events which none of us could predict. With anonymous data collected from 900k+ devs, 25K orgs, and 30m+ builds/mo we've found some interesting insights into better DevOps practices. In this session, we will seek to uncover what this unique dataset can t...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2079/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2079.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2079/Index">
      <h3>Sweet Streams are Made of These: data-driven development in stream processing</h3>
       </a>
      <p>The strength of a powerful stream processing engine is in how fast, and how much data it can process. This naturally adds complexity to existing integration points and can lead to development overhead. 

Luckily, there is a set of data-driven development principles that are built to alleviate precis...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2080/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2080.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2080/Index">
      <h3>The Dark Side of UX</h3>
       </a>
      <p>User experience design brings clarity, removes obstacles. It rewards - makes us feel accomplished, successful, happy. Users are confident when using a well-designed application - as easy as turning on a light switch: [Buy]

Don't make me think: did I opt in? Don't make me think: was that a hidden fe...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2081/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2081.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2081/Index">
      <h3>Communication is Just as Important as Code</h3>
       </a>
      <p>The idea of a lone developer coding in their basement without social interaction is a thing of the past. These days, technical solutions are often developed by cross-functional teams whose participants have a range of technical experience. Now, more than ever, good communication skills are an essent...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2082/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2082.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2082/Index">
      <h3>What's New In EFCore5 (and coming in EFCore6)</h3>
       </a>
      <p>In this session, we'll dive into many of the new features available in EFCore5 that can help to enhance your solutions.  We'll look at examples of Many-To-Many auto navigations, Table-Per-Type inheritance mapping, Filtered Includes, Split Queries, Simple Logging, and Flexible Entity Mapping.  We'll ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2083/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2083.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2083/Index">
      <h3>The Murphy's Laws of Observabillity</h3>
       </a>
      <p>We’re all familiar with Murphy’s Law. “Anything that can go wrong, will go wrong.” And over time, Murphy’s Law has been extended, abstracted and applied to numerous disciplines. 
Within Observability, the extension of data and monitoring focused on deep insights in our complex apps and environments,...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2084/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2084.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2084/Index">
      <h3>NodeJS, ML, K8s and Unethical Face Recognition</h3>
       </a>
      <p>How nice would it be to be able to remember everyone’s name? What if you could just walk into a room and know everyone’s Twitter handle? Kubernetes is a great tool that is being used more and more for deploying applications, but it can also be used in the context of machine learning. In this talk, t...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2087/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2087.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2087/Index">
      <h3>Get Comfortable with .NET 5 and the CLI</h3>
       </a>
      <p>Still using .NET Framework 4.x? It's time to look at .NET 5 (and soon, .NET 6). So let's get comfortable with the creating, running, and testing applications using the command-line interface. We'll create a self-hosted web service and then write an application to use that service. Unit tests will ma...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2088/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2088.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2088/Index">
      <h3>Introduction to AI and Cognitive Services for Developers and Information Workers</h3>
       </a>
      <p>“Artificial Intelligence and Machine Learning are the new buzzwords in the industry. Microsoft's vision is to make AI accessible to every enterprise, data scientist, developer, information worker, consumer and device everywhere in the world. AI has a big role to play in the enterprise space. The fie...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2141/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2141.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2141/Index">
      <h3>From Developer to Cloud Architect - Strategies for Success</h3>
       </a>
      <p>You're a developer, and now an architect. Not only an architect but a cloud architect. You're happy for the job but overwhelmed with everything that goes with the job. From networking skills to handling audits, a cloud architect has much to handle in the day-to-day challenges. What do you need to re...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
