@page
@model CPL20Archive.Pages.Sessions.Schedule11Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Schedule</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="ScheduleWS" class="btn">Workshops</a>
    <a asp-page="Schedule01" class="btn">Session Period 1</a>
    <a asp-page="Schedule02" class="btn">Session Period 2</a>
    <a asp-page="Schedule03" class="btn">Session Period 3</a>
    <a asp-page="Schedule04" class="btn">Session Period 4</a>
    <a asp-page="Schedule05" class="btn">Session Period 5</a>
    <a asp-page="Schedule06" class="btn">Session Period 6</a>
    <a asp-page="Schedule07" class="btn">Session Period 7</a>
    <a asp-page="Schedule08" class="btn">Session Period 8</a>
    <a asp-page="Schedule09" class="btn">Session Period 9</a>
    <a asp-page="Schedule10" class="btn">Session Period 10</a>
    <a asp-page="Schedule11" class="btn btn-info">Session Period 11</a>
    <a asp-page="ScheduleKN" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="1654">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1654.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1654">
      <h3>Event-driven Architecture, Micro-services and the Cloud</h3>
       </a>
      Event-driven architectures are a versatile approach to designing and integrating complex software systems.  Event-driven architecture is not a new concept, but as more organizations evolve and are open to move more features to the cloud, this approach to system design has become appropriate in more 
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1659">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1659.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1659">
      <h3>Yarn 2: a next generation package manager</h3>
       </a>
      The recently released Yarn 2 brings a host of great new features for JavaScript developers. The slick new CLI, more readable output, clear errors, and significant enhancements to workspaces make Yarn 2 a solid upgrade from the already impressive Yarn 1. But with an incredible feature called Plug-n-P
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1686">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1686.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1686">
      <h3>Yes we code too</h3>
       </a>
      The importance of the inclusion of woman and minorities in the tech industry.
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1697">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1697.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1697">
      <h3>IaC 2 Ways: Terraform v Pulumi</h3>
       </a>
      Reliably creating infrastructure is difficult.  Choosing the right tool for the job is even more difficult.  During this session we will take a look at two Infrastructure as Code (IaC) tools: Terraform and Pulumi.  During the first half we will look at creating an application hosting stack in AWS us
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1721">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1721.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1721">
      <h3>How to Render Twenty Thousand Rows without Crashing Chrome</h3>
       </a>
      If you have say twenty thousand rows to render, you probably don’t want to fetch all that data at once and you especially don’t want to render all those rows on page load.   This talk is about how to render only the rows you need and how to just-in-time load data for those rows.

On the frontend,  t
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1742">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1742.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1742">
      <h3>Record Linkage and Deduplicating Data with ML</h3>
       </a>
      Machine learning and fuzzy matching can enable us to identify duplicate or linked records across datasets, even when the records don’t have a common unique identifier.

Ahmad Firjani will explain how he used machine learning algorithms to link matching records from clinic dataset to other patient da
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1758">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1758.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1758">
      <h3>React Native CI Rehab Starting with Detox</h3>
       </a>
      React Native allows you a low barrier into Mobile Development across platforms for iOS & Android. However, it might leave you feeling a little intoxicated and unsteady. Things are a little fuzzy and unclear when it comes to writing fully automated end-to-end testing. We will start a little rehab wit
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1769">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1769.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1769">
      <h3>Knowing Your Limitations: The key to improving your software design decisions</h3>
       </a>
      Two of the hardest challenges in software development are building the right thing and building the thing right. The first problem comes from a lack of understanding of what users want. The second comes from the fact that the complexities of software make it challenging to build high-quality applica
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1776">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1776.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1776">
      <h3>Indexes: The Voodoo of SQL Server</h3>
       </a>
      Microsoft SQL Server is a large data ecosystem with many facets that can affect how your queries perform. Facets like what kind of hardware are you using, how much memory, CPUs. Many of these facets cost money and there are many things about them that can be turned on, tweaked, or implemented to hel
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1781">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1781.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1781">
      <h3>Building Stateful workloads in Kubernetes</h3>
       </a>
      It's day 2. Kubernetes is running. You have your deployments and services set. Now how do you migrate the data store? Let's journey together on this code-focused tour through Persistent Volumes, Persistent Volume Claims, ConfigMaps, Secrets and StatefulSets. We'll craft and launch a strategy to care
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1782">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1782.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1782">
      <h3>Micro:bit: the Perfect Programming Device for Kids (and Adults)?</h3>
       </a>
      It is half the size of a credit card.

It is the easiest device to program. All you need is a browser!
What is really cool, is the web programming interface, which emulates to device so well, you actually don't need the device to start programming.  In the browser, you can interact with the web "dev
    </div>
  </div>
  <hr />
</div>
