@page
@model CPL20Archive.Pages.Sessions.Schedule03Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Schedule</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="ScheduleWS" class="btn">Workshops</a>
    <a asp-page="Schedule01" class="btn">Session Period 1</a>
    <a asp-page="Schedule02" class="btn">Session Period 2</a>
    <a asp-page="Schedule03" class="btn btn-info">Session Period 3</a>
    <a asp-page="Schedule04" class="btn">Session Period 4</a>
    <a asp-page="Schedule05" class="btn">Session Period 5</a>
    <a asp-page="Schedule06" class="btn">Session Period 6</a>
    <a asp-page="Schedule07" class="btn">Session Period 7</a>
    <a asp-page="Schedule08" class="btn">Session Period 8</a>
    <a asp-page="Schedule09" class="btn">Session Period 9</a>
    <a asp-page="Schedule10" class="btn">Session Period 10</a>
    <a asp-page="Schedule11" class="btn">Session Period 11</a>
    <a asp-page="ScheduleKN" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1675/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1675.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1675/Index">
      <h3>Recruiters Suck. Use them.</h3>
       </a>
      Working with recruiters is miserable. Most individuals don't want to use us and if they do they grit their teeth the whole time. In this session I will reveal all of our secrets and give you a 'behind the scenes' on how to navigate working with us and other general career tips!
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1699/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1699.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1699/Index">
      <h3>Developing Spidey Senses : Anomaly Detection for apps</h3>
       </a>
      Anomaly detection is the process of identifying unexpected items or events in data sets. It’s about detecting the deviation from expected pattern of a dataset. It’s like having “spidey senses” for your apps that can detect when there’s danger or something is not right. Attend this session and learn 
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1708/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1708.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1708/Index">
      <h3>Determining the Cost to Move to Azure</h3>
       </a>
      You have read all about moving to the cloud, spoken to colleagues who are on it and even attended events where they told you about how great it is, and YOU ARE SOLD! You recognize the benefits of storing your workloads in the cloud and ready for things to happen. Everyone agrees its the right answer
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1715/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1715.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1715/Index">
      <h3>Contextual Data Management in React.</h3>
       </a>
      Managing data is hard, and opinions vary wildly. Should things be localized? Should data be passed up to a global Redux store? During this presentation I will go through the different types of data and provide recommendations on how to manage each.
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1744/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1744.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1744/Index">
      <h3>Single Page Architectures with VueJS and ASP.NET Core</h3>
       </a>
      If you have been an ASP.NET developer for any period of time, you have probably made the jump from Web Forms to Razor and now you're eyeing the jump to supporting Single Page Applications within ASP.NET.  This is not for the faint of heart, because the process is radically different from anything yo
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1748/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1748.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1748/Index">
      <h3>Testing your APIs with Postman and Newman</h3>
       </a>
      Testing is an essential part of a quality API strategy. And API testing means taking an "outside-in" approach to writing and executing those tests. This talk w/ show you how to create simple request tests (SRTs) to probe your API endpoints as well as apply Dan North's Behavior-Driven Approach (BDD) 
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1749/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1749.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1749/Index">
      <h3>Getting to the Heart of the Matter</h3>
       </a>
      In this session, we will explore the 5 Whys technique. This is a simple but powerful tool for cutting quickly through the outward symptoms of a problem to reveal its underlying causes.
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1757/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1757.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1757/Index">
      <h3>Demystifying the .NET Runtime</h3>
       </a>
      While most .NET developers know that .NET is an interpreted language, have you ever thought about what that really means? If the language is compiled to an intermediate language (literally called "Microsoft Intermediate Language" or MSIL) and run on a VM, how have they added more features to the lan
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1763/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1763.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1763/Index">
      <h3>DevOps and Machine Learning</h3>
       </a>
      With machine learning becoming more and more an engineering problem the need to track, work together and easily deploy ML experiments with integrated CI/CD tooling is becoming more relevant than ever.

In this session we take a deep-dive into the DevOps process that comes with Azure Machine Learning
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1765/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1765.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1765/Index">
      <h3>I'll Get Back to You: Task, Await, and Asynchronous Methods in C#</h3>
       </a>
      There's a lot of confusion about async/await, Task/TPL, and asynchronous and parallel programming in general. So let's start with the basics and look at how we can consume asynchronous methods using Task and then see how the "await" operator can makes things easier for us. Along the way, we’ll look 
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1777/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1777.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1777/Index">
      <h3>What You Need to Know About Open Source—Trust Me, I'm a Lawyer</h3>
       </a>
      Open source tools. We all use them. Whether an entire framework, a focused toolkit, or a simple custom component from GitHub, npm, or NuGet, the opportunity to improve our development speed while learning new things from open source projects is enticing.

But what does “open source” truly mean? What
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1797/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1797.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1797/Index">
      <h3>Application Orchestration in Azure</h3>
       </a>
      Most businesses leverage multiple applications and services to achieve their goals. Making sure those applications coordinate tasks appropriately is a critical component of their success. Automating those processes is even better. Making sure you have the right technology to automate your business p
    </div>
  </div>
  <hr />
</div>
