@page
@model CPL20Archive.Pages.Sessions.Schedule08Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Schedule</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="ScheduleWS" class="btn">Workshops</a>
    <a asp-page="Schedule01" class="btn">Session Period 1</a>
    <a asp-page="Schedule02" class="btn">Session Period 2</a>
    <a asp-page="Schedule03" class="btn">Session Period 3</a>
    <a asp-page="Schedule04" class="btn">Session Period 4</a>
    <a asp-page="Schedule05" class="btn">Session Period 5</a>
    <a asp-page="Schedule06" class="btn">Session Period 6</a>
    <a asp-page="Schedule07" class="btn">Session Period 7</a>
    <a asp-page="Schedule08" class="btn btn-info">Session Period 8</a>
    <a asp-page="Schedule09" class="btn">Session Period 9</a>
    <a asp-page="Schedule10" class="btn">Session Period 10</a>
    <a asp-page="Schedule11" class="btn">Session Period 11</a>
    <a asp-page="ScheduleKN" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1657/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1657.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1657/Index">
      <h3>Developing and deploying your first ASP.NET Core Microservice to Kubernetes</h3>
       </a>
      <p>Are you frustrated with your monolith or exploring a microservices architecture pattern for your next application? Kubernetes offers orchestration and tooling to make it easier to build and deploy an elastic, self-healing microservice system. In this session, we’ll build a single microservice with A...<br /><br /><span style="background-color:#DF625C;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1661/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1661.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1661/Index">
      <h3>Containerization For Software Developers</h3>
       </a>
      <p>The end is nigh. Your application is almost ready and you will need to deploy it. And with the deployment, the endless tweaking to actually get everything running in a production environment. If only there was a way to test everything in that environment first… This is where containers will come in ...<br /><br /><span style="background-color:#DF625C;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1698/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1698.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1698/Index">
      <h3>Men from Mars, Women from Venus: both can code .NET in Jupyter</h3>
       </a>
      <p>Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. Attend this session and learn how you can write .NET code in Jupyter Notebooks and fall in love with .NET all over again...<br /><br /><span style="background-color:#DF625C;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1702/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1702.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1702/Index">
      <h3>Type-setting in CSS: Using typography to enhance your design</h3>
       </a>
      <p>From hands, to chisels, quills, the printing press, and now the web, a written record of our existence has been a constant throughout history. Languages, and how they are depicted, have evolved alongside the tools we use to render them. Often overlooked in design, text content is an integral part of...<br /><br /><span style="background-color:#DF625C;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1734/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1734.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1734/Index">
      <h3>TDD Is My Shame</h3>
       </a>
      <p>"I don't do as much Test-Driven Development as I should; it's my shame."

The more time I spend at recent development conferences, the more I see this sentiment echoed. Developers get the impression that they *should* do TDD, but they don't.

Sometimes they don't know how to do it effectively, so it...<br /><br /><span style="background-color:#DF625C;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1737/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1737.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1737/Index">
      <h3>Understanding Probabilistic Data Structures with 112,092 UFO Sightings</h3>
       </a>
      <p>There are three reactions to the title of this talk:

- What the heck’s a probabilistic data structure?
- UFO Sightings… wha?
- 112,092 is an oddly specific number.

This is a talk about the first bullet point with the second thrown in just for fun. I like weird stuff—UFOs, Bigfoot, peanut butter an...<br /><br /><span style="background-color:#DF625C;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1754/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1754.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1754/Index">
      <h3>The Smallest Thing that's Helpful</h3>
       </a>
      <p>The Requirements ask for the world.  But you can't go out and build the world all at once.

You have to build small things, one at a time.

In this talk we'll discuss how to identify and document what the 'small things' are?  We'll show the benefits of getting something built and in front of the dec...<br /><br /><span style="background-color:#DF625C;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1767/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1767.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1767/Index">
      <h3>Migrate it!</h3>
       </a>
      <p>Do you have an "old" .NET Framework App?  Let's see how we can port it, migrate it, and/or upgrade it to us a combination of .NET Core and .NET Standard to modernize it....<br /><br /><span style="background-color:#DF625C;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1773/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1773.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1773/Index">
      <h3>Six Little Lines of Fail</h3>
       </a>
      <p>It seemed like an easy feature to implement, a checkout page to place an order. But this payment gateway has a simple API, so we added that. And this email service provider makes it possible to send an email with one line of code! Finally we can notify downstream systems via a message queue. The cod...<br /><br /><span style="background-color:#DF625C;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1800/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1800.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1800/Index">
      <h3>Machine Learning for .NET Folks Without (or With!) a Ph.D.</h3>
       </a>
      <p>The modern world has already been impacted by machine learning and will continue to be impacted even more.  It is critical that more software developers have access to this skill.  With ML.NET, .NET developers are not left out!  ML.NET is an open-source and cross platform framework to train custom m...<br /><br /><span style="background-color:#DF625C;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1801/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1801.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1801/Index">
      <h3>Monitoring Kubernetes the Open Source Way</h3>
       </a>
      <p>In this session we will setup an open source observability stack to monitor our applications and infrastructure deployed on Kubernetes.  Using Prometheus, Loki and Grafana the speaker will demonstrate live the deployment and configuration of these components to setup a flexible and powerful observab...<br /><br /><span style="background-color:#DF625C;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1805/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1805.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1805/Index">
      <h3>Design for Non-Designers from a Non-Designer</h3>
       </a>
      <p>Elegant design requires talent, but talent is not a prerequisite for avoiding bad design. If you lack artistic touch and prefer rules and logic over the ethereal art form, the fundamental tenets of composition can enable you to apply Design as a programming paradigm. Spend an hour with a coder learn...<br /><br /><span style="background-color:#DF625C;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
</div>
