@page
@model CPL20Archive.Pages.Sessions.Schedule09Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Schedule</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="ScheduleWS" class="btn">Workshops</a>
    <a asp-page="Schedule01" class="btn">Session Period 1</a>
    <a asp-page="Schedule02" class="btn">Session Period 2</a>
    <a asp-page="Schedule03" class="btn">Session Period 3</a>
    <a asp-page="Schedule04" class="btn">Session Period 4</a>
    <a asp-page="Schedule05" class="btn">Session Period 5</a>
    <a asp-page="Schedule06" class="btn">Session Period 6</a>
    <a asp-page="Schedule07" class="btn">Session Period 7</a>
    <a asp-page="Schedule08" class="btn">Session Period 8</a>
    <a asp-page="Schedule09" class="btn btn-info">Session Period 9</a>
    <a asp-page="Schedule10" class="btn">Session Period 10</a>
    <a asp-page="Schedule11" class="btn">Session Period 11</a>
    <a asp-page="ScheduleKN" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="1662">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1662.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1662">
      <h3>My Browser Does What?</h3>
       </a>
      The Web evolves quickly. We are far away from the days of Marquees and Blink. But learning the latest features of the latest ECMAScript implementation or the newest PHP framework isn’t everything. New Web APIs are constantly added to the browser. Did you know that your browser can process audio feed
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1664">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1664.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1664">
      <h3>Sustainable Accessibility: Integrating accessibility checks into your CI/CD pipeline</h3>
       </a>
      Accessibility is important, not only for your users but also to meet legal requirements for certain levels of compliance. Unfortunately, most companies lack developers and quality assurance analysts who are trained to produce and test accessible user interfaces to industry-standard levels. Furthermo
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1673">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1673.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1673">
      <h3>Introduction to CSS Grid</h3>
       </a>
      When it comes to building responsive web layouts we’ve used tables, floats and Flexbox. Now there’s CSS Grid. In this talk, we’ll go over what differentiates it from other techniques and why it’s completely changing the game. Through code examples and demos, you’ll walk out of this talk able to star
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1717">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1717.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1717">
      <h3>How to Talk with Clients</h3>
       </a>
      As programmers, we aren't exactly known for our people skills. In fact, it can be downright perplexing at times why our clients or end-users can't figure out the more obvious tenants to technology. In this presentation, we will go over ways to build trust with clients, how to ask questions, how to s
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1720">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1720.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1720">
      <h3>The Journey to Cell Based Architecture</h3>
       </a>
      In this session Dorrin will be diving into what Cell based Architecture, a term coined by Amazon Web Services is and how you can utilize it to prepare your infrastructure and applications for ultimate global scale.  Dorrin will also go through lessons learned from transforming the monolith architect
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1745">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1745.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1745">
      <h3>Better Object Mapping in .NET with Dapper</h3>
       </a>
      When people talk about using ORMs (Object Relational Mappers) like Entity Framework or nHibernate in their projects, they common are only looking for one fundamental feature: the ability to map SQL output to C# object. Large ORM-based solutions add additional complexity, and black-box much of what i
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1746">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1746.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1746">
      <h3>Secrets of a Blazor Component Artisan</h3>
       </a>
      In this session we'll jump past hello world and focus on Blazor's Razor Component architecture. We'll learn component design concepts and best practices including: event handling, attribute splatting, state management, and component libraries. Through example we'll understand the tools and technique
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1761">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1761.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1761">
      <h3>Power-leveling the padawans</h3>
       </a>
      How to mentor someone 1:1 without creating copies of yourself. Leaders have a responsibility to find and train new leaders. This talk is about how to power-level those potential leaders without turning them into a clone army.

I spent five years mentoring someone one to one every week. Now he's my c
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="1787">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1787.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="1787">
      <h3>Maximum Overkill: Using Terraform to set up an AWS-hosted personal website</h3>
       </a>
      Terraform is an exciting Infrastructure-as-Code (IaC) tool that lets you provision and deploy services to multiple clouds and providers. It’s an extremely popular tool with DevOps teams. I wanted to learn how to use it, and decided the best way was to do a small, “real” project – writing automation 
    </div>
  </div>
  <hr />
</div>
