@page
@model CPL20Archive.Pages.sessions.ScheduleModel
@{
}

<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Schedule</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="ScheduleWS" class="btn">Workshops</a>
    <a asp-page="Schedule01" class="btn btn-info">Session Period 1</a>
    <a asp-page="Schedule02" class="btn">Session Period 2</a>
    <a asp-page="Schedule03" class="btn">Session Period 3</a>
    <a asp-page="Schedule04" class="btn">Session Period 4</a>
    <a asp-page="Schedule05" class="btn">Session Period 5</a>
    <a asp-page="Schedule06" class="btn">Session Period 6</a>
    <a asp-page="Schedule07" class="btn">Session Period 7</a>
    <a asp-page="Schedule08" class="btn">Session Period 8</a>
    <a asp-page="Schedule09" class="btn">Session Period 9</a>
    <a asp-page="Schedule10" class="btn">Session Period 10</a>
    <a asp-page="Schedule11" class="btn">Session Period 11</a>
    <a asp-page="ScheduleKN" class="btn">Keynote &amp; Open Spaces</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1658.jpg" />
    </div>
    <div class="span8">
      <h3>Developer's Guide to Common Vulnerabilities and How to Prevent Them</h3>
      <p>Learn how to prevent common vulnerabilities such as XSS, injection, and third-party vulnerabilities. In this talk, I'll go over some of the most common vulnerabilities that directly affect developers and how you can make simple changes to prevent them. This is not an exhaustive list, but it's a great place to get started.</p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1658.jpg" />
    </div>
    <div class="span8">
      <h3>Developer's Guide to Common Vulnerabilities and How to Prevent Them</h3>
      <p>Learn how to prevent common vulnerabilities such as XSS, injection, and third-party vulnerabilities. In this talk, I'll go over some of the most common vulnerabilities that directly affect developers and how you can make simple changes to prevent them. This is not an exhaustive list, but it's a great place to get started.</p>
    </div>
  </div>

</div>

