@page
@model CPL20Archive.Pages.Sessions.Schedule01Model
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Schedule</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="ScheduleWS" class="btn">Workshops</a>
    <a asp-page="Schedule01" class="btn btn-info">Session Period 1</a>
    <a asp-page="Schedule02" class="btn">Session Period 2</a>
    <a asp-page="Schedule03" class="btn">Session Period 3</a>
    <a asp-page="Schedule04" class="btn">Session Period 4</a>
    <a asp-page="Schedule05" class="btn">Session Period 5</a>
    <a asp-page="Schedule06" class="btn">Session Period 6</a>
    <a asp-page="Schedule07" class="btn">Session Period 7</a>
    <a asp-page="Schedule08" class="btn">Session Period 8</a>
    <a asp-page="Schedule09" class="btn">Session Period 9</a>
    <a asp-page="Schedule10" class="btn">Session Period 10</a>
    <a asp-page="Schedule11" class="btn">Session Period 11</a>
    <a asp-page="ScheduleKN" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1658/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1658.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1658/Index">
      <h3>Developer's Guide to Common Vulnerabilities and How to Prevent Them</h3>
       </a>
      <p>Learn how to prevent common vulnerabilities such as XSS, injection, and third-party vulnerabilities.

In this talk, I'll go over some of the most common vulnerabilities that directly affect developers and how you can make simple changes to prevent them. This is not an exhaustive list, but it's a gre...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1689/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1689.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1689/Index">
      <h3>Modular Monoliths Are The New Microservices</h3>
       </a>
      <p>We've finally reached the trough of disillusionment on Microservices, and people have realized that they are not Magic, nor are they easy. Most of the supposed "benefits" of Microservices can achieved without that added complexity though. Let's discuss some strategies for how you can design your app...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1693/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1693.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1693/Index">
      <h3>Scrum Master, What Would You Say You Do Here?</h3>
       </a>
      <p>Scrum Masters. We understand what we do (most of the time), but find that other people have difficulty grasping what we do. Often our role is misunderstood and our value lost on upper management, despite the fact that we consistently help teams deliver amazing results.

This talk is to explain in si...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1705/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1705.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1705/Index">
      <h3>Think Global: A Guide to High Performing Global Dev Teams</h3>
       </a>
      <p>We live in a world where our colleagues may not sit next to us, or be in the same city, or even in the same country. A diverse workforce with varied perspectives, help companies to remain competitive today.

But, geographically dispersed teams also come with a set of challenges. Managing development...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1714/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1714.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1714/Index">
      <h3>A11y with React Components.</h3>
       </a>
      <p>React is a tool. Used improperly it can be an inaccessible nightmare. Leveraged wisely it can give you the confidence that components are being implemented in an accessible way. During this talk, I will go through techniques and strategies to make your React Components more accessible....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1722/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1722.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1722/Index">
      <h3>Kubernetes Operators, When and How?</h3>
       </a>
      <p>Kubernetes is the hot new topic in the industry. Kubernetes Operators are the newest part of the Kubernetes ecosystem which allow for even more automation and less human intervention. However, there are not many companies developing Kubernetes Operators. In this talk, Dorrin will dig deep into what ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1733/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1733.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1733/Index">
      <h3>Government regulation in the age of AI & Digital Transformation</h3>
       </a>
      <p>Recently in government legislatures lengthy debates & discussion have been held regarding robots & AI and how they will impact the new economy in years to come & what regulations or laws should be passed to manage them.

However, in government & legislatures at all levels, (local, state & federal) w...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1735/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1735.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1735/Index">
      <h3>Do Bugs Speak?</h3>
       </a>
      <p>Do bugs speak?
Yes, they do. People speak different languages like English, German, French, Chinese etc. But is communication to bugs possible? It is important to understand them, because they really tell something to us. There are valuable information underlying the bugs of a software, and informat...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1752/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1752.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1752/Index">
      <h3>Build a Data Pipeline in the cloud for Bird Recognition</h3>
       </a>
      <p>Build a cloud data pipeline to enable bird recognition from streaming video and provide descriptive information about the birds. The architecture will take live streaming video and use lambda functions to initiate image recognition, data mapping, and display the information on a webpage. This projec...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1775/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1775.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1775/Index">
      <h3>Data Migration to the Azure SQL Platform Made Easy</h3>
       </a>
      <p>When you decided to move to any cloud provider, the thought about how to migrate all your data can seem like a daunting task. Thankfully, it isn't as daunting as you might think thanks to some native tools as well as tools offered by Microsoft. In this session we'll examine these methods and tools t...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1791/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1791.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1791/Index">
      <h3>Make your applications interactive with Speech Services</h3>
       </a>
      <p>Everyone knows we can’t deny benefits of artificial intelligence both for business and for consumers. Developers are trying to integrate it to all kinds of applications and all major tech companies are working on making it as accessible as possible. Whether you are working with machine learning mode...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1793/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1793.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1793/Index">
      <h3>Microservices — The Easy Way is the Wrong Way</h3>
       </a>
      <p>Don't fall for buzz-words. Microservices done right is hard. This talk is about what you need to know to do them well. I'll show pros/cons and tactics....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
</div>
