@page
@model CPL20Archive.Pages.Sessions.Topic_AppDevModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Topic</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Topic_AppDev" class="btn btn-info">Application Development</a>
    <a asp-page="Topic_Infrastructure" class="btn">Infrastructure</a>
    <a asp-page="Topic_ProjMgnt" class="btn">Project Mangement</a>
    <a asp-page="Topic_Requirements" class="btn">Requirements</a>
    <a asp-page="Topic_SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="Topic_Testing" class="btn">Software Testing</a>
    <a asp-page="Topic_UX" class="btn">User Experience</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1655/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1655.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1655/Index">
      <h3>Kotlin All The Things!</h3>
       </a>
      <p>Kotlin is taking the development community by storm. Since Google announced they are officially partnering with JetBrains to support the language for Android development, mobile developers are flocking en masse. 

But what about everyone else? Good news - Kotlin is not just for mobile. In this talk,...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1657/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1657.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1657/Index">
      <h3>Developing and deploying your first ASP.NET Core Microservice to Kubernetes</h3>
       </a>
      <p>Are you frustrated with your monolith or exploring a microservices architecture pattern for your next application? Kubernetes offers orchestration and tooling to make it easier to build and deploy an elastic, self-healing microservice system. In this session, we’ll build a single microservice with A...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1658/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1658.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1658/Index">
      <h3>Developer's Guide to Common Vulnerabilities and How to Prevent Them</h3>
       </a>
      <p>Learn how to prevent common vulnerabilities such as XSS, injection, and third-party vulnerabilities.

In this talk, I'll go over some of the most common vulnerabilities that directly affect developers and how you can make simple changes to prevent them. This is not an exhaustive list, but it's a gre...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1659/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1659.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1659/Index">
      <h3>Yarn 2: a next generation package manager</h3>
       </a>
      <p>The recently released Yarn 2 brings a host of great new features for JavaScript developers. The slick new CLI, more readable output, clear errors, and significant enhancements to workspaces make Yarn 2 a solid upgrade from the already impressive Yarn 1. But with an incredible feature called Plug-n-P...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1660/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1660.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1660/Index">
      <h3>Migrating from REST to GraphQL</h3>
       </a>
      <p>Learn how to migrate from REST APIs to GraphQL. Convert your REST API operations into GraphQL mutations and queries....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1662/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1662.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1662/Index">
      <h3>My Browser Does What?</h3>
       </a>
      <p>The Web evolves quickly. We are far away from the days of Marquees and Blink. But learning the latest features of the latest ECMAScript implementation or the newest PHP framework isn’t everything. New Web APIs are constantly added to the browser. Did you know that your browser can process audio feed...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1663/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1663.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1663/Index">
      <h3>Mobile Wars: The Rise of Cross Platform Apps</h3>
       </a>
      <p>A long time ago in a galaxy far, far away...cross platform app frameworks started coming into existence. In this session we will compare popular cross platform frameworks for mobile and talk about which one you should use next!...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1667/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1667.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1667/Index">
      <h3>Don't screw up the SQL!</h3>
       </a>
      <p>A session for anyone who writes SQL and is not an experienced, siloed SQL expert ... we’ll examine basic features of Microsoft SQL Server that can cause headaches if not used as intended. We’ll explore several of the most basic SQL Server mistakes of my career so you can avoid them and write better ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1668/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1668.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1668/Index">
      <h3>Getting Started with Python [Half-Day Workshop]</h3>
       </a>
      <p>For people who have never written a line of Python code, we’ll learn the basics together and answer questions along the way. This tutorial utilizes Visual Studio Code and Python 3.7.x resulting in a free and relevant bag of tools for your next project. Time-allowing, we’ll explore useful libraries!...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1681/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1681.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1681/Index">
      <h3>Secure your API! The OWASP API Security Top 10 and you</h3>
       </a>
      <p>The things you've done to secure your previous web apps might not be enough for your APIs. We'll review the OWASP API Security Top 10, reviewing the biggest risks and ways to mitigate them....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1684/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1684.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1684/Index">
      <h3>From Monolith to Serverless: Rethinking your Architecture</h3>
       </a>
      <p>It’s easy to understand the benefits of Serverless but it’s not always easy to understand how this will impact our software architecture.

In this talk we will deconstruct a set of requirements and walk through the architecture of both a traditional service-oriented architecture and a modern serverl...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1688/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1688.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1688/Index">
      <h3>Learning The Language Of HTTP For A Better Data Experience In Your Mobile Apps</h3>
       </a>
      <p>You know you have to have a great experience when you develop your mobile applications, right? The greatest experience you can give your users centers around their data. There are ways to improve your mobile applications and Chris Woodruff will teach you how to learn and understand the language of H...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1689/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1689.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1689/Index">
      <h3>Modular Monoliths Are The New Microservices</h3>
       </a>
      <p>We've finally reached the trough of disillusionment on Microservices, and people have realized that they are not Magic, nor are they easy. Most of the supposed "benefits" of Microservices can achieved without that added complexity though. Let's discuss some strategies for how you can design your app...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1694/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1694.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1694/Index">
      <h3>A Crash Course on 3D Printing [Half-Day Workshop]</h3>
       </a>
      <p>3D printing has been around for years, but it's easier than ever to get started, and surprisingly affordable.

If you've been thinking about buying a 3D printer, but weren't sure how to get started, this session is for you! We'll cover how to choose your first 3D printer, whether your budget is big ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1698/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1698.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1698/Index">
      <h3>Men from Mars, Women from Venus: both can code .NET in Jupyter</h3>
       </a>
      <p>Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. Attend this session and learn how you can write .NET code in Jupyter Notebooks and fall in love with .NET all over again...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1699/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1699.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1699/Index">
      <h3>Developing Spidey Senses : Anomaly Detection for apps</h3>
       </a>
      <p>Anomaly detection is the process of identifying unexpected items or events in data sets. It’s about detecting the deviation from expected pattern of a dataset. It’s like having “spidey senses” for your apps that can detect when there’s danger or something is not right. Attend this session and learn ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1709/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1709.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1709/Index">
      <h3>Mock It 'til You Make It</h3>
       </a>
      <p>Let's automate the tedious task of building mocked query resolvers so that you never have to manually set up mocks for loading, error, no data, or default value states ever again! We'll learn how to use GraphQL and Apollo in a React application to build providers that will dynamically auto mock all ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1711/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1711.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1711/Index">
      <h3>Learning to Love the Lambda in the Stream</h3>
       </a>
      <p>Are you new to Java 8 and Lambdas?  Wondering what all the fuss is about?  In this session, we will introduce Java Lambdas, Functional Interfaces, and how to put it all together with Java 8 Streams....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1712/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1712.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1712/Index">
      <h3>Let’s code a drone to follow faces! Using AI, Python, containers and more.</h3>
       </a>
      <p>You can control a drone using 20 lines of code. That’s the easy part. However, adding extra features like face or object detection and program the drone to follow and object or a face requires … another 20 lines of code!
During this workshop we will review how to connect to a drone, how to send and ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1716/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1716.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1716/Index">
      <h3>Java, the non-Enterprise parts</h3>
       </a>
      <p>Java is a mature, Enterprise-ready language, right? Not when we're done with it! Buckle up and get ready for some things you should ONLY try at home. Up is down, left is right, comments are executable, identical things aren't equal, and "final" isn't as final as it seems. We'll explore these topics ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1721/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1721.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1721/Index">
      <h3>How to Render Twenty Thousand Rows without Crashing Chrome</h3>
       </a>
      <p>If you have say twenty thousand rows to render, you probably don’t want to fetch all that data at once and you especially don’t want to render all those rows on page load.   This talk is about how to render only the rows you need and how to just-in-time load data for those rows.

On the frontend,  t...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1723/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1723.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1723/Index">
      <h3>What can Visual Studio do for Mobile Developers?</h3>
       </a>
      <p>So you are a Mobile developer. Looking for sanity amidst a plethora of platforms, frameworks and tooling options? Wondering if Visual Studio is the right IDE for you? Let me convince you why .. let’s talk:

•	Visual Studio for Windows & Mac
•	Visual Studio tooling for Mobile Web, PWAs, Hybrid & JS N...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1724/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1724.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1724/Index">
      <h3>What’s new in Xamarin.Forms!</h3>
       </a>
      <p>Xamarin.Forms has come a long way, enabling developers to build truly native & truly cross-platform apps across various platforms. The latest Xamarin.Forms 4.x release is here – ready with increased productivity for developers, matured tooling and easy code sharing across platforms. Let’s do a whirl...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1726/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1726.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1726/Index">
      <h3>Functional Programming Techniques in C#</h3>
       </a>
      <p>Over the years C# has adopted language features that allow developers to solve problems using functional programming techniques. Functional programming can seem complex and confusing to object oriented developers, making it difficult to take advantage of the functional features of C#.  It's also not...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1729/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1729.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1729/Index">
      <h3>Supersonic. Subatomic. Java.</h3>
       </a>
      <p>In this session, we’ll demonstrate how you can optimize your enterprise Java apps, your APIs, your microservices, and your serverless functions for a Kubernetes/OpenShift environment using Quarkus. Quarkus is a Kubernetes Native Java stack tailored for OpenJDK HotSpot and GraalVM, crafted from the b...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1730/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1730.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1730/Index">
      <h3>Intro to Blockchain with Algorand</h3>
       </a>
      <p>Algorand is a new blockchain built on a Permissionless, pure proof of stake, decentralized agreement protocol, where anyone can participate and requires minimal computational power. This protocol finalizes transactions very quickly and offers true decentralization.
Algorand 2.0 is an exciting releas...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1737/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1737.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1737/Index">
      <h3>Understanding Probabilistic Data Structures with 112,092 UFO Sightings</h3>
       </a>
      <p>There are three reactions to the title of this talk:

- What the heck’s a probabilistic data structure?
- UFO Sightings… wha?
- 112,092 is an oddly specific number.

This is a talk about the first bullet point with the second thrown in just for fun. I like weird stuff—UFOs, Bigfoot, peanut butter an...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1738/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1738.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1738/Index">
      <h3>Dungeons, Dragons, and Graph Databases</h3>
       </a>
      <p>Are you an adventurer? Do you want gold? Experience? Levels? Of course you do! And where do you get these things? The dungeon, where else? That wonderful container of all things adventurous! But, unfortunately, dungeons aren't setup for the convenience of adventurers who wish to extract these fine t...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1739/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1739.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1739/Index">
      <h3>Gotcha Where I Want 'Cha : Building a React Native App with a GraphQL API [Full-Day Workshop]</h3>
       </a>
      <p>The majority of mobile applications need to use a backend API to connect it's users to it's services.

Building these types of applications often involves seperate developers, one for the frontend mobile code and one for the backend server code. The hand-off point for the API needs to handled delica...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1744/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1744.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1744/Index">
      <h3>Single Page Architectures with VueJS and ASP.NET Core</h3>
       </a>
      <p>If you have been an ASP.NET developer for any period of time, you have probably made the jump from Web Forms to Razor and now you're eyeing the jump to supporting Single Page Applications within ASP.NET.  This is not for the faint of heart, because the process is radically different from anything yo...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1745/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1745.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1745/Index">
      <h3>Better Object Mapping in .NET with Dapper</h3>
       </a>
      <p>When people talk about using ORMs (Object Relational Mappers) like Entity Framework or nHibernate in their projects, they common are only looking for one fundamental feature: the ability to map SQL output to C# object. Large ORM-based solutions add additional complexity, and black-box much of what i...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1746/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1746.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1746/Index">
      <h3>Secrets of a Blazor Component Artisan</h3>
       </a>
      <p>In this session we'll jump past hello world and focus on Blazor's Razor Component architecture. We'll learn component design concepts and best practices including: event handling, attribute splatting, state management, and component libraries. Through example we'll understand the tools and technique...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1747/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1747.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1747/Index">
      <h3>Writing JavaScript for C#'s Blazor</h3>
       </a>
      <p>Running C# in the browser with the Blazor framework needs JavaScript libraries to be successful. In this session well explore the JavaScript Interop for Blazor to see where great libraries can accelerate the platform. We'll learn how you can play a critical role in building a rich ecosystem and exte...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1757/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1757.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1757/Index">
      <h3>Demystifying the .NET Runtime</h3>
       </a>
      <p>While most .NET developers know that .NET is an interpreted language, have you ever thought about what that really means? If the language is compiled to an intermediate language (literally called "Microsoft Intermediate Language" or MSIL) and run on a VM, how have they added more features to the lan...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1762/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1762.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1762/Index">
      <h3>New role of EA - Building evolutionary architectures</h3>
       </a>
      <p>Agile delivery has challenged EA into building evolutionary architectures to address incremental change and system-wide fitness functions....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1764/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1764.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1764/Index">
      <h3>Developers Guide to Azure AI [4-Hour Workshop]</h3>
       </a>
      <p>After a tremendous age of innovation and research in the AI field, we are moving towards the age of appliance. But how and where do you get started as a developer?
In this workshop we dive into the AI platform on Microsoft Azure and find out how you as a developer you can use the power of AI in your...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1765/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1765.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1765/Index">
      <h3>I'll Get Back to You: Task, Await, and Asynchronous Methods in C#</h3>
       </a>
      <p>There's a lot of confusion about async/await, Task/TPL, and asynchronous and parallel programming in general. So let's start with the basics and look at how we can consume asynchronous methods using Task and then see how the "await" operator can makes things easier for us. Along the way, we’ll look ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1766/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1766.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1766/Index">
      <h3>Leveling Up: Dependency Injection in .NET [Full-Day Workshop]</h3>
       </a>
      <p>Loosely coupled code is easier to maintain, extend, and test. Dependency Injection (DI) help us get there. In this workshop, we'll see how interfaces can add "seams" to our code that makes it more flexible and maintainable. From there, we'll dig into loose coupling with Dependency Injection. DI does...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1767/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1767.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1767/Index">
      <h3>Migrate it!</h3>
       </a>
      <p>Do you have an "old" .NET Framework App?  Let's see how we can port it, migrate it, and/or upgrade it to us a combination of .NET Core and .NET Standard to modernize it....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1768/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1768.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1768/Index">
      <h3>TypeScript - Beyond the Basics</h3>
       </a>
      <p>TypeScript enables web developers to improve the clarity and reliability of their code. It also enables more powerful tools for writing code. This led to its rapid rise in popularity. But what can it do for you beyond just adding types to your variables and parameters? In this talk, we look at some ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1773/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1773.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1773/Index">
      <h3>Six Little Lines of Fail</h3>
       </a>
      <p>It seemed like an easy feature to implement, a checkout page to place an order. But this payment gateway has a simple API, so we added that. And this email service provider makes it possible to send an email with one line of code! Finally we can notify downstream systems via a message queue. The cod...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1776/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1776.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1776/Index">
      <h3>Indexes: The Voodoo of SQL Server</h3>
       </a>
      <p>Microsoft SQL Server is a large data ecosystem with many facets that can affect how your queries perform. Facets like what kind of hardware are you using, how much memory, CPUs. Many of these facets cost money and there are many things about them that can be turned on, tweaked, or implemented to hel...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1779/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1779.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1779/Index">
      <h3>Develop an ASP.NET Core 3 App with EF Core in a Day HOL [Full-Day Workshop]</h3>
       </a>
      <p>Interested in ASP.NET Core 3.x and Entity Framework Core 3.x, but not sure where to start? Start here with an all day Hands on Lab where you will build a complete solution using the latest development technology from Microsoft. You will build a data access library using Entity Framework Core, comple...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1782/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1782.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1782/Index">
      <h3>Micro:bit: the Perfect Programming Device for Kids (and Adults)?</h3>
       </a>
      <p>It is half the size of a credit card.

It is the easiest device to program. All you need is a browser!
What is really cool, is the web programming interface, which emulates to device so well, you actually don't need the device to start programming.  In the browser, you can interact with the web "dev...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1783/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1783.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1783/Index">
      <h3>Automating Hockey Team Management with Serverless</h3>
       </a>
      <p>You probably don't manage a beer league hockey team, maybe you do, I don't know your life but I'm sure you have a number of tasks that you do regularly that would benefit by being automated. 

Follow me on my journey of realizing I could make my life easier by automating the the process of managing ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1791/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1791.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1791/Index">
      <h3>Make your applications interactive with Speech Services</h3>
       </a>
      <p>Everyone knows we can’t deny benefits of artificial intelligence both for business and for consumers. Developers are trying to integrate it to all kinds of applications and all major tech companies are working on making it as accessible as possible. Whether you are working with machine learning mode...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1792/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1792.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1792/Index">
      <h3>Augmented reality and mobile: Now, the two worlds collided</h3>
       </a>
      <p>Augmented and virtual realities are getting increasingly more popular not only among developers, but also consumers. Now we can add those technologies to web and mobile applications.
Augmented reality mobile applications can be used in a wide variety of projects, no matter if it’s for healthcare, ga...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1793/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1793.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1793/Index">
      <h3>Microservices — The Easy Way is the Wrong Way</h3>
       </a>
      <p>Don't fall for buzz-words. Microservices done right is hard. This talk is about what you need to know to do them well. I'll show pros/cons and tactics....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1798/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1798.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1798/Index">
      <h3>Cross Platform Web App Development with ASP.NET Core</h3>
       </a>
      <p>Microsoft's ASP.NET web framework has been a powerful platform for building enterprise web applications. But ASP.NET is limited to Windows and Visual Studio. ASP.NET Core extended support beyond Windows, including macOS and Linux. In addition, a new cross-platform and open source development editor,...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1799/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1799.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1799/Index">
      <h3>Hands On Deep Learning for JavaScript Folks without (or with!) a Ph.D. [Half-Day Workshop]</h3>
       </a>
      <p>One of the hottest trends in the industry is artificial intelligence. And web developers are not going to be left out! This workshop introduces attendees to TensorFlow.js. Inspired by the high level Keras library included with Google's popular TensorFlow machine learning platform, TensorFlow.js make...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1800/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1800.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1800/Index">
      <h3>Machine Learning for .NET Folks Without (or With!) a Ph.D.</h3>
       </a>
      <p>The modern world has already been impacted by machine learning and will continue to be impacted even more.  It is critical that more software developers have access to this skill.  With ML.NET, .NET developers are not left out!  ML.NET is an open-source and cross platform framework to train custom m...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1804/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1804.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1804/Index">
      <h3>Anxiety-Free Databases for .NET Core</h3>
       </a>
      <p>Do you have anxiety regarding your database? Every time you touch it, does something break? Do you lack confidence that it matches your application's expectations? Learn about libraries and tools that can help you with database migrations, database validation, and integration testing for your relati...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
