@page
@model CPL20Archive.Pages.Sessions.Topic_RequirementsModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Topic</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Topic_AppDev" class="btn">Application Development</a>
    <a asp-page="Topic_Infrastructure" class="btn">Infrastructure</a>
    <a asp-page="Topic_ProjMgnt" class="btn">Project Mangement</a>
    <a asp-page="Topic_Requirements" class="btn btn-info">Requirements</a>
    <a asp-page="Topic_SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="Topic_Testing" class="btn">Software Testing</a>
    <a asp-page="Topic_UX" class="btn">User Experience</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1976/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1976.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1976/Index">
      <h3>(An introduction to) Domain Storytelling</h3>
       </a>
      <p>Domain Storytelling is a collaborative modeling method. It brings together domain experts and development teams and helps them to understand the domain of a software system, find microservices boundaries, and to talk about requirements.  

Domain Storytelling means that we let domain experts tell us...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1995/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1995.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1995/Index">
      <h3>How To Impact Map and Never Struggle with User Stories Again</h3>
       </a>
      <p>Imagine if you were able to produce a backlog of stories that connected to real people, their needs, and actual results. Instead of trying to explain stories that don't seem to have any connection because they're requirements wrapped up in a template.

In this session, I want to introduce a techniqu...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
