@page
@model CPL20Archive.Pages.Sessions.Topic_SoftSkillsModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Topic</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Topic_AppDev" class="btn">Application Development</a>
    <a asp-page="Topic_Infrastructure" class="btn">Infrastructure</a>
    <a asp-page="Topic_ProjMgnt" class="btn">Project Mangement</a>
    <a asp-page="Topic_Requirements" class="btn">Requirements</a>
    <a asp-page="Topic_SoftSkills" class="btn btn-info">Soft Skills</a>
    <a asp-page="Topic_Testing" class="btn">Software Testing</a>
    <a asp-page="Topic_UX" class="btn">User Experience</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1968/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1968.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1968/Index">
      <h3>Two Midwesterners Politely Invite You To Explore Coding</h3>
       </a>
      <p>Wonder what it's like to do what programmers do? Maybe people have tried to explain it, but didn't put it in terms that computed for you. Or maybe you would like to become more technical, but the mere thought of trying to code has felt intimidating. Today is a new day!

Faye's a non-programmer from ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1974/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1974.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1974/Index">
      <h3>Silly baboons, stubborn elephants</h3>
       </a>
      <p>Have you ever found yourself stuck waiting 6 months for API to support a feature which needs to be ready in two weeks? Maybe spent weeks trying to figure out how to make a feature work while dealing with multiple versions of legacy code? 
As product engineers working with platform groups, conflicts ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1984/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1984.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1984/Index">
      <h3>New dev, old codebase: A series of mentorship stories</h3>
       </a>
      <p>Mentorship in software development carries a lot of responsibility, but plays an integral part in making tech communities as well as individuals thrive.

In this talk, we'll go over some of my mentorship experiences, adopting techniques and learning to teach, so we can teach to learn. Anyone can be ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2019/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2019.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2019/Index">
      <h3>Junior, no more</h3>
       </a>
      <p>How to position yourself out of being the newbie.

You did it! You landed your first tech job. They said this would be the hardest part but now that you’re in the role and are starting to feel comfortable, how do you keep going?

This talk will cover tips and tricks on how to position yourself for t...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2021/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2021.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2021/Index">
      <h3>What the Soviet Space Program Taught Me About Digital Product Development</h3>
       </a>
      <p>The space race between the USA and USSR was one of the great dramatic stories of the 20th century. Our very industry was born as Washington and Moscow relentlessly competed to master the stars.

For space nuts like me, this fascinating time is utterly compelling. It’s also highly instructive for dig...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2031/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2031.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2031/Index">
      <h3>Fear</h3>
       </a>
      <p>We make thousands of decisions every single day. Some take thought, and some are just instinctual. How many of those decisions are based on fear? Fear of the unknown, fear of embarrassment, or maybe just fear of spiders? We will look at ways fear shapes our everyday lives, and how we can control it ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2032/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2032.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2032/Index">
      <h3>Under Pressure: Decision Making as a Tech Lead</h3>
       </a>
      <p>Making decisions as a developer is tough. There are always multiple ways to write code, design a database table, architect a feature, and/or jam square pegs into round holes. This toughness gets amplified as a tech lead. Its no longer about just the code. Now, you get to think about architecting the...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2037/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2037.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2037/Index">
      <h3>Grow into your role of Software Architect</h3>
       </a>
      <p>Learning the required skillset to become a great software architect can be a challenging process. Join Bart on the journey from fresh out of school to established software architect. We'll touch the multiple types of architects and common career paths. But the focus of the talk is on real life exper...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2048/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2048.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2048/Index">
      <h3>Softly Speaking</h3>
       </a>
      <p>The value of having soft skills when in the workforce.  How to deal with different people and situations. Talk about the importance of reading body language, nonverbal communication, presentation skills, and other topics to help improve soft skills. soft skills are important at every level of an org...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2060/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2060.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2060/Index">
      <h3>Cultivating a Climate for Paradigm Shift: Facilitating Innovation in a Post-COVID19 World</h3>
       </a>
      <p>Renaissance philosopher and writer Machiavelli has been quoted as saying, “I'm not interested in preserving the status quo; I want to overthrow it.” The importance of respecting personal space and practicing impeccable hygiene aren’t the only lessons learned from COVID-19. If anything, we’ve seen th...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2065/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2065.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2065/Index">
      <h3>Engineering Change: How to Revolutionize Your Projects from the Inside Out</h3>
       </a>
      <p>We've all had those projects: the technical debt is rampant, the stakeholders won't listen to reason, and you (the engineer) know there's a better way. But what if you're exactly the right person to make things better? In this session we'll discuss how to implement engineering-driven change into you...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2076/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2076.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2076/Index">
      <h3>Impactful mentorship - 2 sides of a story</h3>
       </a>
      <p>When starting to engage with the community, it can be hard to find your own way. There is a lot of information around conferences, giving presentations, setting up blogs, and much more. However, initially we might not know where to start, and where to find the right places to convey our story. This ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2081/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2081.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2081/Index">
      <h3>Communication is Just as Important as Code</h3>
       </a>
      <p>The idea of a lone developer coding in their basement without social interaction is a thing of the past. These days, technical solutions are often developed by cross-functional teams whose participants have a range of technical experience. Now, more than ever, good communication skills are an essent...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2091/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2091.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2091/Index">
      <h3>Why a Diverse Team is Crucial to Startup Success</h3>
       </a>
      <p>Team diversity refers to differences between members of startup team. Those differences can include demographic differences (like age, race, sex, ethnicity), personality (extrovert, introvert, and differing Myers-Briggs types) and functional (as in skill sets, like engineering, design, copywriting, ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2096/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2096.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2096/Index">
      <h3>Management as Therapy: What Psychologists Can Teach Engineering Managers</h3>
       </a>
      <p>The hardest part of Engineering Management is managing personalities - difficult emotions, distorted thinking and interpersonal conflict. It turns out there's a field entirely dedicated to helping people with these problems - Psychotherapy.

In this talk, we'll explore insights from Cognitive Behavi...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2097/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2097.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2097/Index">
      <h3>Tune Up Your Stand Up</h3>
       </a>
      <p>Late attendance, status updates, lifeless answers, and zoning out are all too common in our Stand-Ups and Daily Scrum meetings. It doesn’t have to be that way.

This small meeting is the heartbeat of a team within a sprint. They take a brief moment to hear about the effort and challenges of their co...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2115/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2115.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2115/Index">
      <h3>'What AI can't do. HI (human intelligence) Can"</h3>
       </a>
      <p>Teams, clients, colleagues, and you are sorting through the emotional impact of COVID-19.
HI human intelligence skills are going to be vital to collaboration and connection.

Do what AI can't do and master your ability to adapt and pivot.

It’s your HI, build your emotional awareness, ability to lis...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
