@page
@model CPL20Archive.Pages.Sessions.Topic_RequirementsModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Topic_AppDev" class="btn">Application Development</a>
    <a asp-page="Topic_Infrastructure" class="btn">Infrastructure</a>
    <a asp-page="Topic_ProjMgnt" class="btn">Project Mangement</a>
    <a asp-page="Topic_Requirements" class="btn btn-info">Requirements</a>
    <a asp-page="Topic_SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="Topic_Testing" class="btn">Software Testing</a>
    <a asp-page="Topic_UX" class="btn">User Experience</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1718/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1718.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1718/Index">
      <h3>Example Mapping: The New Three Amigos [Half-Day Workshop]</h3>
       </a>
      <p>Example Mapping is a collaborative technique to help refine requirements using business rules and examples as executable specifications....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1754/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1754.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1754/Index">
      <h3>The Smallest Thing that's Helpful</h3>
       </a>
      <p>The Requirements ask for the world.  But you can't go out and build the world all at once.

You have to build small things, one at a time.

In this talk we'll discuss how to identify and document what the 'small things' are?  We'll show the benefits of getting something built and in front of the dec...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
