@page
@model CPL20Archive.Pages.Sessions.Topic_AppDevModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Topic</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Topic_AppDev" class="btn btn-info">Application Development</a>
    <a asp-page="Topic_Infrastructure" class="btn">Infrastructure</a>
    <a asp-page="Topic_ProjMgnt" class="btn">Project Mangement</a>
    <a asp-page="Topic_Requirements" class="btn">Requirements</a>
    <a asp-page="Topic_SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="Topic_Testing" class="btn">Software Testing</a>
    <a asp-page="Topic_UX" class="btn">User Experience</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1963/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1963.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1963/Index">
      <h3>Develop an ASP.NET Core App with EF Core in a Day HOL</h3>
       </a>
      <p>Interested in ASP.NET Core and Entity Framework Core, but not sure where to start? Start here with an all day Hands on Lab where you will build a complete solution using the latest development technology from Microsoft. You will build a data access library using Entity Framework Core, complete with ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1964/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1964.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1964/Index">
      <h3>Workshop: Building Single Page Applications with VueJS and ASP.NET Core</h3>
       </a>
      <p>The landscape of building web applications has changed a bit of the past five to ten years.  The tools have matured so drastically that it can be a challenge to figure out the best way to incorporate your existing knowledge with new tools.

In this full-day workshop, you will explore building a Sing...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1965/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1965.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1965/Index">
      <h3>Playing with Fire : Build a Web Application with Firebase</h3>
       </a>
      <p>Come see how easy it can be to use Google Firebase to take your app idea from concept to production. In this session, we will build a messaging application together showing all the steps required to launch a new serverless web application with Firebase.

While we build this web app you will learn ab...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1966/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1966.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1966/Index">
      <h3>Building Your First Voice Experience with Alexa</h3>
       </a>
      <p>This workshop will dive right in to getting you set up and started building a voice-based experience with Alexa.  You will leave this session with a working Alexa skill that you can customize and publish as your own.

We will cover topics around voice design best practices, voice interactions, persi...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1967/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1967.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1967/Index">
      <h3>Hands On with Data Science with Python and Friends</h3>
       </a>
      <p>At the risk of being cliche, the world is drowning in data.  This workshop introduces the life preserver known as the PyData stack.  This collection of open source and industry used packages will get attendees up to speed with one of the hottest and most in demand skills today.  With numpy for light...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1969/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1969.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1969/Index">
      <h3>Modernize Your ASP.NET Web Forms Application to .NET Core, Blazor, and the Cloud</h3>
       </a>
      <p>In this demo-filled workshop, you'll learn the methods and techniques that you can use to upgrade your existing applications to take advantage of .NET Core and cloud technologies. You'll learn how to re-use as much as 90% of the ASP.NET code you've already written in a new container-capable, cross-p...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1971/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1971.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1971/Index">
      <h3>Understanding Asynchronous Programming in C#</h3>
       </a>
      <p>Level: Introductory / Intermediate
Asynchronous code is everywhere. In our C# code, we "await" method calls to services and databases; and more and more packages that we use every day have asynchronous methods. But do you really understand what this does?

Understanding is critical. When done correc...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1975/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1975.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1975/Index">
      <h3>Analytics in Power BI with R and Python with SQL Server 2019 ML Service & Polybase</h3>
       </a>
      <p>Power bi...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1977/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1977.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1977/Index">
      <h3>Web Components: an Introduction to the Future</h3>
       </a>
      <p>With Web Components having reached high enough browser support to be production ready, it is high time to take a look at what they are and what they can do for you. In this talk you will learn how to create a web component using the native browser api:s. You will learn about the advantages of the te...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1979/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1979.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1979/Index">
      <h3>Logic Apps: Anywhere, Everywhere</h3>
       </a>
      <p>A walk-thru session on how and where we can or should use Logic Apps and start building fantastic business processes. We will be addressing topics like: what tools should you use: Azure Portal, Visual Studio, or Visual Studio Code. What kind of solutions you can create, cloud integration, hybrid int...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1980/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1980.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1980/Index">
      <h3>Machine learning in the browser using TensorFlow.js</h3>
       </a>
      <p>In order to start out with machine learning you typically would need to learn Python, Tensorflow, Jupyter Notebook etc. But what if you could run your machine learning straight in the browser. This can be done through Tensorflow.js. In this session you will get an introduction so that you can use it...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1981/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1981.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1981/Index">
      <h3>A Change-Data-Capture use-case: designing an evergreen cache</h3>
       </a>
      <p>When one’s app is challenged with poor performances, it’s easy to set up a cache in front of one’s SQL database. It doesn’t fix the root cause (e.g. bad schema design, bad SQL query, etc.) but it gets the job done. If the app is the only component that writes to the underlying database, it’s a no-br...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1982/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1982.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1982/Index">
      <h3>10 Things They Didn't Tell You About TDD</h3>
       </a>
      <p>TDD (Test Driven Development) is a well-known practice, yet hardly implemented methodology of coding. 

In the wild, you will barely see it fully implemented in organizations. Why is that? Is it because it is hard? Does it work only in special cases? 

I'm here to tell you the things that so-called ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1983/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1983.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1983/Index">
      <h3>Wowee it's Zowe - how the mainframe got its groove again</h3>
       </a>
      <p>The mainframe is often viewed as a legacy 65 year old computing platform operated by grey (or zero) haired developers typing 8 letter commands into green screens.  This talk myth busts that stereotype and discusses the growth of the mainframe in today's hybrid computing world, especially around the ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1993/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1993.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1993/Index">
      <h3>Finding Bigfoot with Redis + RediSearch</h3>
       </a>
      <p>Bigfoot has been a staple of American folklore since the 19th century. Many are convinced that Bigfoot is real. Others suggest he’s merely a cultural phenomenon. And some just want to believe. There is even a group, the Bigfoot Field Researchers Organization, that tracks Bigfoot sightings and makes ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1996/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1996.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1996/Index">
      <h3>What's going on in there? Know what's happening in your software with Application Insights.</h3>
       </a>
      <p>Monitoring production software can be a challenge, especially if it is hosted in the cloud. Application Insights can tell you what your software is doing. With this tool you will be able to:
   • Identify performance bottlenecks
   • Detect bugs before they are reported by users
   • Characterize in...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1997/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1997.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1997/Index">
      <h3>VS Code for Green Screen Developers</h3>
       </a>
      <p>Mainframe modernization is an unavoidable topic for every developer these days, whether your tool is the traditional green screen or another IDE. How does the coding experience differ between the two? In this session, we will showcase a side-by-side comparison on these development environments, base...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1999/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1999.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1999/Index">
      <h3>Migrating from SQL to NoSQL with .NET and Dapper</h3>
       </a>
      <p>Databases are like languages: it's very useful to know more than one. NoSQL databases promise better performance, scaling, lower cost of ownership, and flexibility for many use cases. With recent advances in NoSQL including ACID transactions, SQL queries, scopes, collections, and more, making the ju...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2000/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2000.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2000/Index">
      <h3>A Series of Unfortunate Events - What Happens When Your App is Hacked.</h3>
       </a>
      <p>Many of us know about the various security checklists and how we should write more secure code. In this session we will move beyond top 10 lists and dive into the world of how attackers compromise systems and how they use those compromises to exploit both individuals and companies. 
You will see dem...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2001/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2001.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2001/Index">
      <h3>Improving code quality with Static Analyzers</h3>
       </a>
      <p>How do you keep code consistent across a team or make sure your independent code follows accepted standards, use a Static Analyzer tool. See how to use some of these tools for your .Net, JavaScript, Style sheets, etc. to improve your code as an independent or large team lead.

Whether you're an inde...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2003/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2003.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2003/Index">
      <h3>Jinaga: End-to-End State Management for Offline-First Web Applications</h3>
       </a>
      <p>State management libraries like Redux make it easier to coordinate changes in all parts of your web applications. But they stop at the browser. You are still responsible for developing the API and back-end data store.

Jinaga is an end-to-end state management solution. No custom API. No app-specific...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2004/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2004.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2004/Index">
      <h3>Computer, make it so!</h3>
       </a>
      <p>Electronic personal assistants are conquering the world right now. Currently, the biggest tech companies are focusing their attention on artificial intelligence. This opens a wide variety of opportunities for developers and benefits customers. A virtual assistant can access different devices, comple...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2006/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2006.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2006/Index">
      <h3>Making Apps Listen and React with LUIS (Language Understanding Intelligent Service)</h3>
       </a>
      <p>Language Understanding Intelligence Service (LUIS) is part of Azure's Cognitive Services.  It's built on the interactive machine learning and language understanding research from Microsoft Research.  Luis provides the capability to understand a person’s natural language and respond with actions spec...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2007/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2007.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2007/Index">
      <h3>Demystifying the .NET Runtime</h3>
       </a>
      <p>While most .NET developers know that .NET is an interpreted language, have you ever thought about what that really means? If the language is compiled to an intermediate language (literally called "Microsoft Intermediate Language" or MSIL) and run on a VM, how have they added more features to the lan...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2008/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2008.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2008/Index">
      <h3>Git Good with Advanced Git</h3>
       </a>
      <p>Most of us use git everday, but how well do you know one of your most important tools besides cloning, commiting, and pull requests? Are you comfortable rebasing? Do you really know the difference between Resetting or Reverting?  Lets 'stash' some info and learn all the advanced features of one of o...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2011/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2011.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2011/Index">
      <h3>But It was Logged!  Practical Logging & Monitoring with .NET Core</h3>
       </a>
      <p>.NET Core makes writing log entries a breeze within your applications, however, that is where the out-of-the-box simplicity ends.  So you have decorated your code with all of these pretty log messages that are designed to make your life easier, but then what?  Have you actually reviewed them?  Somet...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2012/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2012.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2012/Index">
      <h3>Content is King: How Contentful and CaaS are Changing the CMS Game</h3>
       </a>
      <p>Content as a Service (CaaS) has been making huge inroads in how content is managed and consumed in the digital world, thanks in large part to the huge growth of JAMstack-powered digital experiences.In this presentation, we'll discuss how Contentful, one of the biggest players in the CaaS space, make...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2015/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2015.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2015/Index">
      <h3>Blazor – Next Generation UI with .NET 6</h3>
       </a>
      <p>Tired of Angular, Vue, and React? Ready for the next generation of web user interface that runs everywhere and you can build with your favorite programming language? In this session, Jeff Fritz is going to introduce you to Blazor - the next generation UI  framework from the .NET team. We'll see how ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2016/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2016.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2016/Index">
      <h3>Don't Cross the Streams! Fast & Easy Data Pipelines with Stream Processing</h3>
       </a>
      <p>Ghostbusters better get ready, because it's time to cross (ok, join) some streams! This talk will include easy-to-follow steps to set up and maximize a powerful, streaming data pipeline with the newest features from Apache Flink. This talk is for anyone using (or interested in) stream processing who...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2017/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2017.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2017/Index">
      <h3>Orchestrate and build serverless solutions with Azure Logic Apps</h3>
       </a>
      <p>This presentation will cover how developers can and should be using Azure Logic Apps as a viable solution when building out serverless processes.  With over 200 connectors and the ability to orchestrate workflows, Logic Apps can get you up and running fairly quickly.  Logic Apps also allow for full ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2020/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2020.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2020/Index">
      <h3>ASP.NET MVC for Absolute Beginners: Your Secret Decoder Ring</h3>
       </a>
      <p>ASP.NET MVC is filled with hidden conventions: put a controller or view in a certain place and give it a special name, and it magically works. If you know the conventions, you can quickly get an application up and running. But if you don't know the secret codes, all is lost. In this session, you wil...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2022/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2022.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2022/Index">
      <h3>Cosmos DB For SQL Server Developers</h3>
       </a>
      <p>You’re a SQL Developer. It has a SQL API. Sounds like the perfect match … or is it? A globally available, low-latency, multi-model database offers a unique set of new features for creating flexible, scalable solutions. In this crash course, you’ll learn how to transition your SQL skills to Cosmos DB...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2023/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2023.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2023/Index">
      <h3>TinyML and SkySharks 🦈🦈🦈</h3>
       </a>
      <p>Sharks are amazing animals, so let’s start there. In this session we will also review Machine Learning concepts, and we will focus in TinyML: ML technologies and applications capable of performing on-device sensor at extremely low power. 
We will cover hardware, algorithms and software, and we will ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2024/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2024.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2024/Index">
      <h3>Entity Framework debugging using SQL Server: A Detective Story</h3>
       </a>
      <p>What happens when the code for your Entity Framework Core LINQ queries looks good, but your app is very slow? Are you looking in the right place? Don’t be afraid to start looking at your database. Knowing how to investigate and debug what your LINQ queries are doing in SQL Server is as important as ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2025/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2025.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2025/Index">
      <h3>Esoteric Programming Languages</h3>
       </a>
      <p>Most of the time we program in modern languages like Ruby, Python or C#. However, there are a plethora of languages out there that are strange, odd, and/or just plain funny. In this talk, I'll go over a number of esoteric programming languages such as Whenever, Befunge, and LOLCODE. You'll learn abo...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2027/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2027.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2027/Index">
      <h3>Video Magic - JS, Open Source Players, Smart TVs & You</h3>
       </a>
      <p>Have you ever wondered how the video player on your favorites apps/sites works? Have you thought to yourself, that's a web browser, there has to be some JavaScript in there somewhere, but been unsure of the magic behind the scenes? Did it not occur to you that your Smart TV was using a web browser u...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2034/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2034.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2034/Index">
      <h3>If Microservices Are Not The Answer, Then What Is?</h3>
       </a>
      <p>Emphasis on architecture went from N-Tier monolithic designs to microservices so quickly. Why? Are you choosing the wrong architecture for what you need? Or are you just wasting time and money?

In this talk, you will learn about several other architecture options to help you choose the right one fo...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2036/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2036.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2036/Index">
      <h3>Real-Time Desktop Apps with Azure-powered SignalR</h3>
       </a>
      <p>SignalR is rather cool piece of ASP.NET technology stack that powers real-time communications across platforms. SignalR is open source and enables two-way client-server RPC calls – across .NET and JavaScript. This means seamless real-time communications across web, desktop and mobile platforms.

Mod...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2039/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2039.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2039/Index">
      <h3>Create Applications with WinUI – Everywhere!</h3>
       </a>
      <p>WinUI is the new modern native UI platform of Windows. In turn, the open-source Uno Platform aims to provide pixel-perfect WinUI experiences on all platforms where WinUI doesn’t natively run on – Web/WebAssembly, macOS, Linux, iOS, Android and even Windows 7! 

Developing multiplatform applications ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2041/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2041.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2041/Index">
      <h3>The Joy of Multiple Models – Structuring Monoliths and Microservices with Domain-Driven Design</h3>
       </a>
      <p>Software development is model building. We rebuild a part of the world as a program in Java and improve it by doing so. A traditional approach is to reproduce the domain as accurate in every detail as possible. But is this the actual goal of models? If we look close enough, we will see that a model ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2042/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2042.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2042/Index">
      <h3>What is new with Azure Machine Learning</h3>
       </a>
      <p>With machine learning becoming more and more an engineering problem the need to track, work together and easily deploy ML experiments with integrated CI/CD tooling is becoming more relevant then ever.

In this session we take a deep-dive into Azure Machine Learning service, a cloud service that you ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2043/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2043.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2043/Index">
      <h3>Entity Framework performance monitoring and tuning</h3>
       </a>
      <p>Object Relational Mapping technologies, including the Entity Framework can drastically simplify the programming model against databases, but when done carelessly, performance can suffer. In this session, we'll explore some real-life strategies that have solved performance issues in production applic...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2044/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2044.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2044/Index">
      <h3>What is new in .NET 6 and the future of .NET</h3>
       </a>
      <p>November 2021 marks the release of .NET 6. In this session, I will talk about what is new in the latest version of .NET and what the future will bring for the .NET platform in general. What is the difference between .NET Framework, .NET Core and .NET 6? Expect a number of new features and examples o...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2045/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2045.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2045/Index">
      <h3>Intro to Dataverse inside of Power Automate</h3>
       </a>
      <p>Microsoft Dataverse (formerly known as the Common Data Service) lets you securely store and manage data that's used by business applications. Data within Dataverse is stored within a set of tables (fka entities). A table is a set of records used to store data, just like data is stored within a datab...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2047/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2047.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2047/Index">
      <h3>The Quality Dashboard</h3>
       </a>
      <p>You’ve got thousands of automated tests running, multiple test and coverage reports and logs – but you can’t see the forest from the trees. The problem is you don’t know: Is it safe to release? With refined, specific metrics, you can define reports (or dashboard) that tell you the real quality of th...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2049/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2049.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2049/Index">
      <h3>COBOL Coding in the Cloud</h3>
       </a>
      <p>How do you imagine coding in COBOL?
Join this session as we give you a glimpse of our day as COBOL developers working with Eclipse Che4z, a mainframe development tool that blurs the lines between mainframe and distributed environments.
Come and hear about the tips and tricks we learned first-hand; t...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2052/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2052.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2052/Index">
      <h3>What's New in C#10</h3>
       </a>
      <p>C# is an open-source, mature object oriented language, used by millions of .NET developers, yet its evolution is still underway. In this session, we'll cover the latest features that are being considered for C#10 and how they work in detail so you'll know when to use them effectively in your new .NE...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2053/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2053.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2053/Index">
      <h3>Building your personal online brand using Static Blazor Apps, one step at a time.</h3>
       </a>
      <p>We're told that by using services such as Medium, dev.to etc that we are diluting our personal brand. That we should be posting to our own site and building ourselves up. But making that move can seem huge! Rather than eating the elephant - which can seem impossible - how about slowly moving to your...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2056/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2056.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2056/Index">
      <h3>Building Apps Across Platforms with Flutter</h3>
       </a>
      <p>There has not been a better time to learn Flutter. With the recent release of Flutter 2, the platform is now capable of building rich app experiences across Mobile, Web, Desktop and much more.

In this talk, speaker Brad Cypert provides a gentle introduction to Flutter. You'll learn how Flutter work...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2057/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2057.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2057/Index">
      <h3>Affective Computing – bringing humans and machines closer through emotions</h3>
       </a>
      <p>Research have shown that emotions play an integral role in decision making, cognition, perception, learning and more. If we want our computers to be intelligent and be able to interact with us we need to ensure that they are able to recognize, understand and express emotions. This is the basic assum...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2058/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2058.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2058/Index">
      <h3>A Guided Tour of Caching Patterns</h3>
       </a>
      <p>When your application starts slowing down, the reason is probably a bottleneck somewhere in the execution chain. Sometimes, this bottleneck is due to a bug. Sometimes, somebody didn’t set up the optimal configuration. And sometimes, the process of fetching the data is the bottleneck.

One option wou...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2062/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2062.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2062/Index">
      <h3>Understanding Alexa</h3>
       </a>
      <p>This session will unpack how Amazon's Alexa works, how you think about building voice user interfaces, and which best practices you should consider as you build skills....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2064/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2064.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2064/Index">
      <h3>Practical Unit Testing Patterns With .NET Core</h3>
       </a>
      <p>Reaching 100% Code Coverage is often a mythical number, however, when you dive deep into an application you might discover that patterns of the technology limit your ability to achieve good code coverage.  This sessions explores this topic and introduces attendees to tips and tricks that can be used...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2068/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2068.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2068/Index">
      <h3>Great On Their Own, Even Better Together: Application Development with Python, Typer, and Poetry</h3>
       </a>
      <p>Have you ever tried to create a command-line application with an extensive command-line interface and then upload it to to the Python Package Index (PyPI)? If your experience is like mine, then you might have found the process confusing because there are so many different tools and configurations fr...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2069/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2069.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2069/Index">
      <h3>Knowledge Mining with Azure Cognitive Search</h3>
       </a>
      <p>We all know that providing a good search experience for website visitors is hard. Everyone expects it to “just” work like Google. Maybe there is a better way, maybe we fix this with a little help from AI robot friends.

Join the session to see how you can leverage Cognitive Services with Azure Searc...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2072/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2072.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2072/Index">
      <h3>Feature Flags - The Art of the IF and Deployment</h3>
       </a>
      <p>After this session you'll not only be able to start implementing feature flags, but you'll also want to separate your releases from your deployments. You will have an understanding of
- What feature flags are
- The types of feature flags
- Best practices around feature flags
-  Implementing feature ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2073/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2073.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2073/Index">
      <h3>You're Building It Wrong! The Top Azure Application Mistakes</h3>
       </a>
      <p>Developing applications for the cloud has never been faster or easier than it is today. The speed at which new applications can be created and deployed has enabled more innovation than ever before. Unfortunately, Azure is not always forgiving of mistakes. From serverless applications that suddenly s...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2074/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2074.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2074/Index">
      <h3>Desktop Apps Your Way!</h3>
       </a>
      <p>Most modern-day developers love to work with bleeding-edge technologies. Unsurprisingly, .NET developers are invested in Blazor or Xamarin/MAUI. JavaScript developers swear by their beloved JS frameworks. But customers or enterprise business workflows often demand Windows or MacOS Desktop apps. What...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2077/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2077.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2077/Index">
      <h3>What a global pandemic can tell you about better DevOps practices</h3>
       </a>
      <p>In early 2020 a global pandemic set in motion events which none of us could predict. With anonymous data collected from 900k+ devs, 25K orgs, and 30m+ builds/mo we've found some interesting insights into better DevOps practices. In this session, we will seek to uncover what this unique dataset can t...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2079/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2079.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2079/Index">
      <h3>Sweet Streams are Made of These: data-driven development in stream processing</h3>
       </a>
      <p>The strength of a powerful stream processing engine is in how fast, and how much data it can process. This naturally adds complexity to existing integration points and can lead to development overhead. 

Luckily, there is a set of data-driven development principles that are built to alleviate precis...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2082/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2082.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2082/Index">
      <h3>What's New In EFCore5 (and coming in EFCore6)</h3>
       </a>
      <p>In this session, we'll dive into many of the new features available in EFCore5 that can help to enhance your solutions.  We'll look at examples of Many-To-Many auto navigations, Table-Per-Type inheritance mapping, Filtered Includes, Split Queries, Simple Logging, and Flexible Entity Mapping.  We'll ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2084/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2084.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2084/Index">
      <h3>NodeJS, ML, K8s and Unethical Face Recognition</h3>
       </a>
      <p>How nice would it be to be able to remember everyone’s name? What if you could just walk into a room and know everyone’s Twitter handle? Kubernetes is a great tool that is being used more and more for deploying applications, but it can also be used in the context of machine learning. In this talk, t...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2087/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2087.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2087/Index">
      <h3>Get Comfortable with .NET 5 and the CLI</h3>
       </a>
      <p>Still using .NET Framework 4.x? It's time to look at .NET 5 (and soon, .NET 6). So let's get comfortable with the creating, running, and testing applications using the command-line interface. We'll create a self-hosted web service and then write an application to use that service. Unit tests will ma...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2088/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2088.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2088/Index">
      <h3>Introduction to AI and Cognitive Services for Developers and Information Workers</h3>
       </a>
      <p>“Artificial Intelligence and Machine Learning are the new buzzwords in the industry. Microsoft's vision is to make AI accessible to every enterprise, data scientist, developer, information worker, consumer and device everywhere in the world. AI has a big role to play in the enterprise space. The fie...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2090/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2090.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2090/Index">
      <h3>Taking a Gamble With Functional Domain Modeling</h3>
       </a>
      <p>Over the past few years, Functional Programming has entered the mainstream when it comes to libraries and frameworks for various kinds of technologies and there are plenty of tutorials and resources to learn the basics.

With that being said, when it comes to building something non-trivial, there's ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2092/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2092.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2092/Index">
      <h3>Learning F# - A Practical Approach</h3>
       </a>
      <p>During the pandemic, I used my extra time to learn F#, the functional programming language available in the .NET ecosystem. Learning new programming paradigms helps developers see new approaches to common problems and can help them better understand some of the solutions in their current programming...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2093/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2093.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2093/Index">
      <h3>Real-Time Revolution: SignalR in Action</h3>
       </a>
      <p>Does your application render a page and then just leave it?
Do you deal with issues of the local state being out of date?
Do you wish the server could just tell all the browsers that something has changed?

If you answered yes to any of those questions, it's time to join the real-time revolution!  S...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2094/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2094.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2094/Index">
      <h3>Learning to Love the Lambda in the Stream</h3>
       </a>
      <p>Are you new to Java 8 and Lambdas?  Wondering what all the fuss is about?  In this session, we will introduce Java Lambdas, Functional Interfaces, and how to put it all together with Java 8 Streams....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2098/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2098.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2098/Index">
      <h3>Machine Learning for .NET developers</h3>
       </a>
      <p>Machine Learning is the future and it's already here. There’re so many opportunities for developers to include it in a wide variety of applications. If you heard a lot about data collection and processing, creating and training models and ready to try it all yourself with the help of .NET, I'll show...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2099/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2099.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2099/Index">
      <h3>Understanding How Your CPU Thinks</h3>
       </a>
      <p>You know all those algorithms you take for granted? I'm not talking about those boring algorithms you learned in school. I mean things like adding two numbers or converting a number to to text. Have you ever wondered how the computer really does that?

I recently embarked on a journey to create a ma...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2100/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2100.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2100/Index">
      <h3>It's NOT Magic! - SEO for Developers</h3>
       </a>
      <p>You built a great website. Now how do you help people find it?

Search engines like Google and Bing are an essential source of traffic for any public website. Search engine optimization (SEO) can make the difference between floating to the top and disappearing into the noise.

Contrary to popular be...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2101/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2101.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2101/Index">
      <h3>Responsive and Adaptive Tactics for Blazor Applications</h3>
       </a>
      <p>In this session you'll learn about CSS techniques like CSS Grid, Flexbox and media queries. We will also explore techniques for adaptive the user interface at runtime for maximum control. These tactics apply to Blazor WASM,  Server, and Blazor Hybrid....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2103/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2103.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2103/Index">
      <h3>Don’t Drop ACID - Transactions in Distributed NoSQL</h3>
       </a>
      <p>NoSQL document databases provide unique capabilities of scaling, flexibility, and performance for a wide variety of use cases. However, many developers from relational backgrounds are understandably nervous (for a variety of reasons) about using NoSQL in their next project. This session will address...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2104/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2104.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2104/Index">
      <h3>Secure Application Design and Development With Threat Modeling</h3>
       </a>
      <p>Building a secure and stable application requires more than just memorizing a list of vulnerabilities. Modern applications contain a multitude of moving parts and security needs to be built in from the beginning. In this session we will review techniques to ensure that you are building the most secu...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2105/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2105.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2105/Index">
      <h3>Representing and Accessing Data That Changes Over Time</h3>
       </a>
      <p>This talk answers the question “What’s a clean way to represent data that changes over time?”

We can store the attributes that change over time (variable attributes) on a versioned table and stable attributes on a base table.   Storing variable attributes in a versioned table with an effective date...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2106/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2106.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2106/Index">
      <h3>Mystery Machine Learning: Classifying Text with RNNs, Keras, and Scoob and the Gang</h3>
       </a>
      <p>Jinkies! Spoiler Alert! If you’ve seen Scooby-Doo, you know who the monster always is—Old Man Withers, the guy who runs the amusement park. Amusement park operators like Old Man Withers have caused Mystery, Inc. all sorts of problems over the years. Problems that could be avoided with a properly tra...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2107/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2107.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2107/Index">
      <h3>"Attack of the killer Bots" an introduction to Bot framework composer</h3>
       </a>
      <p>Having bots handling the first user interaction is very common in many sites nowadays and their usage is only expected to increase in the next few years. From a development perspective, bot development presents a unique set of challenges that can result in a steep learning curve for new developers. ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2108/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2108.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2108/Index">
      <h3>TaDa it's Magic: Predicting the Performance of Functions through Automated Doubling Experiments</h3>
       </a>
      <p>When you deploy a program to a cloud-based execution environment, it is important that you understand its performance --- or you may end up with a expensive bill from your cloud provider! With that said, if you have tried to understand the performance of a function in your program you might have fou...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2109/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2109.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2109/Index">
      <h3>Level-up Your DevOps with GitHub Actions and Kubernetes</h3>
       </a>
      <p>Are you looking to rapidly deploy your content? Are Docker containers in your future? Come for this demo-only presentation where we start from scratch, build up a DevOps pipeline in GitHub Actions, and deploy to Kubernetes. Once setup, commit, and watch the magic flow into place. You too can automat...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2112/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2112.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2112/Index">
      <h3>Python: What's in it for You</h3>
       </a>
      <p>Over the last 5 years, Python has consistently been in the top 5 languages on Github. Its clean, simple, easy to remember syntax makes is why Python is one of the most in demand skills for software engineers. If you are a web developer, data scientist, game developer, or IT admin, Python can scratch...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2113/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2113.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2113/Index">
      <h3>Exploring and Explaining C# Interactivly with .Net Notebooks</h3>
       </a>
      <p>We know how to build apps with C#, but what do we do when we need a few lines of it. You could create yet another Console Application. Or you could use the new .Net Interactive Notebooks. Notebooks allow you to write executable snippets of C#, visualize the results and add documentation in markdown,...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2138/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2138.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2138/Index">
      <h3>Learning Functional Programming Through Construction: First Principles</h3>
       </a>
      <p>In the past five years, functional programming has increased dramatically in popularity which has lead to an explosion of resources in learning these concepts. But, between languages (Haskell, Elm, PureScript, F#), libraries (Ramda, fp-ts), and concepts (Monads, Monoids, Functors), it can be overwhe...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2139/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2139.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2139/Index">
      <h3>Beginner Angular UI</h3>
       </a>
      <p>A talk for UI and Angular beginners alike. Let's pull down the Tour of Heroes app (found throughout the Angular docs) and give it a UI upgrade! We will walk through some of the basic structures in Angular like bindings and components, while also talking through facelifting the UI of a project and us...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2140/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2140.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2140/Index">
      <h3>Migrate from .NET Framework to .NET 5</h3>
       </a>
      <p>Many legacy web applications exist that were written in a version of .NET Framework. In many cases, these codebases can be upgraded to .NET 5 without too much trouble, and unlock a lot of performance improvements, features, and scalability that don't exist in .NET Framework.

In this session, you wi...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
