@page
@model CPL20Archive.Pages.Sessions.Topic_ProjMgntModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Topic</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Topic_AppDev" class="btn">Application Development</a>
    <a asp-page="Topic_Infrastructure" class="btn">Infrastructure</a>
    <a asp-page="Topic_ProjMgnt" class="btn btn-info">Project Mangement</a>
    <a asp-page="Topic_Requirements" class="btn">Requirements</a>
    <a asp-page="Topic_SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="Topic_Testing" class="btn">Software Testing</a>
    <a asp-page="Topic_UX" class="btn">User Experience</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1693/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1693.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1693/Index">
      <h3>Scrum Master, What Would You Say You Do Here?</h3>
       </a>
      <p>Scrum Masters. We understand what we do (most of the time), but find that other people have difficulty grasping what we do. Often our role is misunderstood and our value lost on upper management, despite the fact that we consistently help teams deliver amazing results.

This talk is to explain in si...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1700/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1700.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1700/Index">
      <h3>A Droid, a Sith, and a Wookiee walk into a retro</h3>
       </a>
      <p>Like these iconic characters from a galaxy far, far away, IT professionals can have very different personality types.  These differences can lead to negative conflict in a Retro.  Let's discuss how differing opinions can be healthy and discover techniques to make your retro positive and productive. ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1777/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1777.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1777/Index">
      <h3>What You Need to Know About Open Source—Trust Me, I'm a Lawyer</h3>
       </a>
      <p>Open source tools. We all use them. Whether an entire framework, a focused toolkit, or a simple custom component from GitHub, npm, or NuGet, the opportunity to improve our development speed while learning new things from open source projects is enticing.

But what does “open source” truly mean? What...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
