@page
@model CPL20Archive.Pages.Sessions.Topic_SoftSkillsModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Topic_AppDev" class="btn">Application Development</a>
    <a asp-page="Topic_Infrastructure" class="btn">Infrastructure</a>
    <a asp-page="Topic_ProjMgnt" class="btn">Project Mangement</a>
    <a asp-page="Topic_Requirements" class="btn">Requirements</a>
    <a asp-page="Topic_SoftSkills" class="btn btn-info">Soft Skills</a>
    <a asp-page="Topic_Testing" class="btn">Software Testing</a>
    <a asp-page="Topic_UX" class="btn">User Experience</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1672/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1672.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1672/Index">
      <h3>From Tutus to Tech: Lessons Learned from Changing Careers</h3>
       </a>
      <p>What do ballet, music publicity and front end engineering have in common? More than you would think. Three years ago I didn’t know what a div was but I did know I needed a career change. I stumbled upon the tech world, enrolled in a bootcamp and haven’t looked back. 

Non-traditional paths are becom...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1674/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1674.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1674/Index">
      <h3>How Social Media Can Land You Your Dream Job [Half-Day Workshop]</h3>
       </a>
      <p>Finding a job using social media is now the new normal. This session is specifically focused on tactics on how to leverage social media to help you find a job. We will also talk about personal branding because that is a highly underrated part of finding a job in today's market!...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1675/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1675.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1675/Index">
      <h3>Recruiters Suck. Use them.</h3>
       </a>
      <p>Working with recruiters is miserable. Most individuals don't want to use us and if they do they grit their teeth the whole time. In this session I will reveal all of our secrets and give you a 'behind the scenes' on how to navigate working with us and other general career tips!...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1678/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1678.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1678/Index">
      <h3>A Dev's Guide to Demoing</h3>
       </a>
      <p>No matter where you are, at some point your work is going to have to be demonstrated to other people. Instead of having your BA or QA or even PO demo it, wouldn't it be easier to just demo it yourself? But, having to present in front of people is a little scary. Indeed it is but there are some tips ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1680/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1680.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1680/Index">
      <h3>Existential Flexibility: Short term sacrifices for long term success</h3>
       </a>
      <p>Business owners, job applicants, and even content employees tend to approach their existential debates all wrong.

What if I told you it’s not about being the best, but being YOUR best? This talk is how to schematically focus on long term success, sustainability, and growth ..all to skyrocket your c...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1705/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1705.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1705/Index">
      <h3>Think Global: A Guide to High Performing Global Dev Teams</h3>
       </a>
      <p>We live in a world where our colleagues may not sit next to us, or be in the same city, or even in the same country. A diverse workforce with varied perspectives, help companies to remain competitive today.

But, geographically dispersed teams also come with a set of challenges. Managing development...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1710/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1710.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1710/Index">
      <h3>The Mentor Playbook</h3>
       </a>
      <p>We often find ourselves in situations where we have to knowledge share and mentor others, but we often don't take the time to learn "how" to be better mentors.

So are we doing it right?

Through my work as Mentor Director for a monthly coding class, I've been able to compile effective methods throu...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1713/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1713.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1713/Index">
      <h3>Diversity is more, much more! Living in tech as a Latino who can’t dance</h3>
       </a>
      <p>I was born and raised in Argentina, then I lived +11 years in Spain and +3 years ago I moved to Canada. During the past 15 years I was an outsider, and this also impacted my professional life. I was lucky enough to travel for 5 years working in Europe, and I learned a lot on how my latino background...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1728/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1728.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1728/Index">
      <h3>The Struggles of Open Source Leadership</h3>
       </a>
      <p>We live in a world that embraces Open Source software, however, the reality of managing an Open Source product isn't nearly as trouble free and joyful as expected.  In this session, I will investigate some of the key soft skills, and lessons learned since taking over leadership fo the DNN Platform o...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1733/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1733.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1733/Index">
      <h3>Government regulation in the age of AI & Digital Transformation</h3>
       </a>
      <p>Recently in government legislatures lengthy debates & discussion have been held regarding robots & AI and how they will impact the new economy in years to come & what regulations or laws should be passed to manage them.

However, in government & legislatures at all levels, (local, state & federal) w...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1760/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1760.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1760/Index">
      <h3>Leadership for introverts</h3>
       </a>
      <p>Hello, my name is Alison and I'm an introvert. Groups of strangers make me nervous, parties exhaust me, and I'm scared of talking in public. Also, I run a team of over 40 people. This is how I do it and maintain my sanity. 

Being an introvert doesn't mean you're shy, anti-social, or awkward, but it...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1761/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1761.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1761/Index">
      <h3>Power-leveling the padawans</h3>
       </a>
      <p>How to mentor someone 1:1 without creating copies of yourself. Leaders have a responsibility to find and train new leaders. This talk is about how to power-level those potential leaders without turning them into a clone army.

I spent five years mentoring someone one to one every week. Now he's my c...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1769/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1769.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1769/Index">
      <h3>Knowing Your Limitations: The key to improving your software design decisions</h3>
       </a>
      <p>Two of the hardest challenges in software development are building the right thing and building the thing right. The first problem comes from a lack of understanding of what users want. The second comes from the fact that the complexities of software make it challenging to build high-quality applica...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1770/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1770.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1770/Index">
      <h3>Programmer burnout: how to recognize and avoid it</h3>
       </a>
      <p>Burnout among software professionals is far more widespread than we would like to admit. It sneaks up on us. At first we dread going in to work each day. We can barely focus enough to get through the day and struggle with otherwise simple-for-us tasks. It starts there and gets much worse. So what ar...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1802/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1802.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1802/Index">
      <h3>A Dev's Guide to Inclusion, Diversity, and Equity</h3>
       </a>
      <p>In this talk I will present what these 3 words mean and how to work toward bringing them to life in your organization or even just your daily life.  Work toward becoming better and more inclusive starts with each of us and in this talk I'll give you several things to think about and work towards so ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
