@page
@model CPL20Archive.Pages.Sessions.Topic_InfrastructureModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Topic</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Topic_AppDev" class="btn">Application Development</a>
    <a asp-page="Topic_Infrastructure" class="btn btn-info">Infrastructure</a>
    <a asp-page="Topic_ProjMgnt" class="btn">Project Mangement</a>
    <a asp-page="Topic_Requirements" class="btn">Requirements</a>
    <a asp-page="Topic_SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="Topic_Testing" class="btn">Software Testing</a>
    <a asp-page="Topic_UX" class="btn">User Experience</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1795/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1795.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1795/Index">
      <h3>Kick-Start into Azure Networking</h3>
       </a>
      <p>With the use of cloud computing on the rise, developers are encouraged to learn more about networking and how it works in the cloud. This session is for anyone that needs to understand networking in Azure. We will cover the basics of a virtual network, network security groups, and some basic network...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
