@page
@model CPL20Archive.Pages.Sessions.Topic_ProjMgntModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Topic</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Topic_AppDev" class="btn">Application Development</a>
    <a asp-page="Topic_Infrastructure" class="btn">Infrastructure</a>
    <a asp-page="Topic_ProjMgnt" class="btn btn-info">Project Mangement</a>
    <a asp-page="Topic_Requirements" class="btn">Requirements</a>
    <a asp-page="Topic_SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="Topic_Testing" class="btn">Software Testing</a>
    <a asp-page="Topic_UX" class="btn">User Experience</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1989/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1989.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1989/Index">
      <h3>Backlog Refinement: Success factor for SCRUM and engine for change management</h3>
       </a>
      <p>According to Jeff Sutherland, one of the co-founders of SCRUM, backlog refinement forms the backbone of a functioning Scrum Team. However, the Scrum Guide is largely silent on how this important event can be successfully established in the development process. The document only devotes a short and c...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2028/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2028.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2028/Index">
      <h3>Winning as the Home Team</h3>
       </a>
      <p>The process of building Great Software can be broken down to a number of processes and attributes that center around communication. From requirements to code to documentation, standups to retrospectives, we build our software teams around specific interactions and communication channels. The typical...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2061/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2061.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2061/Index">
      <h3>Who said you can't teach an old dog new tricks</h3>
       </a>
      <p>The Mainframe computer is over 65 years old, and has a dual personality of either being viewed as a proprietary thing of the past or else a hidden closed locked down machine as espoused in Hollywood movie plots.  The truth is neither, and a huge amount of mainframe computing workload today comes fro...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2102/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2102.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2102/Index">
      <h3>Oh! The *Humanity*</h3>
       </a>
      <p>“Agile” is a bit lost. 

Like a couch potato resolving to go to the gym in January, we threw off the chains of Scientific Management and declared a manifesto of people-centered values. 

And here we are in our February, right back on the couch. We prescribe process and certification. We try to do *l...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
