@page
@model CPL20Archive.Pages.Sessions.Topic_UXModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Topic</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Topic_AppDev" class="btn">Application Development</a>
    <a asp-page="Topic_Infrastructure" class="btn">Infrastructure</a>
    <a asp-page="Topic_ProjMgnt" class="btn">Project Mangement</a>
    <a asp-page="Topic_Requirements" class="btn">Requirements</a>
    <a asp-page="Topic_SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="Topic_Testing" class="btn">Software Testing</a>
    <a asp-page="Topic_UX" class="btn btn-info">User Experience</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1998/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1998.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1998/Index">
      <h3>Users Don't Have to Suffer in the Cloud</h3>
       </a>
      <p>The cloud has a lot to offer organizations - this is unquestionable.  
It is clear - the cloud has extraordinary potential to disrupt how IT manages applications and how IT delivers services to end users.
The strategies to move to the cloud for enterprises usually steer towards either migrating thei...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2002/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2002.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2002/Index">
      <h3>Cognitive Biases and the User Experience</h3>
       </a>
      <p>According to Wikipedia, cognitive biases cause individuals to 'create their own "subjective social reality" from their perception of the input.' Some of these allow us to take shortcuts when processing information... with mixed results. Though not all confirmation biases can be neatly labeled "good"...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2010/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2010.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2010/Index">
      <h3>Everyday Accessibility</h3>
       </a>
      <p>You’ve heard it: accessibility is important. We must make our websites and applications conform to accessibility standards. But what about the rest of our communications and interactions? As tech professionals we send emails, write documentation, write code, vent our frustrations on Twitter, and muc...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2026/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2026.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2026/Index">
      <h3>The Web is for Everyone</h3>
       </a>
      <p>Tim Berners-Lee is noted as saying “the power of the web is in its universality." The web was meant to be a great equalizer for everyone - whether you are situationally, temporarily, or permanently disabled. After all, you never know when you might break your arm or have to order pizza while holding...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2067/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2067.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2067/Index">
      <h3>Developers: Why Care About the User?</h3>
       </a>
      <p>As developers, we deal with technologies, frameworks, and data, making it very easy to forget that what we create is meant for real people to use. While designers and UI specialists should handle most decisions about how a product or service looks and feels, we should all be on the same page to make...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2075/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2075.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2075/Index">
      <h3>Moving Beyond Pretty: Making deliberate design choices</h3>
       </a>
      <p>Have you ever heard the phrases “beauty is in the eye of the beholder” or “I like what I like” when someone is discussing your design?  Or maybe design is your arch nemesis and you dread it. Too often design is only looked at for aesthetic and visual appeal, while purpose, goal, and usability are ig...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2080/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2080.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2080/Index">
      <h3>The Dark Side of UX</h3>
       </a>
      <p>User experience design brings clarity, removes obstacles. It rewards - makes us feel accomplished, successful, happy. Users are confident when using a well-designed application - as easy as turning on a light switch: [Buy]

Don't make me think: did I opt in? Don't make me think: was that a hidden fe...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2089/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2089.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2089/Index">
      <h3>Introduction to Accessibility</h3>
       </a>
      <p>Sometimes Accessibility can be tough to wrap your head around, but it is becoming clearer every day just how important it is and how much it can benefit everyone. In this session, we will explore some basics of Accessibility, information resources, and tools that can help you be an Accessibility all...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2114/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2114.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2114/Index">
      <h3>The Science, Psychology, and Secrets of Great UI</h3>
       </a>
      <p>Need to improve user experience, but don't know where to start? Worried that UI/UX can only be done by right-brained, artistic people? Take heart. Learn simple, yet powerful UX principles and UI tricks that will help you radically improve your digital products. These secrets are perfectly suited for...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
