@page
@model CPL20Archive.Pages.Sessions.Topic_TestingModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Topic</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Topic_AppDev" class="btn">Application Development</a>
    <a asp-page="Topic_Infrastructure" class="btn">Infrastructure</a>
    <a asp-page="Topic_ProjMgnt" class="btn">Project Mangement</a>
    <a asp-page="Topic_Requirements" class="btn">Requirements</a>
    <a asp-page="Topic_SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="Topic_Testing" class="btn btn-info">Software Testing</a>
    <a asp-page="Topic_UX" class="btn">User Experience</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1972/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1972.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1972/Index">
      <h3>Kloadgen: An empty Kafka is a sad Kafka</h3>
       </a>
      <p>In 2019 we found ourselves in a situation where we needed to produce a huge amount of data to be injected into a Kafka cluster so it can be consumed by an application and run a load testing. Data should follow a defined structure in AVRO format; and also should have certain values in order to follow...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1987/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1987.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1987/Index">
      <h3>4 Pillars of Successful Agile Test Automation.</h3>
       </a>
      <p>Motivation: 
-------------
I wrapped up my experiences including lots of challenges in both technical and social manners from the automation projects to test complicated systems such as cloud-based open IOT platforms. Finally, I listed a set of golden rules to develop solutions against those challen...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2005/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2005.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2005/Index">
      <h3>The Human Side to Testing</h3>
       </a>
      <p>We’re known for breaking things and testing the limits, and patience, of our team and our systems.  We advocate for quality in all things and we advocate for the end user.  But, none of us actually think about how our varied backgrounds influence what we do and how we test.  In this session we’ll ex...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2009/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2009.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2009/Index">
      <h3>Blazor Stability Testing Tools for Bullet Proof Applications</h3>
       </a>
      <p>.NET in the browser may sound like Blazor's strength, however the story of Blazor testing may just be its biggest potential upside. In this session we'll discuss what makes Blazor an ideal candidate for: Unit Testing, Integration Testing, and Automated System Testing....<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2013/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2013.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2013/Index">
      <h3>The Rise and Benefits of Robotic Process Automation</h3>
       </a>
      <p>Robotic Process Automation (RPA) is a term given to technology that allows developers to programmatically emulate the actions of a human to execute a business process. RPA often operates on the user interface (UI) layer to capture data or interact with an application or across multiple applications ...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2018/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2018.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2018/Index">
      <h3>Gaining Confidence with Cypress Tests</h3>
       </a>
      <p>Have you ever wanted to refactor mercilessly but didn't want to break the fragile tower? Or have you ever pushed to production only to spend the next few days cleaning up the regressions? You need integration tests, and Cypress is a great, fast way to build them. With a simple JavaScript or TypeScri...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2050/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2050.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2050/Index">
      <h3>The Evolution of Software Testing: What is next?</h3>
       </a>
      <p>In this talk, I provide some insights about the growth of software testing. Starting from the early times of software testing, finally we discuss what we can face in the future. Key take-away’s are to be ready for the next generation testing activities (AI-supported testing and others).

We all obse...<br /><br /><span style="background-color:#A3CF63;">&nbsp;Video Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
