@page
@model CPL20Archive.Pages.Sessions.WorkshopsModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn btn-info">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1668/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1668.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1668/Index">
      <h3>Getting Started with Python [Half-Day Workshop]</h3>
       </a>
      <p>For people who have never written a line of Python code, we’ll learn the basics together and answer questions along the way. This tutorial utilizes Visual Studio Code and Python 3.7.x resulting in a free and relevant bag of tools for your next project. Time-allowing, we’ll explore useful libraries!...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1674/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1674.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1674/Index">
      <h3>How Social Media Can Land You Your Dream Job [Half-Day Workshop]</h3>
       </a>
      <p>Finding a job using social media is now the new normal. This session is specifically focused on tactics on how to leverage social media to help you find a job. We will also talk about personal branding because that is a highly underrated part of finding a job in today's market!...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1683/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1683.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1683/Index">
      <h3>Building Your First Voice Experience with Alexa [Half-Day Workshop]</h3>
       </a>
      <p>This workshop will dive right in to getting you set up and started building a voice-based experience with Alexa.  You will leave this session with a working Alexa skill that you can customize and publish as your own.

We will cover topics around voice design best practices, voice interactions, persi...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1690/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1690.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1690/Index">
      <h3>The Hidden Requirements: Exploring Emotions with Placebos [Half-Day Workshop]</h3>
       </a>
      <p>The way we feel is important!
 
All that we think, do, or say is influenced, to some degree, by emotions. Many successful businesses and people recognize the importance of emotional considerations.
 
The way we feel is important and should be considered!
 
All software is intended to help solve some...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1694/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1694.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1694/Index">
      <h3>A Crash Course on 3D Printing [Half-Day Workshop]</h3>
       </a>
      <p>3D printing has been around for years, but it's easier than ever to get started, and surprisingly affordable.

If you've been thinking about buying a 3D printer, but weren't sure how to get started, this session is for you! We'll cover how to choose your first 3D printer, whether your budget is big ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1718/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1718.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1718/Index">
      <h3>Example Mapping: The New Three Amigos [Half-Day Workshop]</h3>
       </a>
      <p>Example Mapping is a collaborative technique to help refine requirements using business rules and examples as executable specifications....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1725/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1725.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1725/Index">
      <h3>Hands-on Intro to Kubernetes (and OpenShift) for Developers [Half-Day Workshop]</h3>
       </a>
      <p>Learn to build and deploy cloud-native Node.js applications on Kubernetes and OpenShift through a series of hands-on lab examples.

This interactive session involves using kubectl, oc, curl, and common command-line tools to interact with Kubernetes APIs. By the end of this lab, you’ll be deploying, ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1739/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1739.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1739/Index">
      <h3>Gotcha Where I Want 'Cha : Building a React Native App with a GraphQL API [Full-Day Workshop]</h3>
       </a>
      <p>The majority of mobile applications need to use a backend API to connect it's users to it's services.

Building these types of applications often involves seperate developers, one for the frontend mobile code and one for the backend server code. The hand-off point for the API needs to handled delica...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1751/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1751.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1751/Index">
      <h3>Soft Skills +Group Dynamics + Communication Skills = Productive Team Projects [Half-Day Workshop]</h3>
       </a>
      <p>Attendees will discover the influence of communications places into action while using your everyday people skills, added with a unique style of active listening.

This is ideal for individuals who have Teams working in the areas of Software Engineering, Programming and DevOps.

•The approach derive...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1756/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1756.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1756/Index">
      <h3>Solving Microservices Mysteries With OpenTelemetry [Full-Day Workshop]</h3>
       </a>
      <p>Microservices have broken our traditional monitoring tools. Traditional methods of application logging and host-based metrics can’t provide accurate and timely signals for issues impacting production. OpenTelemetry solves this dilemma by providing a single set of APIs, SDKs, and automatic instrument...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1764/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1764.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1764/Index">
      <h3>Developers Guide to Azure AI [4-Hour Workshop]</h3>
       </a>
      <p>After a tremendous age of innovation and research in the AI field, we are moving towards the age of appliance. But how and where do you get started as a developer?
In this workshop we dive into the AI platform on Microsoft Azure and find out how you as a developer you can use the power of AI in your...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1766/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1766.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1766/Index">
      <h3>Leveling Up: Dependency Injection in .NET [Full-Day Workshop]</h3>
       </a>
      <p>Loosely coupled code is easier to maintain, extend, and test. Dependency Injection (DI) help us get there. In this workshop, we'll see how interfaces can add "seams" to our code that makes it more flexible and maintainable. From there, we'll dig into loose coupling with Dependency Injection. DI does...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1779/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1779.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1779/Index">
      <h3>Develop an ASP.NET Core 3 App with EF Core in a Day HOL [Full-Day Workshop]</h3>
       </a>
      <p>Interested in ASP.NET Core 3.x and Entity Framework Core 3.x, but not sure where to start? Start here with an all day Hands on Lab where you will build a complete solution using the latest development technology from Microsoft. You will build a data access library using Entity Framework Core, comple...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1799/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1799.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1799/Index">
      <h3>Hands On Deep Learning for JavaScript Folks without (or with!) a Ph.D. [Half-Day Workshop]</h3>
       </a>
      <p>One of the hottest trends in the industry is artificial intelligence. And web developers are not going to be left out! This workshop introduces attendees to TensorFlow.js. Inspired by the high level Keras library included with Google's popular TensorFlow machine learning platform, TensorFlow.js make...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
