@page
@model CPL20Archive.Pages.Sessions.WorkshopsModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Period</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="Workshops" class="btn btn-info">Workshops</a>
    <a asp-page="Period1" class="btn">Period 1</a>
    <a asp-page="Period2" class="btn">Period 2</a>
    <a asp-page="Period3" class="btn">Period 3</a>
    <a asp-page="Period4" class="btn">Period 4</a>
    <a asp-page="Period5" class="btn">Period 5</a>
    <a asp-page="Period6" class="btn">Period 6</a>
    <a asp-page="Period7" class="btn">Period 7</a>
    <a asp-page="Period8" class="btn">Period 8</a>
    <a asp-page="Period9" class="btn">Period 9</a>
    <a asp-page="Period10" class="btn">Period 10</a>
    <a asp-page="Period11" class="btn">Period 11</a>
    <a asp-page="Keynote" class="btn">Keynote</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1962/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1962.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1962/Index">
      <h3>Let's build a modern API for your frontend</h3>
       </a>
      <p>What does a backend developer need to know for setting up a modern, high quality API on Azure for your frontend apps.

Let's break it down in different parts and after each part, incorporate the usage into our mobile application.

We will touch upon following elements:
- Azure PaaS vs Serverless.
- ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1963/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1963.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1963/Index">
      <h3>Develop an ASP.NET Core App with EF Core in a Day HOL</h3>
       </a>
      <p>Interested in ASP.NET Core and Entity Framework Core, but not sure where to start? Start here with an all day Hands on Lab where you will build a complete solution using the latest development technology from Microsoft. You will build a data access library using Entity Framework Core, complete with ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1964/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1964.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1964/Index">
      <h3>Workshop: Building Single Page Applications with VueJS and ASP.NET Core</h3>
       </a>
      <p>The landscape of building web applications has changed a bit of the past five to ten years.  The tools have matured so drastically that it can be a challenge to figure out the best way to incorporate your existing knowledge with new tools.

In this full-day workshop, you will explore building a Sing...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1965/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1965.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1965/Index">
      <h3>Playing with Fire : Build a Web Application with Firebase</h3>
       </a>
      <p>Come see how easy it can be to use Google Firebase to take your app idea from concept to production. In this session, we will build a messaging application together showing all the steps required to launch a new serverless web application with Firebase.

While we build this web app you will learn ab...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1966/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1966.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1966/Index">
      <h3>Building Your First Voice Experience with Alexa</h3>
       </a>
      <p>This workshop will dive right in to getting you set up and started building a voice-based experience with Alexa.  You will leave this session with a working Alexa skill that you can customize and publish as your own.

We will cover topics around voice design best practices, voice interactions, persi...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1967/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1967.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1967/Index">
      <h3>Hands On with Data Science with Python and Friends</h3>
       </a>
      <p>At the risk of being cliche, the world is drowning in data.  This workshop introduces the life preserver known as the PyData stack.  This collection of open source and industry used packages will get attendees up to speed with one of the hottest and most in demand skills today.  With numpy for light...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1969/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1969.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1969/Index">
      <h3>Modernize Your ASP.NET Web Forms Application to .NET Core, Blazor, and the Cloud</h3>
       </a>
      <p>In this demo-filled workshop, you'll learn the methods and techniques that you can use to upgrade your existing applications to take advantage of .NET Core and cloud technologies. You'll learn how to re-use as much as 90% of the ASP.NET code you've already written in a new container-capable, cross-p...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1970/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1970.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1970/Index">
      <h3>Hands-On Intro To Tekton Pipelines</h3>
       </a>
      <p>The ultimate goal of software agility is to be able to deploy frequently and rapidly. To do so, software developers need the appropriate tools. This is where CI/CD will come into play. By automating the processes related to application deployment, software developers can ensure more frequent and rob...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1971/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1971.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1971/Index">
      <h3>Understanding Asynchronous Programming in C#</h3>
       </a>
      <p>Level: Introductory / Intermediate
Asynchronous code is everywhere. In our C# code, we "await" method calls to services and databases; and more and more packages that we use every day have asynchronous methods. But do you really understand what this does?

Understanding is critical. When done correc...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1998/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1998.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1998/Index">
      <h3>Users Don't Have to Suffer in the Cloud</h3>
       </a>
      <p>The cloud has a lot to offer organizations - this is unquestionable.  
It is clear - the cloud has extraordinary potential to disrupt how IT manages applications and how IT delivers services to end users.
The strategies to move to the cloud for enterprises usually steer towards either migrating thei...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/2091/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/2091.png" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/2091/Index">
      <h3>Why a Diverse Team is Crucial to Startup Success</h3>
       </a>
      <p>Team diversity refers to differences between members of startup team. Those differences can include demographic differences (like age, race, sex, ethnicity), personality (extrovert, introvert, and differing Myers-Briggs types) and functional (as in skill sets, like engineering, design, copywriting, ...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
