@page
@model CPL20Archive.Pages.Sessions.WorkSkillsModel
@{
}
<div class="top-title-area bg-img-charcoal-eticket">
  <div class="container">
    <h1 class="title-page">Sessions by Tag</h1>
  </div>
</div>
<div class="gap"></div>
<div class="container">
  <div class="demo-buttons">
    <a asp-page="DotNet" class="btn">.NET</a>
    <a asp-page="Accessibility" class="btn">Accessibility</a>
    <a asp-page="Agile" class="btn">Agile</a>
    <a asp-page="Android" class="btn">Android</a>
    <a asp-page="Architecture" class="btn">Architecture</a>
    <a asp-page="ArtificialIntelligence" class="btn">Artificial Intelligence</a>
    <a asp-page="ASPNET" class="btn">ASP.NET</a>
    <a asp-page="AWS" class="btn">AWS</a>
    <a asp-page="Azure" class="btn">Azure</a>
    <a asp-page="BigData" class="btn">Big Data</a>
    <a asp-page="Cloud" class="btn">Cloud</a>
    <a asp-page="Container" class="btn">Container</a>
    <a asp-page="ContinuousDelivery" class="btn">Continuous Delivery</a>
    <a asp-page="CrossPlatform" class="btn">Cross-Platform</a>
    <a asp-page="Data" class="btn">Data</a>
    <a asp-page="Database" class="btn">Database</a>
    <a asp-page="DeepLearning" class="btn">Deep Learning</a>
    <a asp-page="Design" class="btn">Design (UI/UX/CSS)</a>
    <a asp-page="DevelopmentPractices" class="btn">Development Practices</a>
    <a asp-page="DevOps" class="btn">DevOps</a>
    <a asp-page="Docker" class="btn">Docker</a>
    <a asp-page="Fun" class="btn">Fun</a>
    <a asp-page="FunctionalProgramming" class="btn">Functional Programming</a>
    <a asp-page="Google" class="btn">Google</a>
    <a asp-page="GoogleCloud" class="btn">Google Cloud</a>
    <a asp-page="Hardware" class="btn">Hardware</a>
    <a asp-page="iOS" class="btn">iOS</a>
    <a asp-page="IoT" class="btn">IoT</a>
    <a asp-page="Java" class="btn">Java</a>
    <a asp-page="JavaScript" class="btn">JavaScript</a>
    <a asp-page="Kotlin" class="btn">Kotlin</a>
    <a asp-page="Kubernetes" class="btn">Kubernetes</a>
    <a asp-page="MachineLearning" class="btn">Machine Learning</a>
    <a asp-page="Microservices" class="btn">Microservices</a>
    <a asp-page="Microsoft" class="btn">Microsoft</a>
    <a asp-page="Mobile" class="btn">Mobile</a>
    <a asp-page="NoSQL" class="btn">NoSQL</a>
    <a asp-page="Other" class="btn">Other</a>
    <a asp-page="People" class="btn">People</a>
    <a asp-page="Performance" class="btn">Performance</a>
    <a asp-page="ProjectManagement" class="btn">Project Management</a>
    <a asp-page="Python" class="btn">Python</a>
    <a asp-page="QualityAssurance" class="btn">Quality Assurance</a>
    <a asp-page="Requirements" class="btn">Requirements</a>
    <a asp-page="Security" class="btn">Security</a>
    <a asp-page="Serverless" class="btn">Serverless</a>
    <a asp-page="SoftSkills" class="btn">Soft Skills</a>
    <a asp-page="SQL" class="btn">SQL</a>
    <a asp-page="Testing" class="btn">Testing</a>
    <a asp-page="Tools" class="btn">Tools</a>
    <a asp-page="UI" class="btn">UI</a>
    <a asp-page="UX" class="btn">UX</a>
    <a asp-page="VR" class="btn">VR</a>
    <a asp-page="Web" class="btn">Web</a>
    <a asp-page="WebAssembly" class="btn">Web Assembly</a>
    <a asp-page="WebServices" class="btn">Web Services</a>
    <a asp-page="Windows" class="btn">Windows</a>
    <a asp-page="WorkSkills" class="btn btn-info">Work Skills</a>
  </div>
  <div class="gap"></div>
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1674/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1674.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1674/Index">
      <h3>How Social Media Can Land You Your Dream Job [Half-Day Workshop]</h3>
       </a>
      <p>Finding a job using social media is now the new normal. This session is specifically focused on tactics on how to leverage social media to help you find a job. We will also talk about personal branding because that is a highly underrated part of finding a job in today's market!...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1705/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1705.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1705/Index">
      <h3>Think Global: A Guide to High Performing Global Dev Teams</h3>
       </a>
      <p>We live in a world where our colleagues may not sit next to us, or be in the same city, or even in the same country. A diverse workforce with varied perspectives, help companies to remain competitive today.

But, geographically dispersed teams also come with a set of challenges. Managing development...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1718/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1718.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1718/Index">
      <h3>Example Mapping: The New Three Amigos [Half-Day Workshop]</h3>
       </a>
      <p>Example Mapping is a collaborative technique to help refine requirements using business rules and examples as executable specifications....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1733/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1733.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1733/Index">
      <h3>Government regulation in the age of AI & Digital Transformation</h3>
       </a>
      <p>Recently in government legislatures lengthy debates & discussion have been held regarding robots & AI and how they will impact the new economy in years to come & what regulations or laws should be passed to manage them.

However, in government & legislatures at all levels, (local, state & federal) w...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1742/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1742.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1742/Index">
      <h3>Record Linkage and Deduplicating Data with ML</h3>
       </a>
      <p>Machine learning and fuzzy matching can enable us to identify duplicate or linked records across datasets, even when the records don’t have a common unique identifier.

Ahmad Firjani will explain how he used machine learning algorithms to link matching records from clinic dataset to other patient da...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1751/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1751.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1751/Index">
      <h3>Soft Skills +Group Dynamics + Communication Skills = Productive Team Projects [Half-Day Workshop]</h3>
       </a>
      <p>Attendees will discover the influence of communications places into action while using your everyday people skills, added with a unique style of active listening.

This is ideal for individuals who have Teams working in the areas of Software Engineering, Programming and DevOps.

•The approach derive...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1753/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1753.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1753/Index">
      <h3>Non-traditional Pathways In Tech, a Panel Discussion</h3>
       </a>
      <p>A Q&A panel discussion with three people who have found success in, or adjacent to, software development. All have taken unique pathways the stray from the traditional education route. Hear their stories on what they did before they entered the tech world, how they picked up their tech skills, how t...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1760/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1760.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1760/Index">
      <h3>Leadership for introverts</h3>
       </a>
      <p>Hello, my name is Alison and I'm an introvert. Groups of strangers make me nervous, parties exhaust me, and I'm scared of talking in public. Also, I run a team of over 40 people. This is how I do it and maintain my sanity. 

Being an introvert doesn't mean you're shy, anti-social, or awkward, but it...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1769/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1769.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1769/Index">
      <h3>Knowing Your Limitations: The key to improving your software design decisions</h3>
       </a>
      <p>Two of the hardest challenges in software development are building the right thing and building the thing right. The first problem comes from a lack of understanding of what users want. The second comes from the fact that the complexities of software make it challenging to build high-quality applica...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1770/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1770.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1770/Index">
      <h3>Programmer burnout: how to recognize and avoid it</h3>
       </a>
      <p>Burnout among software professionals is far more widespread than we would like to admit. It sneaks up on us. At first we dread going in to work each day. We can barely focus enough to get through the day and struggle with otherwise simple-for-us tasks. It starts there and gets much worse. So what ar...<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span4">
      <a asp-page="/Sessions/1794/Index">
        <img style="width: 320px; height: 180px" src="https://greeneventstechnology.azureedge.net/cpl20/thumbnails/1794.jpg" />
       </a>
    </div>
    <div class="span8">
      <a asp-page="/Sessions/1794/Index">
      <h3>Business & Tech: A Communication Guide</h3>
       </a>
      <p>Development teams and business decision makers frequently conflict. Business people don’t always understand that without software, their companies wouldn’t make money. Developers don’t always realize that solving a problem requires more than the latest framework. Each group has different priorities....<br /><br /><span style="background-color:#DF625C;foreground-color:#FFFFFF;">&nbsp;Video Not Available Yet&nbsp;</span></p>
    </div>
  </div>
  <hr />
