@page
@model CPL20Archive.Pages.Sessions._2000.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">A Series of Unfortunate Events - What Happens When Your App is Hacked.</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Many of us know about the various security checklists and how we should write more secure code. In this session we will move beyond top 10 lists and dive into the world of how attackers compromise systems and how they use those compromises to exploit both individuals and companies. 
You will see demonstrations of how a malicious actor can hack into applications and get an overview of real world exploits that steal data, take over systems and even compromise entire organizations. 
As we work our way through the system we will review concrete steps that you can take to mitigate similar attacks on your own systems.

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/735EDA07-66EA-4057-9EE5-0F8359871532">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Joe_Kuemerle.png" alt="Joe Kuemerle" title="Joe Kuemerle" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/735EDA07-66EA-4057-9EE5-0F8359871532">Joe Kuemerle</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
