@page
@model CPL20Archive.Pages.Sessions._1722.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Kubernetes">Kubernetes</a><br /><a asp-page="/Sessions/Architecture">Architecture</a><br /><a asp-page="/Sessions/AWS">AWS</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Kubernetes Operators, When and How?</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/-kI9pRDoUqU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Kubernetes is the hot new topic in the industry. Kubernetes Operators are the newest part of the Kubernetes ecosystem which allow for even more automation and less human intervention. However, there are not many companies developing Kubernetes Operators. In this talk, Dorrin will dig deep into what it takes to develop an Operator and what are the best practices. She will show examples of an AWS S3 operator and will give tips and direction as to whether a Kubernetes Operator is a viable solution for you or not!
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/9804D179-E493-4291-AA77-8217CB3336F8">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Dorrin_Poorkay.png" alt="Dorrin Poorkay" title="Dorrin Poorkay" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/9804D179-E493-4291-AA77-8217CB3336F8">Dorrin Poorkay</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
