@page
@model CPL20Archive.Pages.Sessions._1671.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/8">Design (UI/UX/CSS)</a><br /><a href="/SessionsByTag/15">JavaScript</a><br /><a href="/SessionsByTag/33">Web</a><br /><a href="/SessionsByTag/62">Fun</a><br /><a href="/SessionsByTag/63">UX</a><br /><a href="/SessionsByTag/64">Tools</a><br /><a href="/SessionsByTag/65">UI</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Animation for the Web: Giving Life to your SVGs</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1671/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Have you ever seen an animated SVG on a site and thought, "That is so cool; how did they do that," or, "This is super distracting," this talk is for you. Learn the best times to use animation, as well as libraries and tools you can implement to make your animation the best it can be.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/D46A6F12-DC6D-40F4-A9F9-94AA8939B264">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Mandy_Cox.png" alt="Mandy Cox" title="Mandy Cox" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/D46A6F12-DC6D-40F4-A9F9-94AA8939B264">Mandy Cox</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
