@page
@model CPL20Archive.Pages.Sessions._1970.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Hands-On Intro To Tekton Pipelines</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Half-Day Workshop</h5>
          <br />
          The ultimate goal of software agility is to be able to deploy frequently and rapidly. To do so, software developers need the appropriate tools. This is where CI/CD will come into play. By automating the processes related to application deployment, software developers can ensure more frequent and robust software deployments.

There are many continuous delivery solutions out there, but one is starting to stand out by its truly cloud-native approach. Tekton is an open-source, cloud-native framework for creating CI/CD systems. Its architecture, using composable, reproducible and declarative blocks, makes it easy for software developers to create and maintain their pipelines to automate their software deployment. As Tekton runs natively on Kubernetes and is backed by large players like Google and Red Hat, it is obviously an appealing choice for developers.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/14c41c84-7bb2-4740-9d7b-b189987410e2">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Joel_Lord.png" alt="Joel Lord" title="Joel Lord" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/14c41c84-7bb2-4740-9d7b-b189987410e2">Joel Lord</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
