@page
@model CPL20Archive.Pages.Sessions._1982.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">10 Things They Didn't Tell You About TDD</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/kKTmdkBxywI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          TDD (Test Driven Development) is a well-known practice, yet hardly implemented methodology of coding. 

In the wild, you will barely see it fully implemented in organizations. Why is that? Is it because it is hard? Does it work only in special cases? 

I'm here to tell you the things that so-called “introduction to TDD” books and articles don't. It is the little things, like how TDD can be applied in the real world, with real code. How TDD principles apply, regardless of what your coding language is. And even, how it changes you as a programmer. 

That's right.

TDD changed my life, and it can help improve yours too. But to get on the road, you need to hear about the secrets of TDD. And I’m ready to tell you, from my experience and perspective.

This talk is for developers, obviously, but also for testers who want to promote better quality in their teams, by using developer-speak.

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/69431EE1-4C39-48D8-BB92-4189366BD577">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Gil_Zilberfeld.png" alt="Gil Zilberfeld" title="Gil Zilberfeld" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/69431EE1-4C39-48D8-BB92-4189366BD577">Gil Zilberfeld</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
