@page
@model CPL20Archive.Pages.Sessions._1681.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Security">Security</a><br /><a asp-page="/Sessions/Web">Web</a><br /><a asp-page="/Sessions/Architecture">Architecture</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Secure your API! The OWASP API Security Top 10 and you</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/Gi-plbbLq-U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          The things you've done to secure your previous web apps might not be enough for your APIs. We'll review the OWASP API Security Top 10, reviewing the biggest risks and ways to mitigate them.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/054AD62D-27F7-4EA1-BA6D-AE89A98E1B33">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Tim_Jarzombek.png" alt="Tim Jarzombek" title="Tim Jarzombek" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/054AD62D-27F7-4EA1-BA6D-AE89A98E1B33">Tim Jarzombek</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
