@page
@model CPL20Archive.Pages.Sessions._1739.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/FunctionalProgramming">Functional Programming</a><br /><a asp-page="/Sessions/JavaScript">JavaScript</a><br /><a asp-page="/Sessions/Mobile">Mobile</a><br /><a asp-page="/Sessions/Fun">Fun</a><br /><a asp-page="/Sessions/iOS">iOS</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Gotcha Where I Want 'Cha : Building a React Native App with a GraphQL API [Full-Day Workshop]</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Full-Day Workshop</h5>
          <br />
          The majority of mobile applications need to use a backend API to connect it's users to it's services.

Building these types of applications often involves seperate developers, one for the frontend mobile code and one for the backend server code. The hand-off point for the API needs to handled delicately so as the developers do not block each other.

In this workshop, we will build Gotcha, a mobile React Native application that gets conference attendees to meet each other in the real world with the help of this application.

The mobile application was built in React Native with the data coming from a custom GraphQL API built in the Elixir web framework, Phoenix. We will show you how a frontend mobile developer and a backend Elixir developer worked through API contracts to collaborate efficiently.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/00311b40-c75d-4b1f-bced-ab2dee369149">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jamie_Wright.png" alt="Jamie Wright" title="Jamie Wright" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/00311b40-c75d-4b1f-bced-ab2dee369149">Jamie Wright</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
