@page
@model CPL20Archive.Pages.Sessions._1672.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">From Tutus to Tech: Lessons Learned from Changing Careers</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          What do ballet, music publicity and front end engineering have in common? More than you would think. Three years ago I didn’t know what a div was but I did know I needed a career change. I stumbled upon the tech world, enrolled in a bootcamp and haven’t looked back. 

Non-traditional paths are becoming more common place in the tech industry. There are more bootcamp and self-taught devs than ever before. In this talk, we’ll discuss what it was like for me to transition to tech from not one, but two completely unrelated careers, how I bring my past experiences into my current role and why you should consider hiring more devs with non-traditional backgrounds.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/673DC510-BD3D-43BF-82B3-02B710A42485">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Kara_Luton.png" alt="Kara Luton" title="Kara Luton" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/673DC510-BD3D-43BF-82B3-02B710A42485">Kara Luton</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
