@page
@model CPL20Archive.Pages.Sessions._2061.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_ProjMgnt">Project Management</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Who said you can't teach an old dog new tricks</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          The Mainframe computer is over 65 years old, and has a dual personality of either being viewed as a proprietary thing of the past or else a hidden closed locked down machine as espoused in Hollywood movie plots.  The truth is neither, and a huge amount of mainframe computing workload today comes from open source tooling.  This talks show the use of Linux Foundation  tools, especially Zowe,  Jenkins, modern tools such as VS Code, IntelliJ, modern languages like Node.js, Java, Swift, Golang, and more.  A lot of the mainframe's growth comes not from tech, but from its ability to build communities and academic learning initiatives.  From what was once a platform businesses were leaving due to stagnation, this talk shows the turnaround and the important lessons to be learned that apply to any technology wishing to survive beyond its 50th birthday.  
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/30BB0CC4-F3B7-487C-868E-7AB1C4025557">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Joe_Winchester.png" alt="Joe Winchester" title="Joe Winchester" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/30BB0CC4-F3B7-487C-868E-7AB1C4025557">Joe Winchester</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/6E6EFE32-9D8B-4417-8FB6-2A913667759F">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/John_Mertic.png" alt="John Mertic" title="John Mertic" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/6E6EFE32-9D8B-4417-8FB6-2A913667759F">John Mertic</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
