@page
@model CPL20Archive.Pages.Sessions._1760.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a href="/SessionsByTopic/5">Soft Skills</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/20">Soft Skills</a><br /><a href="/SessionsByTag/66">People</a><br /><a href="/SessionsByTag/67">Work Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Leadership for introverts</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1760/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Hello, my name is Alison and I'm an introvert. Groups of strangers make me nervous, parties exhaust me, and I'm scared of talking in public. Also, I run a team of over 40 people. This is how I do it and maintain my sanity. 

Being an introvert doesn't mean you're shy, anti-social, or awkward, but it does mean that dealing with people takes more energy from you than it gives. You have to figure out where your limit is, and what you do to recover. I'll go through some of the tactics I've used that work for me, and some that didn't work. One change I made was making a scarf while doing compensation reviews, and I'll explain why.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/A0010800-96C5-4C56-A876-43D0DAFCEF9C">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Alison_Hawke.png" alt="Alison Hawke" title="Alison Hawke" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/A0010800-96C5-4C56-A876-43D0DAFCEF9C">Alison Hawke</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
