@page
@model CPL20Archive.Pages.Sessions._2035.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Zero to Hero in Power Virtual Agents in 60 Minutes</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/XNhjRqZLIP0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Bots are Hot. Power Virtual Agents a SaaS offering from Microsoft empowers teams to easily create powerful bots using a guided, no-code graphical interface without the need for data scientists or developers. 

In this demo-driven session, we will cover the basics of the Power Virtual Agents. We will cover how to get started with the Power Virtual Agents and build a working enterprise-grade bot for your organization.


You will learn:
What are Power Virtual Agents?
Bots in Microsoft Ecosystem
What is Azure Bot Service?
How to call Power Automate (Microsoft Flow) from Power Virtual Agents?
How to create bots using Power Virtual Agents?

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/9463B32D-EF36-49F9-BFAA-190A3E1D3486">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Prashant_G_Bhoyar.png" alt="Prashant G Bhoyar" title="Prashant G Bhoyar" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/9463B32D-EF36-49F9-BFAA-190A3E1D3486">Prashant G Bhoyar</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
