@page
@model CPL20Archive.Pages.Sessions._1726.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/DotNet">.NET</a><br /><a asp-page="/Sessions/FunctionalProgramming">Functional Programming</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Functional Programming Techniques in C#</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1726/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Over the years C# has adopted language features that allow developers to solve problems using functional programming techniques. Functional programming can seem complex and confusing to object oriented developers, making it difficult to take advantage of the functional features of C#.  It's also not always clear why a functional programming approach may be better for some problems than an object-oriented approach.  This session will provide an overview of what functional programming is and introduce the functional features of C#.  We will also cover some common use cases for functional techniques and see how they can transform code that is often common in many applications.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/25180EB0-83D3-4038-B18E-1E4CDFEF777A">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Darren_Hale.png" alt="Darren Hale" title="Darren Hale" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/25180EB0-83D3-4038-B18E-1E4CDFEF777A">Darren Hale</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
