@page
@model CPL20Archive.Pages.Sessions._1731.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/FunctionalProgramming">Functional Programming</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">FasteR Workflow: Time - Saving Tips for Starting Data Science with R Programming</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1731/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          R Programming has been a popular statistical analysis language for analysts at corporations, government agencies, and research organizations.  But as a single threaded language R programming capabilities have been limited to local usage on laptops.  With libraries and cloud platform options, analysts can now save time in running R programs and create a stable workflow. 
This brief talk will show how attendees can conduct data exploration in R programming.  Attendees will learn about libraries for data exploration, tips for working with other professionals in examining data, and the latest features in R Studio and Microsoft Visual Code for R.

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/BCD17423-6AE5-40CB-B301-92B9EC6F4D78">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Pierre_DeBois.png" alt="Pierre DeBois" title="Pierre DeBois" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/BCD17423-6AE5-40CB-B301-92B9EC6F4D78">Pierre DeBois</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
