@page
@model CPL20Archive.Pages.Sessions._2056.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Building Apps Across Platforms with Flutter</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          There has not been a better time to learn Flutter. With the recent release of Flutter 2, the platform is now capable of building rich app experiences across Mobile, Web, Desktop and much more.

In this talk, speaker Brad Cypert provides a gentle introduction to Flutter. You'll learn how Flutter works and about the tools you have to create rich app experiences across multiple platforms, devices, and (screen) dimensions.

Code examples will be distilled down to just the fundamental elements necessary to explain a given topic, so feel free to come out even if you aren't comfortable with coding.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/D57A5D12-800F-4C6C-B1E1-5DABE60CE977">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Brad_Cypert.png" alt="Brad Cypert" title="Brad Cypert" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/D57A5D12-800F-4C6C-B1E1-5DABE60CE977">Brad Cypert</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
