@page
@model CPL20Archive.Pages.Sessions._1713.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Diversity is more, much more! Living in tech as a Latino who can’t dance</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1713/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          I was born and raised in Argentina, then I lived +11 years in Spain and +3 years ago I moved to Canada. During the past 15 years I was an outsider, and this also impacted my professional life. I was lucky enough to travel for 5 years working in Europe, and I learned a lot on how my latino background impacted my professional career. 
This session is mostly sharing what I’ve learned during these past years. How I learned to get the most from sentences like “You have a very strong accent; I don’t think you will fit this meeting. These are Senior Executives” or “Wow, your accent is amazing, our leadership team will love it!”. In both scenarios, I manage to move from frustration or surprise to a let’s focus on our business.
And it’s not only about language and accent; family, culture and even food and drinks are a part of the story. Espero que nos veamos en la sesion!

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/F286B6DE-C1E2-41A9-8635-B4056CC235C3">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Bruno_Capuano.png" alt="Bruno Capuano" title="Bruno Capuano" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/F286B6DE-C1E2-41A9-8635-B4056CC235C3">Bruno Capuano</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
