@page
@model CPL20Archive.Pages.Sessions._1666.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Hypothesis Driven Development</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1666/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Have you ever gotten a user story and wondered: "Why in the world should we build this?" More often than not, we often spend too much time building the wrong things for the wrong audience because there's little to no research done to figure out what is the right thing to build. Hypothesis Driven Development is a technique which helps us explore and explain the options for product development . In this talk, you will leave will an understanding of Hypothesis Driven Development and  Innovation Accounting so that you can take this back to our business and create software solutions that lead to better outcomes for your customers and your business.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="/SpeakerDetails/5b062a96-8841-42f3-80fa-f7ae29f77a7b">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Dennis_Stepp.png" alt="Dennis Stepp" title="Dennis Stepp" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="/SpeakerDetails/5b062a96-8841-42f3-80fa-f7ae29f77a7b">Dennis Stepp</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
