@page
@model CPL20Archive.Pages.Sessions._1667.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Performance">Performance</a><br /><a asp-page="/Sessions/Database">Database</a><br /><a asp-page="/Sessions/SQL">SQL</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Don't screw up the SQL!</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1667/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          A session for anyone who writes SQL and is not an experienced, siloed SQL expert ... we’ll examine basic features of Microsoft SQL Server that can cause headaches if not used as intended. We’ll explore several of the most basic SQL Server mistakes of my career so you can avoid them and write better SQL starting today. After this session, you’ll want to review every query you’ve written to see if you’ve made these mistakes - I guarantee you have, and that’s ok. Let’s be aware of them and stop them from getting into our future code.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/5F818C84-00CE-4961-B68E-9AAA8AE2EFBC">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Evan_Smith.png" alt="Evan Smith" title="Evan Smith" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/5F818C84-00CE-4961-B68E-9AAA8AE2EFBC">Evan Smith</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
