@page
@model CPL20Archive.Pages.Sessions._1725.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Cloud">Cloud</a><br /><a asp-page="/Sessions/DevOps">DevOps</a><br /><a asp-page="/Sessions/Web">Web</a><br /><a asp-page="/Sessions/Kubernetes">Kubernetes</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Hands-on Intro to Kubernetes (and OpenShift) for Developers [Half-Day Workshop]</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Half-Day Workshop</h5>
          <br />
          Learn to build and deploy cloud-native Node.js applications on Kubernetes and OpenShift through a series of hands-on lab examples.

This interactive session involves using kubectl, oc, curl, and common command-line tools to interact with Kubernetes APIs. By the end of this lab, you’ll be deploying, scaling, and automating JS-based distributed solutions using containers, Kubernetes, and other popular open source tools for distributed computing.

These examples are designed to show JS developers how to maintain speed and productivity with a container-based development workflow.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/14c41c84-7bb2-4740-9d7b-b189987410e2">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Joel_Lord.png" alt="Joel Lord" title="Joel Lord" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/14c41c84-7bb2-4740-9d7b-b189987410e2">Joel Lord</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
