@page
@model CPL20Archive.Pages.Sessions._1967.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Hands On with Data Science with Python and Friends</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Full-Day Workshop</h5>
          <br />
          At the risk of being cliche, the world is drowning in data.  This workshop introduces the life preserver known as the PyData stack.  This collection of open source and industry used packages will get attendees up to speed with one of the hottest and most in demand skills today.  With numpy for lighting fast numerical processing, pandas for flexible data wrangling, matplotlib for eye-catching visualizations for information at a glance and tools like Jupyter notebook for interactive experimentation, the PyData Stack has the data science workflow all wrapped up.  And Python is the ideal language for data science.  It's simple and easy to use and learn!  But it also has reaches far beyond data science.  The workshop goes beyond the lab and shows how to integrate data science products into web applications to make them available and accessible to everyone.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/A3C6CFDD-D3C5-4CEE-B653-8C4F853C7921">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Douglas_Starnes.png" alt="Douglas Starnes" title="Douglas Starnes" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/A3C6CFDD-D3C5-4CEE-B653-8C4F853C7921">Douglas Starnes</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
