@page
@model CPL20Archive.Pages.Sessions._2022.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Cosmos DB For SQL Server Developers</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/C9-Xx0ikqh0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          You’re a SQL Developer. It has a SQL API. Sounds like the perfect match … or is it? A globally available, low-latency, multi-model database offers a unique set of new features for creating flexible, scalable solutions. In this crash course, you’ll learn how to transition your SQL skills to Cosmos DB, including ACID transactions, consistency tradeoffs, querying differences, and basic modeling.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/74C6C749-DF34-43F4-9ECF-4CDAEBBE0E79">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Ken_Muse.png" alt="Ken Muse" title="Ken Muse" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/74C6C749-DF34-43F4-9ECF-4CDAEBBE0E79">Ken Muse</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
