@page
@model CPL20Archive.Pages.Sessions._1986.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">The age of applied AI</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          After a tremendous age of innovation and research in the AI field, we are moving towards the age of appliance. But how and where do you get started as a developer and how do you apply machine learning ethically and use it for good.

In this talk we dive into the current state of everyday AI, debate the challenges that come with responsible AI and you will get some tips and tricks how you can advantage of AI as a developer.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/441DC38F-7EAC-4115-8A8E-C40721EB0939">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Amy_Boyd.png" alt="Amy Boyd" title="Amy Boyd" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/441DC38F-7EAC-4115-8A8E-C40721EB0939">Amy Boyd</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/665D76A2-DE33-4D70-843E-445E7E1E065E">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Henk_Boelman.png" alt="Henk Boelman" title="Henk Boelman" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/665D76A2-DE33-4D70-843E-445E7E1E065E">Henk Boelman</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
