@page
@model CPL20Archive.Pages.Sessions._1989.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_ProjMgnt">Project Management</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Backlog Refinement: Success factor for SCRUM and engine for change management</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          According to Jeff Sutherland, one of the co-founders of SCRUM, backlog refinement forms the backbone of a functioning Scrum Team. However, the Scrum Guide is largely silent on how this important event can be successfully established in the development process. The document only devotes a short and concise paragraph to the event.

 Sutherland's statements on backlog refinement were confirmed during the development of automated scheduling software for ground handling services at a large airport in northern Germany. The event became one of the key success factors in realizing the agile project. And that despite or precisely because the prerequisites for the project were very challenging:
- a brief vision and no formulated requirements for the product
- a large number of the software critical stakeholders
- No possibility to involve business analysts
- a managing director as product owner who was only available to the team part-time
- Expert knowledge that was only available in the respective silos
- a complex product portfolio with many dependencies between the different solutions
- the risk of chain reactions at the airport in the event of delays, endangering the transport of passengers on the same day or losing important slot times for the airspace

In his lecture, Nils Hyoma shows how his team successfully solved complex challenges with good backlog refinement. The team was gradually able to integrate critical stakeholders in a targeted manner. The software developers have taken on the responsibility for determining the requirements, resolved dependencies through collaboration with other teams and coordinated the releases.

 In addition to the actual task of developing software, the planned and structured backlog refinement event gradually became the engine of change management and the agile and digital transformation of the airport.

 The practical talk takes up real project situations and problems. Nils Hyoma summarizes the experience gained in the agile project in a highly complex environment. He explains how and why a well-carried out backlog refinement can become a key success factor in agile projects.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/68425787-3832-48B8-9DB4-57C6B5A38DFD">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Nils_Hyoma.png" alt="Nils Hyoma" title="Nils Hyoma" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/68425787-3832-48B8-9DB4-57C6B5A38DFD">Nils Hyoma</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
