@page
@model CPL20Archive.Pages.Sessions._2139.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Beginner Angular UI</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Sponsored Session</h5>
          <br />
          A talk for UI and Angular beginners alike. Let's pull down the Tour of Heroes app (found throughout the Angular docs) and give it a UI upgrade! We will walk through some of the basic structures in Angular like bindings and components, while also talking through facelifting the UI of a project and using best practices in our markup and styles.

•	Dive into the Tour of Heroes demo application like never before!
•	Go over Angular basics like routing, components, binding and more.
•	Learn about integrating Sass into your Angular project.
•	Learn how to include a component library into your project. (The principles to implement a UI Library are fairly universal, but we’ll be using Kendo UI.)
•	Play around with customizing styles and writing custom CSS from scratch.
•	Go over UI/UX principles and implement them on the fly.

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/D5478D88-CBD7-4CAB-8ED4-8E12F3250741">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Alyssa_Nicoll.png" alt="Alyssa Nicoll" title="Alyssa Nicoll" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/D5478D88-CBD7-4CAB-8ED4-8E12F3250741">Alyssa Nicoll</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
