@page
@model CPL20Archive.Pages.Sessions._1788.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Architecture">Architecture</a><br /><a asp-page="/Sessions/Database">Database</a><br /><a asp-page="/Sessions/AWS">AWS</a><br /><a asp-page="/Sessions/Serverless">Serverless</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">AWS: IoT Core + Lambda + DynamoDB = Webscale</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1788/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Modernizing an application is easy. Modernizing an application to work globally and at scale, well it sounds hard but it might be easier than you think. In eight months our small team of seven (design, dev, & QA) went from a blank AWS account to a working product. The application needed to ingest IoT data from across the globe and needed to provide the ability for its users to make decisions within a matter of seconds. This talk will explain the architecture, the reasons we choose the services we used, and lessons we learned.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/1B6118F5-F481-4969-A4E2-45E438694154">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Eric_Neunaber.png" alt="Eric Neunaber" title="Eric Neunaber" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/1B6118F5-F481-4969-A4E2-45E438694154">Eric Neunaber</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
