@page
@model CPL20Archive.Pages.Sessions._1696.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_UX">User Experience</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Design">Design (UI/UX/CSS)</a><br /><a asp-page="/Sessions/UX">UX</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Golden nuggets & secret sauce: the makings of delightful user experiences</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/bZxhYyqHaaM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Ever ask anyone what came first, the chicken or the egg? Undoubtedly you will hear a compelling argument for either side. 
Regardless of what came first, both the chicken and the egg need to exist to support the entire poultry ecosystem. Does it matter which came first? Why do we have such a preoccupation with the sequence of egg to chicken to begin with?

I believe that a similar preoccupation exists in the design world. The ever fuzzy debate of UX (user experience) versus UI (user interface). UI vs UX. The debate centers on which one is more important, or if they are even unique at all. I’d argue that the conversation needs to move away from a debate on which is more important, or picking just to do one because resources are limited. Rather, I’d like to offer you a perspective just like the chicken and the egg, UX and UI are two distinct, separate but equally important entities that come together beautifully to create a delightful digital ecosystem.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/20F45B1C-5C7C-405A-83F9-5A0247689A2A">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Francesca_Socolick.png" alt="Francesca Socolick" title="Francesca Socolick" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/20F45B1C-5C7C-405A-83F9-5A0247689A2A">Francesca Socolick</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
