@page
@model CPL20Archive.Pages.Sessions._2104.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Secure Application Design and Development With Threat Modeling</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Building a secure and stable application requires more than just memorizing a list of vulnerabilities. Modern applications contain a multitude of moving parts and security needs to be built in from the beginning. In this session we will review techniques to ensure that you are building the most secure application possible so that your users also benefit from the improved performance and stability benefits that come from a well designed application. 
By building a threat model describing the various components of your application and how data flows through it you will be better prepared to defend your application from attacks, improve the performance and scalability of your application and have some great assets to easily bring new developers up to speed on all the parts of your application.   
We will dive into threat modeling and show how it provides tools to find and fix application vulnerabilities by building a threat model and working through analysis exercises.


          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/735EDA07-66EA-4057-9EE5-0F8359871532">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Joe_Kuemerle.png" alt="Joe Kuemerle" title="Joe Kuemerle" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/735EDA07-66EA-4057-9EE5-0F8359871532">Joe Kuemerle</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
