@page
@model CPL20Archive.Pages.Sessions._2064.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Practical Unit Testing Patterns With .NET Core</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Reaching 100% Code Coverage is often a mythical number, however, when you dive deep into an application you might discover that patterns of the technology limit your ability to achieve good code coverage.  This sessions explores this topic and introduces attendees to tips and tricks that can be used to help reduce the amount of code that needs to be written while at the same time allowing project Code Coverage to be reported accuratly with the ultimate goal of helping to implement higher quality code.

After the session attendees will leave with a greater understanding of Unit Testing principles, methods to manage coverage percentages, and areas of .NET Core that inhibit unit testing and how to work around those limitations.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/DA1726C1-9F5E-43C1-8185-1B507C51D6A4">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Mitchel_Sellers.png" alt="Mitchel Sellers" title="Mitchel Sellers" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/DA1726C1-9F5E-43C1-8185-1B507C51D6A4">Mitchel Sellers</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
