@page
@model CPL20Archive.Pages.Sessions._1973.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Getting Started with Azure Command and Query</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/pMh2FJYzSLM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          So, you want to migrate to Azure? You’ve read the success stories, and you see the benefits yourself.

But just how do you get started? And how do you convince those who don’t see the benefits as you do?

In this talk, we will get started on the Azure development route. Using a site that communicates with a Web API and then, using message queues and functions, to store data from the user in table storage. And creating the resources needed to deploy the app within the Azure portal!

So that when you leave you can explore for yourself!
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/4E6D388E-AAB9-4B82-9364-A5052B378EBC">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Stacy_Cashmore.png" alt="Stacy Cashmore" title="Stacy Cashmore" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/4E6D388E-AAB9-4B82-9364-A5052B378EBC">Stacy Cashmore</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
