@page
@model CPL20Archive.Pages.Sessions._1690.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Requirements">Requirements</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">The Hidden Requirements: Exploring Emotions with Placebos [Half-Day Workshop]</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Half-Day Workshop</h5>
          <br />
          The way we feel is important!
 
All that we think, do, or say is influenced, to some degree, by emotions. Many successful businesses and people recognize the importance of emotional considerations.
 
The way we feel is important and should be considered!
 
All software is intended to help solve some problem, and both problems and solutions evoke emotions. Software requirements are simply wants or needs, which often stem from core emotions. Research shows that emotions can affect the acceptance or rejection of software.
 
The way we feel about software is important and should be considered!
 
A placebo is designed and used primarily to evoke emotions. Things like sugar pills, false elevator door close buttons, and fake office thermostats aim “to please”, rather than have any other physical effects. Placebo requirements focus on emotions. And so, considering software through the lens of a placebo can help emphasize emotional considerations, and provide a valuable perspective on bugs, ethical design, and much more.
 
In this session, I support the claims above, suggest some methods to elicit and test emotional requirements, and finally, use placebos as a lens to view software design and testing. Using presentations, demonstrations, and interactive discussions and exercises, we collaboratively explore why “The way we feel about software is important and should be considered!”.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/E86DA0BF-0A25-4A26-96BE-BD6B1CAD5272">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/damian_synadinos.png" alt="damian synadinos" title="damian synadinos" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/E86DA0BF-0A25-4A26-96BE-BD6B1CAD5272">damian synadinos</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
