@page
@model CPL20Archive.Pages.Sessions._1768.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a href="/SessionsByTopic/1">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/11">Functional Programming</a><br /><a href="/SessionsByTag/15">JavaScript</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">TypeScript - Beyond the Basics</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1768/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          TypeScript enables web developers to improve the clarity and reliability of their code. It also enables more powerful tools for writing code. This led to its rapid rise in popularity. But what can it do for you beyond just adding types to your variables and parameters? In this talk, we look at some of the more advanced features in the language that can help you deliver valuable solutions in less time.

In this session, we will look at features such as:
* union types
* intersection types
* mixins
* generics

We will also look at some of the new features in the latest versions of TypeScript
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="/SpeakerDetails/2DFB77A5-629A-467C-BF7D-FA52F8D43D1B">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Eric_Potter.png" alt="Eric Potter" title="Eric Potter" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="/SpeakerDetails/2DFB77A5-629A-467C-BF7D-FA52F8D43D1B">Eric Potter</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
