@page
@model CPL20Archive.Pages.Sessions._2039.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Create Applications with WinUI – Everywhere!</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/5-vTbWkujwE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          WinUI is the new modern native UI platform of Windows. In turn, the open-source Uno Platform aims to provide pixel-perfect WinUI experiences on all platforms where WinUI doesn’t natively run on – Web/WebAssembly, macOS, Linux, iOS, Android and even Windows 7! 

Developing multiplatform applications can be a complex process, especially when it comes to the user interface. Each platform has its own ways of defining dynamic layouts, with some being more efficient, some more verbose, some more elegant, and some more performant than others.

In this session you will learn the latest on WinUI and Uno Platform and how to address complexities associated with creating WinUI applications everywhere all while reusing your existing XAML and C# skills.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/326691BB-4EFA-49E2-ABE8-78B27FF68CE5">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Steve_Bilogan.png" alt="Steve Bilogan" title="Steve Bilogan" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/326691BB-4EFA-49E2-ABE8-78B27FF68CE5">Steve Bilogan</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
