@page
@model CPL20Archive.Pages.Sessions._1692.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/5">Cloud</a><br /><a href="/SessionsByTag/40">Microservices</a><br /><a href="/SessionsByTag/42">Google Cloud</a><br /><a href="/SessionsByTag/46">Architecture</a><br /><a href="/SessionsByTag/52">AWS</a><br /><a href="/SessionsByTag/56">Azure</a><br /><a href="/SessionsByTag/68">Serverless</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">The Ugly Side of Serverless Apps (and How to Succeed Anyway)</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1692/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          AWS has Lambda, GCP has Cloud Functions, and Azure has Functions. Although they differ in implementation, they all share a basic philosophy: only pay for what you use. With this benefit, however, comes some downsides. This talk explores both the shared and platform specific considerations that developers need to account for when building serverless apps. After attending, audience members will be able to optimize their serverless adoption in the cloud platform of their choice. This is not a session about why you shouldn’t use cloud-based serverless platforms; it takes a good hard look at what you should know if you decide to do it.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="/SpeakerDetails/815C0587-96DE-4EAD-AF6B-F5970480237E">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Michael_Meadows.png" alt="Michael Meadows" title="Michael Meadows" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="/SpeakerDetails/815C0587-96DE-4EAD-AF6B-F5970480237E">Michael Meadows</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
