@page
@model CPL20Archive.Pages.Sessions._2077.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">What a global pandemic can tell you about better DevOps practices</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">30-Minute Session</h5>
          <br />
          In early 2020 a global pandemic set in motion events which none of us could predict. With anonymous data collected from 900k+ devs, 25K orgs, and 30m+ builds/mo we've found some interesting insights into better DevOps practices. In this session, we will seek to uncover what this unique dataset can tell us about high-performing engineering teams, and what trends stand out through the aggregated platform usage.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/AEF34B57-D297-4F93-8703-E36487E9E093">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jeremy_Meiss.png" alt="Jeremy Meiss" title="Jeremy Meiss" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/AEF34B57-D297-4F93-8703-E36487E9E093">Jeremy Meiss</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
