@page
@model CPL20Archive.Pages.Sessions._2032.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Under Pressure: Decision Making as a Tech Lead</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/9GA3x7JzR9Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Making decisions as a developer is tough. There are always multiple ways to write code, design a database table, architect a feature, and/or jam square pegs into round holes. This toughness gets amplified as a tech lead. Its no longer about just the code. Now, you get to think about architecting the entire solution, budget, timeline, keeping a client happy, should I refactor this now or not at all, and who does what on the team. The job really becomes a series of critical decisions.

In my experience it turns out that making a decision is far more important to keep the team and project moving, even if you aren't 100% sure what the right decision is. So how does one know what to do if they are a new tech lead? If you are in this position, or happen to be a seasoned tech lead, then attend my session, and let's discuss the strategy for making the right choices when it matters.

You can expect to leave the session with a little bit of the knowledge on what I have learned over my 18 year career as a lead, how best to make some tough choices, and knowing that you are not alone as a tech lead.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/28966C43-3BE1-4781-B49A-088AAA4CFB72">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Brian_McKeiver.png" alt="Brian McKeiver" title="Brian McKeiver" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/28966C43-3BE1-4781-B49A-088AAA4CFB72">Brian McKeiver</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
