@page
@model CPL20Archive.Pages.Sessions._1668.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Python">Python</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Getting Started with Python [Half-Day Workshop]</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Half-Day Workshop</h5>
          <br />
          For people who have never written a line of Python code, we’ll learn the basics together and answer questions along the way. This tutorial utilizes Visual Studio Code and Python 3.7.x resulting in a free and relevant bag of tools for your next project. Time-allowing, we’ll explore useful libraries!
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/5F818C84-00CE-4961-B68E-9AAA8AE2EFBC">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Evan_Smith.png" alt="Evan Smith" title="Evan Smith" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/5F818C84-00CE-4961-B68E-9AAA8AE2EFBC">Evan Smith</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
