@page
@model CPL20Archive.Pages.Sessions._2093.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Real-Time Revolution: SignalR in Action</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Does your application render a page and then just leave it?
Do you deal with issues of the local state being out of date?
Do you wish the server could just tell all the browsers that something has changed?

If you answered yes to any of those questions, it's time to join the real-time revolution!  SignalR is a library designed to help .NET developers build performant, real-time cross-platform applications (not just web apps!).

In this demo-filled talk, you'll learn about what SignalR is, how it fits into a modern application ecosystem, and how you can take advantage of it in your current or future projects.




          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/39252BD8-784B-4DAD-8897-0E23895E7EB3">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Kevin_Griffin.png" alt="Kevin Griffin" title="Kevin Griffin" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/39252BD8-784B-4DAD-8897-0E23895E7EB3">Kevin Griffin</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
