@page
@model CPL20Archive.Pages.Sessions._2037.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Grow into your role of Software Architect</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/vsvt8tSdloA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Learning the required skillset to become a great software architect can be a challenging process. Join Bart on the journey from fresh out of school to established software architect. We'll touch the multiple types of architects and common career paths. But the focus of the talk is on real life experience, challenges and hints assisting anyone who hasn't been following the ideal highway, or as we call it: a regular career with switchback roads.
Target audience is anyone in IT looking to move their career forward, no matter taking a technical or more analytical approach.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/C4D99927-433B-4531-AABF-CE98281F1B40">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Bart_Lannoeye.png" alt="Bart Lannoeye" title="Bart Lannoeye" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/C4D99927-433B-4531-AABF-CE98281F1B40">Bart Lannoeye</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
