@page
@model CPL20Archive.Pages.Sessions._1776.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Database">Database</a><br /><a asp-page="/Sessions/SQL">SQL</a><br /><a asp-page="/Sessions/Azure">Azure</a><br /><a asp-page="/Sessions/Microsoft">Microsoft</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Indexes: The Voodoo of SQL Server</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/dCrwSuiMazE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Microsoft SQL Server is a large data ecosystem with many facets that can affect how your queries perform. Facets like what kind of hardware are you using, how much memory, CPUs. Many of these facets cost money and there are many things about them that can be turned on, tweaked, or implemented to help improve performance. Did you know that you can implement a low-cost solution of proper indexing? Proper indexes can help not only improve query performance but also help save money on hardware! In this session we'll examine the foundation of how indexes work, what the moving parts are and why they are important. We'll examine some real-world examples of where queries were falling short but then were successful with proper indexing. You'll walk away with techniques on how to know where and how to add indexes to help you start to save money!
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/CE7C823B-C107-413D-9FB4-60E3ADC8E64D">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/John_Morehouse.png" alt="John Morehouse" title="John Morehouse" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/CE7C823B-C107-413D-9FB4-60E3ADC8E64D">John Morehouse</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
