@page
@model CPL20Archive.Pages.Sessions._2088.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Introduction to AI and Cognitive Services for Developers and Information Workers</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          “Artificial Intelligence and Machine Learning are the new buzzwords in the industry. Microsoft's vision is to make AI accessible to every enterprise, data scientist, developer, information worker, consumer and device everywhere in the world. AI has a big role to play in the enterprise space. The field of AI is progressing at a rapid pace. Without understanding the concepts behind these advanced technologies, developers and administrators will struggle to evaluate the potential impact of new tools and solutions. In this session, we will break down the concepts behind existing technologies, outline various tools available today, and discuss the direction of AI and ML for  Developers. We will cover how developers, Power Users, and Information workers can take advantages of the Microsoft's AI and Cognitive Services offerings to build real-life enterprise solutions.

You will learn:

1)    Overview of Microsoft AI Platform

2)    What are the cognitive services?

3)     What tools are available today?

4)    How to use Cognitive Services to implement real-life business solutions? 

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/9463B32D-EF36-49F9-BFAA-190A3E1D3486">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Prashant_G_Bhoyar.png" alt="Prashant G Bhoyar" title="Prashant G Bhoyar" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/9463B32D-EF36-49F9-BFAA-190A3E1D3486">Prashant G Bhoyar</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
