@page
@model CPL20Archive.Pages.Sessions._1792.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/DotNet">.NET</a><br /><a asp-page="/Sessions/VR">VR</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Augmented reality and mobile: Now, the two worlds collided</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/gaafZ3VZ9cU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Augmented and virtual realities are getting increasingly more popular not only among developers, but also consumers. Now we can add those technologies to web and mobile applications.
Augmented reality mobile applications can be used in a wide variety of projects, no matter if it’s for healthcare, games, and entertainment or interior and design companies.
This session will provide information about the most popular AR frameworks and software development kits (SDKs) for mobile and web. We’ll learn pros and cons and what can be the best environment for using each of them. You’ll see which ones can be used in Xamarin and Xamarin.Forms apps and some tips and tricks for creating your first AR Xamarin app with C#.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/FA5F7E1F-35BA-4E0C-9CAF-5DAC7E56AF8E">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Veronika_Kolesnikova.png" alt="Veronika Kolesnikova" title="Veronika Kolesnikova" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/FA5F7E1F-35BA-4E0C-9CAF-5DAC7E56AF8E">Veronika Kolesnikova</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
