@page
@model CPL20Archive.Pages.Sessions._1655.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a href="/SessionsByTopic/1">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/6">Cross-Platform</a><br /><a href="/SessionsByTag/14">Java</a><br /><a href="/SessionsByTag/15">JavaScript</a><br /><a href="/SessionsByTag/16">Mobile</a><br /><a href="/SessionsByTag/23">Other</a><br /><a href="/SessionsByTag/51">Jotlin</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Kotlin All The Things!</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1655/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Kotlin is taking the development community by storm. Since Google announced they are officially partnering with JetBrains to support the language for Android development, mobile developers are flocking en masse. 

But what about everyone else? Good news - Kotlin is not just for mobile. In this talk, we will take a look at the overall landscape. For Java developers, we will look at Kotlin on the server. For Front End developers, we will check out Kotlin for JavaScript. For everyone else, we'll poke around Kotlin Native, which can compile Kotlin for platforms that don't have a virtual machine such as IOS. 

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="/SpeakerDetails/2DF147CD-0001-4C23-BB3F-03D3417618BD">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Michael_Yotive.png" alt="Michael Yotive" title="Michael Yotive" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="/SpeakerDetails/2DF147CD-0001-4C23-BB3F-03D3417618BD">Michael Yotive</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
