@page
@model CPL20Archive.Pages.Sessions._1752.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/1">.NET</a><br /><a href="/SessionsByTag/34">Python</a><br /><a href="/SessionsByTag/40">Microservices</a><br /><a href="/SessionsByTag/46">Architecture</a><br /><a href="/SessionsByTag/54">SQL</a><br /><a href="/SessionsByTag/56">Azure</a><br /><a href="/SessionsByTag/57">Windows</a><br /><a href="/SessionsByTag/60">NoSQL</a><br /><a href="/SessionsByTag/68">Serverless</a><br /><a href="/SessionsByTag/69">Machine Learning</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Build a Data Pipeline in the cloud for Bird Recognition</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1752/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Build a cloud data pipeline to enable bird recognition from streaming video and provide descriptive information about the birds. The architecture will take live streaming video and use lambda functions to initiate image recognition, data mapping, and display the information on a webpage. This project will also provide a publicly available API for getting the raw information to conduct research.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/C3664625-04C0-4431-B903-C3E7B11DB3BF">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Luther_Hill.png" alt="Luther Hill" title="Luther Hill" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/C3664625-04C0-4431-B903-C3E7B11DB3BF">Luther Hill</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
