@page
@model CPL20Archive.Pages.Sessions._2081.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Communication is Just as Important as Code</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          The idea of a lone developer coding in their basement without social interaction is a thing of the past. These days, technical solutions are often developed by cross-functional teams whose participants have a range of technical experience. Now, more than ever, good communication skills are an essential part of being a software developer.

In this talk, Scott will share immediately actionable communication principles that will help you get buy-in for your ideas, reduce conflict and tension, increase productivity, be liked and respected. If you’re looking to take your career to the next level, this is one talk you won’t want to miss.

“Communication is just as Important as Code” is one of our core values at Corgibytes, a software dev shop exclusively focused on modernizing existing software applications.

At Corgibytes, we eliminate the binary belief that people are “technical” or “non-technical.” Everyone is expected to be both. Folks who come from a computer science background participate in sales calls and help with blog posts, and everyone, no matter their role, is expected to learn how to code.

To preserve a culture of autonomy, motivate our members to do their best work and to enable fluid communication, we have thought extensively about optimizing the balance between asynchronous communication, routine synchronous communication, and even developed our own framework to reduce context switching that allows people the most scheduling flexibility.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/42553762-CA65-4CEE-9A78-DA323EF8835C">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/M._Scott_Ford.png" alt="M. Scott Ford" title="M. Scott Ford" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/42553762-CA65-4CEE-9A78-DA323EF8835C">M. Scott Ford</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
