@page
@model CPL20Archive.Pages.Sessions._1657.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/DotNet">.NET</a><br /><a asp-page="/Sessions/Cloud">Cloud</a><br /><a asp-page="/Sessions/DevOps">DevOps</a><br /><a asp-page="/Sessions/Microservices">Microservices</a><br /><a asp-page="/Sessions/Docker">Docker</a><br /><a asp-page="/Sessions/Architecture">Architecture</a><br /><a asp-page="/Sessions/Database">Database</a><br /><a asp-page="/Sessions/Azure">Azure</a><br /><a asp-page="/Sessions/Container">Container</a><br /><a asp-page="/Sessions/Microsoft">Microsoft</a><br /><a asp-page="/Sessions/NoSQL">NoSQL</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Developing and deploying your first ASP.NET Core Microservice to Kubernetes</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/doxZRhCtw3c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Are you frustrated with your monolith or exploring a microservices architecture pattern for your next application? Kubernetes offers orchestration and tooling to make it easier to build and deploy an elastic, self-healing microservice system. In this session, we’ll build a single microservice with ASP.NET Core in Visual Studio. We’ll use Docker-Compose for local development and Docker to build and push an image to Docker hub. From there, the image can be picked up and used in a Kubernetes deployment on Azure’s AKS service. Microservices allow for polyglot development and polyglot persistence. While this session will be using ASP.NET Core, Couchbase, and Azure the principles of development can be applied to any number of web frameworks, databases, or cloud-native Kubernetes services.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/577D90F8-0E14-428E-AFBA-B8B444339FAD">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Matthew_Groves.png" alt="Matthew Groves" title="Matthew Groves" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/577D90F8-0E14-428E-AFBA-B8B444339FAD">Matthew Groves</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
