@page
@model CPL20Archive.Pages.Sessions._2031.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Fear</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          We make thousands of decisions every single day. Some take thought, and some are just instinctual. How many of those decisions are based on fear? Fear of the unknown, fear of embarrassment, or maybe just fear of spiders? We will look at ways fear shapes our everyday lives, and how we can control it to make more rational decisions. Don’t let fear shut you down, make it an opportunity for success.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/A2DCA7E4-B222-4041-A576-8C6B2A918298">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jeff_Blankenburg.png" alt="Jeff Blankenburg" title="Jeff Blankenburg" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/A2DCA7E4-B222-4041-A576-8C6B2A918298">Jeff Blankenburg</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
