@page
@model CPL20Archive.Pages.Sessions._2084.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">NodeJS, ML, K8s and Unethical Face Recognition</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          How nice would it be to be able to remember everyone’s name? What if you could just walk into a room and know everyone’s Twitter handle? Kubernetes is a great tool that is being used more and more for deploying applications, but it can also be used in the context of machine learning. In this talk, the speaker will demonstrate how to use NodeJs, a touch of machine learning and a sprinkle of Kubernetes to recognize people in a crowd.

With demos inspired by the Black Mirror series, the attendees will learn how to use openly available tools to do face recognition with NodeJs.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/14c41c84-7bb2-4740-9d7b-b189987410e2">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Joel_Lord.png" alt="Joel Lord" title="Joel Lord" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/14c41c84-7bb2-4740-9d7b-b189987410e2">Joel Lord</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
