@page
@model CPL20Archive.Pages.Sessions._1656.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/DevelopmentPractices">Development Practices</a><br /><a asp-page="/Sessions/Security">Security</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Building a secure user authentication story</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1656/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Data breaches are inevitable.  We should build our applications under the assumption that it's only a matter of time before our data is breached.  In this session, we'll cover some techniques and best practices for handling user authentication in a secure manner, along with covering proper user flow, including user registration, logging in, and password resets.  At the end of this session, you'll be armed with the knowledge to feel confident in the security of your authentication story.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/0BD3042B-249F-4BDD-A69B-4A6351C3ADDC">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Johnie_Karr.png" alt="Johnie Karr" title="Johnie Karr" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/0BD3042B-249F-4BDD-A69B-4A6351C3ADDC">Johnie Karr</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
