@page
@model CPL20Archive.Pages.Sessions._1756.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/DevOps">DevOps</a><br /><a asp-page="/Sessions/Microservices">Microservices</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Solving Microservices Mysteries With OpenTelemetry [Full-Day Workshop]</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Full-Day Workshop</h5>
          <br />
          Microservices have broken our traditional monitoring tools. Traditional methods of application logging and host-based metrics can’t provide accurate and timely signals for issues impacting production. OpenTelemetry solves this dilemma by providing a single set of APIs, SDKs, and automatic instrumentation tools that grant you the ability to understand the performance of your services.

In this workshop, you’ll learn about the history and theory behind OpenTelemetry and why it’s essential to developing and deploying modern software. We’ll learn by doing, taking an existing microservices application and instrumenting it for observability using the many tools OpenTelemetry provides. We’ll use open source tools, like Jaeger and Prometheus, to ingest this telemetry data and show how you can analyze it in order to understand the performance of the application and identify performance regressions in your software.

You’ll walk away from this workshop with an understanding of how OpenTelemetry works, how it benefits you, and how you can quickly instrument your own software for observability.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/A1134203-BA17-4BDC-A1C7-A65C980B3942">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Austin_Parker.png" alt="Austin Parker" title="Austin Parker" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/A1134203-BA17-4BDC-A1C7-A65C980B3942">Austin Parker</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
