@page
@model CPL20Archive.Pages.Sessions._1753.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/SoftSkills">Soft Skills</a><br /><a asp-page="/Sessions/People">People</a><br /><a asp-page="/Sessions/WorkSkills">Work Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Non-traditional Pathways In Tech, a Panel Discussion</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1753/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          A Q&A panel discussion with three people who have found success in, or adjacent to, software development. All have taken unique pathways the stray from the traditional education route. Hear their stories on what they did before they entered the tech world, how they picked up their tech skills, how they got their 'break', and what challenges they ran into as they forged their path. 

The moderator will ask several questions at the start to understand the panelists' journeys, and then open up the floor to questions from the audience. 
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/3BA2109B-65FB-4BDE-A18C-6D79BBBC856D">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Alex_Bezuska.png" alt="Alex Bezuska" title="Alex Bezuska" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/3BA2109B-65FB-4BDE-A18C-6D79BBBC856D">Alex Bezuska</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/434E182F-3463-4347-AD98-559F765298AD">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Brian_Luerman.png" alt="Brian Luerman" title="Brian Luerman" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/434E182F-3463-4347-AD98-559F765298AD">Brian Luerman</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/4BA396DE-08F4-4844-A4DD-D1555D85E05C">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Violet_Skinner.png" alt="Violet Skinner" title="Violet Skinner" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/4BA396DE-08F4-4844-A4DD-D1555D85E05C">Violet Skinner</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/844993C5-7752-4E75-9033-A42CEEFA0D11">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Melissa_Spalione.png" alt="Melissa Spalione" title="Melissa Spalione" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/844993C5-7752-4E75-9033-A42CEEFA0D11">Melissa Spalione</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
