@page
@model CPL20Archive.Pages.Sessions._1732.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Data">Data</a><br /><a asp-page="/Sessions/Google">Google</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Getting comfortable with Tensorflow for R Programming</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/jGC6JMxRP10" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Developed by Google researchers and engineers for deep neural networks research, Tensorflow provides developers with a capacity for developing deep learning models. Long available for Python, Tensorflow became available for R programming in 2018, along with a version for JavaScript, Tensorflow.js. But how should developers approach the basic capabilities in Tensorflow? This session is a straightforward overview of how data for machine learning is used within this framework using R programming. Examples with data will be presented, along with best machine learning practices that can help developers get started.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/BCD17423-6AE5-40CB-B301-92B9EC6F4D78">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Pierre_DeBois.png" alt="Pierre DeBois" title="Pierre DeBois" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/BCD17423-6AE5-40CB-B301-92B9EC6F4D78">Pierre DeBois</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
