@page
@model CPL20Archive.Pages.Sessions._2005.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="Sessions/Topic_Testing" > Software Testing</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">The Human Side to Testing</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          We’re known for breaking things and testing the limits, and patience, of our team and our systems.  We advocate for quality in all things and we advocate for the end user.  But, none of us actually think about how our varied backgrounds influence what we do and how we test.  In this session we’ll explore how our previous (and current) experiences subconsciously affect our testing and how to bring those experiences to the forefront in order to be better testers all around.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/DBEB610A-2716-4A93-9831-D4FA500EE681">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Amanda_Perkins.png" alt="Amanda Perkins" title="Amanda Perkins" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/DBEB610A-2716-4A93-9831-D4FA500EE681">Amanda Perkins</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
