@page
@model CPL20Archive.Pages.Sessions._2060.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Cultivating a Climate for Paradigm Shift: Facilitating Innovation in a Post-COVID19 World</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Renaissance philosopher and writer Machiavelli has been quoted as saying, “I'm not interested in preserving the status quo; I want to overthrow it.” The importance of respecting personal space and practicing impeccable hygiene aren’t the only lessons learned from COVID-19. If anything, we’ve seen the incalculable value of innovative thinking, because a global pandemic certainly provides enormous motivation to leave the status quo behind.  That said, how do you overthrow the status quo without sacrificing quality and security in the process? Learn the three key words needed (Recognize, Resolve, and Respond) to strike this delicate balance in this challenge for you to shift your paradigm, facilitate innovation, and be a catalyst for change rather than an antagonist.

Has COVID-19 made you see the need to adopt a more agile way of thinking? Where is your development strategy now? Where do you want it to be as the industry recovers from this worldwide crisis? Do you intend to get it there by using the same methods that haven't worked? It has been said that the definition of insanity is doing the same thing over and over, but expecting different results. Is that how you want your legacy to be remembered? Do you project an image of being part of the problem or part of the solution? Find out how to be a catalyst for change (facilitating innovation) and NOT an antagonist (frustrating innovation). Discover three types of flexibility in leadership and work/life balance needed to make that happen in the aftermath of COVID-19.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/7EF4473E-E469-4560-9C68-6E6C9A301E4C">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Dr._Joe_Perez.png" alt="Dr. Joe Perez" title="Dr. Joe Perez" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/7EF4473E-E469-4560-9C68-6E6C9A301E4C">Dr. Joe Perez</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
