@page
@model CPL20Archive.Pages.Sessions._1704.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Agile">Agile</a><br /><a asp-page="/Sessions/SoftSkills">Soft Skills</a><br /><a asp-page="/Sessions/Fun">Fun</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Agile Improv</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/s0gIEFS-tbM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Improv comedy is not at all different from the Agile methodology. It's all about learning to love the "yes", trusting your team, and building on what's already there. 
In this sessions. you'll:
• learn the rules of improv comedy
• apply them to agile development
• have fun
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/EEFC6C69-B7B5-4070-8BC6-661F943C115E">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Dave_Mattingly.png" alt="Dave Mattingly" title="Dave Mattingly" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/EEFC6C69-B7B5-4070-8BC6-661F943C115E">Dave Mattingly</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
