@page
@model CPL20Archive.Pages.Sessions._1680.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a href="/SessionsByTopic/5">Soft Skills</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/20">Soft Skills</a><br /><a href="/SessionsByTag/66">People</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Existential Flexibility: Short term sacrifices for long term success</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1680/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Business owners, job applicants, and even content employees tend to approach their existential debates all wrong.

What if I told you it’s not about being the best, but being YOUR best? This talk is how to schematically focus on long term success, sustainability, and growth ..all to skyrocket your current development and trajectories.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="/SpeakerDetails/9555C1C1-F597-4AF2-BEF0-22FF0CB6BE49">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Richard_Teachout.png" alt="Richard Teachout" title="Richard Teachout" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="/SpeakerDetails/9555C1C1-F597-4AF2-BEF0-22FF0CB6BE49">Richard Teachout</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
