@page
@model CPL20Archive.Pages.Sessions._1977.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Web Components: an Introduction to the Future</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/bMshdeSvGOE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          With Web Components having reached high enough browser support to be production ready, it is high time to take a look at what they are and what they can do for you. In this talk you will learn how to create a web component using the native browser api:s. You will learn about the advantages of the technology, how it affects developers, designers, and end-users. You will also see how easy it is to integrate it with the frontend framework of your choice.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/FB7B8C53-B7A7-49E3-9AE6-A8A8821C413E">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Tobias_Ljungström.png" alt="Tobias Ljungström" title="Tobias Ljungström" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/FB7B8C53-B7A7-49E3-9AE6-A8A8821C413E">Tobias Ljungström</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
