@page
@model CPL20Archive.Pages.Sessions._2012.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Content is King: How Contentful and CaaS are Changing the CMS Game</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/UeJwtyI_G-Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Content as a Service (CaaS) has been making huge inroads in how content is managed and consumed in the digital world, thanks in large part to the huge growth of JAMstack-powered digital experiences.In this presentation, we'll discuss how Contentful, one of the biggest players in the CaaS space, makes your project's content scalable and reusable across channels, show how properly modeling your content can make or break a successful CaaS implementation, and demonstrate how easy it is to add Contentful to your JAMstack projects.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/92190dcf-038b-4162-9588-3d197f660be1">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Aaron_Ladage.png" alt="Aaron Ladage" title="Aaron Ladage" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/92190dcf-038b-4162-9588-3d197f660be1">Aaron Ladage</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
