@page
@model CPL20Archive.Pages.Sessions._2098.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Machine Learning for .NET developers</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Machine Learning is the future and it's already here. There’re so many opportunities for developers to include it in a wide variety of applications. If you heard a lot about data collection and processing, creating and training models and ready to try it all yourself with the help of .NET, I'll show you where to start. Your first completely functional ML.NET project won't take too long to create. In this session we'll talk about the specifics of ML.NET, its applications and see how Auto ML can be a good starting point.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/FA5F7E1F-35BA-4E0C-9CAF-5DAC7E56AF8E">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Veronika_Kolesnikova.png" alt="Veronika Kolesnikova" title="Veronika Kolesnikova" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/FA5F7E1F-35BA-4E0C-9CAF-5DAC7E56AF8E">Veronika Kolesnikova</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
