@page
@model CPL20Archive.Pages.Sessions._1750.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/2">Agile</a><br /><a href="/SessionsByTag/45">Performance</a><br /><a href="/SessionsByTag/66">People</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">This is the way; What the Mandalorian Taught Me About Agile Teams</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1750/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Is your team in a rut? Do you feel like the team  is spending too much time forming and storming instead of performing? High performing teams break out of traditional patterns that we can fall into.This session will show you core agility concepts exhibited in high-performing teams, based from the Mandalorian, that you can implement in your team today (without the disintegrations).
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="/SpeakerDetails/4b83b3a5-e8bc-48f8-9f8a-a3964fcec0f0">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/David_Bjarnson.png" alt="David Bjarnson" title="David Bjarnson" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="/SpeakerDetails/4b83b3a5-e8bc-48f8-9f8a-a3964fcec0f0">David Bjarnson</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
