@page
@model CPL20Archive.Pages.Sessions._1794.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Agile">Agile</a><br /><a asp-page="/Sessions/SoftSkills">Soft Skills</a><br /><a asp-page="/Sessions/Other">Other</a><br /><a asp-page="/Sessions/People">People</a><br /><a asp-page="/Sessions/WorkSkills">Work Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Business & Tech: A Communication Guide</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/hV3zcqCGhao" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Development teams and business decision makers frequently conflict. Business people don’t always understand that without software, their companies wouldn’t make money. Developers don’t always realize that solving a problem requires more than the latest framework. Each group has different priorities. This session is designed to help technical teams reconcile those priorities. You will learn to identify the values you share with the business and how to communicate with those shared values in mind. You’ll also learn how to apply different communication styles when discussing technical solutions with the business. By finding a shared set of values and a shared language, you’ll create solutions that have business and technology working in harmony.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/B2651A92-9F8D-4979-A0C7-7722BB6FB29B">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Cassandra_Faris.png" alt="Cassandra Faris" title="Cassandra Faris" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/B2651A92-9F8D-4979-A0C7-7722BB6FB29B">Cassandra Faris</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
