@page
@model CPL20Archive.Pages.Sessions._2002.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_UX">User Experience</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Cognitive Biases and the User Experience</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/g0dtYzBpzt4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          According to Wikipedia, cognitive biases cause individuals to 'create their own "subjective social reality" from their perception of the input.' Some of these allow us to take shortcuts when processing information... with mixed results. Though not all confirmation biases can be neatly labeled "good" or "bad", as we increase our recognition of when these occur, the more we can determine how they affect our decision-making.

Learn more about biases such as confirmation bias, false consensus effect, framing bias, halo effect, and Parkinson's Law of triviality (the bicycle shed effect). These can affect usability testing, user research, presenting research findings, and UX design. 
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/C352D619-C425-41FB-9C5D-D0E4D58DE81C">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Andrew_Malek.png" alt="Andrew Malek" title="Andrew Malek" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/C352D619-C425-41FB-9C5D-D0E4D58DE81C">Andrew Malek</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
