@page
@model CPL20Archive.Pages.Sessions._2080.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_UX">User Experience</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">The Dark Side of UX</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          User experience design brings clarity, removes obstacles. It rewards - makes us feel accomplished, successful, happy. Users are confident when using a well-designed application - as easy as turning on a light switch: [Buy]

Don't make me think: did I opt in? Don't make me think: was that a hidden fee?

We will explore the wild world of user manipulation. The Bait and Switch. Trick Questions. Misdirection. Confirm-shaming! Discover the latest ways UX designers trick their users, how easy it is to do by accident and how it affects your brand.

[ Sounds great ] [ No, I hate knowing things ]
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/FA668D0E-CB53-471D-A62B-D6FCB84A6DE7">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Courtney_Heitman.png" alt="Courtney Heitman" title="Courtney Heitman" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/FA668D0E-CB53-471D-A62B-D6FCB84A6DE7">Courtney Heitman</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
