@page
@model CPL20Archive.Pages.Sessions._1801.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Cloud">Cloud</a><br /><a asp-page="/Sessions/Kubernetes">Kubernetes</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Monitoring Kubernetes the Open Source Way</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/cSOuH_uuM8s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          In this session we will setup an open source observability stack to monitor our applications and infrastructure deployed on Kubernetes.  Using Prometheus, Loki and Grafana the speaker will demonstrate live the deployment and configuration of these components to setup a flexible and powerful observability platform.

The session will cover custom application metrics, log offloading, querying, dashboard building and a touch of alerting.

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/8DBD17C0-EAF8-4A03-A220-E740F3CCDC6A">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Joe_Elliott.png" alt="Joe Elliott" title="Joe Elliott" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/8DBD17C0-EAF8-4A03-A220-E740F3CCDC6A">Joe Elliott</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
