@page
@model CPL20Archive.Pages.Sessions._2096.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Management as Therapy: What Psychologists Can Teach Engineering Managers</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          The hardest part of Engineering Management is managing personalities - difficult emotions, distorted thinking and interpersonal conflict. It turns out there's a field entirely dedicated to helping people with these problems - Psychotherapy.

In this talk, we'll explore insights from Cognitive Behavioral Therapy and Dialectical Behavioral Therapy and discuss how we can apply them to day to day problems facing engineering managers. We'll close out with a discussion of 'self-management' and how CBT and DBT techniques can make anyone a better engineer and person.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/FB22F2F9-0F72-4D0D-8708-6D48D903D8E3">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Nick_Bailey.png" alt="Nick Bailey" title="Nick Bailey" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/FB22F2F9-0F72-4D0D-8708-6D48D903D8E3">Nick Bailey</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
