@page
@model CPL20Archive.Pages.Sessions._1701.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Accessibility">Accessibility</a><br /><a asp-page="/Sessions/Architecture">Architecture</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Architecting for Accessibility</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1701/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Accessibility has been a part of development since the very beginning of the web. And although we have been talking about it since Tim Berners-Lee was working for CERN, to this day the struggles seem to remain the same. Not just how do we make our applications accessible, but also how do we integrate testing into our workflow? Who should be responsible for what and what questions do we even need to ask?

Instead of looking at code implementation, this talk will cover what questions to ask when getting started and how to read and understand the specification. We will then look at how different roles on the team are affected and the impact and changes including accessibility as part of development will have on the development cycle.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/CB2C23BD-8EA7-42DE-82C1-289FC09D83CF">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Martine_Dowden.png" alt="Martine Dowden" title="Martine Dowden" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/CB2C23BD-8EA7-42DE-82C1-289FC09D83CF">Martine Dowden</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
