@page
@model CPL20Archive.Pages.Sessions._1806.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Code PaLOUsa 2020 After Hours</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Event</h5>
          <br />
          <p>Come and hang out for a little bit.  This will <strong>NOT</strong> be recorded.</p>.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
