@page
@model CPL20Archive.Pages.Sessions._1710.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">The Mentor Playbook</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1710/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          We often find ourselves in situations where we have to knowledge share and mentor others, but we often don't take the time to learn "how" to be better mentors.

So are we doing it right?

Through my work as Mentor Director for a monthly coding class, I've been able to compile effective methods through research and experience that will help all developers be better mentors, whether within an established mentor/mentee relationship or quick day-to-day teaching opportunities.

By being thoughtful and deliberate in mentoring moments, even sometimes in counterintuitive ways, we can all be a part of creating richer tech communities that foster inclusivity and thrive on collective growth.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/9C5BE3CB-C432-4502-8392-FB79DBA8CF01">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Gabriela_Dombrowski.png" alt="Gabriela Dombrowski" title="Gabriela Dombrowski" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/9C5BE3CB-C432-4502-8392-FB79DBA8CF01">Gabriela Dombrowski</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
