@page
@model CPL20Archive.Pages.Sessions._1774.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/BigData">Big Data</a><br /><a asp-page="/Sessions/Cloud">Cloud</a><br /><a asp-page="/Sessions/Python">Python</a><br /><a asp-page="/Sessions/GoogleCloud">Google Cloud</a><br /><a asp-page="/Sessions/AWS">AWS</a><br /><a asp-page="/Sessions/Azure">Azure</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Big Data for the Small Fry - Bootstrapping from onsite to Cloud by scaling down Netflix's ideas</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/ZdeJdut7PDc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          There’s been a loud drum-beat about how Big Data is changing the world - but if you come from the traditional company, the kind where your main product is something other then data, odds are you've been mostly on the sidelines, trying to figure out if this is real-or-hype, and if its real, how to do you step into it.

This presentation is following my company, Samtec (a mid-sized manufacturing company) adventure into the "Big Data" space - specifically because we want to leverage these technologies to level-up our data processing capabilities so ML/AI processing become accessible to our data analysis - people who mostly think in Excel and SQL queries.

We were inspired by a Netflix blog post https://medium.com/netflix-techblog/notebook-innovation-591ee3221233 explaining how Jupyter notebooks could become the core/connecting-interface for your "big data" stack - we were also flummoxed by a number of element in their stack that were just-too-big for us (or really anyone but Netflix) but we decided to try and figure it out anyway.

This presentation will explain why/how the Netflix solution is compelling and then explain the ways we found to scale-down this framework so it can be used by traditional/small-fry players like us to step into the big-data world.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/15511854-072C-4C40-BC7E-F47E3243F961">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Mike_Lutz.png" alt="Mike Lutz" title="Mike Lutz" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/15511854-072C-4C40-BC7E-F47E3243F961">Mike Lutz</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
