@page
@model CPL20Archive.Pages.Sessions._2140.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Migrate from .NET Framework to .NET 5</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/5KsBq8BYYNg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Many legacy web applications exist that were written in a version of .NET Framework. In many cases, these codebases can be upgraded to .NET 5 without too much trouble, and unlock a lot of performance improvements, features, and scalability that don't exist in .NET Framework.

In this session, you will learn from my years of experience helping clients upgrade their ASP.NET applications to .NET Core, and now .NET 5. We'll go step-by-step through the process that we use, review some reasonable expectations you can have, and talk about the most common pitfalls of the upgrade process.

Don't let your legacy app lag behind. Learn how to upgrade it to .NET 5 today and join the future of .NET development.


          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/17121cc1-f008-4489-9416-551e518fbaaf">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jonathan_J._Tower.png" alt="Jonathan "J." Tower" title="Jonathan "J." Tower" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/17121cc1-f008-4489-9416-551e518fbaaf">Jonathan "J." Tower</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
