@page
@model CPL20Archive.Pages.Sessions._2097.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Tune Up Your Stand Up</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Late attendance, status updates, lifeless answers, and zoning out are all too common in our Stand-Ups and Daily Scrum meetings. It doesn’t have to be that way.

This small meeting is the heartbeat of a team within a sprint. They take a brief moment to hear about the effort and challenges of their colleagues. They help one another navigate the complexity in software development. They choose every day how to make their sprint a success. Every day this meeting begins the day’s collaboration and coordination for the team as it completes its sprint goals.

I will show you how to tune-up this meeting into one that fulfills its purpose. I will show you how to turn it into one that the team can run itself. I will teach you how to vary it to keep it alive and emphasize the aspects of being on a team. You will learn how to turn this 15-minute chore into a meeting they would choose to have.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/B00A00FF-D465-498C-B1E2-722D0C375A7F">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Ryan_Latta.png" alt="Ryan Latta" title="Ryan Latta" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/B00A00FF-D465-498C-B1E2-722D0C375A7F">Ryan Latta</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
