@page
@model CPL20Archive.Pages.Sessions._1724.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/DotNet">.NET</a><br /><a asp-page="/Sessions/Mobile">Mobile</a><br /><a asp-page="/Sessions/Android">Android</a><br /><a asp-page="/Sessions/Microsoft">Microsoft</a><br /><a asp-page="/Sessions/iOS">iOS</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">What’s new in Xamarin.Forms!</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/6icOSX_HNho" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Xamarin.Forms has come a long way, enabling developers to build truly native & truly cross-platform apps across various platforms. The latest Xamarin.Forms 4.x release is here – ready with increased productivity for developers, matured tooling and easy code sharing across platforms. Let’s do a whirlwind tour of the hottest features, like 

•	Shell & Navigation
•	Visual & Design themes
•	Hot Reload & Hot Restart
•	Startup Tracing
•	Custom Renderers
•	Android X & iOS 13 support
•	Platform support with Tizen, WPF & WebAssembly

This is one of the best times to be a Xamarin.Forms developer and story keeps getting better – let’s discover why.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/817D090F-5B46-472B-B8FD-7AA209D57883">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Sam_Basu.png" alt="Sam Basu" title="Sam Basu" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/817D090F-5B46-472B-B8FD-7AA209D57883">Sam Basu</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
