@page
@model CPL20Archive.Pages.Sessions._1761.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/SoftSkills">Soft Skills</a><br /><a asp-page="/Sessions/People">People</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Power-leveling the padawans</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/0qvVzUcG1Rw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          How to mentor someone 1:1 without creating copies of yourself. Leaders have a responsibility to find and train new leaders. This talk is about how to power-level those potential leaders without turning them into a clone army.

I spent five years mentoring someone one to one every week. Now he's my co-director, helping me lead a practice of software testers across the country. Our check-ins cover everything from how his project is going, to mind-controlling fungi, to testing strategy and where to find the best tea in town.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/A0010800-96C5-4C56-A876-43D0DAFCEF9C">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Alison_Hawke.png" alt="Alison Hawke" title="Alison Hawke" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/A0010800-96C5-4C56-A876-43D0DAFCEF9C">Alison Hawke</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
