@page
@model CPL20Archive.Pages.Sessions._1659.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/JavaScript">JavaScript</a><br /><a asp-page="/Sessions/Web">Web</a><br /><a asp-page="/Sessions/ContinuousDelivery">Continuous Delivery</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Yarn 2: a next generation package manager</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          The recently released Yarn 2 brings a host of great new features for JavaScript developers. The slick new CLI, more readable output, clear errors, and significant enhancements to workspaces make Yarn 2 a solid upgrade from the already impressive Yarn 1. But with an incredible feature called Plug-n-Play (PnP), Yarn 2 takes a massive leap ahead. 

Have you ever thought "I really love dealing with this ginormous node_modules folder." No, and no one else has either! With Yarn 2 and PnP you can forever be free of node_modules. PnP dispenses with the node_modules folder entirely and creates an opportunity for perfect module resolution, faster startup, and instant package installs. Imagine cloning a node app and running it immediately, no install step required. With PnP and Yarn 2, this dream is a reality.

Come away with an overview of all the new features and the knowledge you need to migrate your app to Yarn 2.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/36F8E2E9-9992-42AA-80C1-6738B2EA2F30">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Michael_Richardson.png" alt="Michael Richardson" title="Michael Richardson" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/36F8E2E9-9992-42AA-80C1-6738B2EA2F30">Michael Richardson</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
