@page
@model CPL20Archive.Pages.Sessions._1962.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Let's build a modern API for your frontend</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Half-Day Workshop</h5>
          <br />
          What does a backend developer need to know for setting up a modern, high quality API on Azure for your frontend apps.

Let's break it down in different parts and after each part, incorporate the usage into our mobile application.

We will touch upon following elements:
- Azure PaaS vs Serverless.
- Bringing your API to enterprise standards, including: Route prefixes (representing domains), API versioning, OpenApi, Logging, Caching, integrated validation and many more.
- Consuming your modern API in a mobile application while paying attention to good practices.

During this workshop, we'll use the latest available bits in Azure, .NET APIs and Xamarin while also looking forward to .NET 6 and MAUI to prepare you for what's coming.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/0BC7F795-5DEB-414F-ABCC-87F48F659991">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Glenn_Versweyveld.png" alt="Glenn Versweyveld" title="Glenn Versweyveld" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/0BC7F795-5DEB-414F-ABCC-87F48F659991">Glenn Versweyveld</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/C4D99927-433B-4531-AABF-CE98281F1B40">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Bart_Lannoeye.png" alt="Bart Lannoeye" title="Bart Lannoeye" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/C4D99927-433B-4531-AABF-CE98281F1B40">Bart Lannoeye</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
