@page
@model CPL20Archive.Pages.Sessions._2082.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">What's New In EFCore5 (and coming in EFCore6)</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          In this session, we'll dive into many of the new features available in EFCore5 that can help to enhance your solutions.  We'll look at examples of Many-To-Many auto navigations, Table-Per-Type inheritance mapping, Filtered Includes, Split Queries, Simple Logging, and Flexible Entity Mapping.  We'll then talk about a couple other changes that happened with EFCore5.  The talk will finish up with a discussion of new stuff coming in EFCore6
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/C5024CC0-ECAD-4A28-91E6-03272507E883">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Brian_Gorman.png" alt="Brian Gorman" title="Brian Gorman" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/C5024CC0-ECAD-4A28-91E6-03272507E883">Brian Gorman</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
