@page
@model CPL20Archive.Pages.Sessions._1995.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_Requirements">Requirements</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">How To Impact Map and Never Struggle with User Stories Again</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/jC2KdGt24WY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Imagine if you were able to produce a backlog of stories that connected to real people, their needs, and actual results. Instead of trying to explain stories that don't seem to have any connection because they're requirements wrapped up in a template.

In this session, I want to introduce a technique called Impact Mapping that will do just that. I show you how to come up with goals, slice them along KPIs, and then map out your options in a way where the stories write themselves. Every story will connect to a real user and real impact.

When you're done you'll be able to use this map to communicate with stakeholders and teams easier than ever and make actual tradeoffs in scope.
 
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/B00A00FF-D465-498C-B1E2-722D0C375A7F">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Ryan_Latta.png" alt="Ryan Latta" title="Ryan Latta" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/B00A00FF-D465-498C-B1E2-722D0C375A7F">Ryan Latta</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
