@page
@model CPL20Archive.Pages.Sessions._1795.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_Infrastructure">Infrastructure</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Cloud">Cloud</a><br /><a asp-page="/Sessions/Architecture">Architecture</a><br /><a asp-page="/Sessions/Azure">Azure</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Kick-Start into Azure Networking</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/HD6LOoU3C-E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          With the use of cloud computing on the rise, developers are encouraged to learn more about networking and how it works in the cloud. This session is for anyone that needs to understand networking in Azure. We will cover the basics of a virtual network, network security groups, and some basic network security fundamentals. We will also cover Azure products like their firewall, application gateway, traffic manager, and probably a few others depending on the time.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/C03E395E-808A-4D1A-B0E3-0A2BB2851261">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Sean_Whitesell.png" alt="Sean Whitesell" title="Sean Whitesell" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/C03E395E-808A-4D1A-B0E3-0A2BB2851261">Sean Whitesell</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
