@page
@model CPL20Archive.Pages.Sessions._2036.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Real-Time Desktop Apps with Azure-powered SignalR</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/c21noNBvAx4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          SignalR is rather cool piece of ASP.NET technology stack that powers real-time communications across platforms. SignalR is open source and enables two-way client-server RPC calls – across .NET and JavaScript. This means seamless real-time communications across web, desktop and mobile platforms.

Modern enterprise business workflows often demand Windows or MacOS solutions and the need for real-time Desktop apps is only growing. Whether you are building native WinForms/WPF/WinUI desktop apps or enabling cross-platform solutions through Blazor/.NET MAUI, SignalR can sprinkle in real-time magic for desktop solutions. And Azure SignalR service can power real-time Desktop apps with scalable hosting or serverless architectures. With a SignalR server backend and modern client apps, the world is your oyster. Let’s explore what’s possible with real-time communications!
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/817D090F-5B46-472B-B8FD-7AA209D57883">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Sam_Basu.png" alt="Sam Basu" title="Sam Basu" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/817D090F-5B46-472B-B8FD-7AA209D57883">Sam Basu</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
