@page
@model CPL20Archive.Pages.Sessions._2135.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Microsoft Q# and Azure Quantum</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/9Mpsli3eBvo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          You've probably heard about quantum computing, but it still remains a mystery? In this deep-dive session, I will explain important concepts like qubits, superposition, and entanglement. Theoretical knowledge about quantum physics, quantum gates, and quantum algorithms will be combined with some examples on Microsoft Q# and Azure Quantum.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/98FA97B4-7A7F-46A0-B563-25FB410A2E97">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Johnny_Hooyberghs.png" alt="Johnny Hooyberghs" title="Johnny Hooyberghs" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/98FA97B4-7A7F-46A0-B563-25FB410A2E97">Johnny Hooyberghs</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
