@page
@model CPL20Archive.Pages.Sessions._1727.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/DotNet">.NET</a><br /><a asp-page="/Sessions/DevelopmentPractices">Development Practices</a><br /><a asp-page="/Sessions/Architecture">Architecture</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Spot the Bug</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/hQamLP-bfRs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Spot the Bug is a fun approach to learning some basic design techniques and guidelines. Quite often developers grow in their craft by repeating code patterns that exist in a code base, without fully understanding why those patterns exist. Other times, language constructs have been created to solve some of these design issues, and are used without fully understanding why they exist and what problems they solve. This session will present a few of these design principles in a way that is a little more fun and interactive for the attendees. It will also highlight some fundamental design principles that all developers should know.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/25180EB0-83D3-4038-B18E-1E4CDFEF777A">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Darren_Hale.png" alt="Darren Hale" title="Darren Hale" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/25180EB0-83D3-4038-B18E-1E4CDFEF777A">Darren Hale</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
