@page
@model CPL20Archive.Pages.Sessions._1798.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a href="/SessionsByTopic/1">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/6">Cross-Platform</a><br /><a href="/SessionsByTag/33">Web</a><br /><a href="/SessionsByTag/75">ASP.NET</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Cross Platform Web App Development with ASP.NET Core</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1798/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Microsoft's ASP.NET web framework has been a powerful platform for building enterprise web applications. But ASP.NET is limited to Windows and Visual Studio. ASP.NET Core extended support beyond Windows, including macOS and Linux. In addition, a new cross-platform and open source development editor, Visual Studio Code, has been released so that a consistent development experience is available on all platforms. This session will explore the tools and techniques used to create cross platform web applications with ASP.NET Core and Visual Studio Code. Attendees will leave with the foundation to extend the concept app themselves.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="/SpeakerDetails/A3C6CFDD-D3C5-4CEE-B653-8C4F853C7921">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Douglas_Starnes.png" alt="Douglas Starnes" title="Douglas Starnes" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="/SpeakerDetails/A3C6CFDD-D3C5-4CEE-B653-8C4F853C7921">Douglas Starnes</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
