@page
@model CPL20Archive.Pages.Sessions._1751.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/DevelopmentPractices">Development Practices</a><br /><a asp-page="/Sessions/DevOps">DevOps</a><br /><a asp-page="/Sessions/SoftSkills">Soft Skills</a><br /><a asp-page="/Sessions/Other">Other</a><br /><a asp-page="/Sessions/ProjectManagement">Project Management</a><br /><a asp-page="/Sessions/Performance">Performance</a><br /><a asp-page="/Sessions/Fun">Fun</a><br /><a asp-page="/Sessions/Tools">Tools</a><br /><a asp-page="/Sessions/People">People</a><br /><a asp-page="/Sessions/WorkSkills">Work Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Soft Skills +Group Dynamics + Communication Skills = Productive Team Projects [Half-Day Workshop]</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Half-Day Workshop</h5>
          <br />
          Attendees will discover the influence of communications places into action while using your everyday people skills, added with a unique style of active listening.

This is ideal for individuals who have Teams working in the areas of Software Engineering, Programming and DevOps.

•The approach derives from my experience as an adjunct professor (psychology & group dynamics) and experience as an interrogator/profiler and hostage negotiator. My proficiency with said skills has allowed me to assemble a METHOD, which will INTEGRATE your PROJECTS, EMPLOYEES, and TEAM PROJECTS.

•This RESEARCH and practice will assist companies, organizations, and groups by merging psychology in consort with Active Listening Skills (ALS), which will result in an ACCELERATED-advance technique, devised to build Team rapport as well as enhanced recruiting methods.

•This presentation will allow businesses to use the TEAM PROJECT MODEL to help their team members cooperate with each other, with the focus on utilizing distinctive intensities within individual elements among members of a team.

•This presentation will illustrate that the above model is acceptable. However, a team will not communicate effectively if a team that has been taken apart and separated due to disconnection and lack of communication.

•By using ACTIVE LISTENING SKILLS (ALS), a method developed by the FBI, every team member will increase productivity regarding their specific missions, and when united, the team members will form successful finalization of their team-goal. By applying ALS, the team’s entire task will be the result of a collective productive representation of their work.

•As with all teams, each team was placed together because at the initial conception of the group; it was assumed that the team element is within the excellent working order. However, the appreciation of the team model must be well-oiled, and if not, members of the team will individually lack the proper function that is necessitated for TEAMWORK and fail to produce.

Key Takeaways:
•Creative Problem Solving
•Customer Service & Support
•Generational Gaps & Workplace Diversity
•Goal Setting
•Leadership and Influence
•Employee Efficiency
•Using Group Dynamics
•The loss of translation in a text/email.
•The value of how things are said
•How someone hears a word
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/2D8B0301-B114-46A8-AD35-6E605A96C0B6">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Crux_Conception.png" alt="Crux Conception" title="Crux Conception" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/2D8B0301-B114-46A8-AD35-6E605A96C0B6">Crux Conception</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
