@page
@model CPL20Archive.Pages.Sessions._2054.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Scaling your data to the size of the Cosmos (DB)</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Many systems begin their lives with a relational model at their core - as their database.

But over time, as the needs of users change, the relational model can cause more problems than it solves when building web-scale systems.

In this session, I’ll take you on my journey transforming a traditional SQL database model into a document model using Cosmos DB; a managed schema-less database where data denormalization rids us of joins and complicated queries.

Using a real-world example of a warehouse system, we'll run through creating our new model, along with different ways of materializing data using Change Feeds and Azure Functions.

Come and see how we can use Cosmos DB to get the most out of our software.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/36A79657-82AD-4AAC-826A-A71EA53F596A">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Olena_Borzenko.png" alt="Olena Borzenko" title="Olena Borzenko" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/36A79657-82AD-4AAC-826A-A71EA53F596A">Olena Borzenko</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
