@page
@model CPL20Archive.Pages.Sessions._1997.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">VS Code for Green Screen Developers</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/ZseqO3c4TLY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Mainframe modernization is an unavoidable topic for every developer these days, whether your tool is the traditional green screen or another IDE. How does the coding experience differ between the two? In this session, we will showcase a side-by-side comparison on these development environments, based on our experience using both. We will also dig into what the different mainframe VSCode extensions are, how to take advantage of automation in VS Code, and how to integrate product-specific components and other open source tools in the developer workflow.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/1047B03E-D5DD-47FE-A785-2E6522710A16">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jessielaine_Punongbayan.png" alt="Jessielaine Punongbayan" title="Jessielaine Punongbayan" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/1047B03E-D5DD-47FE-A785-2E6522710A16">Jessielaine Punongbayan</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/881ED5D9-8A1B-4E67-82F2-58053D3781D0">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Richelle_Anne_Craw.png" alt="Richelle Anne Craw" title="Richelle Anne Craw" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/881ED5D9-8A1B-4E67-82F2-58053D3781D0">Richelle Anne Craw</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
