@page
@model CPL20Archive.Pages.Sessions._2100.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">It's NOT Magic! - SEO for Developers</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          You built a great website. Now how do you help people find it?

Search engines like Google and Bing are an essential source of traffic for any public website. Search engine optimization (SEO) can make the difference between floating to the top and disappearing into the noise.

Contrary to popular belief, SEO is not a dark art, a hidden secret, or a fool's errand.  The methods for implementing SEO improvements are straightforward and clearly defined. In this session you will learn about sitemaps, structured data, URL best practices, robots.txt, metadata, headings, Search Console, and more! No marketing degree required. 😉
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/36F8E2E9-9992-42AA-80C1-6738B2EA2F30">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Michael_Richardson.png" alt="Michael Richardson" title="Michael Richardson" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/36F8E2E9-9992-42AA-80C1-6738B2EA2F30">Michael Richardson</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
