@page
@model CPL20Archive.Pages.Sessions._2114.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_UX">User Experience</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">The Science, Psychology, and Secrets of Great UI</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Need to improve user experience, but don't know where to start? Worried that UI/UX can only be done by right-brained, artistic people? Take heart. Learn simple, yet powerful UX principles and UI tricks that will help you radically improve your digital products. These secrets are perfectly suited for logical, left-brain, development professionals. What’s more, you can put them into practice now. Esoteric mathematical equations included at no extra cost.

What You’ll Learn
* Great UI is quantifiable, measurable, fact-based, and objective.
* Why UX pros care so much about white space, padding, consistency, color choice, layout and all that other stuff that drives you crazy. 
* How to argue effectively with the UX people and stakeholders in your life.
* How to notice bad UI on your own, and how to fix it whether or not you work with a UX pro.
* Understanding how our brains work makes us better digital product designers. 

What We’ll Do
* Explore UI Examples (Good, Bad, and Ugly)
* Conquer a “Good UI/Bad UI” Quiz (Prizes included)
* Receive Resources for Further Study
* Q/A and Discussion
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/0BEDF3C0-A09D-4BAC-AE64-364E7177ED9F">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Dean_Schuster.png" alt="Dean Schuster" title="Dean Schuster" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/0BEDF3C0-A09D-4BAC-AE64-364E7177ED9F">Dean Schuster</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
