@page
@model CPL20Archive.Pages.Sessions._2089.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_UX">User Experience</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Introduction to Accessibility</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Sometimes Accessibility can be tough to wrap your head around, but it is becoming clearer every day just how important it is and how much it can benefit everyone. In this session, we will explore some basics of Accessibility, information resources, and tools that can help you be an Accessibility ally. This should be helpful for anyone regardless of whether you work in UX Design, Development, or even just have a colleague with Accessibility needs.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/cbd58e60-de01-4f04-9dbc-f6aa845be63b">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Elizabeth_Gray.png" alt="Elizabeth Gray" title="Elizabeth Gray" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/cbd58e60-de01-4f04-9dbc-f6aa845be63b">Elizabeth Gray</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
