@page
@model CPL20Archive.Pages.sessions._1658.IndexModel
@{
}

Test
<div class="smart-player-embed-container">
  <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessionfiles/1658/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
