@page
@model CPL20Archive.Pages.Sessions._1976.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_Requirements">Requirements</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">(An introduction to) Domain Storytelling</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/tnZeuPB51v8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Domain Storytelling is a collaborative modeling method. It brings together domain experts and development teams and helps them to understand the domain of a software system, find microservices boundaries, and to talk about requirements.  

Domain Storytelling means that we let domain experts tell us stories about their tasks. While listening, we record the stories using a pictographic language.

The domain experts can see immediately whether we understand their story correctly. After very few stories, we are able to talk about the people, tasks, tools, work items, and events in that domain.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/0064B0A1-D20B-4F4D-BC9A-8F59D8F57E1D">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Henning_Schwentner.png" alt="Henning Schwentner" title="Henning Schwentner" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/0064B0A1-D20B-4F4D-BC9A-8F59D8F57E1D">Henning Schwentner</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
