@page
@model CPL20Archive.Pages.Sessions._2144.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Slingy's Keynote Watch Party</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Event</h5>
          <br />
          <p>As part of Code PaLOUsa 2021, Slingshot is presenting the Keynote Watch Party starting at 3:30 pm on August 19, 2021.  Join us to watch the Code PaLOUsa Keynote where Jeff Blankenburg will talk about Fear and stick around to socialize with other software development professionals.</p><p>Please be sure to sign up separately for the Keynote Watch Party so we know how many to expect <a href="https://www.eventbrite.com/e/slingys-keynote-watch-party-tickets-166051543637">Register fo Keynote Watch Party</a>.</p>
          <hr />
          <div class="row row-wrap">
            <div class="span3">
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
