@page
@model CPL20Archive.Pages.Sessions._1749.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/17">Requirements</a><br /><a href="/SessionsByTag/20">Soft Skills</a><br /><a href="/SessionsByTag/47">Quality Assurance</a><br /><a href="/SessionsByTag/62">Fun</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Getting to the Heart of the Matter</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1749/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          In this session, we will explore the 5 Whys technique. This is a simple but powerful tool for cutting quickly through the outward symptoms of a problem to reveal its underlying causes.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="/SpeakerDetails/82BF6F39-1CEF-49B0-96A5-ADEA3884EBA1">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Angela_Parks.png" alt="Angela Parks" title="Angela Parks" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="/SpeakerDetails/82BF6F39-1CEF-49B0-96A5-ADEA3884EBA1">Angela Parks</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
