@page
@model CPL20Archive.Pages.Sessions._2016.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Don't Cross the Streams! Fast & Easy Data Pipelines with Stream Processing</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/dJMVmbrxGzc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Ghostbusters better get ready, because it's time to cross (ok, join) some streams! This talk will include easy-to-follow steps to set up and maximize a powerful, streaming data pipeline with the newest features from Apache Flink. This talk is for anyone using (or interested in) stream processing who wants to minimize their development overhead, and particularly for those who want to do so while leveraging available Open Source tools.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/B48124C9-59C7-42B2-8A4C-9438ACF9C3BC">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Caito_Scherr.png" alt="Caito Scherr" title="Caito Scherr" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/B48124C9-59C7-42B2-8A4C-9438ACF9C3BC">Caito Scherr</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
