@page
@model CPL20Archive.Pages.Sessions._1797.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Architecture">Architecture</a><br /><a asp-page="/Sessions/Azure">Azure</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Application Orchestration in Azure</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Most businesses leverage multiple applications and services to achieve their goals. Making sure those applications coordinate tasks appropriately is a critical component of their success. Automating those processes is even better. Making sure you have the right technology to automate your business processes is key to your success.

Microsoft Azure provides several different options for automating your business processes. Each with their own unique advantages and potential users. Those options include Azure Durable Functions, Microsoft Flow, Azure Logic Apps, and Azure WebJobs. In this talk, you will learn when to use each technology and how to implement them for your success.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/71146298-9AE0-4599-8D91-032846B3B445">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jonathan_Mills.png" alt="Jonathan Mills" title="Jonathan Mills" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/71146298-9AE0-4599-8D91-032846B3B445">Jonathan Mills</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
