@page
@model CPL20Archive.Pages.Sessions._1780.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/40">Microservices</a><br /><a href="/SessionsByTag/50">Database</a><br /><a href="/SessionsByTag/54">SQL</a><br /><a href="/SessionsByTag/60">NoSQL</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Databases in the Microservices world</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1780/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Web technologies have come leaps and bounds. But are you still using the tired old database from last generation? Let's look at the methodology of microservices, compare it to bounded contexts, and look at ops tasks for micro-databases. Let's tour all the flavors of databases, understand their pros and cons, and when you would choose it. You'll leave with a roadmap for moving from data-monolyth to micro-databases.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="/SpeakerDetails/96C2C1CD-BF2C-49EB-89CD-394DCDEC562C">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Rob_Richardson.png" alt="Rob Richardson" title="Rob Richardson" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="/SpeakerDetails/96C2C1CD-BF2C-49EB-89CD-394DCDEC562C">Rob Richardson</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
