@page
@model CPL20Archive.Pages.Sessions._2115.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">'What AI can't do. HI (human intelligence) Can"</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Teams, clients, colleagues, and you are sorting through the emotional impact of COVID-19.
HI human intelligence skills are going to be vital to collaboration and connection.

Do what AI can't do and master your ability to adapt and pivot.

It’s your HI, build your emotional awareness, ability to listen for clues and cues, cognitive empathy, and asking the questions that Google can't answer. 
This creates meaningful collaboration and genuine connection

When we unconsciously ask others to be ‘mind readers’, our expectations are not met or understood, we get frustrated, disappointed.
This leads to an escalation of emotions.… the project stalls.

You want to influence change, shift behaviors and this starts with HI.
AI can’t deepen the relationship, understand the nuances of a question or a statement.
Humans can but we need to be better.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/14E7B2DE-617C-4B14-801E-F00D4F459250">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Joel_Silverstone.png" alt="Joel Silverstone" title="Joel Silverstone" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/14E7B2DE-617C-4B14-801E-F00D4F459250">Joel Silverstone</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
