@page
@model CPL20Archive.Pages.Sessions._1654.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Cloud">Cloud</a><br /><a asp-page="/Sessions/Microservices">Microservices</a><br /><a asp-page="/Sessions/Architecture">Architecture</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Event-driven Architecture, Micro-services and the Cloud</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/82I8jfgC2V4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Event-driven architectures are a versatile approach to designing and integrating complex software systems.  Event-driven architecture is not a new concept, but as more organizations evolve and are open to move more features to the cloud, this approach to system design has become appropriate in more situations and is worth a fresh look. 

In this session we'll talk about orchestrating enterprise workflows in the cloud using Event-driven approaches, how to build new services to participate, and design patterns for integrating existing/legacy applications.

We'll also hit a few topics including:
	• Eventually consistent data and how to keep your data warehouse team happy
	• Command-Query Response Segregation
	• The Mediator design pattern
	• Event Sourcing
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/6B81E907-85BE-4BCB-A4B5-16991ABBF430">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Shawn_Wallace.png" alt="Shawn Wallace" title="Shawn Wallace" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/6B81E907-85BE-4BCB-A4B5-16991ABBF430">Shawn Wallace</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
