@page
@model CPL20Archive.Pages.Sessions._1685.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a href="/SessionsByTag/5">Cloud</a><br /><a href="/SessionsByTag/46">Architecture</a><br /><a href="/SessionsByTag/68">Serverless</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">ZAP! API Integrations with Zapier</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          <div class="smart-player-embed-container">
            <iframe class="smart-player-embed-iframe" id="embeddedSmartPlayerInstance" src="~/sessions/1685/player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          Integrations between 3rd party applications and APIs has long been one of the most challenging and time-consuming parts of any application development effort.

But with the magic of cloud automation we can connect applications in just minutes instead of days. In this talk you’ll learn about:

* Responding to cloud events such as HTTPS endpoints and Tweets
* Connecting multiple APIs such as MailChimp and HubSpot
* How TechDailyCFP was built using cloud tools without a single line of code 
* Benefits and drawbacks of cloud automation tools

Examples will be on the Zapier platform, but similar principles apply to Integromat, Azuqua, Automate.io, and others.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="/SpeakerDetails/C81C5B18-F041-47D9-AA25-18C84F09CF9C">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Michael_Dowden.png" alt="Michael Dowden" title="Michael Dowden" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="/SpeakerDetails/C81C5B18-F041-47D9-AA25-18C84F09CF9C">Michael Dowden</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
