@page
@model CPL20Archive.Pages.Sessions._1968.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Two Midwesterners Politely Invite You To Explore Coding</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Half-Day Workshop</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/21cIYZGKTBQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Wonder what it's like to do what programmers do? Maybe people have tried to explain it, but didn't put it in terms that computed for you. Or maybe you would like to become more technical, but the mere thought of trying to code has felt intimidating. Today is a new day!

Faye's a non-programmer from Ohio, Amitai's a sometimes-programmer from Illinois, and with your help, we'll solve a problem by thinking and coding together. If you want to, you can take a brief turn at the keyboard; if not, no biggie. When we're done, we think you'll have a new kind of feeling about code and coding. You might even want to pursue it further.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/AD0F0AE5-5710-4C02-B784-826CD1981F67">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Amitai_Schleier.png" alt="Amitai Schleier" title="Amitai Schleier" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/AD0F0AE5-5710-4C02-B784-826CD1981F67">Amitai Schleier</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/EF68F0B9-38CA-4C23-94A7-2EF92732018C">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Faye_Thompson.png" alt="Faye Thompson" title="Faye Thompson" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/EF68F0B9-38CA-4C23-94A7-2EF92732018C">Faye Thompson</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
