@page
@model CPL20Archive.Pages.Sessions._1664.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Testing">Testing</a><br /><a asp-page="/Sessions/Accessibility">Accessibility</a><br /><a asp-page="/Sessions/Web">Web</a><br /><a asp-page="/Sessions/ContinuousDelivery">Continuous Delivery</a><br /><a asp-page="/Sessions/UX">UX</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Sustainable Accessibility: Integrating accessibility checks into your CI/CD pipeline</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/PHAAAl-Q-6c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Accessibility is important, not only for your users but also to meet legal requirements for certain levels of compliance. Unfortunately, most companies lack developers and quality assurance analysts who are trained to produce and test accessible user interfaces to industry-standard levels. Furthermore, dev and qa testing for ADA compliance takes time, and can often be forgotten or de-prioritized by companies that have limited resources. In this talk I will discuss: 
    1. Why accessibility is important 
    2. The accessibility standards put forth by the ADA in WCAG 2.1 
    3. How we have leveraged automated accessibility testing tools into our CI/CD pipeline 
    4. The impact this integration has had on our ability to maintain website accessibility across multiple projects, even when developers have little to no accessibility training going in. 
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/580C544E-6FB4-4D4B-A01A-BA13E32403B6">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Ashley_Stove.png" alt="Ashley Stove" title="Ashley Stove" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/580C544E-6FB4-4D4B-A01A-BA13E32403B6">Ashley Stove</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
