@page
@model CPL20Archive.Pages.Sessions._2107.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">"Attack of the killer Bots" an introduction to Bot framework composer</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          Having bots handling the first user interaction is very common in many sites nowadays and their usage is only expected to increase in the next few years. From a development perspective, bot development presents a unique set of challenges that can result in a steep learning curve for new developers. With bots delivering large ROI for companies and creating disruptions in multiple sectors they offer a great opportunity for developers to bring added value to an organization. 
In this presentation, we will explore how Bot framework composer aims to tackle some of the development challenges while creating a more collaborative environment. We will look at how developing with Composer compares with developing a bot without a UI, how language understanding is integrated into the environment and what a basic bot looks like. If you’ve been considering a bot development project I hope this session will make the process appear less daunting and if not, maybe this will inspire you to look for opportunities to use them.

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/FD65832C-61F7-470E-8554-91A5112E143F">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Samuel_Gomez.png" alt="Samuel Gomez" title="Samuel Gomez" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/FD65832C-61F7-470E-8554-91A5112E143F">Samuel Gomez</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
