@page
@model CPL20Archive.Pages.Sessions._1688.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/WebServices">Web Services</a><br /><a asp-page="/Sessions/Web">Web</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Learning The Language Of HTTP For A Better Data Experience In Your Mobile Apps</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/6IM6fNUc1kU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          You know you have to have a great experience when you develop your mobile applications, right? The greatest experience you can give your users centers around their data. There are ways to improve your mobile applications and Chris Woodruff will teach you how to learn and understand the language of HTTP for better Data Experience. Come see why you should know the language of HTTP before developing your REST APIs and the mobile apps that consume them. You will be a Data Experience expert when you leave the room after this informative session.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/D7E5B29A-8639-4CAA-8F1D-FA7E912B71BE">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Chris_Woodruff.png" alt="Chris Woodruff" title="Chris Woodruff" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/D7E5B29A-8639-4CAA-8F1D-FA7E912B71BE">Chris Woodruff</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
