@page
@model CPL20Archive.Pages.Sessions._1796.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Architecture">Architecture</a><br /><a asp-page="/Sessions/Azure">Azure</a><br /><a asp-page="/Sessions/Data">Data</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Wrangling Data: Using Azure DataFactory to Keep Your Data in Line</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/PLqbSkZc3G0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          Sometimes herding your enterprise data is a lot like herding cats. Enterprises have evolved their data environment over time often leaving a disjointed and convoluted data mess that is almost impossible to get anything really actionable that crosses application boundaries. 
In this talk, you will learn how to start pulling your data together by leveraging Data Factory to pull data from all of your disparate locations and store it in its original form in DataLake in Azure. Once your data is all together, you can start to transform that data into meaningful and actionable information using DataFactory and Azure Functions. 
Come learn how to start herding your data together to help transform your business with these incredible Azure Data tools. 
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/71146298-9AE0-4599-8D91-032846B3B445">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jonathan_Mills.png" alt="Jonathan Mills" title="Jonathan Mills" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/71146298-9AE0-4599-8D91-032846B3B445">Jonathan Mills</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
