@page
@model CPL20Archive.Pages.Sessions._1988.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Soft skills For Developers</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          The session aims to elucidate on crucial soft skills necessary for developers to grow not only in tech but as a person generally. 
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/C1297F12-6161-4FBB-B8AA-D42DC84BC63E">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Olamide_Makinde.png" alt="Olamide Makinde" title="Olamide Makinde" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/C1297F12-6161-4FBB-B8AA-D42DC84BC63E">Olamide Makinde</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
