@page
@model CPL20Archive.Pages.Sessions._2092.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Learning F# - A Practical Approach</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
          During the pandemic, I used my extra time to learn F#, the functional programming language available in the .NET ecosystem. Learning new programming paradigms helps developers see new approaches to common problems and can help them better understand some of the solutions in their current programming paradigm.  This session will walk through my approach to learning F# and cover some of the fundamentals of the language.  An attendee will leave with a basic familiarity with F#, along with enough know-how to use it in some practical applications.  Attendees will also see my approach to learning new programming languages that can be applied to learning any new language.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/25180EB0-83D3-4038-B18E-1E4CDFEF777A">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Darren_Hale.png" alt="Darren Hale" title="Darren Hale" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/25180EB0-83D3-4038-B18E-1E4CDFEF777A">Darren Hale</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
