@page
@model CPL20Archive.Pages.Sessions._1740.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/Fun">Fun</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Let’s build a home security system with a Raspberry PI, existing ADT wiring and a splash of Azure</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/0ChHS7Vfh7c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          My house came pre-wired with a full-blown ADT home security system that the prior owner was paying $50 a month to maintain. I ditched the contract but wanted to explore rolling my own system for funsies. In this talk I’ll take you step by step through exactly what I did to reverse engineer the system and build my own. We’ll cover basic wiring and myriad of sensors and how to hook them up to the GPIO pins on a Raspberry PI. I’ll show you code examples in C# of handling security events and pushing the data to an Azure Cloud service. We’ll walk through cameras, smoke detectors, sirens and even the basic control centers. I had a ton of fun getting this built out and would love to show you how easy it is.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/A4BFBE38-D746-4021-8038-233E15D9CE15">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Heath_Murphy.png" alt="Heath Murphy" title="Heath Murphy" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/A4BFBE38-D746-4021-8038-233E15D9CE15">Heath Murphy</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
