@page
@model CPL20Archive.Pages.Sessions._1705.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_SoftSkills">Soft Skills</a><br />
            <br />
            <h5 class="SessionDetails">Tags</h5>
           <a asp-page="/Sessions/SoftSkills">Soft Skills</a><br /><a asp-page="/Sessions/Performance">Performance</a><br /><a asp-page="/Sessions/People">People</a><br /><a asp-page="/Sessions/WorkSkills">Work Skills</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Think Global: A Guide to High Performing Global Dev Teams</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Regular Session</h5>
          <br />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/7rPKaBQeUIk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          We live in a world where our colleagues may not sit next to us, or be in the same city, or even in the same country. A diverse workforce with varied perspectives, help companies to remain competitive today.

But, geographically dispersed teams also come with a set of challenges. Managing development teams is a hard enough task even when the teams are co-located. When the team members come from different parts of the world, it makes it even harder. Communication may deteriorate, misunderstandings may occur, teams may stop trusting each other.

Over the years, I have worked with several global development teams. We have experienced many challenges during our interactions and have figured out ways to overcome them.

In this talk, I would like to share various approaches that I have used in my career to build great relationships with global colleagues. This session will enable you to be a part of a high performing team irrespective of the geographical and cultural differences.
          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/78305EEB-AFCC-4E09-9376-3B2450F02377">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Avindra_Fernando.png" alt="Avindra Fernando" title="Avindra Fernando" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/78305EEB-AFCC-4E09-9376-3B2450F02377">Avindra Fernando</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
