@page
@model CPL20Archive.Pages.Sessions._1966.IndexModel
@{
}
    <div class="top-title-area bg-img-charcoal-eticket">
      <div class="container">
        <h1 class="title-page">Session Details</h1>
      </div>
    </div>
    <div class="gap"></div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <aside class="sidebar-left">
            <br />
            <h5 class="SessionDetails">Topic(s)</h5>
           <a asp-page="/Sessions/Topic_AppDev">Application Development</a><br />
            <br />
          </aside>
        </div>
        <div class="span9">
          <h2 id="MainContent_MainContent_SessionTitle" class="SessionDetails">Building Your First Voice Experience with Alexa</h2>
          <h5 id="MainContent_MainContent_SessionType" class="SessionDetails">Half-Day Workshop</h5>
          <br />
          This workshop will dive right in to getting you set up and started building a voice-based experience with Alexa.  You will leave this session with a working Alexa skill that you can customize and publish as your own.

We will cover topics around voice design best practices, voice interactions, persistence, and making calls to external APIs.

This session will be taught using node.js, but you don't have to have prior experience as a node developer.

PREREQUISITES
In order to get off to a fast start, please create accounts on both of these websites before the session:

Amazon Developer Portal - http://developer.amazon.com

Amazon Web Services - http://aws.amazon.com

          <hr />
          <div class="row row-wrap">
            <div class="span3">
              <div class="thumb center">
                <div class="thumb-header">
                  <a class="hover-img" href="http://codepalousa.com/SpeakerDetails/A2DCA7E4-B222-4041-A576-8C6B2A918298">
                    <img src="https://greeneventstechnology.azureedge.net/cpl20/speakers/Jeff_Blankenburg.png" alt="Jeff Blankenburg" title="Jeff Blankenburg" />
                  </a>
                </div>
                <div class="thumb-caption">
                  <h5 class="thumb-title"><a href="http://codepalousa.com/SpeakerDetails/A2DCA7E4-B222-4041-A576-8C6B2A918298">Jeff Blankenburg</a></h5>
                  <p class="thumb-meta"><br /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
