@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<div class="container">
  <h1>Code PaLOUsa 2020 Archive Site</h1>
  <p>Welcome to the Code PaLOUsa 2020 Archive Site!  From where, you will be able to view recordings from the Code PaLOUsa 2020 conference.  We are still working on getting everything up and running; but go to <a asp-page="/Sessions/Schedule01">Sessions</a> section and you will be able to watch the videos are are marked as available.</p>
</div>
<br />