@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}
<br />
<br />
<div class="container">
  <h1>Code PaLOUsa 2020 Archive Site</h1>
  <p>Welcome to the Code PaLOUsa 2020 Archive Site!  From where, you will be able to view recordings from the Code PaLOUsa 2020 conference.  We are still working on getting everything up and running; but go to <strong><a asp-page="/Sessions/Period1">Sessions</a></strong> section and you will be able to watch the videos are are marked as available.</p>
</div>
<br />
<!-- Hero -->
<div class="top-area shadow-inner show-onload">
  <div style="position: relative; overflow: hidden; background: #000; height: 700px; z-index: 4; background-repeat: repeat;" data-bg-img="https://greeneventstechnology.azureedge.net/cpl20/img/patterns/eticket/sky-eticket.png">
    <div class="vertical-center white">
      <div class="center">
        <h1 id="MainContent_EventName" style="line-height: 1em; font-size: 4.37rem; font-family: 'League Gothic';">Code PaLOUsa 2020</h1>
        <div class="gap gap-small"></div>
        <h2 id="MainContent_EventTagline" style="line-height: 1em; font-size: 2.5rem; font-family: 'League Gothic';">It's software development madness</h2>
      </div>
      <div class="gap gap-small"></div>
      <div class="center">
        <h4 id="MainContent_ConferenceDatesAndCity" style="line-height: 1em; font-size: 48px; font-family: 'Honey Script';">August 19th - 21st</h4>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>
          Online<br />
          Originating from Louisville, KY
        </h4>
      </div>
    </div>
  </div>
</div>
<!-- About Conference  -->
<div class="gap"></div>
<div class="container">
  <h1>About Conference</h1>
  <p>Code PaLOUsa is a software development conference designed to cover all aspects of software development regardless of technology stack.  The conference schedule features presentations from well-known professionals in the software development community.  This is the tenth year for Code PaLOUsa 2020 and it takes more than a global pandemic to stop this event.   We cannot meet in person, but we can meet online and we are building an amazing experience that will come as close as possible as replicating the in-person experience online – with some benefits we couldn’t provide in the past:</p><ul><li>Access to 12 Half and Full-Day Workshops on August 19, 2020</li><li>Access to 132 one-hour sessions across August 20 and 21, 2020</li><li>Access to recordings after the event</li><li>Ability to network online were you will randomly be matched with other attendees – think of this as meeting other attendees in the hallways and firing up a quick conversation</li><li>Access to online Open Spaces where you can create your own experience.  You post a topic you want to discuss, choose a time slot, and other like-minded folks come join the discussion</li><li>Attendee T-Shirt (shipped to you)</li></ul>
</div>
<!-- Sponsors -->
<div class="gap"></div>
<div class="container">
  <h1 class="center">Our Sponsors</h1>
  <div class="gap gap-small"></div>
  <div class="row row-wrap">
    <div class="span3">
      @*<a href="/Sponsors/103">*@
      <img src="https://greeneventstechnology.azureedge.net/cpl/images/cpl20/sponsors/softwareguild.png" alt="The Software Guild" />
      @*</a>*@
    </div>
    <div class="span3">
      @*<a href="/Sponsors/106">*@
      <img src="https://greeneventstechnology.azureedge.net/cpl/images/cpl20/sponsors/amazon.png" alt="Amazon Alexa" />
      @*</a>*@
    </div>
    <div class="span3">
      @*<a href="/Sponsors/105">*@
      <img src="https://greeneventstechnology.azureedge.net/cpl/images/cpl20/sponsors/andromeda.png" alt="Andromeda" />
      @*</a>*@
    </div>
    <div class="span3">
      <a href="/Sponsors/108">
        <img src="https://greeneventstechnology.azureedge.net/cpl/images/cpl20/sponsors/modis.jfif" alt="Modis" />
        @*</a>*@
    </div>

  </div>
  <div class="gap gap-small"></div>
</div>
<div class="gap"></div>
